<a href="<%= internal_user_setup_path(activity.owner_id) %>"><%= activity.owner.name %></a>  reassign PCR Pool on

<% if activity.trackable %>
  <strong><%= activity.trackable.transactionz&.code %></strong>
<% else %>
    which has since been removed
<% end %>