.card
  .card-header
    %strong Daily & Monthly Worker Insurance Report
  .card-body
    = render '/shared/all_flash'
    .row-fluid
      = render "/internal/reports/operation/daily_monthly_worker_insurance/filter"
