<div class="card">
    <div class="card-header">
        <strong>Radiologists</strong> - New Radiologist
    </div>
    <%= form_for @radiologist, url: internal_radiologists_path, html: {class: "#{params[:action]}_radiologist radiologist-form with-parsley disable-enter-keypress"} do |form| %>

        <%= render 'form', { form: form } %>

        <div class="card-footer">
            <div class="text-right">
                <%=raw edit_back_button(internal_radiologists_path) %>
                <%=raw edit_save_draft_button %>
                <%#=raw edit_submit_for_approval_button %>
                <%#=raw edit_save_button() %>
            </div>
        </div>

    <% end %>
</div>