<div class="card">
    <div class="card-header">
        <strong>TCUPI Todos</strong> - New TCUPI Todo
    </div>
    <%= form_for @tcupi_todo, url: internal_tcupi_todos_path, html: {class: "#{params[:action]}_tcupi_todo tcupi_todo-form with-parsley"} do |form| %>
        <%= render 'form', { form: form } %>
    <% end %>
</div>