<tr>
     <td><%= "#{order_item.order_itemable.name} - #{order_item.fee.name} #{"(#{order_item.insurance_purchase.insurance_provider})" if order_item.insurance_purchase}" %></td>
    <td colspan="4">&nbsp;</td>
    <td class="currency"><%= order_item.insurance_purchase&.total_premium ? number_to_currency(order_item.insurance_purchase&.total_premium, unit: "") : '-' %></td>
    <td class="order-item-actions text-right">
        <a class="btn btn-sm btn-secondary" href="<%= remove_order_item_internal_order_path(order_item.order_id, order_item.id) %>">X</a>
    </td>
    
</tr>

