<div class="row justify-content-center">
    
    <div class="col-md-6">

        <div class="card">
            <div class="card-header border-0 bg-transparent text-dark">
            <i class="oi oi-home bold-portal">Create Password</i> 
            </div>
            <div class="card-body ">
                <!--portal revamp-->
                <div class="alert alert-primary color-blue text-white blue-portal"  role="alert">
                    <p>Password Policy</p>
                    <ul class="">
                        <% @password_requirements.each do |requirement| %>
                            <li><%= requirement %></li>
                        <% end %>
                    </ul>
                </div>

                <% if flash[:notice] %>
                    <p ><%= flash[:notice] %></p>
                <% end %>
        
                <% if @user.errors.any? %>
                    <p class="text-danger">error : <%= @user.errors.full_messages.join(', ') %></p>
                <% end %>
        
                <%= form_for @user, url: external_password_update_path, method: :PUT do |form| %>
                    <!-- password fields -->
                    <!-- :name, :designation -->
                    <div class="form-group">
                    <span><sup class="star">*</sup> </span>
                    <label for="password">Password</label>  
                        <div class="form-check form-check-inline">
                            <button type="button" 
                                data-toggle="popover" 
                                data-placement="top"
                                data-html="true" 
                                data-content=" 
                                <ul class='emp_type_desc'>
                                    <li>e.g fomema1234, online1234</li>
                                </ul>" 
                                title="Sample password" 
                                class="btn btn-primary btn-sm"><i class="fa fa-info-circle"></i></button>
                        </div>
                        <input type="password" name="user[password]" id="user_password" class="form-control">
                    </div>
        
                    <div class="form-group">
                    <span><sup class="star">*</sup> </span>
                    <label for="password">Password Confirmation</label>
                        <input type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control">
                    </div>
        
                    <div class="form-group text-right">
                        <a href="/" class="btn btn-red-portal text-white">Cancel</a>
                        <button class="btn btn-blue-portal text-white" data-toggle="tooltip" data-html="true" title="" data-original-title="Save" type="submit" name="submit" value="Save" data-disable-with="Save">Save</button>
                    </div>
                <% end %>

            </div>
        </div>

    </div>

</div>