<div class="card">
    <div class="card-header">
        <strong>Users</strong> - User Detail
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="user_code">Code</label>
                    <p class="form-control-plaintext">
                        <%= @user.code %>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="user_code">Name</label>
                    <p class="form-control-plaintext">
                        <%= @user.name %>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="card-footer">

        <div class="text-right">
            <%=raw show_back_button(internal_employer_employer_users_path) %>
            <% if has_permission?('EDIT_USER') %>
                <%=raw show_edit_button(edit_internal_employer_employer_user_path(@employer, @user)) %>
            <% end %>
        </div>

    </div>

</div>