<div class="card">
    <div class="card-header">
        <strong>Employer Types</strong> - New employer type
    </div>
    <%= form_for @employer_type, url: internal_employer_types_path, html: {class: "#{params[:action]}_employer_type employer_type-form with-parsley"} do |form| %>
        <%= render 'form', { form: form } %>
    <% end %>
</div>