<div class="card">
    <div class="card-header">
        <strong>Organizations</strong> - New Organization
    </div>
    <%= form_for @organization, url: internal_organizations_path, html: {class: "#{params[:action]}_town town-form with-parsley"} do |form| %>
        <%= render 'form', { form: form } %>
    <% end %>
</div>