- date = @for_mail ? DateTime.current : @date.to_date
- common_path = 'internal/reports/operation/daily_branch_registration'
= render "#{common_path}/daily_registrations_table", data: @data, headers: @registration_headers, date: date
= render "#{common_path}/daily_certifications_table", data: @certification_data, headers: @certification_headers, date: date

%i.text-danger
  **Note: All the figures in this report are accurate as of the report date and time. It may change from time to time due to cancellation of registration.

:css
  .w-600 {
    width: 100%;
    max-width: 600px;
  }

  table {
    border-collapse: collapse;
  }

  thead {
    background-color: #d0d0d0;
  }

  thead th {
    padding: 5px 3px;
    border: 1px solid #aaa;
  }

  tbody td {
    vertical-align: center;
    border: 1px solid #aaa;
  }

  .bold {
    font-weight: bold;
  }