<body class="header-body">
    <div class="header">
        <div class="table-title">
            <p>To Whom It May Concern,</p>
            <p>Please find attached list of refunds with payment failed status updated at <%= @failed_date %>.</p>
        </div>
    </div>
</body>

<div class="footer">
    <div><p>Thank you.</p></div>
    <div></p><i>***This is an auto generated email. Please do not reply to this email.***</i></p></div>
</div>