<p>
Dear Person In-charge, 
<p>
    <u><b>REQUEST FOR AUDIT RADIOGRAPH LETTER</u></b><br>
</p>

<div>
    <p> 
        As one of the yearly requirements by Kementerian Kesihatan Malaysia, I would like to request 
        an Audit Radiograph Letter. Kindly refer to the below details:
    </p>
    <table>
        <tr>
            <td><b>Clinic Name</b></td><td><%= @xray_clinic_name %></td>
        </tr>
        <tr>
            <td><b>Doctor Name</b></td><td><%= @xray_doctor_name %></td>
        </tr>
        <tr>
            <td><b>X-ray Code</b></td> <td><%= @xray_code %></td>
        </tr>
        <tr>
            <td><b>X-ray Email</b></td><td><%= @xray_email %></td>
        </tr>
    </table>
</div>

<p>
    Thank You. <br>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email. ***
</p> 