<p>
Dear Person In-Charge, 
</p>
<div>
    <p> 
        List of Xray License Facility Expired, kindly refer the attachement.
    </p>
</div>

<p>
    Thank You. <br>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email. ***
</p> 