<p>
Dear Dr <%= @xray_facility.license_holder_name %>,
</p>
<div>
    <p>
        We kindly refer to the above matter.
    </p>

    <p>
        The uploaded documents is/are not complied according FOMEMA's criteria due to:<br>
        <ul><li><%= @comment %></li></ul>
        Need your cooperation to re-upload the documents for our record purpose.
    </p>
</div>

<p>
    Thank you for your cooperation.
</p>

<p>
   ***This is an auto generated email. Please do not reply to this email. ***
</p>