<div class="page-container">

    <div class="fomema-logo">
        <%= wicked_pdf_image_tag "forms/logo_fomema.png" %>
    </div>

    <div class="procedure">
        <div class="procedure-header-section">
            <p class="procedure-header text-center">Prosedur Pemeriksaan Perubatan (Untuk Perhatian Majikan)</p>
        </div>

        <ol class="procedure-list">
            <li>
                Sila pastikan semua maklumat di Borang Pemeriksaan Perubatan ini adalah tepat.
            </li>
            <li>
                Tempoh sah laku Borang Pemeriksaan Perubatan adalah 30 hari dari tarikh pendaftaran.
            </li>
            <li>
                Majikan hendaklah melengkapkan pemeriksaan perubatan dan X-ray bagi pekerja asing di klinik / pusat X-ray seperti yang tercatat dalam borang ini dalam tempoh 18 hari dari:
                <ul class="procedure-nested-list">
                    <li>Tarikh ketibaan untuk pekerja asing baru.</li>
                    <li>Tarikh pendaftaran FOMEMA untuk pembaharuan permit pekerja.</li>
                </ul>
            </li>
            <li>
                Sebarang permohonan pembatalan pendaftaran dan tuntutan bayaran balik hanya dibenarkan dalam tempoh sah laku Borang Pemeriksaan Perubatan; tertakluk kepada yuran perkhidmatan sebanyak RM 25.00 bagi setiap pekerja asing.
            </li>
            <li>
                Sila pastikan Borang Pemeriksaan Perubatan ini dibawa bersama pasport asal untuk pemeriksaan perubatan dan X-ray. Pihak FOMEMA hanya membenarkan panel doktor dan pusat X-ray untuk menjalankan pemeriksaan perubatan dan X-ray sekiranya pengesahan identiti Pekerja Asing dilakukan dengan pasport asal.
            </li>
            <li>
                FOMEMA tidak bertanggungjawab ke atas pembayaran sekiranya pemeriksaan perubatan dijalankan oleh klinik selain daripada yang tercatat dalam borang ini.
            </li>
            <li>
                Pekerja asing dikehendaki menjalani pemeriksaan perubatan oleh doktor terlebih dahulu sebelum menjalankan pemeriksaan X-ray.
            </li>
            <li>
                Sila pastikan tarikh pemeriksaan doktor telah diisi oleh doktor di dalam borang ini selepas pemeriksaan perubatan dijalankan.
            </li>
            <li>
                Majikan juga perlu menyimpan keratan "Salinan Majikan" sebagai rujukan.
            </li>
            <li>
                Status keputusan pemeriksaan perubatan pekerja boleh disemak dalam masa 10 hari bekerja dari tarikh pemeriksaan perubatan dijalankan oleh doktor melalui Portal FOMEMA: https://portal.fomema.my
            </li>
            <li>
                Rekod keputusan pemeriksaan perubatan pekerja asing akan dihantar ke Jabatan Imigresen Malaysia setelah proses perubatan selesai.
            </li>
            <li>
                Status keputusan pemeriksaan perubatan pekerja asing FOMEMA di Jabatan Imigresen Malaysia hanya sah selama 180 hari dari tarikh pemeriksaan perubatan dijalankan.
            </li>
        </ol>

        <div class="procedure-header-section">
            <p class="procedure-header text-center">Medical Examination Procedure (For Employer's Attention)</p>
        </div>

        <ol class="procedure-list english-list">
            <li>
                Please ensure that all information on this Medical Examination Form is accurate.
            </li>
            <li>
                The validity period of the Medical Examination Form is 30 days from the date of registration.
            </li>
            <li>
                Employer must complete Foreign Worker's Medical Examination and X-ray at panel clinic / X-ray centres within 18 days from:
                <ul class="procedure-nested-list">
                    <li>Arrival date for new foreign workers.</li>
                    <li>FOMEMA registration date for permit renewal.</li>
                </ul>
            </li>
            <li>
                Any request for cancellation of registration and refund request is only allowed within the validity period of the Medical Examination Form; will be subjected to a service fee of RM 25.00 for each worker.
            </li>
            <li>
                Please ensure that this Medical Examination Form is brought together with the original passport of the foreign worker for medical examination. FOMEMA only allows registered panel doctors and X-ray centers to conduct medical examinations and X-ray after verification of the identity of the foreign worker is done with the original passport.
            </li>
            <li>
                FOMEMA will not be responsible for any payment if the medical examination is carried out by medical facilities other than named below.
            </li>
            <li>
                The foreign worker must undergo the physical examination by the doctor before undergoing the X-ray examination
            </li>
            <li>
                Please ensure that the date of the medical examination is duly filled by the doctor in this form after the physical examination has been completed.
            </li>
            <li>
                The employers should retain the "Employer's Copy" of this form as reference
            </li>
            <li>
                The status of medical examination result can be obtained within 10 working days from the date of the medical examination by the doctor through FOMEMA Online Portal: https://portal.fomema.my
            </li>
            <li>
                The result of the foreign worker's medical examination will be transmitted to the Immigration Department of Malaysia once completed
            </li>
            <li>
                The status of FOMEMA foreign worker medical examination results at the Immigration Department of Malaysia is only valid for 180 days from the date of medical examination was carried out.
            </li>
        </ol>
    </div>

    <div class="footer">
        <div class="footer-revision">
            Document : FM-MEF-OPS<br>
            Revision / Date : 02/06-23
        </div>
        <div class="footer-page-number">
            Page: 1/2
        </div>
    </div>
</div>