<%
error = local_assigns[:error]
%>
<div class="card">
    <div class="card-header">
        <strong>Transactions</strong> - Medical Examination
    </div>

    <div class="card-body">
        <p class="text-danger"><%= error %></p>
    </div>
</div>