.card
  .card-header
    %strong Details Worker Insurance Report
  .card-body
    = render '/shared/all_flash'
    .row-fluid
      = render "/internal/reports/finance/details_worker_insurance/filter"
