<div class="card">
    <div class="card-header">
        <strong>Employers</strong> - New Employer
    </div>
    <%= form_for @employer, {url: internal_employers_path, html: { multipart: true, class: "with-parsley employer-form" }} do |form| %>
        <%= render 'form', { form: form } %>
    <% end %>
</div>
