<div class="card">
    <div class="card-body">
        <%=render '/internal/employers/shared/employer' %>

        <%=render '/internal/employers/shared/tabs' %>
    </div>
</div>

<% content_for :page_end_scripts do %>
<script>
</script>
<% end %>