= render 'internal/reports/operation/daily_branch_registration/pdf_template', headers: @headers, data: @data

:css
  .text-danger {
    color: #f86c6b;
  }

  .text-right {
    text-align: right;
  }
