<div class="card">
    <div class="card-header">
        <strong>Bank Drafts</strong> - Edit Bank Draft
    </div>
    <%= form_for @bank_draft, url: internal_bank_draft_path(@bank_draft), html: {class: "with-parsley"} do |form| %>
        <%= render 'form', { form: form } %>
    <% end %>
</div>