.card
  .card-header
    %strong MSPD - MCLX Report
  .card-body
    = render '/shared/all_flash'
    .row-fluid
      = render '/internal/reports/mspd/mclx_report/filter', filter_link: mclx_report_internal_mspd_reports_path