<div id="div_kelantan_states" class="pahan svg-content" style="display: none;">
<div class="map-title" style="z-index: 100;"> KELANTAN </div>
<br/>
<div class="text-info1"><a onclick="closekelantanicon()">
  <i class="fa fa-close close-btn" id="divtotal_malaysiabtn_johor"></i></a>
  <div class="statediv" id="sabah_district14">
    <div id="myRadioGroup" class="submap-title">
      <h1><div id="divkelantanheader"></div> </h1>
      <div class="box div_Pekan div_statesvg">
        <ul>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Doctors
            </div>
            <div id="divnoofkelantandoctors"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i>Number of X-ray
            </div>
            <div id="divnoofkelantanxray"></div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Lab
            </div>
            <div id="divnoofkelantanlab"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Employer
            </div>
            <div id="divnoofkelantanemployer">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of FW
            </div>
            <div id="divnoofkelantanfw">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
            </div>
            <div id="divdetectablediseasekelantan"> </div>
          </li>
          <li class="p-0">
            <div id="accordion3" style="width: 100%!important;float:left">
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseOne16"> Communicable Diseases <span><div id="commdiseaseskelantan"></div>  </span>
                  </a>
                </div>
                <div id="collapseOne16" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i>Tuberculosis
                          </div>
                          <div id="divkelantantuberculosis">  </div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Hepatitis B
                          </div>
                          <div id="divkelantanhepatisis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Syphilis
                          </div>
                          <div id="divkelantansyphilis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> HIV/AIDS
                          </div>
                          <div id="divkelantanhiv"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Malaria
                          </div>
                          <div id="divkelantanmalaria"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Leprosy
                          </div>
                          <div id="divkelantanleprosy"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="collapsed card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseTwo17"> Non-Communicable Diseases <span><div id="noncommdiseaseskelantan"></div> </span>
                  </a>
                </div>
                <div id="collapseTwo17" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i>Pregnancy
                          </div>
                          <div id="divkelantanpreg"> </div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Opiates
                          </div>
                          <div id="divkelantanurine"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Cannabis
                          </div>
                          <div id="divkelantancannabis"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Psychiatric Illness
                          </div>
                          <div id="divkelantanillness"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Epilepsy
                          </div>
                          <div id="divkelantanepilepsy"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Cancer
                          </div>
                           <div id="divkelantancancer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Hypertension
                          </div>
                           <div id="divkelantanhyper"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Diabetes
                          </div>
                          <div id="divkelantandiabetes"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Kidney Disease
                          </div>
                           <div id="divkelantankidney"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Heart Disease
                          </div>
                           <div id="divkelantanheart"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Peptic Ulcer
                          </div>
                           <div id="divkelantanulcer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Bronchial Asthma
                          </div>
                           <div id="divkelantanasthama"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Others
                          </div>
                           <div id="divkelantanothers"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="svg-map">
  <div class="sub-map">
  <svg version="1.1" id="svg4838" inkscape:version="0.91 r13725" sodipodi:docname="kelantan parlimen.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-210 -7.699 900 397" enable-background="new -210 -7.699 900 397" xml:space="preserve">
  <sodipodi:namedview  id="base" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:document-units="px" inkscape:current-layer="layer1" inkscape:window-width="1280" inkscape:window-height="740" inkscape:window-x="-4" inkscape:window-y="-4" fit-margin-right="0" fit-margin-bottom="0" showguides="true" pagecolor="#ffffff" bordercolor="#666666" showgrid="false" fit-margin-top="0" borderopacity="1.0" fit-margin-left="0" inkscape:zoom="1.0710956" inkscape:cx="223.07871" inkscape:cy="242.76349" inkscape:window-maximized="1" inkscape:snap-nodes="false" inkscape:guide-bbox="true">
  </sodipodi:namedview>
  <g id="layer1" transform="translate(3.247887e-8,-572.85916)" inkscape:groupmode="layer" inkscape:label="Layer 1">

    <a onclick="district_kelantan('TUMPAT')">
    <path id="path3394" sodipodi:nodetypes="ccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M202.841,600.97l-0.172-7.934l3.734-4.88l-8.604-10.711l-3.688-1.42l-1.58,2.649l-11.063,1.756l-10.359-6.497l-4.039,1.404
    l-1.229,12.468l5.443,4.917h4.039l-0.176,3.161l4.563,5.795h5.619l1.055,2.283l2.106-0.703l1.932,2.107l2.965,0.135l-0.199,1.74
    c0,0,4.365-0.378,7.022,1.216C197.961,605.961,202.841,600.97,202.841,600.97L202.841,600.97z"/></a>

    <a onclick="district_kelantan('MACHANG')">
    <path id="path3404-9-5-1" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M207.199,651.837l4.221,2.607l-0.496,16.264l6.455,2.358l-0.372,9.187l3.104,0.125v1.241h4.595l0.497,2.111l7.199,0.248v-7.076
    l4.843,0.621l0.993,5.214l1.49-0.373v0.621v0.993l8.068,0.249l-3.229,3.849l-9.561,7.945l-1.861,2.855l-2.469,2.618h-3.629
    l-1.382-1.382l-1.899,2.938l-1.557-1.555l-2.764-0.864l-2.074,3.283c0,0,0-2.938-1.383-2.419c0,0-3.109-0.691-2.592,3.283
    l-8.64-1.21v-2.938l-4.493,0.864v1.209l-2.765-1.209c0,0-4.319-1.555-4.295-0.334v2.527l2.246,1.124v0.842l-1.966,1.404v2.247
    l-3.37-0.843l-1.685,1.966l-1.686-2.808v-2.527l-1.686-0.843v2.527l-8.705,2.528l-1.162-1.8l0.052-2.587l-2.392-1.86l0.266-8.107
    h5.98l0.797,1.993h1.328l3.19-3.721l-3.058-3.057l0.398-3.455l1.461-1.196l-0.133-2.791h-1.594l-0.799-2.924l2.127-0.532
    l-0.531-5.714h2.26l4.385-3.854l-2.658-1.462l0.399-4.386l3.322-2.392v-2.126l-2.657-2.126l3.057-0.665l-0.267-6.113
    c1.698-2.051,2.897-4.626,2.897-4.626l5.604,4.285h2.234c1.285,0.113,3.354,2.011,3.354,2.011l1.726-2.76L207.199,651.837z"/></a>

    <a onclick="district_kelantan('GUA MUSANG')">
    <path id="path3404-9" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M99.81,774.372l-4.231-5.132c-6.589,12.92-19.075,12.627-19.075,12.627c-9.666-12.744-22.416-1.4-22.416-1.4l0.35,9.457
    l-9.106,5.953l-1.05-2.102l-3.152,16.111l-5.954,3.854v4.203h-1.751v18.213l-11.208,25.566
    c10.193,17.654,3.853,19.965,3.853,19.965c-5.955,0,0.7,5.604,0.7,5.604h-9.106l-1.751,0.701l0.7,9.105
    c6.305,6.306-7.355,13.66-7.355,13.66l4.903,4.203l-0.35,7.006l-2.452,0.35l-3.503-3.152l-0.7,6.305l-5.604-1.399l-0.35,4.553
    c7.436,4.332,8.574,9.147,7.752,12.97l11.208,3.661l9.057,7.548v-6.037c8.302-9.813,19.623,2.264,19.623,2.264
    c4.528,11.32,14.339,3.773,14.339,3.773c6.792,6.793,15.094-6.037,15.094-6.037l18.868-6.793c1.509-27.17,0.754-27.17,0.754-27.17
    l7.547-5.283l11.321,18.867l9.811,2.266v16.604l9.812-15.094l2.264-19.623l1.568-4.223l4.539,7.94l1.891-4.159l3.782-0.756
    l1.891,5.672l3.782-3.025l3.026,4.918h3.025v-2.648h4.917l1.891-5.295h7.942l0.757,11.348
    c12.857,7.186,13.236,10.968,13.236,10.968c0.379,10.968,12.479,8.698,12.479,8.698l-0.756-5.674
    c4.539-2.646,13.614-1.891,13.614-1.891c0.38,8.32,11.347,5.673,11.347,5.673l-0.378-4.159l7.188-6.809l-3.783-3.782l1.892-2.647
    h17.774l15.129,10.591l7.941-7.187l-0.378-3.781v-0.379c4.16,0,5.673,4.16,5.673,4.16l7.942,1.135l-0.379-9.454l-3.024-1.892
    l3.403-2.647v-5.673l12.604,4.632l0.011-8.963l-4.568-5.976l3.572-4.883c-14.302-4.852-18.427-12.185-18.427-12.185l-13.137-0.61
    l-1.223-8.098h1.375l0.459-7.637c-7.551-3.274-2.697-9.113-2.75-9.166c8.555-1.375-2.291-16.805-2.291-16.805
    c16.498-4.277-1.375-11.15-1.375-11.15c-9.664-13.653-17.568-9.166-17.568-9.166l1.82-27.986l-17.75,0.781l-13.586,8.916
    l-35.872-1.273l1.91,18.68h-15.495l-7.005-2.336l-6.156,0.213l-28.444-19.527l-13.373-5.096L99.81,774.372z"/></a>

    <a onclick="district_kelantan('KUALA KRAI')">
    <path id="path3404-9-5" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M227.337,788.345l-13.586,8.916l-35.872-1.272l1.91,18.681h-15.495l-7.005-2.337l-6.156,0.214l-28.444-19.529l-13.373-5.094
    l-9.523-13.551l13.787-0.342l1.595,1.859l13.024-0.53l3.987-4.519v-2.126l6.911-6.38l-0.133-10.765l5.449,0.398l1.462-0.797
    l-0.133-16.081l3.189,0.133l1.994,3.854l3.854-0.133v-5.848c2.791-7.576,5.981-9.436,5.981-9.436h5.981l0.93-2.525l2.658-2.525
    l-0.398-6.113h1.594l3.621-2.932l1.211,1.738l8.705-2.528v-2.527l1.687,0.843v2.527l1.685,2.808l1.686-1.966l3.369,0.843v-2.247
    l1.967-1.404v-0.842l-2.246-1.124v-2.527c-0.025-1.221,4.295,0.334,4.295,0.334l2.766,1.209v-1.209l4.492-0.864v2.938l8.639,1.21
    c-0.518-3.975,2.593-3.283,2.593-3.283c1.383-0.519,1.383,2.419,1.383,2.419l2.074-3.283l2.764,0.864l1.556,1.555l1.9-2.938
    l1.382,1.382h3.63l2.469-2.618l2.481,1.614v4.842l2.483,3.104l-0.125,2.731l1.986,2.11l1.613,12.787c0,0-5.834,9.684-3.6,11.298
    l0.123,10.801l1.367,0.125v7.077l-4.843,3.724l11.421,10.8l-0.697,10.916l-0.312,4.97L227.337,788.345z"/></a>

    <a onclick="district_kelantan('TANAH MERAH')">
    <path id="path3414-5-8" sodipodi:nodetypes="ccccccccccccccccsccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M190.397,658.54l-3.057,0.665l2.657,2.126v2.126l-3.322,2.392l-0.399,4.386l2.658,1.462l-4.385,3.854h-2.26l0.531,5.714
    l-2.127,0.532l0.799,2.924h1.594l0.133,2.791l-1.461,1.196l-0.398,3.455l3.058,3.057l-3.19,3.721h-1.328l-0.797-1.993h-5.98
    l-0.266,8.107l2.392,1.86l-0.075,2.619l-3.646,2.963h-1.594l0.398,6.113l-2.658,2.525l-0.93,2.525h-5.981
    c0,0-3.19,1.86-5.981,9.436v5.848l-5.133-4.917l-2.529,0.281l-1.265-1.827h-1.686c0,0,0.281,0.703-2.389-1.545
    c0,0-1.265-1.967,1.931-2.26c0,0,0.245-11.243-5.621-10.021c0,0-2.688-7.332,0.489-6.843c0,0,3.91,1.711,3.91-0.245v-4.644h1.956
    l-0.489-2.688c0,0-6.599-12.709,0.244-12.464c0,0,0.489-0.245-1.711-3.177h5.377c0,0,5.622,0.489,4.888-9.776
    c0,0,3.177,2.933,6.599,6.11l1.955-2.2v-2.688c0,0,0.244-2.444,4.644-8.31c0,0-16.375,0.733-13.931-0.733
    c0,0,5.376-3.666,2.933-4.644l-5.866,0.489c0,0,0-1.222-0.978-4.888c0,0-2.444,0.978-2.933-1.955c0,0,0-0.978-3.177-9.532v-5.866
    c1.496-2.798,3.265-1.994,3.265-1.994c4.987,0.161,11.261,8.204,11.261,8.204c4.826,0.161,7.079,1.287,7.079,1.287
    c0.965,1.448,1.93-0.161,1.93-0.161l6.113,0.161l0.805-1.126l2.412-0.161l1.127-1.93h3.217l-0.16,2.091h1.447l2.734-2.252
    c1.127,0,1.77,2.735,1.77,2.735h0.645v-1.126l4.416,2.335L190.397,658.54z"/></a>

    <a onclick="district_kelantan('JELI')">
    <path id="path3414-5" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M154.78,738.945l-3.854,0.133l-1.994-3.854l-3.189-0.133l0.133,16.081l-1.462,0.797l-5.449-0.398l0.133,10.765l-6.911,6.379v2.126
    l-3.987,4.519l-13.024,0.53l-1.595-1.859l-13.803,0.342l-6.084-6.936l-0.028-16.742h3.853l0.701-2.802l-4.203-2.802v-4.203
    l-18.913-1.751v-2.452l5.253-11.208v-5.604c0,0-12.609-6.655-5.253-6.655v-9.457l3.152-3.853l4.904-1.751l-0.634-13.923
    l0.656-7.059l3.062-0.505l4.965,0.28c0,0,3.235-6.982,6.026-0.337v3.456l5.715,5.183l2.924-0.532l1.196,3.588l2.791-0.133
    c0,0-4.386-13.822,5.848-13.157l6.113-3.057l0.398-6.379l3.854-3.323h5.847l3.722-4.651l-0.133-4.519l6.489-8.489v5.866
    c3.177,8.554,3.177,9.532,3.177,9.532c0.489,2.933,2.933,1.955,2.933,1.955c0.978,3.666,0.978,4.888,0.978,4.888l5.866-0.489
    c2.444,0.978-2.933,4.644-2.933,4.644c-2.444,1.466,13.932,0.733,13.932,0.733c-4.4,5.865-4.644,8.31-4.644,8.31v2.688l-1.955,2.2
    c-3.422-3.177-6.599-6.11-6.599-6.11c0.733,10.265-4.888,9.776-4.888,9.776h-5.377c2.2,2.933,1.711,3.177,1.711,3.177
    c-6.843-0.245-0.244,12.464-0.244,12.464l0.489,2.688h-1.956v4.644c0,1.956-3.91,0.245-3.91,0.245
    c-3.177-0.489-0.489,6.843-0.489,6.843c5.866-1.222,5.621,10.021,5.621,10.021c-3.196,0.293-1.931,2.26-1.931,2.26
    c2.669,2.248,2.389,1.545,2.389,1.545h1.686l1.265,1.827l2.529-0.281L154.78,738.945z"/></a>

    <a onclick="district_kelantan('WAKAF BHARU')">
    <path id="path3394-0-0" sodipodi:nodetypes="ccsscccccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M214.001,641.877l-1.846,2.042v6.727l-2.414,0.345l0.023,2.282l-2.566-1.438l-1.252-0.5l-1.725,2.76c0,0-2.07-1.897-3.355-2.011
    h-2.234c0,0-5.709-4.129-5.576-4.417c0.447-0.945,0.838-1.751,1.039-2.31c0.805-2.233,1.133-4.34,1.105-6.312
    c-0.057-3.943-1.539-7.345-3.49-10.127c-0.555-0.788-1.122-1.515-1.689-2.183c3.219-1.728,3.787-2.054,3.787-2.054l3.012,1.465
    l1.06-0.896l0.082-1.302l3.581-1.954c2.277,1.14,5.535,0.977,5.535,0.977c4.176-0.861,7,0,7,0c3.419-2.198,3.906-2.686,3.906-2.686
    c1.06-2.93,2.523-2.768,2.523-2.768c1.953,1.628,1.139,3.907,1.139,3.907l3.746,1.954v1.465h2.115v1.058l-1.059,0.814h-0.732v6.349
    l-1.221,2.279h-3.582c-2.686,0-3.337,3.093-3.337,3.093l-3.907,0.977l-0.65,0.407l0.813,0.57L214.001,641.877z"/></a>

    <a onclick="district_kelantan('PASIR MAS')">
    <path id="path3394-0" sodipodi:nodetypes="cccccccccccssssscccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M185.332,601.677l1.056,2.283l2.105-0.703l1.932,2.107l2.94,0.095l-0.177,1.78c0,0,4.367-0.378,7.023,1.216
    c0,0-0.57,14.426-15.928,7.821l-2.525,1.196l0.266,2.791c0,0,5.252,2.348,9.687,8.655c1.951,2.783,3.435,6.184,3.49,10.127
    c0.026,1.972-0.302,4.079-1.104,6.312c-0.201,0.559-0.434,1.125-0.695,1.698c-0.131,0.287-0.377,0.708-0.631,1.132
    c-0.252,0.424-0.515,0.849-0.679,1.143c-0.655,1.178-1.021,1.857-1.995,3.214l-4.453-2.216v1.126h-0.646
    c0,0-0.644-2.735-1.771-2.735l-2.733,2.252h-1.447l0.16-2.091h-3.217c1.709-3.393-2.941-7.353-2.941-7.353l-0.86-6.543
    l12.569-7.232c0.173-3.96-1.204-4.132-1.204-4.132c-2.238-0.345-5.339-0.172-5.339-0.172l-1.722-3.099l-7.061-4.305l-0.172-2.066
    l8.609,0.517c3.443-3.1,4.305-8.093,4.305-8.093c-0.861-2.066-3.271-2.411-3.271-2.411l0.736-2.425L185.332,601.677z"/></a>

    <a onclick="district_kelantan('RANTAU PANJANG')">
    <path id="path3394-2" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M175.324,592.934l-0.177,2.737l4.418,5.787l-0.662,2.535c0,0,2.41,0.345,3.271,2.411c0,0-0.861,4.994-4.305,8.093l-8.609-0.517
    l0.172,2.066l7.061,4.305l1.722,3.1c0,0,3.101-0.172,5.339,0.172c0,0,1.377,0.172,1.204,4.133l-12.569,7.232l0.86,6.543
    c0,0,4.65,3.96,2.941,7.353l-1.128,1.93l-2.411,0.161l-0.806,1.126l-6.112-0.161c0,0-0.965,1.609-1.93,0.161
    c0,0-2.252-1.126-7.079-1.287c0,0-6.274-8.043-11.261-8.204c0,0-1.77-0.805-3.265,1.994l-6.348,8.682l-4.427-6.131l0.352-7.731
    h3.865v-8.785l8.083-4.217l0.352-5.974l15.462-10.894l11.948-16.673L175.324,592.934z"/></a>

    <a onclick="district_kelantan('PASIR PUTEH')">
    <path id="path3404-9-5-1-6" sodipodi:nodetypes="cccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M212.156,643.919v6.727l-2.414,0.345v2.415l1.678,1.038l-0.496,16.264l6.455,2.358l-0.372,9.187l3.104,0.125v1.241h4.595
    l0.497,2.111l7.199,0.248v-7.076l4.843,0.621l0.993,5.214l1.49-0.373v0.621v0.993l8.068,0.249l8.523-9.893l2.468,0.338
    l11.245-13.705c-12.489-15.209-13.479-16.127-13.479-16.127c-8.219,3.902-15.077,7.345-15.077,7.345l-3.953-0.742
    c-0.492-1.374-2.08-2.962-2.08-2.962c-1.854-0.132-7.016-9-7.016-9l-3.705,1.853c-4.765-1.191-8.205-0.265-8.205-0.265
    l-2.516-1.191L212.156,643.919z"/></a>

    <a onclick="district_kelantan('BACHOK')">
    <path id="path3404-9-5-1-6-8" sodipodi:nodetypes="ccccccccccccsccccccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M256.554,646.839c-8.22,3.902-15.078,7.345-15.078,7.345l-3.953-0.741c-0.491-1.375-2.08-2.962-2.08-2.962
    c-1.854-0.132-7.016-9-7.016-9l-3.705,1.853c-4.765-1.191-8.205-0.265-8.205-0.265l-2.516-1.191l-0.169-1.484l-0.813-0.57
    l0.65-0.407l3.907-0.977c0,0,0.651-3.093,3.337-3.093h3.582l1.221-2.279v-6.349h0.732l1.059-0.814v-1.058h-2.115v-1.465
    l-3.746-1.954c0,0,0.814-2.279-1.139-3.907l2.217,0.468c1.133,0,3.113-1.274,3.113-1.274c2.973-0.707,1.84-4.104,1.84-4.104
    c-2.123-2.971-7.357-6.792-7.357-6.792c-1.84,0-0.282-3.538-0.282-3.538l6.649,0.142l-0.143-9.905l2.266-0.708
    C236.591,616.29,256.554,646.839,256.554,646.839L256.554,646.839z"/></a>

    <a onclick="district_kelantan('PENGKALAN KUBOR')">
    <path id="path3394-0-54-4" sodipodi:nodetypes="ccccccccccccccc" inkscape:connector-curvature="0" fill="#BCD26D" stroke="#000000" d="
    M228.81,591.81l-2.266,0.708l0.143,9.905l-6.649-0.142l-2.996-0.977l-3.263,2.609l-0.932-2.419v-3.841c0,0,1.59-1.854,1.325-3.311
    c0,0-0.397-1.59-3.444-0.663c0,0-2.383,1.722-4.371-1.324l-3.588,4.438l-0.1-3.757l3.734-4.88l-8.604-10.711L228.81,591.81z"/></a>

    <a onclick="district_kelantan('KOTA BHARU')">
    <path fill="#BCD26D" stroke="#000000" d="M227.679,612.611c-2.123-2.972-7.359-6.792-7.359-6.792c-1.838,0-0.281-3.538-0.281-3.538
    l-2.996-0.977l-3.262,2.609c-0.001-0.001-0.002-0.002-0.004-0.003l-0.93-2.416v-3.841c0,0,1.59-1.854,1.325-3.311
    c0,0-0.397-1.59-3.444-0.663c0,0-2.384,1.722-4.371-1.324l-3.576,4.371l0.062,4.244c0,0-4.88,4.99-2.629,7.486
    c0,0-0.035,0.864-0.381,1.995l-0.097-0.003c-0.002,0.001-0.696,11.632-15.45,5.83l-2.525,1.196l0.267,2.791
    c0,0,1.313,0.587,3.18,1.962c0.934,0.688,2.006,1.573,3.121,2.68c0.559,0.554,1.127,1.163,1.695,1.831
    c3.218-1.728,3.787-2.054,3.787-2.054l3.012,1.465l1.059-0.896l0.082-1.302l3.581-1.954c2.278,1.14,5.535,0.977,5.535,0.977
    c4.176-0.861,7,0,7,0c3.419-2.198,3.907-2.686,3.907-2.686c1.059-2.93,2.522-2.768,2.522-2.768l2.218,0.468
    c1.133,0,3.112-1.273,3.112-1.273C228.81,616.007,227.679,612.611,227.679,612.611z"/></a>

    <path id="path15397" inkscape:connector-curvature="0" fill="none" stroke="#000000" d="M214.157,612.359l39.279-10.793"/>
    <path id="path15397-3" sodipodi:nodetypes="cc" inkscape:connector-curvature="0" fill="none" stroke="#000000" d="
    M208.916,587.235l10.481-13.274"/>
    <path id="path15650" inkscape:connector-curvature="0" fill="none" stroke="#000000" d="M256.554,614.859l-37.156,15.231"/>
    <text transform="matrix(1 0 0 1 112.375 854.6599)" font-family="'MyriadPro-Regular'" font-size="9">Gua Musang</text>
    <text transform="matrix(1 0 0 1 99.7939 719.1599)" font-family="'MyriadPro-Regular'" font-size="9">Jeli</text>
    <text transform="matrix(1 0 0 1 155.375 769.24)" font-family="'MyriadPro-Regular'" font-size="9">Kuala Krai</text>
    <text transform="matrix(1 0 0 1 146.3726 699.8757)" font-family="'MyriadPro-Regular'" font-size="9">Tanah </text>
    <text transform="matrix(1 0 0 1 146.3726 711.2761)" font-family="'MyriadPro-Regular'" font-size="9">Merah</text>
    <text transform="matrix(1 0 0 1 189.5186 692.4939)" font-family="'MyriadPro-Regular'" font-size="9">Machang</text>
    <text transform="matrix(1 0 0 1 221.6982 665.2478)" font-family="'MyriadPro-Regular'" font-size="8">Pasir Puteh</text>
    <text transform="matrix(1 0 0 1 271.9092 630.0906)" font-family="'MyriadPro-Regular'" font-size="9">Bachok</text>
    <text transform="matrix(1 0 0 1 260.7197 617.5164)" font-family="'MyriadPro-Regular'" font-size="9">Wakaf Bharu</text>
    <text transform="matrix(1 0 0 1 258.5752 599.8811)" font-family="'MyriadPro-Regular'" font-size="9">Kota Bharu</text>
    <text transform="matrix(1 0 0 1 221.6982 574.0613)" font-family="'MyriadPro-Regular'" font-size="9">Pengkalan  Kubor</text>
    <text transform="matrix(1 0 0 1 40.6265 622.9968)" font-family="'MyriadPro-Regular'" font-size="9">Rantau Panjang</text>
    <text transform="matrix(1 0 0 1 99.7935 587.2629)" font-family="'MyriadPro-Regular'" font-size="9">Tumpat</text>
    <text transform="matrix(1 0 0 1 61.1519 641.4807)" font-family="'MyriadPro-Regular'" font-size="9">Pasir Mas</text>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="146.373" y1="623.084" x2="104.437" y2="622.997"/>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="169.261" y1="583.304" x2="133.437" y2="583.304"/>
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="181.76" y1="640.446" x2="99.794" y2="640.446"/>
    <line fill="none" stroke="#000000" x1="239.888" y1="635.806" x2="270.242" y2="626.855"/>
  </g>
</svg>
    <div class="icon_Temerloh map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Raub map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Lipis map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Jerantut map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Kuantan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Rompin map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bera map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bentong map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Pekan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Maran map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
  </div>
</div>
</div>

<script>
function districtkelantan_map(dist){
$('#state-select').val(dist)
$('#divkelantanheader')[0].innerHTML=dist;
$("#divtotal_malaysialist").hide();
$('#div_kelantan_states').show()
$.ajax({
url: "/dashboards/districts/" + dist,
dataType: "json",
success:function(data){

$('#divnoofkelantandoctors')[0].innerHTML=data.noofdoctors
$('#divnoofkelantanxray')[0].innerHTML=data.noofxray
$('#divnoofkelantanlab')[0].innerHTML=data.nooflab
$('#divnoofkelantanemployer')[0].innerHTML=data.empcount
$('#divnoofkelantanfw')[0].innerHTML=data.fwcount
$('#divdetectablediseasekelantan')[0].innerHTML=data.detectdisease
$('#commdiseaseskelantan')[0].innerHTML=data.commcount
$('#noncommdiseaseskelantan')[0].innerHTML=data.noncommcount
$('#divkelantantuberculosis')[0].innerHTML=data.tuberculosis
$('#divkelantanhepatisis')[0].innerHTML=data.hepatisis
$('#divkelantansyphilis')[0].innerHTML=data.syphilis
$('#divkelantanhiv')[0].innerHTML=data.hiv
$('#divkelantanmalaria')[0].innerHTML=data.malaria
$('#divkelantanleprosy')[0].innerHTML=data.leporacy

$('#divkelantanpreg')[0].innerHTML=data.pregnancy
$('#divkelantanurine')[0].innerHTML=data.urine
$('#divkelantancannabis')[0].innerHTML=data.cannabis
$('#divkelantanillness')[0].innerHTML=data.illness
$('#divkelantanepilepsy')[0].innerHTML=data.epilsey
$('#divkelantancancer')[0].innerHTML=data.cancer
$('#divkelantanhyper')[0].innerHTML=data.hypertension
$('#divkelantandiabetes')[0].innerHTML=data.diabetes
$('#divkelantankidney')[0].innerHTML=data.kidney
$('#divkelantanheart')[0].innerHTML=data.heart
$('#divkelantanulcer')[0].innerHTML=data.ulcer
$('#divkelantanasthama')[0].innerHTML=data.asthama
$('#divkelantanothers')[0].innerHTML=data.others
}
})

}
function district_kelantan(dist){   
$('#district-select option:selected').text(dist)   
$('#divkelantanheader')[0].innerHTML=dist;
$.ajax({
url: "/dashboards/districtname/" + dist,
dataType: "json",
success:function(data){

$('#divnoofkelantandoctors')[0].innerHTML=data.noofdoctors
$('#divnoofkelantanxray')[0].innerHTML=data.noofxray
$('#divnoofkelantanlab')[0].innerHTML=data.nooflab
$('#divnoofkelantanemployer')[0].innerHTML=data.empcount
$('#divnoofkelantanfw')[0].innerHTML=data.fwcount
$('#divdetectablediseasekelantan')[0].innerHTML=data.detectdisease
$('#commdiseaseskelantan')[0].innerHTML=data.commcount
$('#noncommdiseaseskelantan')[0].innerHTML=data.noncommcount
$('#divkelantantuberculosis')[0].innerHTML=data.tuberculosis
$('#divkelantanhepatisis')[0].innerHTML=data.hepatisis
$('#divkelantansyphilis')[0].innerHTML=data.syphilis
$('#divkelantanhiv')[0].innerHTML=data.hiv
$('#divkelantanmalaria')[0].innerHTML=data.malaria
$('#divkelantanleprosy')[0].innerHTML=data.leporacy
$('#divkelantanpreg')[0].innerHTML=data.pregnancy
$('#divkelantanurine')[0].innerHTML=data.urine
$('#divkelantancannabis')[0].innerHTML=data.cannabis
$('#divkelantanillness')[0].innerHTML=data.illness
$('#divkelantanepilepsy')[0].innerHTML=data.epilsey
$('#divkelantancancer')[0].innerHTML=data.cancer
$('#divkelantanhyper')[0].innerHTML=data.hypertension
$('#divkelantandiabetes')[0].innerHTML=data.diabetes
$('#divkelantankidney')[0].innerHTML=data.kidney
$('#divkelantanheart')[0].innerHTML=data.heart
$('#divkelantanulcer')[0].innerHTML=data.ulcer
$('#divkelantanasthama')[0].innerHTML=data.asthama
$('#divkelantanothers')[0].innerHTML=data.others
}
})
}
function closekelantanicon(){
$("#divtotal_malaysialist").show();
$('#div_kelantan_states').hide()
clearvalues();
}
</script>


