<div id="div_sembilan_states" class="pahan svg-content" style="display: none;">
<div class="map-title" style="z-index: 100;"> NEGERI SEMBILAN </div>
<div class="text-info1"><a onclick="closesembilanicon()">
  <i class="fa fa-close close-btn" id="divtotal_malaysiabtn_johor"></i></a>
  <div class="statediv" id="sabah_district14">
    <div id="myRadioGroup" class="submap-title">
      <h1><div id="divsembilanheader"></div> </h1>
      <div class="box div_Pekan div_statesvg">
        <ul>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Doctors
            </div>
            <div id="divnoofsembilandoctors"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i>Number of X-ray
            </div>
            <div id="divnoofsembilanxray"></div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Lab
            </div>
            <div id="divnoofsembilanlab"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Employer
            </div>
            <div id="divnoofsembilanemployer">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of FW
            </div>
            <div id="divnoofsembilanfw">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
            </div>
            <div id="divdetectablediseasesembilan"> </div>
          </li>
          <li class="p-0">
            <div id="accordion3" style="width: 100%!important;float:left">
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseOne16"> Communicable Diseases <span><div id="commdiseasessembilan"></div>  </span>
                  </a>
                </div>
                <div id="collapseOne16" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i>Tuberculosis
                          </div>
                          <div id="divsembilantuberculosis">  </div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Hepatitis B
                          </div>
                          <div id="divsembilanhepatisis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Syphilis
                          </div>
                          <div id="divsembilansyphilis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> HIV/AIDS
                          </div>
                          <div id="divsembilanhiv"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Malaria
                          </div>
                          <div id="divsembilanmalaria"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Leprosy
                          </div>
                          <div id="divsembilanleprosy"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="collapsed card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseTwo17"> Non-Communicable Diseases <span><div id="noncommdiseasessembilan"></div> </span>
                  </a>
                </div>
                <div id="collapseTwo17" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i>Pregnancy
                          </div>
                          <div id="divsembilanpreg"> </div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Opiates
                          </div>
                          <div id="divsembilanurine"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Cannabis
                          </div>
                          <div id="divsembilancannabis"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Psychiatric Illness
                          </div>
                          <div id="divsembilanillness"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Epilepsy
                          </div>
                          <div id="divsembilanepilepsy"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Cancer
                          </div>
                           <div id="divsembilancancer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Hypertension
                          </div>
                           <div id="divsembilanhyper"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Diabetes
                          </div>
                          <div id="divsembilandiabetes"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Kidney Disease
                          </div>
                           <div id="divsembilankidney"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Heart Disease
                          </div>
                           <div id="divsembilanheart"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Peptic Ulcer
                          </div>
                           <div id="divsembilanulcer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Bronchial Asthma
                          </div>
                           <div id="divsembilanasthama"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Others
                          </div>
                           <div id="divsembilanothers"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="svg-map">
  <div class="sub-map">
  <svg version="1.1"
  id="svg7247" sodipodi:docname="dun negeri sembilan.svg" inkscape:version="0.91 r13725" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="715.464px"
  height="646.467px" viewBox="114.93 -16.176 715.464 646.467" enable-background="new 114.93 -16.176 715.464 646.467"
  xml:space="preserve">
<sodipodi:namedview  id="base" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:document-units="px" inkscape:current-layer="layer1" inkscape:window-width="1366" inkscape:window-height="705" inkscape:window-x="-8" inkscape:window-y="-8" fit-margin-right="0" fit-margin-bottom="0" showguides="false" pagecolor="#ffffff" bordercolor="#666666" showgrid="false" fit-margin-top="0" borderopacity="1.0" fit-margin-left="0" inkscape:zoom="0.52939209" inkscape:cx="574.0069" inkscape:cy="420.49445" inkscape:window-maximized="1">
 </sodipodi:namedview>
<g id="layer1" transform="translate(206.5832,-278.06907)" inkscape:groupmode="layer" inkscape:label="Layer 1">
 <g id="g5046"><a onclick="district_sembilan('PORT DICKSON')">
   
     <path id="path9586" sodipodi:nodetypes="cccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M525.311,516.644l-1.299,59.625h-28.851l0.534,15.894l-11.22,6.145l-5.877-0.268l0.935,2.538l7.881,8.147l0.269,16.695
     l12.688,10.688l0.133,9.215l7.746-11.086l3.34-1.068l14.693,28.184l-0.268,18.566l2.537,2.404l4.273,2.137l-4.141,7.213
     l2.204,19.484l25.198,0.6l46.054-124.042c0,0,2.984-14.929-10.726-30.117L525.311,516.644z M362.733,700.568
     c-0.446,0.135-0.964,0.18-1.561,0.117C361.77,700.747,362.287,700.702,362.733,700.568z"/></a><a onclick="district_sembilan('LABU')">
   
     <path id="path9287" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M102.556,768.077l2.968,4.338l5.021,0.228l3.651,7.989l-5.706-0.229l-0.228,8.217H93.651l-0.4,13.381l3.072,0.269l2.939,2.537
     l2.938-1.47l3.206,4.406l-0.534,21.906l-18.033-0.4l0.269,3.607l-13.624-0.269v2.806l-4.008,1.336v3.739l-8.415-0.133l0.133-8.684
     l-2.136-1.604l0.4-4.94l-4.541-0.533l-8.014,8.549l-4.275-4.274l-4.541,0.135l0.133,3.205l2.805,0.801l1.603,5.744l-10.419,4.272
     l-8.656-0.379l0.432,43.515l5.908-10.339l35.452,0.492v-4.924l21.665,0.492c0,0-5.416,6.399,19.203,21.172l44.314-30.527
     l-0.302-63.729l-4.299-0.572v-3.195l2.738-2.055l-2.967-4.793l-11.186-0.914v-18.488L102.556,768.077z"/></a><a onclick="district_sembilan('ROMPIN')">
   
     <path id="path8618" sodipodi:nodetypes="cccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M56.052,634.596l-2.611-1.914l-1.916,3.308h-8.879c-6.442-7.138-19.5-9.575-19.5-9.575l-5.049,8.881v2.264h-4.875
     c-3.308-1.395-7.487-10.101-7.487-10.101l3.482-2.959l-2.612-9.229l-4.527,3.309h-5.746l-4.004-2.96l-6.964-0.521l5.223-5.571
     h-4.701l-0.522,1.567h-6.616l-2.786-8.707l-9.854,0.215l-0.804-30.452l43.411-0.494l43.411-0.493l3.494,15.214l-2.021,3.031
     l2.626,2.424l7.879,1.011l2.829-1.414l2.626,2.223l0.403,5.859l10.103,5.455l12.122-0.203l4.443,4.041l-6.667,6.264l-1.615,7.879
     l-7.477,1.01l-2.424,4.646l-4.041,1.213l-4.646,1.414l-1.413-1.818l-6.062,5.656L56.052,634.596z"/></a><a onclick="district_sembilan('RANTAU')">
   
     <path id="path8533" sodipodi:nodetypes="cccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M408.545,692.146l1.082-1.265l4.326-5.051l81.812,3.846l0.07,8.308h4.235l7.528,9.41l11.295-4
     c7.999,12.471,11.999,7.766,11.999,7.766l25.198,0.598l-7.121,20.851l12.813,14.783l-19.71,19.711v28.58l3.94,8.869l-6.404,8.377
     l-29.926,1.719l-14.429-15.428l-6.429-1l-20.429-16l-14-24.431c-3.285-5.428-5.715-0.428-5.715-0.428l-3.57,4.285l-16,8.145
     c-23.571-31.145-25.857-39.287-25.857-39.287l0.144-15l8.285-5v-7.569l-2.57-2.287l0.285-5.713L408.545,692.146z"/></a><a onclick="district_sembilan('REMBAU')">
   
     <path id="path8556" sodipodi:nodetypes="ccccccccccccccccccccccccccssssc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M403.529,834.857c1.667,0.569,3.308,1.131,4.922,1.686c3.229,1.109,6.354,2.189,9.379,3.24
     c12.101,4.205,22.594,7.947,31.694,11.273c18.202,6.651,30.829,11.641,39.575,15.336c17.492,7.393,19.464,9.608,19.464,9.608
     l27.103-26.608l10.841-12.812l-6.897-12.32v-11.334l-29.925,1.72l-14.43-15.429l-6.429-1l-20.429-16l-14-24.428
     c-3.285-5.43-5.714-0.43-5.714-0.43l-3.571,4.285l-16,8.145c-23.571-31.145-25.857-39.287-25.857-39.287l0.144-15l8.286-5v-7.569
     l-2.571-2.287l0.285-5.713l-0.854-2.787l-1.081,1.264l-2.164,2.525l-8.652,10.104l-17.308,20.209l-34.613,40.418l2.831,9.334
     l10.301,0.082l0.202,3.435l4.241,2.223l4.85,0.404l3.839,2.424l0.202,4.041l4.04,0.809c0.022,2.371,2.022,6.229,2.022,6.229
     l8.43,0.287l4.57,5.569l4.571,0.144l-0.143-9l6.143,3l4.571-4.57l9.286,3.144l2.57-3.429l4,3.144l0.144,8.428l4.429,2.715
     l0.286,4.285l-4.571,2.715l2.571,7l-7.429,10.428l-8.571-0.284L403.529,834.857z"/></a><a onclick="district_sembilan('SENAWANG')">
   
     <path id="path8568" sodipodi:nodetypes="scccccccccccccccccccccccccccccccccccccs" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M398.45,833.126c-6.879-2.34-14.186-4.799-21.947-7.387l-32.521,0.986l-17.247,17.246l-32.522,0.491l-29.072-17.246l9.854-11.825
     L256.27,795.68l7.884-10.841c0,0,3.449,7.884,7.885,5.912c0,0,35.972-13.305,71.45,1.972l6.898-7.392l-2.83-9.332l10.301,0.082
     l0.202,3.435l4.241,2.223l4.85,0.404l3.839,2.424l0.202,4.041l4.04,0.809c0.022,2.371,2.022,6.229,2.022,6.229l8.43,0.287
     l4.57,5.569l4.571,0.144l-0.143-9l6.143,3l4.571-4.57l9.286,3.144l2.57-3.431l4,3.146l0.144,8.428l4.429,2.715l0.286,4.285
     l-4.571,2.715l2.571,7l-7.429,10.428l-8.571-0.284l-4.583,5.639C401.863,834.289,400.17,833.713,398.45,833.126L398.45,833.126
     L398.45,833.126z"/></a><a onclick="district_sembilan('JEMPOL')">
   
     <path id="path8650" sodipodi:nodetypes="ccccccccccccccccccccccccsccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M88.348,622.945l1.615-7.879l6.667-6.265l-4.443-4.041l-12.122,0.203l-10.103-5.455l-0.403-5.858l-2.626-2.224l-2.829,1.414
     l-7.879-1.01l-2.626-2.424l2.021-3.031l-3.494-15.214l31.673-64.474l14.982,4.998l18.565,13.608
     c-4.573,25.842,25.073,59.974,23.938,62.105l35.862,0.528c-21.096,35.333-12.657,41.664-12.657,41.664v34.28l-9.648,4.612
     l-8.628-3.528l-8.234,7.06l-12.55-8.234c-1.226-0.246-2.438-0.151-3.619,0.201c-0.592,0.177-1.176,0.418-1.75,0.713
     c0-5.586,0.211-11.646,0.211-11.646l2.223-3.232l-1.011-5.252c-1.414-3.231-8.891-0.403-8.891-0.403l-3.231,0.403l-6.465-6.668
     l-1.414,3.841H96.43l-1.213-1.011l3.232-4.85L88.348,622.945z"/></a><a onclick="district_sembilan('GEMAS')">
   
     <path id="path8781" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M285.921,369.654l-18.327-5.472l-36.652-10.943c-15.294-15.294-27.951-7.911-27.951-7.911l-21.623,7.383l-18.459,10.021
     l-8.438-12.13l-2.108-28.479l-21.623-2.109l-27.951-9.493l-2.109-21.623H86.439l-5.803-6.856h-4.745l-9.979,20.022l3.718,5.031
     c45.644,30.24,31.83,89.437,31.83,89.437l-8.88,8.88v13.813l11.84,2.96c11.839,36.504-10.853,49.331-10.853,49.331l-1.975,17.759
     l-7.382,17.231l14.572,5.181l18.566,13.608c-0.286,1.615-0.438,3.263-0.474,4.933l2.69-0.172l1.735,2.538l6.012-2.404
     l13.355-3.473l4.542,2.671l2.671-0.267l2.404-4.542l5.877-3.606h6.278l2.671-2.271v-1.336l-2.938-0.667
     c3.072-5.076,2.004-9.217,2.004-9.217c-1.068-4.007-7.213-9.884-7.213-9.884c0.804-2.802,2.073-4.197,3.205-6.011
     c5.21-6.411,20.57-6.411,20.57-6.411c0.801,0,3.205,2.137,3.205,2.137l11.354-0.534c3.341-1.469,3.341-5.209,3.341-5.209
     l-0.803-8.014l8.015-10.686l8.549-0.802l6.679,3.473l1.604-2.404v-4.007l2.938-2.404l6.946,0.267l0.267-6.945l5.076-2.671
     l0.801-3.74l-2.404-3.206l-0.134-5.743l3.206,0.133l0.4-2.805h2.004l0.4-2.805l5.075,0.267l3.339-3.206h4.142l6.813,3.74
     l6.679-0.133l3.474,5.476l14.024-0.4l-5.344-16.83v-2.671l6.012-7.346l0.134-11.086l4.407-3.072L285.921,369.654z"/></a><a onclick="district_sembilan('BAHAU')">
   
     <path id="path8843" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M322.574,380.597l-18.327-5.472l-18.326-5.472l5.015,24.292l-4.407,3.072l-0.134,11.086l-6.012,7.346v2.671l5.344,16.83
     l-14.024,0.401l-3.473-5.476l-6.68,0.133l-6.813-3.74h-4.141l-3.34,3.206l-5.075-0.267l-0.4,2.805h-2.004l-0.4,2.805l-3.206-0.134
     l0.135,5.744l2.403,3.206l-0.801,3.74l-5.076,2.671l-0.267,6.945l-6.946-0.267l-2.938,2.404v4.007l-1.604,2.404l-3.339-1.737
     l-1.67-0.868l0.158,32.976l2.834,5.667l4.722-0.944l1.512-0.756c1.134,3.022-0.565,19.457-0.565,19.457
     c-0.313,1.771-2.582,3.774-2.582,3.774c-3.206,1.87-5.209,3.339-5.209,3.339c-2.404,2.003,0.399,6.01,0.399,6.01
     c3.874,3.339,10.078,14.282,10.078,14.282h7.457c3.602-3.857,9.517,0.514,9.517,0.514c2.313,3.343,8.742,1.286,8.742,1.286
     l7.457-10.029h6.943c5.4,6.943,13.63,2.057,13.63,2.057l7.972,0.771l-5.143-6.686v-5.658h8.229v-4.886l7.458-6.943l4.214-5.412
     l3.205-1.87l54.764-3.206l-6.945-6.946l-0.268-7.747c0-2.671-0.801-6.011-0.801-6.011l-2.673-6.144l-0.134-7.881l4.81-12.021
     l-4.676-5.343l-0.802-6.144l-5.743-4.675l0.803-5.877l-3.606-6.011l0.534-6.411l-6.679-1.336l-2.673-4.541l4.274-6.946
     l-5.877-11.487l-3.473,1.068l-4.541-3.74C321.923,393.279,322.574,380.597,322.574,380.597L322.574,380.597z"/></a><a onclick="district_sembilan('GEMENCHEH')">
   
     <path id="path8880" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M322.574,380.597c0,0-0.65,12.681,0.818,17.891l4.541,3.739l3.474-1.067l5.876,11.486l-4.274,6.945l2.673,4.542l6.678,1.336
     l-0.534,6.411l3.607,6.011l-0.802,5.876l5.742,4.675l0.801,6.144l4.677,5.344l-4.81,12.021l0.133,7.881l2.673,6.144
     c0,0,0.802,3.339,0.802,6.011l0.268,7.747l6.945,6.945l-54.765,3.206l-3.204,1.871l-4.214,5.411
     c8.552,1.85,7.879,11.263,7.879,11.263c5.042,0.336,7.73,0.336,7.73,0.336l-1.008-3.698l9.749,2.689v-2.016l37.309,6.05
     c10.421,1.345,16.474-5.378,16.474-5.378c7.059,0.336,9.746,0.336,9.746,0.336c2.018,3.025,8.066-0.336,8.066-0.336
     c9.076-0.672,17.145,6.05,17.145,6.05c9.412,2.353,15.125-1.008,15.125-1.008v-5.378l3.026-1.345v-7.394l15.461-0.673
     c1.345-6.387,4.706-11.764,4.706-11.764c0.336-7.731-0.336-10.756-0.336-10.756c0-2.017-6.05-3.361-6.05-3.361l-0.336-6.723
     l-2.689-1.682l-0.338-4.033l-2.352-1.681l1.327-12.673l-62.761-66.978L340.9,386.069L322.574,380.597z"/></a><a onclick="district_sembilan('BANDAR KIKIR')">
   
     <path id="path9090" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M53.092,650.441c0.697-7.313,2.96-15.845,2.96-15.845l-2.611-1.914l-1.916,3.308h-8.879c-6.442-7.138-19.5-9.575-19.5-9.575
     l-5.049,8.881v2.264h-4.875c-3.308-1.395-7.487-10.101-7.487-10.101l3.482-2.959l-2.612-9.229l-4.527,3.309h-5.746l-4.004-2.96
     l-6.964-0.521l5.223-5.571h-4.701l-0.522,1.567h-6.616l-2.786-8.707h-9.925l1.386,65.025l11.185,0.229l9.815,27.62v8.901
     l21.457-0.457l5.407-20.551l22.752-0.397l-0.13-25.34l6.611-0.379l-0.567-6.232L53.092,650.441z"/></a><a onclick="district_sembilan('SUNGAI GADUT')">
   
     <path id="path9444" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M210.272,726.548l-5.001,2.838l2.078,6.046l-0.377,8.879l-4.912,5.477l1.889,4.535l-2.644,4.156l-2.836,0.188l-1.889,3.777
     l3.778,4.156v3.211l3.589,2.077l-4.911,6.802l-3.589,1.698l0.378,4.91l-7.367,8.879l1.7,1.513v5.854l-4.722,2.269
     c0,0-6.045-1.701-9.257-1.513c0,0-2.833,3.4,0.379,5.857l-0.379,6.609l-21.534,5.102l-1.134-3.59l-3.319,0.02l-0.081,46.316
     l1.553,4.043l7.877,8.861l9.846-25.599h15.754l0.984-7.877h37.413l24.614-23.629l16.248,10.016l10.592-13.038l-18.725-19.712
     l7.885-10.84c0,0-1.617-6.026-4.449-8.346l-10.556-3.861l-0.258-5.922l-2.575-6.18l1.545-3.349l-0.514-3.86l-5.666,0.514
     l-5.664-10.555l3.091-3.605l-3.604-2.573l-1.028,2.317l-10.043-0.516l-5.148-10.558L210.272,726.548z"/></a><a onclick="district_sembilan('JELEBU')">
   
     <path id="path8807" sodipodi:nodetypes="ccccccccccccccccccccccccsssccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M227.416,546.74c0,0-5.657,9.258-8.229-0.257l-8.229,3.343l-8.485,8.229c0,0-5.657-0.257-7.716,2.829l0.257,6.943
     c0,0-10.028,4.115-6.876,13.313c0,0-7.271,2.182-10.99,6.786l-35.862-0.527c0.568-1.065-6.56-10.131-13.257-22.161
     c-3.351-6.015-6.591-12.771-8.709-19.638c-1.061-3.434-1.838-6.895-2.209-10.306c-0.187-1.706-0.27-3.398-0.234-5.068l2.69-0.173
     l1.735,2.538l6.012-2.404l13.355-3.473l4.542,2.671l2.671-0.267l2.404-4.542l5.877-3.606h6.278l2.671-2.271v-1.336l-2.938-0.668
     c3.072-5.076,2.004-9.216,2.004-9.216c-1.068-4.007-7.213-9.884-7.213-9.884c0.804-2.802,2.073-4.197,3.205-6.011
     c5.21-6.411,20.57-6.411,20.57-6.411c0.801,0,3.205,2.137,3.205,2.137l11.354-0.534c3.341-1.469,3.341-5.209,3.341-5.209
     l-0.803-8.015l8.016-10.686l8.548-0.801l1.67,0.868l0.158,32.976l2.834,5.667l4.723-0.944l1.511-0.756
     c1.134,3.022-0.565,19.456-0.565,19.456c-0.313,1.771-2.582,3.774-2.582,3.774c-3.205,1.87-5.209,3.339-5.209,3.339
     c-2.404,2.003,0.399,6.01,0.399,6.01C221.212,535.797,227.416,546.74,227.416,546.74L227.416,546.74z"/></a><a onclick="district_sembilan('SEREMBAN')">
   
     <path id="path9028" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccscccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M343.295,666.027l-0.669,4.676h-4.007l-2.27-2.538l-17.898,1.87l-0.135,9.75l-4.006,2.139l-2.405,4.406l-6.011,3.207l-1.201-2.938
     h-7.349l-1.469-4.941l-1.47-1.201l-2.671,0.666l-25.11,16.029l-4.542-6.545l-15.094,16.162l-3.34-4.009l-5.743,5.345l-0.8,4.807
     l-4.142-0.934v24.041l1.509,3.403l1.028-2.317l3.604,2.573l-3.091,3.605l5.664,10.555l5.666-0.514l0.514,3.861l-1.545,3.348
     l2.575,6.18l0.258,5.922l10.556,3.861c2.832,2.318,4.449,8.346,4.449,8.346s3.449,7.884,7.884,5.912
     c0,0,35.971-13.305,71.45,1.972l6.897-7.392l-5.66-18.666l15.28-17.676l-0.172-30.566l-10.376-0.334
     c7.028-2.008,10.376-7.028,10.376-7.028c-3.682-4.353,1.339-10.377,1.339-10.377c6.36,0.67,3.683-11.045,3.683-11.045v-9.373
     c0-3.347,8.703-3.683,8.703-3.683l1.674-3.515l-13.906-6.375l-4.007,4.141l-9.217,0.399L343.295,666.027z"/></a><a onclick="district_sembilan('MANTIN')">
   <path fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M324.395,574.537
     c-0.46,2.469-0.544,5.481,0.962,7.657c0,0-3.683,5.02-4.018,9.037l10.377,0.335l5.69,6.024l-1.674,1.004l12.05,16.736
     c0,0,4.687,0,6.025,1.005l1.339,12.05l3.682-1.004l0.335,6.024l12.385-0.67v-9.707l8.033,0.335l4.018,0.167l-0.769-4.787
     l6.945,1.47l1.469-3.473l5.21,1.335l4.407,1.336l4.408-4.272l-4.007-4.543l3.473-5.343v-4.94l-3.34,0.267l-0.133-5.877h0.001
     l3.605-4.408l25.646-0.802c4.008,8.148,9.351,6.412,9.351,6.412c2.271-0.268,4.941-2.404,4.941-2.404l20.837,16.162l7.612-11.889
     l5.345,0.268l5.877,0.268l11.22-6.145l-0.534-15.895h28.852l1.295-59.626l-9.443-5.851l-75.554-46.804l-1.327,12.673l2.353,1.681
     l0.336,4.034l2.689,1.681l0.336,6.723c0,0,6.051,1.344,6.051,3.361c0,0,0.672,3.025,0.336,10.756c0,0-3.36,5.378-4.706,11.765
     l-15.462,0.672v7.396l-3.024,1.345v5.378c0,0-5.714,3.361-15.126,1.009c0,0-8.067-6.723-17.144-6.051c0,0-6.051,3.361-8.066,0.336
     c0,0-2.689,0-9.748-0.336c0,0-6.052,6.723-16.472,5.378l-37.311-6.05v2.017l-9.748-2.689l1.008,3.697c0,0-2.688,0-7.729-0.336
     c0,0,0.672-9.412-7.882-11.261l-7.457,6.943v4.886h-8.229v5.658l5.144,6.686c0,0,10.115,7.715,11.454,16.083h6.694
     c0,0-0.669,4.352,2.678,6.36h5.021l5.689,4.686h3.014l2.008,1.674c0,0-0.209,0.481-0.477,1.271
     c-0.134,0.395-0.28,0.867-0.425,1.395"/></a><a onclick="district_sembilan('KUALA PILAH')">
   
     <path id="path8933" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M224.265,550.179c-1.735,1.125-3.793,1.061-5.079-3.697l-8.229,3.343l-8.485,8.229c0,0-5.657-0.257-7.716,2.829l0.258,6.943
     c0,0-10.029,4.115-6.876,13.313c0,0-7.272,2.182-10.991,6.787c-21.096,35.334-12.657,41.665-12.657,41.665l-0.086,34.027
     l-2.962,1.76l-2.73,5.071l0.392,7.413l-2.342,2.34v5.461l4.682,5.072l3.121-2.73c1.939,3.013,2.713,6.615,2.713,6.615h1.03
     l4.118-4.633l3.348,2.574l4.119-6.181l-0.258-6.18l4.377-0.771l2.317-5.922h3.347l0.516,3.86h9.012
     c1.029,3.349,6.694-0.256,6.694-0.256l2.832,3.088v12.875h-5.149c0.257,5.148,0.257,4.892,0.257,4.892
     c-1.287,10.299,0,13.903,0,13.903c2.062,3.861-1.028,7.465-1.028,7.465l7.466,7.209l9.012,1.804l5.149,10.557l10.041,0.516
     l-1.509-3.401v-24.043l4.142,0.936l0.802-4.809l5.743-5.345l-4.141-7.346l10.552-7.08l4.541-5.477l3.071-0.267l7.747-4.809v-1.336
     l-2.938-2.538l0.134-17.23l-14.023-3.605l-1.069-4.273l5.343-8.815h5.878l1.335-3.474l-6.411-5.076l0.534-8.814l-1.068-1.604
     l-8.28,0.802l-2.404-4.007l4.541-1.068l1.604-1.335l-2.938-6.681l6.678-1.602c2.139-1.203,3.34-5.878,3.34-5.878l-1.47-3.206
     v-9.615l-3.072-5.077h-6.545l-3.339-3.473l-4.141,0.267v-3.339l-5.478-6.679l0.135-4.809c-1.736-4.675-5.209-9.216-5.209-9.216
     l-2.538-1.87L224.265,550.179z"/></a><a onclick="district_sembilan('NILAI')">
   
     <path id="path9530" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M530.892,711.159c0,0-4,4.705-11.999-7.766l-11.294,4l-7.529-9.41h-4.235l-0.07-8.307l-81.812-3.847l-34.613,40.418l-19.332,22.74
     l-0.173-30.564l-10.377-0.334c7.029-2.008,10.377-7.028,10.377-7.028c-3.683-4.353,1.339-10.377,1.339-10.377
     c6.359,0.67,3.683-11.045,3.683-11.045v-9.373c0-3.349,8.703-3.683,8.703-3.683l3.347-7.028h3.013l7.698-6.025
     c-2.982-1.969,1.62-4.336,6.025-6.693l-3.683-13.391l4.353-2.342v-3.014l-4.018-2.008v-5.69l-2.679-6.694l-4.017-0.168
     l-0.77-4.787l6.945,1.471l1.469-3.474l5.21,1.335l4.407,1.336l4.408-4.273l-4.007-4.541l3.473-5.344v-4.94l-3.339,0.267
     l-0.134-5.877l3.605-4.406l25.645-0.804c4.009,8.148,9.352,6.412,9.352,6.412c2.271-0.269,4.941-2.403,4.941-2.403l20.837,16.161
     l7.613-11.888l5.344,0.268l0.935,2.537l7.881,8.147l0.268,16.696l12.688,10.687l0.134,9.216l7.747-11.087l3.339-1.067
     l14.692,28.184l-0.267,18.566l2.537,2.403l4.273,2.138l-4.141,7.213L530.892,711.159z"/></a><a onclick="district_sembilan('LINGGI')">
   <path fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M394.311,638.091l-4.018-2.008v-5.689
     l-2.679-6.694l-16.066-0.67v9.707l-12.385,0.67l-0.335-6.024l-3.682,1.004l-0.669-6.024v-0.001l-0.669-6.023
     c-1.34-1.006-6.025-1.006-6.025-1.006l-12.05-16.736l1.674-1.004l-5.69-6.024l-10.377-0.335c0.335-4.017,4.018-9.037,4.018-9.037
     c-3.012-4.352,0.335-12.05,0.335-12.05l-2.008-1.674h-3.014l-5.689-4.686h-5.021c-3.348-2.008-2.679-6.36-2.679-6.36h-6.694
     c-1.339-8.368-11.454-16.083-11.454-16.083l-7.972-0.771c0,0-8.229,4.886-13.63-2.057h-6.943l-7.457,10.029
     c0,0-6.429,2.058-8.742-1.286c0,0-5.915-4.372-9.517-0.514h-7.457c0,0-1.414,2.314-3.149,3.439l-0.249,4.05l2.538,1.87
     c0,0,3.473,4.542,5.209,9.216l-0.135,4.809l5.478,6.678v3.339l4.141-0.267l3.339,3.473h6.545l3.072,5.076v9.616l1.47,3.206
     c0,0-1.202,4.676-3.34,5.877l-6.679,1.604l2.938,6.679l-1.604,1.336l-4.541,1.068l2.404,4.007l8.28-0.801l1.068,1.603
     l-0.534,8.815l6.41,5.076l-1.334,3.471h-5.878l-5.343,8.814l1.069,4.274l14.023,3.604l-0.134,17.23l2.938,2.539v1.336
     l-7.747,4.809l-3.071,0.267l-4.541,5.477l-10.553,7.08l4.142,7.346l3.339,4.009l15.094-16.162l4.541,6.545l25.111-16.029
     l2.671-0.668l0.003,0.002l1.47,1.203l1.471,4.941h7.346l1.202,2.938l6.011-3.207l2.404-4.406l4.007-2.139l0.134-9.75l17.898-1.869
     l2.271,2.537h4.007l0.668-4.675l4.81,5.21l9.217-0.401l4.007-4.141l13.902,6.375l1.674-3.516h3.013l7.698-6.024
     c-2.982-1.97,1.62-4.336,6.025-6.694l-3.683-13.39l4.353-2.342V638.091z"/></a><a onclick="district_sembilan('TAMPIN')">
   
     <path id="path9410" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
     M210.271,726.546l-7.466-7.209c0,0,3.09-3.604,1.028-7.467c0,0-1.287-3.604,0-13.901c0,0,0,0.258-0.257-4.894h5.149v-12.873
     l-2.832-3.09c0,0-5.665,3.605-6.694,0.258h-9.012l-0.516-3.861h-3.347l-2.317,5.923l-4.377,0.771l0.258,6.18l-4.119,6.181
     l-3.348-2.574l-4.119,4.633h-1.029c0,0-0.772-3.604-2.713-6.615l-3.121,2.73l-8.751,8.551l-1.87,5.076l-4.81,3.072
     c0,0-2.137,3.873-2.403,6.01l-0.268,19.234l4.273,0.801l-0.268,35.264l-12.834,0.021v18.487l11.186,0.914l2.968,4.793
     l-2.739,2.056v3.194l4.301,0.572l-0.058,17.517l3.345-0.019l1.134,3.588l21.534-5.1l0.378-6.611
     c-3.212-2.455-0.378-5.854-0.378-5.854c3.212-0.189,9.256,1.512,9.256,1.512l4.723-2.268v-5.855l-1.7-1.512l7.367-8.877
     l-0.378-4.912l3.589-1.699l4.911-6.801l-3.589-2.078V766.6l-3.777-4.156l1.89-3.777l2.832-0.188l2.646-4.156l-1.889-4.533
     l4.911-5.477l0.378-8.879l-2.078-6.045L210.271,726.546z"/></a><a onclick="district_sembilan('BANDAR SRI SENDAYAN')">
   <path fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M-17.006,775.295l-0.123,3.879
     l-0.247,7.755l-0.492,15.51l17.233,0.986h0.002l24.125,32.985l0.062,6.217l8.656,0.379l10.418-4.272l-1.603-5.744l-2.805-0.801
     l-0.133-3.207l4.541-0.133l4.274,4.272l8.014-8.547l4.542,0.533l-0.401,4.94l2.137,1.604l-0.134,8.682l8.416,0.136v-3.74
     l4.007-1.336v-2.806l13.624,0.269l-0.268-3.607l18.031,0.4l0.535-21.904l-3.206-4.408l-2.938,1.47l-2.938-2.537l-3.072-0.269
     l0.4-13.381h14.609l0.229-8.217l5.707,0.229l-3.652-7.989l-5.021-0.228l-2.967-4.338l14.378,0.342l-0.843-10.365h5.344
     l-0.269-8.814h-4.007l-1.068-9.617l2.672-1.604l-4.008-10.951l-2.938,2.137l-2.672-10.686l-7.213-0.535l-0.353-10.719
     c-3.178,0.5-7.574,0.719-12.449-0.414v-3.83l-5.744-0.174v4.352l-5.433-0.338v5.83l-6.387-0.797l-3.991-5.59
     c0,0-2.394,0-8.382,4.791l-6.387-0.799c0,0,0,0.397-0.399-5.589l-9.181-0.399c0,0-1.197-8.781-8.781-10.775l3.592-5.188v-5.589
     l-22.752,0.398l-5.408,20.551v0.002l-21.457,0.457v-8.901l-9.815-27.62l-11.185-0.229l-0.146,15.237l-12.826,29.6l10.853,9.865
     l-10.853,1.973l-5.919,21.707l-8.88-0.987l-11.502,12.862c0,0,18.524,4.164,29.856-9.395l25.112,23.143l0.001-0.001l-0.123,3.877"
     /></a><a onclick="district_sembilan('BANDAR ENSTEK')">
   <path fill="#F4A7DE" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M156.76,685.664v-5.461l2.341-2.342
     l-0.391-7.412l2.73-5.071l-1.776,0.801l-4.824,2.307l-8.628-3.529l-8.234,7.059l-12.55-8.233c-9.046-1.81-5.942,1.208-5.368,0.912
     c0-5.585,0.211-11.646,0.211-11.646l2.223-3.232l-1.011-5.252c-1.414-3.232-8.891-0.404-8.891-0.404l-3.231,0.404l-6.465-6.668
     l-1.414,3.84H96.43c0,0-0.008,0.025-0.02,0.063c0.012-0.038,0.02-0.063,0.02-0.063l-1.214-1.013l3.233-4.848l-10.101-12.929
     l-1.309,5.524l1.308-5.524l-7.477,1.01l-2.424,4.646l-4.041,1.214l-4.646,1.414l-1.413-1.818l-6.062,5.656l-6.235-0.47
     c0,0-2.263,8.53-2.96,15.844H53.09l-9.137,0.365l0.567,6.232l-6.611,0.378l0.065,17.469v0.002l0.065,7.871v5.588l-3.593,5.189
     c7.584,1.994,8.782,10.777,8.782,10.777l9.181,0.397c0.399,5.986,0.399,5.588,0.399,5.588l6.387,0.799
     c5.987-4.791,8.382-4.791,8.382-4.791l3.991,5.591l6.387,0.797v-5.83l5.433,0.338v-4.352l5.744,0.174v3.83
     c4.875,1.133,9.271,0.914,12.449,0.414c2.022-0.319,2.021-0.317,0,0.001l0.353,10.719l7.213,0.535l2.672,10.686l2.938-2.137
     l4.007,10.951l-2.671,1.604l1.068,9.617h4.007l0.269,8.816h-5.344l0.843,10.36l17.578,0.345l12.834-0.021l0.268-35.264
     l-4.273-0.802l0.268-19.233c0.268-2.137,2.403-6.01,2.403-6.01l4.81-3.072l1.87-5.076l8.75-8.551L156.76,685.664z"/></a>
   <text transform="matrix(1 0 0 1 142.1121 416.2859)" font-family="'MyriadPro-Regular'" font-size="14">Gemas</text>
   <text transform="matrix(1 0 0 1 265.4236 475.2859)" font-family="'MyriadPro-Regular'" font-size="14">Bahau</text>
   <text transform="matrix(1 0 0 1 156.7605 538.5129)" font-family="'MyriadPro-Regular'" font-size="14">Jelebu</text>
   <text transform="matrix(1 0 0 1 175.7605 634.2351)" font-family="'MyriadPro-Regular'" font-size="14">Kuala Pilah</text>
   <text transform="matrix(1 0 0 1 273.4236 613.2)" font-family="'MyriadPro-Regular'" font-size="14">Linggi</text>
   <text transform="matrix(1 0 0 1 408.2537 570.1624)" font-family="'MyriadPro-Regular'" font-size="14">Mantin</text>
   <text transform="matrix(1 0 0 1 361.1727 489.408)" font-family="'MyriadPro-Regular'" font-size="14">Gemencheh</text>
   <text transform="matrix(1 0 0 1 276.2537 734.6863)" font-family="'MyriadPro-Regular'" font-size="14">Seremban</text>
   <text transform="matrix(1 0 0 1 413.2703 665.0281)" font-family="'MyriadPro-Regular'" font-size="14">Nilai</text>
   <text transform="matrix(1.0108 0 0 1 509.2703 614.0701)" font-family="'MyriadPro-Regular'" font-size="13.8504">Port Dickson</text>
   <text transform="matrix(1 0 0 1 104.6307 609.3601)" font-family="'MyriadPro-Regular'" font-size="14">Jempol</text>
   <text transform="matrix(1 0 0 1 1.1321 605.1082)" font-family="'MyriadPro-Regular'" font-size="14">Rompin</text>
   <text transform="matrix(1 0 0 1 -22.8679 660.2761)" font-family="'MyriadPro-Regular'" font-size="14">Batu Kikir</text>
   <text transform="matrix(1 0 0 1 56.4871 687.7546)" font-family="'MyriadPro-Regular'" font-size="14">Bandar Enstek</text>
   <text transform="matrix(1 0 0 1 153.1121 749.239)" font-family="'MyriadPro-Regular'" font-size="14">Tampin</text>
   <text transform="matrix(1 0 0 1 441.1424 819.866)" font-family="'MyriadPro-Regular'" font-size="14">Rembau</text>
   <text transform="matrix(1 0 0 1 474.1424 742.4324)" font-family="'MyriadPro-Regular'" font-size="14">Rantau</text>
   <text transform="matrix(1 0 0 1 73.657 859.4324)" font-family="'MyriadPro-Regular'" font-size="14">Labu</text>
   <text transform="matrix(1 0 0 1 200.24 801.2312)"><tspan x="0" y="0" font-family="'MyriadPro-Regular'" font-size="14">Sungai </tspan><tspan x="0" y="16.799" font-family="'MyriadPro-Regular'" font-size="14">Gadut</tspan></text>
   <text transform="matrix(1 0 0 1 296.4715 813.6472)" font-family="'MyriadPro-Regular'" font-size="14">Senawang</text>
   <text transform="matrix(1.1467 0 0 1 -16.8679 761.6902)" font-family="'MyriadPro-Regular'" font-size="12.209">Bandar Sri Sendayan</text>
 </g>
</g>
</svg>
    <div class="icon_Temerloh map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Raub map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Lipis map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Jerantut map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Kuantan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Rompin map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bera map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bentong map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Pekan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Maran map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
  </div>
</div>
</div>

<script>
function districtsembilan_map(dist){
$('#state-select').val(dist)
$('#divsembilanheader')[0].innerHTML=dist;
$("#divtotal_malaysialist").hide();
$('#div_sembilan_states').show()
$.ajax({
url: "/dashboards/districts/" + dist,
dataType: "json",
success:function(data){

$('#divnoofsembilandoctors')[0].innerHTML=data.noofdoctors
$('#divnoofsembilanxray')[0].innerHTML=data.noofxray
$('#divnoofsembilanlab')[0].innerHTML=data.nooflab
$('#divnoofsembilanemployer')[0].innerHTML=data.empcount
$('#divnoofsembilanfw')[0].innerHTML=data.fwcount
$('#divdetectablediseasesembilan')[0].innerHTML=data.detectdisease
$('#commdiseasessembilan')[0].innerHTML=data.commcount
$('#noncommdiseasessembilan')[0].innerHTML=data.noncommcount
$('#divsembilantuberculosis')[0].innerHTML=data.tuberculosis
$('#divsembilanhepatisis')[0].innerHTML=data.hepatisis
$('#divsembilansyphilis')[0].innerHTML=data.syphilis
$('#divsembilanhiv')[0].innerHTML=data.hiv
$('#divsembilanmalaria')[0].innerHTML=data.malaria
$('#divsembilanleprosy')[0].innerHTML=data.leporacy

$('#divsembilanpreg')[0].innerHTML=data.pregnancy
$('#divsembilanurine')[0].innerHTML=data.urine
$('#divsembilancannabis')[0].innerHTML=data.cannabis
$('#divsembilanillness')[0].innerHTML=data.illness
$('#divsembilanepilepsy')[0].innerHTML=data.epilsey
$('#divsembilancancer')[0].innerHTML=data.cancer
$('#divsembilanhyper')[0].innerHTML=data.hypertension
$('#divsembilandiabetes')[0].innerHTML=data.diabetes
$('#divsembilankidney')[0].innerHTML=data.kidney
$('#divsembilanheart')[0].innerHTML=data.heart
$('#divsembilanulcer')[0].innerHTML=data.ulcer
$('#divsembilanasthama')[0].innerHTML=data.asthama
$('#divsembilanothers')[0].innerHTML=data.others
}
})

}
function district_sembilan(dist){   
$('#district-select option:selected').text(dist)  
$('#divsembilanheader')[0].innerHTML=dist;
$.ajax({
url: "/dashboards/districtname/" + dist,
dataType: "json",
success:function(data){

$('#divnoofsembilandoctors')[0].innerHTML=data.noofdoctors
$('#divnoofsembilanxray')[0].innerHTML=data.noofxray
$('#divnoofsembilanlab')[0].innerHTML=data.nooflab
$('#divnoofsembilanemployer')[0].innerHTML=data.empcount
$('#divnoofsembilanfw')[0].innerHTML=data.fwcount
$('#divdetectablediseasesembilan')[0].innerHTML=data.detectdisease
$('#commdiseasessembilan')[0].innerHTML=data.commcount
$('#noncommdiseasessembilan')[0].innerHTML=data.noncommcount
$('#divsembilantuberculosis')[0].innerHTML=data.tuberculosis
$('#divsembilanhepatisis')[0].innerHTML=data.hepatisis
$('#divsembilansyphilis')[0].innerHTML=data.syphilis
$('#divsembilanhiv')[0].innerHTML=data.hiv
$('#divsembilanmalaria')[0].innerHTML=data.malaria
$('#divsembilanleprosy')[0].innerHTML=data.leporacy

$('#divsembilanpreg')[0].innerHTML=data.pregnancy
$('#divsembilanurine')[0].innerHTML=data.urine
$('#divsembilancannabis')[0].innerHTML=data.cannabis
$('#divsembilanillness')[0].innerHTML=data.illness
$('#divsembilanepilepsy')[0].innerHTML=data.epilsey
$('#divsembilancancer')[0].innerHTML=data.cancer
$('#divsembilanhyper')[0].innerHTML=data.hypertension
$('#divsembilandiabetes')[0].innerHTML=data.diabetes
$('#divsembilankidney')[0].innerHTML=data.kidney
$('#divsembilanheart')[0].innerHTML=data.heart
$('#divsembilanulcer')[0].innerHTML=data.ulcer
$('#divsembilanasthama')[0].innerHTML=data.asthama
$('#divsembilanothers')[0].innerHTML=data.others
}
})
}
function closesembilanicon(){
$("#divtotal_malaysialist").show();
$('#div_sembilan_states').hide()
clearvalues();
}
</script>