<div id="div_selangor_states" class="pahan svg-content" style="display: none;">
<div class="map-title" style="z-index: 100;"> SELANGOR </div>
<div class="text-info1"><a onclick="closeselangoricon()">
  <i class="fa fa-close close-btn" id="divtotal_malaysiabtn_johor"></i></a>
  <div class="statediv" id="sabah_district14">
    <div id="myRadioGroup" class="submap-title">
      <h1><div id="divselangorheader"></div> </h1>
      <div class="box div_Pekan div_statesvg">
        <ul>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Doctors
            </div>
            <div id="divnoofselangordoctors"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i>Number of X-ray
            </div>
            <div id="divnoofselangorxray"></div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Lab
            </div>
            <div id="divnoofselangorlab"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Employer
            </div>
            <div id="divnoofselangoremployer">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of FW
            </div>
            <div id="divnoofselangorfw">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
            </div>
            <div id="divdetectablediseaseselangor"> </div>
          </li>
          <li class="p-0">
            <div id="accordion3" style="width: 100%!important;float:left">
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseOne16"> Communicable Diseases <span><div id="commdiseasesselangor"></div>  </span>
                  </a>
                </div>
                <div id="collapseOne16" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i>Tuberculosis
                          </div>
                          <div id="divselangortuberculosis">  </div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Hepatitis B
                          </div>
                          <div id="divselangorhepatisis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Syphilis
                          </div>
                          <div id="divselangorsyphilis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> HIV/AIDS
                          </div>
                          <div id="divselangorhiv"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Malaria
                          </div>
                          <div id="divselangormalaria"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Leprosy
                          </div>
                          <div id="divselangorleprosy"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="collapsed card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseTwo17"> Non-Communicable Diseases <span><div id="noncommdiseasesselangor"></div> </span>
                  </a>
                </div>
                <div id="collapseTwo17" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i>Pregnancy
                          </div>
                          <div id="divselangorpreg"> </div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Opiates
                          </div>
                          <div id="divselangorurine"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Cannabis
                          </div>
                          <div id="divselangorcannabis"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Psychiatric Illness
                          </div>
                          <div id="divselangorillness"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Epilepsy
                          </div>
                          <div id="divselangorepilepsy"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Cancer
                          </div>
                           <div id="divselangorcancer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Hypertension
                          </div>
                           <div id="divselangorhyper"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Diabetes
                          </div>
                          <div id="divselangordiabetes"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Kidney Disease
                          </div>
                           <div id="divselangorkidney"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Heart Disease
                          </div>
                           <div id="divselangorheart"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Peptic Ulcer
                          </div>
                           <div id="divselangorulcer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Bronchial Asthma
                          </div>
                           <div id="divselangorasthama"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Others
                          </div>
                           <div id="divselangorothers"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="svg-map">
  <div class="sub-map">
  <svg version="1.1" id="svg5563" inkscape:version="0.91 r13725" sodipodi:docname="selangor parlimen.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-210 0 1254 579" enable-background="new -210 0 1254 579" xml:space="preserve">
  <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg5563" inkscape:version="0.91 r13725" sodipodi:docname="selangor parlimen.svg" x="0px" y="0px" viewBox="-210 0 1604 689" enable-background="new -550 0 904 249" xml:space="preserve">

    <sodipodi:namedview  id="base" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:document-units="px" inkscape:current-layer="layer1" inkscape:window-width="1280" inkscape:window-height="740" inkscape:window-x="-4" inkscape:window-y="-4" inkscape:snap-nodes="false" inkscape:guide-bbox="true" fit-margin-right="0" fit-margin-bottom="0" showguides="true" pagecolor="#ffffff" bordercolor="#666666" showgrid="false" fit-margin-top="0" borderopacity="1.0" fit-margin-left="0" inkscape:zoom="0.83128998" inkscape:cx="403.28349" inkscape:cy="452.00091" inkscape:window-maximized="1">
      <inkscape:grid  originx="-8.4775725e-010" id="grid6513" type="xygrid" originy="-5.0740508e-005"></inkscape:grid>
    </sodipodi:namedview>
    <g id="layer1" transform="translate(0,-328.15821)" inkscape:groupmode="layer" inkscape:label="Layer 1">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M186.611,469.277l-1.023,0.393
    c0,0.456,0.01,0.907,0.036,1.349C185.806,470.401,186.279,469.857,186.611,469.277z"/>
      <a onclick="district_selangor('KUALA LANGAT')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M320.484,508.814l3.592-13.171
    l-14.769-1.197v3.991h-7.583l-1.597-4.789h-4.789l-49.165-47.239l-54.331,20.859c8.751,0.605,17.417,5.043,14.911,15.071v-1
    c-5,18,13,24,21,37c-4,2-10,0-11,1c-3.733,8.711,0.277,16.261,4.803,23.854l9.644,0.927l-0.2,3l6.8,2.2l0.2,4.6l4.4,1.8l0.4-3
    c0,0,8-2.2,13.4-2c0,0,7.599-9.4,11.399-9.2h6.4l0.6,3.2l6.4-2.6l-1.8-5.2l8.399-3.6l2.601,5l6.8-2.2l4.6,1.8l3.4-0.4
    c0,0-2.6-4-2.877-4.362l5.987,0.399c0,0,7.184-9.578,9.179-16.762l-3.192-3.193l1.995-4.789H320.484z"/></a>
      <a onclick="district_selangor('BATU CAVES')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M216.754,519.34c1-1,7,1,11-1
    c-8-13-26-19-21-37v1c2.507-10.028-6.159-14.466-14.911-15.071l-5.232,2.009c-0.332,0.58-0.805,1.124-0.987,1.741
    c0.027,0.45,0.068,0.892,0.13,1.321c-0.246-0.491-0.248-0.921-0.13-1.321c-0.026-0.441-0.037-0.893-0.036-1.349l-16.887,6.483
    c0,0-0.986,0-2.466-0.493c0,0-4.44,5.179-6.906,7.399l-25.333,13.425l12.005,23.237c0,0,26.4,21.8,25.8,45.6c0,0,12.2,3.8,20.4-3
    c0,0,6.4-14.2,10,3.6c0,0,5.4,4.4,5.6-2.2c0,0-5.2-6.2-2.6-8l0.2-3.6l1-1.4l5.2,4.2l2-5.2h1.8v-6l3.6,2.6l1.8-3.2l0.756,0.073
    C217.031,535.601,213.021,528.051,216.754,519.34z"/></a>
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M185.754,472.34
    c-0.062-0.43-0.103-0.871-0.13-1.321C185.506,471.419,185.508,471.849,185.754,472.34z"/>
      <a onclick="district_selangor('PETALING JAYA')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M174.754,418.34
    c-0.98-7.353-2.92-14.224-4.645-21.086l-2.037,2.8l-5.454-8.897l-17.683-0.583c-2.781,19.31-3.987,38.977-14.182,55.768
    c-3.685,6.365-8.721,11.49-14.573,15.574l17.814,34.57l25.333-13.425c2.467-2.22,6.906-7.399,6.906-7.399
    c1.48,0.493,2.466,0.493,2.466,0.493l5.572-2.139C172.673,454.709,178.478,436.958,174.754,418.34z"/></a>
      <a onclick="district_selangor('SELAYANG')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M130.754,446.34
    c10.194-16.791,11.401-36.458,14.182-55.768l-8.44-0.278l-2.583-9.76l-8.368,1.679l-3.895,5.269h-8.018l-6.415,5.04l2.749,4.353
    l-16.037,20.618l-10.767-9.622L73.38,419.54c2.534,0.692,6.853,3.057,9.652,4.448c11.196,5.561,23.611,14.676,28.491,28.885
    l4.659,9.041C122.033,457.83,127.069,452.705,130.754,446.34z"/></a>
      <a onclick="district_selangor('BALAKONG')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M212.754,452.34c1,0,2,0,3,0c0-3-5-4-3-7
    c4-4,5-10,3-14c-1,0-2-1-4-1c4.879-3.485,5.379-7.458,3.884-11.914h-7.377l-8.038-2.871l-1.148-16.362l-13.779,3.731
    l-10.334-12.343l-4.853,6.672c1.725,6.862,3.665,13.734,4.645,21.086c3.724,18.618-2.081,36.369-0.481,55.674l43.782-16.809
    C216.048,455.987,214.245,454.39,212.754,452.34z"/></a>
      <a onclick="district_selangor('BATANG KALI')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M245.471,428.707l-2.827-4.946
    l3.533-3.533l-0.894-24.545h-2.826l-1.184,12.409l-23.539,10.334h-2.096c1.495,4.457,0.995,8.429-3.884,11.914c2,0,3,1,4,1
    c2,4,1,10-3,14c-2,3,3,4,3,7c-1,0-2,0-3,0c1.491,2.05,3.294,3.647,5.3,4.865l28.12-10.796L245.471,428.707z"/></a>
      <a onclick="district_selangor('BANGI')">
      <path fill="#ED8080" stroke="#000000" d="M54.754,360.34c1.606-0.179,3.276-0.455,4.936-0.835
    C58.044,359.35,56.399,359.243,54.754,360.34z"/></a>
      <path fill="#ED8080" stroke="#000000" d="M54.754,373.34c-2,0-4,0-6,0c2-8,13-6,15-14c-1.354,0.452-2.709,0.292-4.064,0.165
    c-1.66,0.381-3.329,0.657-4.936,0.835c1.646-1.097,3.291-0.99,4.936-0.835c6.497-1.491,12.835-4.619,14.588-10.068
    c-1.491-1.468-3.793-2.907-7.25-4.21h-7.176l-2.296-15.214l-13.205,0.861l-1.435,3.731H19.089v2.871L6.458,338.05l-4.019,7.176
    L3.3,365.32l2.584,3.158c0,0,17.642,2.17,36.565,17.496C46.275,381.899,53.05,380.156,54.754,373.34z"/>
      <a onclick="district_selangor('DENGKIL')">
      <path fill="#ED8080" stroke="#000000" d="M100.899,361.876l-20.094-0.287l-2.009,12.63c0,0-6.028,6.029-6.028-12.343
    c0,0,7.568-6.471,1.509-12.439c-1.753,5.449-8.091,8.577-14.588,10.068c1.355,0.127,2.71,0.287,4.064-0.165c-2,8-13,6-15,14
    c2,0,4,0,6,0c-1.704,6.816-8.479,8.559-12.305,12.634c3.977,3.221,8.01,7.01,11.948,11.497l1.435,10.047l6.028,8.899
    c0,0,7.6,2.204,11.494,3.402l9.804-11.947l10.767,9.622l16.037-20.618l-2.749-4.353l6.415-5.04h8.018l3.895-5.269l8.37-1.679
    L100.899,361.876z"/></a>
      <a onclick="district_selangor('BERANANG')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M391.754,463.34c-6,1-12,7-17,3
    c-6-4-1-17-4-18c-10.913-4.197-21.111-9.817-28.84-18.607c-2.48,5.792-6.317,10.997-10.16,15.607c-1-3,4-5,1-8c-12,13-24,23-41,29
    c-5.817,1.586-11.355,4.57-17.057,7.474l20.644,19.834h4.789l1.597,4.789h7.583v-3.991l12.399,13.786l70.123-33.355
    C391.152,472.338,391.754,467.238,391.754,463.34z"/></a>
      <a onclick="district_selangor('PUNCAK ALAM')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M417.281,413.269
    c-16.092-5.598-28.376-14.607-36.94-22.678c-2.545,2.788-5.274,5.437-7.587,7.749c-3,3,0,8,1,11c1,4,4,9,1,10c-9,6-27-8-31,5
    c-0.463,1.852-1.093,3.648-1.84,5.393c7.729,8.791,17.927,14.41,28.84,18.607c3,1-2,14,4,18c5,4,11-2,17-3
    c0,3.898-0.602,8.999,0.078,11.537l53.059-25.238C437.268,429.587,417.281,413.269,417.281,413.269z"/></a>
      <a onclick="district_selangor('KUALA SELANGOR')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M332.754,437.34c3,3-2,5-1,8
    c5-6,10-13,12-21c4-13,22,1,31-5c3-1,0-6-1-10c-1-3-4-8-1-11c2.313-2.313,5.042-4.961,7.587-7.749
    c-9.955-9.38-14.883-17.491-14.883-17.491l-19.188,28.853h-7.957l-5.683,12.121l-12.873-0.379l-3.034-9.093h-8.333l-11.363-8.333
    l-6.439-16.288h-7.575l-20.833-9.473c0,0-2.278-20.439-25.38-4.164l4.547,12.5l1.136,14.396l2.765,2.611l0.93,24.378l-3.533,3.533
    l2.827,4.946l0.703,17.702l28.522,27.404c5.701-2.904,11.24-5.887,17.057-7.474C308.754,460.34,320.754,450.34,332.754,437.34z"/></a>
      <a onclick="district_selangor('BESTARI JAYA')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M383.754,495.34c1,1-1,4,0,5
    c4,4,10,2,8,9c2,0,6-1,7,0c1,3,0,9-5,8c3,4,10,4,12,10c-2,0-3,1-4,2c6,2,5,8,3,12c-2.301,5.369,0.687,11.325,2.206,16.968
    l3.023-3.913l4.401-10.209h4.604c7.605,7.006,10.01,7.006,10.01,7.006l8.007-0.6c-1-3.203-0.8-3.203-0.8-3.203l-0.461-6.207
    c-1.354-38.484-7.876-40.924-7.876-40.924c-0.757-21.179,18.91-27.987,18.91-27.987c2.009-7.637,0.869-15.379-1.889-22.632
    l-71.115,33.827c1.412,4.096,3.359,8.23,4.979,11.874C378.754,495.34,382.754,494.34,383.754,495.34z"/></a>
      <a onclick="district_selangor('BTG BERJUNTAI')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M316.092,508.814l-1.995,4.789
    l3.192,3.193c-1.995,7.184-9.179,16.762-9.179,16.762l-5.987-0.399c0.277,0.362,2.877,4.362,2.877,4.362l-3.4,0.4
    c5.338,7.771,4.363,12.643,4.363,12.643c2.924,0.975,6.821,1.299,6.821,1.299c0.647,2.599,0.975,4.223,0.975,4.223
    c7.473,7.47,11.368,6.496,11.368,6.496c14.94-2.923,25.659,3.248,25.659,3.248l1.741-2.628l5.005,0.2l-1.604,1.802l0.2,5.405
    l7.81,0.2l3.604,2.202l10.209,0.801l5.205-6.005c3.804-1.602,5.405,2.202,5.405,2.202h4.805l3.604-5.405l1.802,1.802l-0.2,2.603
    l2.803-1.802c0.4-3.604,4.604-3.604,4.604-3.604l0.801-4.804l0.38-0.492c-1.52-5.643-4.507-11.599-2.206-16.968c2-4,3-10-3-12
    c1-1,2-2,4-2c-2-6-9-6-12-10c5,1,6-5,5-8c-1-1-5,0-7,0c2-7-4-5-8-9c-1-1,1-4,0-5s-5,0-5,0c-1.619-3.644-3.566-7.778-4.979-11.874
    l-53.291,25.348H316.092z"/></a>
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M172.073,566.032
    c-0.067-0.017-0.112-0.027-0.112-0.027S172.003,566.016,172.073,566.032z"/>
      <a onclick="district_selangor('HULU SELANGOR')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M229.754,617.34c2-1,5-1,5-3
    c-1-9,4-17,12-18c7-1,15,2,22,1c5-1,5-12,9-13c2.923-0.365,5.913-0.967,8.836-1.794v-1.302H283l7.578-13.761v-9.573l-1.396-3.391
    c0,0-0.199-3.989,1.018-16.198l-2.601-5l-8.399,3.6l1.8,5.2l-6.4,2.6l-0.6-3.2h-6.4c-3.799-0.2-11.399,9.2-11.399,9.2
    c-5.4-0.2-13.4,2-13.4,2l-0.4,3l-4.4-1.8l-0.2-4.6l-6.8-2.2l0.2-3l-10.4-1l-1.8,3.2l-3.6-2.6v6h-1.8l-2,5.2l-5.2-4.2l-1,1.4
    l-0.2,3.6c-2.6,1.8,2.6,8,2.6,8c-0.2,6.6-5.6,2.2-5.6,2.2c-3.6-17.8-10-3.6-10-3.6c-7.751,6.429-18.928,3.997-20.128,3.711
    c2.3,0.566,43.019,11.139,53.192,51.287C226.758,617.467,228.256,617.506,229.754,617.34z"/></a>
      <a onclick="district_selangor('KALUMPANG')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M310.125,594.207l-11.967-0.798
    l0.399-9.772l-11.967-0.399v-0.692c-2.923,0.827-5.913,1.429-8.836,1.794c-4,1-4,12-9,13c-7,1-15-2-22-1c-8,1-13,9-12,18
    c0,2-3,2-5,3c-1.498,0.167-2.996,0.127-4.489-0.021c1.854,7.317,2.701,15.608,2.107,25.009l3.702,1.008l3.409,4.627l1.461-1.705
    l6.175-0.396l0.2-5.981l13.362,0.199l-0.199-4.587h14.36l0.996-3.789l3.989,0.197l1.196,0.998l23.733-0.198l2.194-2.396
    l1.993,1.396h4.588l2.393,3.988l1.197,0.599l0.199-13.761l0.197-23.334C312.518,599.193,312.917,595.204,310.125,594.207z"/></a>
      <a onclick="district_selangor('CHERAS')">
      <path id="path3353-2-6-7-0" sodipodi:nodetypes="cccccccccccccccccccccccscccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M390.982,609.188l-2.268-3.851l7.022-1.585c3.396-6.796-4.306-7.815-4.306-7.815l0.065-2.183l2.833-3.399l-0.113-2.38l-1.813-1.359
    l0.112-4.873l-2.04-2.38l2.721-3.853l-0.036-5.502l3.604-5.405l1.804,1.802l-0.2,2.603l2.803-1.802
    c0.4-3.604,4.604-3.604,4.604-3.604l0.801-4.804l3.403-4.404l4.401-10.209h4.604c7.605,7.007,10.01,7.007,10.01,7.007l7.962-0.732
    c0,0,4.515,9.03,14.309,20.915c4.896,5.942,14.485,13.653,23.178,19.672l-3.687,9.612l-5.258,1.375l2.418,3.821l-8.731,10.351
    c-8.438,7.179-12.307,14.435-12.307,14.435c-2.418,4.354-7.737-0.727-7.737-0.727c-3.145,0.968-5.077,0.968-5.077,0.968
    l-4.111-4.353h-1.451v-2.178l-3.385-3.627l-0.242-1.936l2.177-0.242l-0.482-5.078h-7.496l-5.804,4.111v4.109l-3.388-0.24
    c-2.176-5.32-5.078-5.804-5.078-5.804h-9.914C394.892,611.051,390.982,609.188,390.982,609.188L390.982,609.188z"/></a>

      <a onclick="district_selangor('SEKINCHAN')">
      <path id="path3351-1-1-3" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M231.071,643.336l3.409,4.627l1.461-1.705l6.175-0.396l0.2-5.981l13.362,0.199l-0.199-4.587h14.36l0.996-3.789l3.989,0.197
    l1.196,0.998l23.733-0.198l2.194-2.396l1.994,1.396h4.587l2.393,3.988l1.197,0.599l2.439,2.112v2.561h-7.04l-4.958,5.76l-0.48,8.16
    c-3.04,2.561-8.801,2.721-8.801,2.721v3.359c3.521,2.881-1.119,6.881-1.119,6.881l-4,1.6l3.84,21.762h3.52l1.92,4l-4.479,4.641
    l-2.88-1.439h-3.68l-26.561,23.841l-24.083-50.431l-5.755-9.75v-5.92l-2.631,0.656V642.33L231.071,643.336z"/></a>
      <a onclick="district_selangor('KEPONG')">
      <path id="path3351-1-6-1" sodipodi:nodetypes="ccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M348.276,706.717l-5.065,1.126l-3.096-3.8l-2.395,0.282l0.143-1.688l-2.955-2.252l-0.281,1.126l-6.051-0.141v1.688l-4.362-0.281
    c0,0-0.281,3.377-1.407,3.377c0,0-1.267,1.688-2.109-5.207l-7.035,0.281v-2.252l-5.629-0.142v4.081l-2.955,0.563v-2.813
    l-3.377-0.142v-1.688h-3.236v3.236l-3.8,2.813l-5.981,3.319v2.967l-0.928,0.559v8.155l2.596,2.04v3.337
    c0,0,9.456,9.085,10.197,13.164v5.377h25.958l10.939-7.602v3.337l5.747-2.598l-0.188-2.967l6.489-2.778l0.371-7.231l3.708-3.338
    v-8.714C353.203,710.988,348.276,706.717,348.276,706.717L348.276,706.717z"/></a>
      <a onclick="district_selangor('SEMENYIH')">
      <path id="path3351-1-6" sodipodi:nodetypes="cccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M294.663,704.889v-3.097l-1.703-1.95l-2.88-1.439h-3.68l-26.972,23.961l3.461,7.445l-13.155,28.94l6.314,5.081l4.821-0.371
    l3.152-6.304v-2.781l-0.742-1.298l-0.371-6.305c7.417-4.449,9.27-6.676,9.27-6.676v-4.819c1.483-4.637,4.82-4.079,4.82-4.079
    c9.827,2.781,9.271,5.934,9.271,5.934c-1.669,2.41-6.676,6.305-6.676,6.305l20.951,0.37v-5.377
    c-0.741-4.079-10.197-13.164-10.197-13.164v-3.337l-2.596-2.039v-8.158l0.928-0.557v-2.967L294.663,704.889z"/></a>
      <a onclick="district_selangor('PORT KLANG')">
      <path id="path3387-0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M429.369,690.145l4.162,0.244v3.184h3.427l1.714,1.469h2.692c0,0,0.245,5.631-1.958,8.079l0.732,5.63l1.471,1.469
    c0,0,1.469,5.875,4.649,10.281l-1.714,2.448c0,0-3.427-1.958-5.875-0.489l0.489,3.427l6.854-0.245l3.672-2.201l7.346,4.404
    l0.245,7.346l-3.43,0.732l1.714,4.651H451.4c0,0,0.732,6.607,6.118,8.566l-2.938,5.63l-2.447-2.69l-2.448,0.489l2.938,4.649v11.505
    l-2.938,1.471v2.446l-2.736-0.198c-0.304-3.628-0.906-4.533-0.906-4.533c-4.533-3.626-6.951-2.72-6.951-2.72
    c-0.906-0.304-3.021,3.021-3.021,3.021L430.933,767l-2.72,3.324l-6.646,0.906l-0.604-1.513c3.324-4.835,4.231-6.646,4.231-6.646
    l4.229,0.302c4.533-6.95,3.324-12.692,3.324-12.692l-3.627-4.53l0.907-3.931l-3.437-3.53c-1.76-3.85-0.366-10.021-0.366-10.021
    l-10.528-14.104l-3.147-4.742l-2.67-0.143c0,0-1.265,2.529-2.389,6.465l-2.813-0.279v2.668l-6.744,3.795l0.983-15.457l3.935-4.355
    l4.853-0.336c1.792-3.783,4.78-3.585,4.78-3.585c1.394,4.183,3.782,4.382,3.782,4.382h4.185v-6.174h8.364l1.193-1.195
    L429.369,690.145z"/></a>
      <a onclick="district_selangor('SERDANG')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M347.754,856.34c0,2-1,0-2,1
    c1-6,4-13,1-18c-4.129-9.084-6.208-19.53-6.809-29.652h-0.352c-10.683,4.217-12.648,2.811-12.648,2.811
    c-0.563-0.281-2.248-3.373-2.248-3.373h-2.531l0.563,3.373l-1.968-0.281l-0.844-1.967l-5.341,4.217l16.021,7.591v8.435h-3.937
    l-9.276,11.808l-20.803-12.37l-5.624,10.12l22.772,27.271l32.522,14.448C349.353,877.869,354.384,864.864,347.754,856.34z"/></a>
      <a onclick="district_selangor('SALAK TINGGI')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M416.754,885.34c-3-10,7-19,2-27
    c-2.794-5.587-8.188,0.963-13.763,2.698c1.414,1.184,2.71,2.354,1.763,3.302c-6,11-16,14-21,25
    c-2.608,4.564-9.469,2.752-16.699,2.324c10.241,4.207,25.825,10.294,37.241,13.324l6.784-9.046l6.407,0.377l1.726-5.804
    C419.002,889.618,417.348,888.011,416.754,885.34z"/></a>
      <a onclick="district_selangor('BANTING')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M430.794,880.866l-7.161-6.784
    l8.292-18.846l-0.501-22.396c-2.636-0.006-5.658,0.493-7.67,1.499c-5,2-3,8-5,13c0,1-2,5-3,5c-5,1-11,1-13,5
    c-1.053,1.053,0.666,2.383,2.237,3.698c5.574-1.735,10.969-8.285,13.763-2.698c5,8-5,17-2,27c0.594,2.671,2.248,4.278,4.459,5.176
    l2.42-8.142L430.794,880.866z"/></a>
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M375.724,789.019l-0.987-1.538
    l-0.465-0.035C374.772,787.949,375.256,788.475,375.724,789.019z"/>
      <a onclick="district_selangor('CYBERJAYA')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M447.729,777.289l3.133-4.388
    l-3.912-0.466c-0.303-3.626-0.908-4.531-0.908-4.531c-4.533-3.626-6.95-2.722-6.95-2.722c-0.905-0.303-3.021,3.021-3.021,3.021
    L430.933,767l-2.72,3.324l-6.646,0.906l-0.604-1.514c3.324-4.835,4.229-6.646,4.229-6.646l4.229,0.304
    c4.533-6.95,3.323-12.692,3.323-12.692l-3.625-4.532l0.906-3.931l-3.437-3.528c-1.76-3.851-0.365-10.022-0.365-10.022
    l-10.416-14.09c-1.854,3.391-0.729,5.357-0.729,5.357c1.124,3.092-0.143,4.775-0.143,4.775v3.653l-65.493,0.646l31.49,60.405
    c-2.297,0.976-3.164,1.547-3.485,1.814c0.463,0.672,0.903,1.37,1.307,2.11c4,7,17,10,17,14
    c0.811,17.016,15.406,20.901,27.832,27.082c0.06-0.025,0.106-0.058,0.168-0.082c2.012-1.006,5.034-1.505,7.67-1.499l-1.158-51.7
    l18.195-0.425L447.729,777.289z M420.842,753.8l-9.887,0.612l-0.479,2.453v3.679l-1.912,1.839l-2.87,0.153l0.318,2.604l1.437,2.763
    l-5.582,3.217l-1.438-0.612l0.64,2.452l-2.711-1.688l-2.072,3.371h-7.336l-1.276-4.291l-1.115-2.604l4.943-5.211l-0.161-2.146
    l3.353-2.76l-3.827-5.825l1.116-2.759l1.272-2.758l0.799-1.228l-2.231-2.761l-4.784-5.211l3.987-1.841l2.072-0.918l1.753,0.612
    l3.029-0.309h3.35l2.871-0.611l0.955-0.917l0.159,1.227c0,0,0.16,2.604,0.799,3.219c0.64,0.612,2.711,2.146,2.711,2.146
    l1.753-0.308l0.958-0.61l2.073,1.686l7.334,2.453V753.8z"/></a>
      <a onclick="district_selangor('KAPAR')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M395.754,807.34c0-4-13-7-17-14
    c-0.403-0.74-0.844-1.438-1.307-2.11c-0.152,0.127-0.184,0.187-0.184,0.187l-1.54-2.397c-0.468-0.544-0.951-1.069-1.452-1.573
    l-21.744-1.653l-9.277,8.437l1.406,5.9l-2.531,1.125l3.655,4.778c0.843-0.563,2.53-4.216,2.53-4.216l5.902,0.278l1.125,7.593
    h-12.231c7.785,8.547,13.901,22.474,26.647,20.652c-4,9,4,13,12,11c0,3-4,7-2,8c5,3,10,4,10,10
    c6.228-0.996,11.896,0.305,16.697,3.051c-1.507-1.711-5.115-3.633-3.697-5.051c2-4,8-4,13-5c1,0,3-4,3-5
    c1.976-4.938,0.061-10.847,4.832-12.918C411.16,828.241,396.564,824.355,395.754,807.34z"/></a>
      <a onclick="district_selangor('SERDANG RAYA')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M389.754,859.34c0-6-5-7-10-10
    c-2-1,2-5,2-8c-8,2-16-2-12-11c-12.746,1.821-18.862-12.105-26.647-20.652h-3.161c0.601,10.122,2.68,20.568,6.809,29.652
    c3,5,0,12-1,18c1-1,2,1,2-1c6.63,8.524,1.599,21.529-1.501,25.429l12.186,5.413c0,0,4.291,1.884,10.616,4.482
    c7.23,0.428,14.091,2.24,16.699-2.324c5-11,15-14,21-25c0.582-0.582,0.315-1.248-0.303-1.949
    C401.649,859.645,395.981,858.344,389.754,859.34z"/></a>
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M512.37,728.027
    c-0.207,0.104-0.408,0.208-0.616,0.313C512.002,728.257,512.197,728.146,512.37,728.027z"/>
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M513.613,724.116
    c0.596-0.474,1.184-0.958,1.76-1.454l0.007-0.199C514.328,722.82,513.846,723.422,513.613,724.116z"/>
      <a onclick="district_selangor('RAWANG')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M487.754,732.34c0,1,0,2,0,3
    c9.129-0.913,18.252-5.165,25.859-11.224c0.231-0.694,0.715-1.295,1.767-1.653l0.282-7.877
    c17.413-12.625,6.965-33.957,6.965-33.957l-81.263,14.411l0.002,0.001c0,0,0.245,5.63-1.958,8.078l0.732,5.63l1.471,1.469
    c0,0,1.468,5.875,4.649,10.281l-1.714,2.449c0,0-3.427-1.959-5.875-0.49l0.489,3.427l6.854-0.244l3.674-2.203l7.344,4.406
    l0.228,6.811C467.09,737.081,477.422,733.135,487.754,732.34z"/></a>
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M513.613,724.116
    c-0.456,1.362-0.019,3.061-1.243,3.911c0.963-0.483,1.919-0.967,2.862-1.453l0.141-3.912
    C514.797,723.158,514.209,723.643,513.613,724.116z"/>
      <a onclick="district_selangor('SABAK BERNAM')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M511.754,728.34
    c0.208-0.104,0.409-0.209,0.616-0.313c1.226-0.852,0.787-2.548,1.243-3.911c-7.607,6.059-16.73,10.311-25.859,11.224c0-1,0-2,0-3
    c-10.332,0.795-20.664,4.741-30.494,2.313l0.019,0.534l-3.43,0.733l1.714,4.65h-4.159c0,0,0.732,6.608,6.118,8.566l-2.938,5.63
    l-2.447-2.69l-2.447,0.489l2.938,4.649v11.505l-2.938,1.471v2.446l1.225,0.245l-3.182,4.406l0.732,3.427l40.207-0.396
    l26.556-53.547l0,0l0.007-0.201c-0.943,0.486-1.899,0.97-2.862,1.453C512.197,728.146,512.002,728.257,511.754,728.34z"/></a>
      <a onclick="district_selangor('JLN')">
      <path id="path3387" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M441.364,695.04h-2.692l-1.714-1.47h-3.427v-3.182l-4.162-0.244v-2.693l-1.469-2.203v-3.182l3.122-1.705l11.25-9.09l3.532-6.653
    l2.742-0.161c0,0,2.741-5,10-10.484l0.322-7.902c0,0,0.645-0.646-5.484-9.354l5.161-8.063c0,0,0.968-2.58,0.968-7.903
    c0,0,1.132-1.937-0.326-4.543l8.731-10.351l-2.418-3.821l5.258-1.375l3.868-9.672c8.581,6.418,13.884,8.495,25.887,14.016
    c0,0,27.337,12.068,21.678,58.649l-6.729,15.512l7.164,1.467"/></a>
      <a onclick="district_selangor('SUNGAI BULOH')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M330.754,793.34
    c-4.312-6.468-5.53-13.965-7.728-21.014l-52.243,42.989l20.174,24.737l5.624-10.12l20.803,12.37l9.276-11.808h3.937v-8.435
    l-16.021-7.591l5.341-4.217l0.844,1.967l1.967,0.281l-0.563-3.373h2.531c0,0,1.685,3.092,2.248,3.373c0,0,1.664,1.16,10.1-1.855
    c-1.661-2.735-3.209-5.497-4.289-8.306C331.754,799.34,332.754,795.34,330.754,793.34z"/></a>
      <a onclick="district_selangor('TAMAN MELAWATI')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M365.185,759.215l-7.873-15.101
    l-34.285,28.212c2.197,7.049,3.416,14.546,7.728,21.014c2,2,1,6,2,9c1.08,2.809,2.628,5.57,4.289,8.306
    c0.795-0.284,1.629-0.592,2.549-0.955h15.744l-1.125-7.593l-5.903-0.278c0,0-1.687,3.652-2.529,4.216l-3.655-4.778l2.531-1.125
    l-1.406-5.9l9.277-8.437l22.209,1.688l2.527,3.936c0,0,0.281-0.563,3.669-2.001L365.185,759.215z"/></a>
      <a onclick="district_selangor('SHAH ALAM')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M351.407,732.784l-0.895-1.947
    l-7.511,3.138l0.188,2.969l-5.747,2.596v-3.337l-10.939,7.602h-25.958l-20.951-0.371c0,0,5.007-3.894,6.676-6.304
    c0,0,0.556-3.154-9.271-5.933c0,0-3.337-0.559-4.82,4.077v4.82c0,0-1.853,2.227-9.27,6.676l0.177,3.006
    c5.454,3.178,9.777,8.867,11.668,17.564c0,0,4,0,6,0c-1,12,5,11,15,15c4.353,1.243,4.837,5.58,3.381,9.645l58.175-47.875
    L351.407,732.784z"/></a>
      <a onclick="district_selangor('SERI KEMBANGAN')">
      <path fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M295.754,782.34c-10-4-16-3-15-15
    c-2,0-6,0-6,0c-1.891-8.697-6.214-14.387-11.668-17.564l0.194,3.299l0.742,1.298v2.781l-3.152,6.304l-4.821,0.371l-6.314-5.081
    l-16.444,5.262l-12.497,12.497c0,0-7.893,7.894,3.289,21.706l17.101,2.631l9.866,3.288l19.733,11.185l28.352-23.331
    C300.591,787.92,300.106,783.583,295.754,782.34z"/></a>
      <a onclick="district_selangor('GOMBAK')">
      <path id="path3353-2-6-7_1_" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M312.508,598.007l43.423-32.804l1.604-1.802l-5.005-0.2l-1.741,2.628c0,0-10.719-6.171-25.659-3.248c0,0-3.896,0.974-11.368-6.496
    c0,0-0.325-1.624-0.975-4.223c0,0-3.897-0.325-6.821-1.299c0,0,0.977-4.872-4.363-12.643l-4.6-1.8l-6.8,2.2
    c-1.217,12.209-1.018,16.198-1.018,16.198l1.396,3.391v9.573L283,581.244h3.59v1.994l11.967,0.399l-0.399,9.772l11.966,0.798
    c2.793,0.997,2.394,4.986,2.394,4.986"/></a>
      <a onclick="district_selangor('HULU LANGAT')">
      <path id="path3353-2-6-7" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M312.517,599.193l-0.197,19.208l3.458,2.566l3.625-3.171l4.304,3.397l2.039-2.719l2.265,1.813l9.063-0.227
    c1.585-4.079,12.006-7.477,12.006-7.477c2.038-2.039,4.53,2.718,4.53,2.718l23.332-0.453c6.343-0.227,11.553-5.663,11.553-5.663
    h2.492l-2.268-3.851l7.022-1.585c3.396-6.796-4.304-7.815-4.304-7.815l0.063-2.183l2.833-3.399l-0.113-2.38l-1.813-1.36
    l0.113-4.873l-2.04-2.379l2.72-3.853l-0.036-5.502h-4.804c0,0-1.604-3.804-5.405-2.202l-5.205,6.005l-10.209-0.8l-5.021-0.718
    l-6.611-5.953"/></a>
      <a onclick="district_selangor('KAJANG')">
      <path id="path3353-2-6-7-7" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M376.938,614.851l-23.33,0.453c0,0-2.492-4.757-4.53-2.718c0,0-10.421,3.398-12.006,7.475l-9.063,0.229l-2.265-1.813l-2.039,2.717
    l-4.304-3.396l-3.625,3.171l-3.458-2.693l-0.199,18.015l2.439,2.111v2.562l-0.101,4.326h1.945l1.666-1.854v-2.685h9.631v6.759
    l1.203,1.204l-0.035,12.533h7.673v2.707h2.104v5.114l4.664,1.957l1.956-4.213l9.026,3.008l1.053,5.718l3.764-4.513l-3.011-7.071
    l2.406-2.257l4.213,0.451v4.664c3.61-1.505,5.867-11.733,5.867-11.733c-3.61-3.312-1.053-13.843-1.053-13.843l0.9-2.104
    l0.303-8.728l4.361-1.653l-0.45-1.354c0-3.16,5.113-6.92,5.113-6.92v-1.656l-1.053,0.451L376.938,614.851z"/></a>
      <a onclick="district_selangor('KLANG')">
      <path id="path3351-1-1-3-5" sodipodi:nodetypes="cccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M343.313,671.023l-4.663-1.955v-5.115h-2.105v-2.707h-7.673l0.035-12.533l-1.203-1.204v-6.759h-9.63v2.686l-1.667,1.854h-1.944
    l0.1-4.326h-7.038l-4.959,5.762l-0.48,8.158c-3.04,2.563-8.801,2.723-8.801,2.723v3.357c3.521,2.883-1.119,6.883-1.119,6.883
    l-4,1.6l3.84,21.76h3.52l1.92,4l-4.479,4.641l1.703,1.95v3.097l3.8-2.813v-3.237h3.236v1.688l3.377,0.141v2.813l2.955-0.563v-4.081
    l5.629,0.142v2.252l7.035-0.281c0.845,6.896,2.109,5.207,2.109,5.207c1.126,0,1.407-3.377,1.407-3.377l4.362,0.279v-1.688
    l6.051,0.141l0.281-1.125l2.955,2.252l-0.143,1.688l2.395-0.282l3.096,3.801l5.065-1.125l-0.281-20.404h-7.036l-1.267-1.688v-6.192
    C340.959,675.057,343.313,671.023,343.313,671.023L343.313,671.023z"/></a>
      <a onclick="district_selangor('BANDAR SUNWAY')">
      <path id="path3353-2-6-7-0-4-2" sodipodi:nodetypes="cccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M445.807,664.618l-3.388-1.13c-1.612-2.258-1.451-3.227-1.451-3.227c-4.032-1.291-5.32-2.098-5.32-2.098l0.159-4.518
    c-0.968-1.451-3.71,0.969-3.71,0.969l-1.29-2.741l-2.74-0.161l-3.976,6.146v2.613h1.934l-0.343,7.613l1.022,0.908h3.409
    l0.909,2.046v9.317l11.25-9.091L445.807,664.618z"/></a>
      <a onclick="district_selangor('AMPANG')">
      <path id="path3353-2-6-7-0-4" sodipodi:nodetypes="cccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M434.066,630.88c0,0,1.935,0,5.076-0.968c0,0,5.32,5.078,7.738,0.727c0,0,3.869-7.256,12.307-14.435
    c1.456,2.606,0.326,4.543,0.326,4.543c0,5.323-0.967,7.903-0.967,7.903l-5.162,8.063c6.13,8.71,5.484,9.354,5.484,9.354
    l-0.322,7.902c-7.259,5.484-10,10.484-10,10.484l-2.742,0.161l-3.388-1.13c-1.612-2.258-1.451-3.227-1.451-3.227
    c-4.032-1.291-5.321-2.098-5.321-2.098l0.16-4.518c-0.968-1.451-3.71,0.969-3.71,0.969l-1.29-2.741l-2.74-0.161v-4.839
    c-2.099-0.322-3.064-0.97-3.064-0.97l-1.451-1.129v-2.901l7.58,0.481C434.517,637.844,434.066,630.88,434.066,630.88
    L434.066,630.88z"/></a>
      <a onclick="district_selangor('SERENDAH')">
      <path id="path3351-1-1-3-5-4" sodipodi:nodetypes="cccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M359.108,671.023l-3.764,4.515l-1.053-5.718l-9.026-3.008l-1.956,4.211c0,0-2.353,4.031-3.617,7.41v6.189l1.267,1.688h7.036
    l0.281,14.004l10.517,1.343v-5.688l6.379-0.173c5-3.793,7.759-10.519,7.759-10.519c0-2.586-0.688-2.758-0.688-2.758
    c-1.552-1.035-4.138-0.519-4.138-0.519l-2.069-9.827L359.108,671.023z"/></a>
      <a onclick="district_selangor('SUBANG JAYA')">
      <path id="path3351-1-1-3-5-4-0-7" sodipodi:nodetypes="cccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M377.414,660.97c-0.854,4.919-1.545,7.376-3.793,10.862v11.207l-0.69,2.24c-0.688,1.896-0.688,2.242-0.688,2.242
    c6.38-2.934,12.067,1.207,12.067,1.207l4.092-3.793v-1.896c-1.38-2.414-1.504-5.689-1.504-5.689l-0.347-5.689L385,670.97
    l-4.655-2.931l0.173-4.828L377.414,660.97z"/></a>
      <a onclick="district_selangor('SEPANG')">
      <path id="path3351-1-1-3-5-4-0" sodipodi:nodetypes="cccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M372.931,685.28c0-2.587-0.688-2.759-0.688-2.759c-1.552-1.035-4.14-0.52-4.14-0.52l-2.067-9.827l-6.926-1.151l-3.011-7.07
    l2.407-2.256l4.212,0.451v4.664c3.61-1.506,5.867-11.734,5.867-11.734c8.138,6.754,8.828,5.893,8.828,5.893
    c-0.854,4.918-1.545,7.375-3.793,10.861v11.207L372.931,685.28z"/></a>
      <a onclick="district_selangor('SUNGAI BESAR')">
      <path id="path3351-1-6-1-0" sodipodi:nodetypes="cccccccccscccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M349.495,728.998l0.371-5.031l3.708-3.338v-8.714c-0.37-0.927-5.298-5.198-5.298-5.198l-0.07-6.42l10.587,1.362v-5.689l6.38-0.173
    c2.5-1.896,4.439-4.525,5.754-6.681c0.657-1.077,0.599-1.054,1.124-1.669c6.57-2.857,12.26,1.281,12.26,1.281l-0.285,6.056
    c2.949-0.563,2.67,1.546,2.67,1.546l0.141,4.637c8.009,2.529,16.021,1.545,16.021,1.545l-3.937,4.356l-0.983,15.456l6.744-3.793
    v-2.67l2.813,0.281c1.124-3.938,2.389-6.467,2.389-6.467l2.67,0.143l3.372,4.775c-1.967,3.373-0.843,5.342-0.843,5.342
    c1.124,3.092-0.141,4.775-0.141,4.775v3.654L349.495,728.998z"/></a>
      <a onclick="district_selangor('PUCHONG')">
      <path id="path5680" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M386.556,767.746l4.944-5.212l-0.16-2.146l3.351-2.759l-3.826-5.824l1.114-2.76l1.274-2.759l0.799-1.226l-2.231-2.761l-4.784-5.212
    l3.987-1.84l2.071-0.92l1.754,0.613l3.029-0.309h3.351l2.869-0.611l0.957-0.92l0.159,1.227c0,0,0.16,2.604,0.798,3.219
    c0.64,0.614,2.711,2.146,2.711,2.146l1.754-0.309l0.957-0.61l2.073,1.686l7.336,2.452v10.884l-9.888,0.613l-0.479,2.452v3.679
    l-1.912,1.839l-2.87,0.152l0.317,2.604l1.438,2.761l-5.582,3.219l-1.437-0.613l0.639,2.452l-2.711-1.688l-2.072,3.372h-7.336
    l-1.276-4.291L386.556,767.746L386.556,767.746z"/></a>
      <a onclick="district_selangor('PORT KLANG')">
      <path id="path7687" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M209.229,766.055c0,3.271,0.892,5.944,0.892,5.944c4.161,3.863,20.209-12.78,20.209-12.78c3.269,2.975,5.646,0.595,5.646,0.595
    c3.566-0.892,5.053-2.078,5.053-2.078c-1.783-2.081-2.378-3.864-2.378-3.864c6.241-0.894,9.213-4.458,9.213-4.458
    c2.377-14.268,5.052-14.268,5.052-14.268c1.486-1.188,4.755-5.941,4.755-5.941c-0.892-5.054-2.377-6.241-2.377-6.241
    c-3.566-0.297-5.647-0.297-5.647-0.297c-6.835,0.297-15.455,5.646-15.455,5.646c-10.996,10.401-14.265,25.264-14.265,25.264
    c-3.566,1.781-5.647,7.728-5.647,7.728C214.578,764.271,209.229,766.055,209.229,766.055z"/></a>
      <a onclick="district_selangor('SELAT KLANG')">
      <path id="path7689" sodipodi:nodetypes="ccccccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M208.337,759.813c-1.486-3.861-1.783-5.053-1.783-5.053v-8.319l2.08-2.38l-0.297-2.675l-2.378-0.892l-1.486-7.43l7.43-9.215
    c4.161-9.511,8.321-20.209,8.321-20.209c0-4.755,2.972-8.916,2.972-8.916c4.755-5.351,10.996-6.837,10.996-6.837
    c6.836-0.297,6.241,5.647,6.241,5.647c-2.08,14.266,1.189,19.021,1.189,19.021c1.783,6.241-1.783,7.134-1.783,7.134
    c-6.835,6.538-12.482,7.134-12.482,7.134l-11.888,26.151C213.092,756.247,208.337,759.813,208.337,759.813L208.337,759.813z"/></a>
      <a onclick="district_selangor('SELAT KLANG')">
      <path id="path7691" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M201.798,736.632c-6.835,4.458-8.916,5.646-8.916,5.646c-4.755,6.539-1.486,9.808-1.486,9.808
    c0.297,5.944-0.595,10.699-0.595,10.699c0,2.675,3.566,2.675,3.566,2.675c5.647-0.892,8.024-2.675,8.024-2.675
    c1.783-2.08,1.783-10.401,1.783-10.401C204.771,742.576,201.798,736.632,201.798,736.632L201.798,736.632z"/></a>
      <a onclick="district_selangor('SELAT KLANG')">
      <path id="path7760" sodipodi:nodetypes="cccccccccccccc" inkscape:connector-curvature="0" fill="#ED8080" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M184.512,733.411l5.427-13.567l-0.453-2.261l-3.618-3.165l-0.452-2.262c5.427-12.211,6.783-14.021,6.783-14.021
    c1.809-2.261,8.593-3.615,8.593-3.615v-1.811l7.688-0.453c7.236,5.879,4.522,12.211,4.522,12.211l-8.141,5.881
    c2.713,5.879,0,9.947,0,9.947c-15.376,8.592-14.471,15.376-14.471,15.376C185.868,739.29,184.512,733.411,184.512,733.411z"/>
        <line fill="none" stroke="#000000" x1="455.49" y1="640.41" x2="522.963" y2="588.294"/></a>
      <text transform="matrix(1 0 0 1 532.7539 588.2939)" font-family="'MyriadPro-Regular'" font-size="12">Ampang</text>
      <text transform="matrix(1 0 0 1 163.1089 362.2939)" font-family="'MyriadPro-Regular'" font-size="12">Balakong</text>
      <text transform="matrix(1 0 0 1 547.7031 670.1797)" font-family="'MyriadPro-Regular'" font-size="12">Bandar Sunway</text>
      <line fill="none" stroke="#000000" x1="444.068" y1="667.891" x2="541.754" y2="666.813"/>
      <text transform="matrix(1 0 0 1 -15.7461 401.6855)" font-family="'MyriadPro-Regular'" font-size="12">Bangi </text>
      <text transform="matrix(1 0 0 1 223.2974 342.6836)" font-family="'MyriadPro-Regular'" font-size="12">Batang Kali</text>
      <text transform="matrix(1 0 0 1 151 517.313)" font-family="'MyriadPro-Regular'" font-size="12">Batu Caves</text>
      <text transform="matrix(1 0 0 1 308.5703 476.3398)" font-family="'MyriadPro-Regular'" font-size="12">Beranang</text>
      <text transform="matrix(1 0 0 1 324.0762 539.5493)" font-family="'MyriadPro-Regular'" font-size="12">BTG Berjuntai</text>
      <text transform="matrix(1 0 0 1 420.8428 590.6416)" font-family="'MyriadPro-Regular'" font-size="12">Cheras</text>
      <text transform="matrix(1 0 0 1 6 434.1416)" font-family="'MyriadPro-Regular'" font-size="12">Dengkil</text>
      <text transform="matrix(1 0 0 1 290.958 577.7148)" font-family="'MyriadPro-Regular'" font-size="12">Gombak</text>
      <text transform="matrix(1 0 0 1 325.8574 599.1929)" font-family="'MyriadPro-Regular'" font-size="12">Hulu Langat</text>
      <text transform="matrix(1 0 0 1 31.2539 456.1387)" font-family="'MyriadPro-Regular'" font-size="12">Selayang</text>
      <text transform="matrix(1 0 0 1 204.2529 577.7148)" font-family="'MyriadPro-Regular'" font-size="12">Hulu Selangor</text>
      <text transform="matrix(1 0 0 1 537.4219 624.0488)" font-family="'MyriadPro-Regular'" font-size="12">JLN  </text>
      <text transform="matrix(1 0 0 1 537.4219 638.4492)" font-family="'MyriadPro-Regular'" font-size="12">Klang Lama</text>
      <text transform="matrix(1 0 0 1 325.8574 638.4492)" font-family="'MyriadPro-Regular'" font-size="12">Kajang</text>
      <text transform="matrix(1 0 0 1 244.2983 617.8394)" font-family="'MyriadPro-Regular'" font-size="12">Kalumpang</text>
      <text transform="matrix(1 0 0 1 109.5996 772.6396)" font-family="'MyriadPro-Regular'" font-size="12">Kepong </text>
      <text transform="matrix(1 0 0 1 92.0869 707.7197)" font-family="'MyriadPro-Regular'" font-size="12">Klang</text>
      <text transform="matrix(1 0 0 1 227.7539 508.2319)" font-family="'MyriadPro-Regular'" font-size="12">Kuala Langat</text>
      <text transform="matrix(1 0 0 1 257.6709 434.1416)" font-family="'MyriadPro-Regular'" font-size="12">Kuala Selangor</text>
      <text transform="matrix(1 0 0 1 40.9336 489.9863)" font-family="'MyriadPro-Regular'" font-size="12">Petaling Jaya</text>
      <text transform="matrix(1 0 0 1 470.4209 809.7832)" font-family="'MyriadPro-Regular'" font-size="12">Port Klang</text>
      <text transform="matrix(1 0 0 1 459.9316 834.4727)" font-family="'MyriadPro-Regular'" font-size="12">Puchong</text>
      <text transform="matrix(1 0 0 1 541.7539 708.0313)" font-family="'MyriadPro-Regular'" font-size="12">Rawang</text>
      <text transform="matrix(1 0 0 1 515.3799 763.7178)" font-family="'MyriadPro-Regular'" font-size="12">Sabak Bernam</text>
      <text transform="matrix(1 0 0 1 101.4209 647.9629)" font-family="'MyriadPro-Regular'" font-size="12">Sekinchan</text>
      <line fill="none" stroke="#000000" x1="30.762" y1="371.84" x2="15.754" y2="395.84"/>
      <line fill="none" stroke="#000000" x1="109.157" y1="438.34" x2="81.754" y2="454.639"/>
      <line fill="none" stroke="#000000" x1="125.754" y1="476.34" x2="109.157" y2="486.987"/>
      <line fill="none" stroke="#000000" x1="184.754" y1="406.34" x2="184.754" y2="369.59"/>
      <line fill="none" stroke="#000000" x1="225.254" y1="424.715" x2="225.254" y2="349.34"/>
      <line fill="none" stroke="#000000" x1="60.049" y1="400.774" x2="45.041" y2="424.774"/>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="449.688" y1="766.341" x2="466.089" y2="805.009"/>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="406.012" y1="765.14" x2="455.49" y2="826.342"/>
      <line fill="none" stroke="#000000" x1="497.053" y1="759.813" x2="511.754" y2="759.813"/>
      <line fill="none" stroke="#000000" x1="522.002" y1="708.031" x2="537.422" y2="707.72"/>
      <line fill="none" stroke="#000000" x1="512.37" y1="632.402" x2="532.754" y2="627.01"/>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="264.031" y1="740.345" x2="138.754" y2="748.102"/>
      <text transform="matrix(1 0 0 1 86.0874 751.6318)" font-family="'MyriadPro-Regular'" font-size="12">Semenyih</text>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="344.938" y1="680.629" x2="144.087" y2="680.357"/>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="362.715" y1="666.813" x2="144.087" y2="666.813"/>
      <text transform="matrix(1 0 0 1 101.4209 667.8906)" font-family="'MyriadPro-Regular'" font-size="12">Sepang</text>
      <text transform="matrix(1 0 0 1 92.0869 684.2354)" font-family="'MyriadPro-Regular'" font-size="12">Serendah</text>
      <text transform="matrix(1 0 0 1 86.0874 795.7402)" font-family="'MyriadPro-Regular'" font-size="12">Seri Kembangan</text>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="307.421" y1="690.145" x2="126.087" y2="705.007"/>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="231.325" y1="774.638" x2="172.073" y2="791.984"/>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="302.254" y1="772.581" x2="201.393" y2="834.473"/>
      <text transform="matrix(1 0 0 1 143.0874 837.6729)" font-family="'MyriadPro-Regular'" font-size="12">Shah Alam</text>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="380.931" y1="680.357" x2="133.996" y2="725.345"/>
      <text transform="matrix(1 0 0 1 68.0879 725.3447)" font-family="'MyriadPro-Regular'" font-size="12">Subang Jaya</text>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="320.665" y1="731.393" x2="155.421" y2="772.64"/>
      <line fill="none" stroke="#000000" x1="370.91" y1="714.578" x2="191.843" y2="805.009"/>
      <text transform="matrix(1 0 0 1 121.5098 812.4609)" font-family="'MyriadPro-Regular'" font-size="12">Sungai Besar</text>
      <line fill="none" stroke="#000000" x1="233.45" y1="653.924" x2="157.421" y2="643.808"/>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="283" y1="815.315" x2="227.754" y2="848.34"/>
      <text transform="matrix(1 0 0 1 155.4209 853.6738)" font-family="'MyriadPro-Regular'" font-size="12">Sungai Buloh</text>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="345.099" y1="785.526" x2="244.298" y2="866.34"/>
      <text transform="matrix(1 0 0 1 157.4209 871.0068)" font-family="'MyriadPro-Regular'" font-size="12">Taman Melawati</text>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="315.379" y1="854.495" x2="260.133" y2="887.52"/>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="367.314" y1="873.008" x2="310.109" y2="900.34"/>
      <text transform="matrix(1 0 0 1 214.5005 889.5195)" font-family="'MyriadPro-Regular'" font-size="12">Serdang</text>
      <text transform="matrix(1 0 0 1 240.043 904.5215)" font-family="'MyriadPro-Regular'" font-size="12">Serdang Raya</text>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="394.088" y1="892.379" x2="374.271" y2="915.673"/>
      <text transform="matrix(1 0 0 1 312.1172 919.0068)" font-family="'MyriadPro-Regular'" font-size="12">Salak Tinggi</text>
      <text transform="matrix(1 0 0 1 466.0889 892.3789)" font-family="'MyriadPro-Regular'" font-size="12">Banting</text>
      <line fill="none" stroke="#000000" x1="427.726" y1="861.678" x2="457.519" y2="887.52"/>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="400.152" y1="853.007" x2="412.088" y2="919.007"/>

      <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" x1="421.213" y1="815.315" x2="449.688" y2="845.447"/>
      <text transform="matrix(1 0 0 1 403.6992 929.6738)" font-family="'MyriadPro-Regular'" font-size="12">Kapar</text>
      <text transform="matrix(1 0 0 1 455.7539 853.0068)" font-family="'MyriadPro-Regular'" font-size="12">Cyberjaya</text>
      <text transform="matrix(1 0 0 1 362.7148 438.3398)" font-family="'MyriadPro-Regular'" font-size="12">Puncak Alam</text>
      <text transform="matrix(1 0 0 1 444.0684 508.2319)" font-family="'MyriadPro-Regular'" font-size="12">Bestari Jaya</text>
      <line fill="none" stroke="#000000" x1="423.549" y1="508.232" x2="441.74" y2="503.974"/>
    </g>
  </svg>
    <div class="icon_Temerloh map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Raub map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Lipis map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Jerantut map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Kuantan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Rompin map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bera map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bentong map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Pekan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Maran map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
  </div>
</div>
</div>

<script>
function districtselangor_map(dist){
$('#state-select').val(dist)
$('#divselangorheader')[0].innerHTML=dist;
$("#divtotal_malaysialist").hide();
$('#div_selangor_states').show()
$.ajax({
url: "/dashboards/districts/" + dist,
dataType: "json",
success:function(data){

$('#divnoofselangordoctors')[0].innerHTML=data.noofdoctors
$('#divnoofselangorxray')[0].innerHTML=data.noofxray
$('#divnoofselangorlab')[0].innerHTML=data.nooflab
$('#divnoofselangoremployer')[0].innerHTML=data.empcount
$('#divnoofselangorfw')[0].innerHTML=data.fwcount
$('#divdetectablediseaseselangor')[0].innerHTML=data.detectdisease
$('#commdiseasesselangor')[0].innerHTML=data.commcount
$('#noncommdiseasesselangor')[0].innerHTML=data.noncommcount
$('#divselangortuberculosis')[0].innerHTML=data.tuberculosis
$('#divselangorhepatisis')[0].innerHTML=data.hepatisis
$('#divselangorsyphilis')[0].innerHTML=data.syphilis
$('#divselangorhiv')[0].innerHTML=data.hiv
$('#divselangormalaria')[0].innerHTML=data.malaria
$('#divselangorleprosy')[0].innerHTML=data.leporacy

$('#divselangorpreg')[0].innerHTML=data.pregnancy
$('#divselangorurine')[0].innerHTML=data.urine
$('#divselangorcannabis')[0].innerHTML=data.cannabis
$('#divselangorillness')[0].innerHTML=data.illness
$('#divselangorepilepsy')[0].innerHTML=data.epilsey
$('#divselangorcancer')[0].innerHTML=data.cancer
$('#divselangorhyper')[0].innerHTML=data.hypertension
$('#divselangordiabetes')[0].innerHTML=data.diabetes
$('#divselangorkidney')[0].innerHTML=data.kidney
$('#divselangorheart')[0].innerHTML=data.heart
$('#divselangorulcer')[0].innerHTML=data.ulcer
$('#divselangorasthama')[0].innerHTML=data.asthama
$('#divselangorothers')[0].innerHTML=data.others
}
})

}
function district_selangor(dist){  
$('#district-select option:selected').text(dist)  
$('#divselangorheader')[0].innerHTML=dist;
$.ajax({
url: "/dashboards/districtname/" + dist,
dataType: "json",
success:function(data){

$('#divnoofselangordoctors')[0].innerHTML=data.noofdoctors
$('#divnoofselangorxray')[0].innerHTML=data.noofxray
$('#divnoofselangorlab')[0].innerHTML=data.nooflab
$('#divnoofselangoremployer')[0].innerHTML=data.empcount
$('#divnoofselangorfw')[0].innerHTML=data.fwcount
$('#divdetectablediseaseselangor')[0].innerHTML=data.detectdisease
$('#commdiseasesselangor')[0].innerHTML=data.commcount
$('#noncommdiseasesselangor')[0].innerHTML=data.noncommcount
$('#divselangortuberculosis')[0].innerHTML=data.tuberculosis
$('#divselangorhepatisis')[0].innerHTML=data.hepatisis
$('#divselangorsyphilis')[0].innerHTML=data.syphilis
$('#divselangorhiv')[0].innerHTML=data.hiv
$('#divselangormalaria')[0].innerHTML=data.malaria
$('#divselangorleprosy')[0].innerHTML=data.leporacy

$('#divselangorpreg')[0].innerHTML=data.pregnancy
$('#divselangorurine')[0].innerHTML=data.urine
$('#divselangorcannabis')[0].innerHTML=data.cannabis
$('#divselangorillness')[0].innerHTML=data.illness
$('#divselangorepilepsy')[0].innerHTML=data.epilsey
$('#divselangorcancer')[0].innerHTML=data.cancer
$('#divselangorhyper')[0].innerHTML=data.hypertension
$('#divselangordiabetes')[0].innerHTML=data.diabetes
$('#divselangorkidney')[0].innerHTML=data.kidney
$('#divselangorheart')[0].innerHTML=data.heart
$('#divselangorulcer')[0].innerHTML=data.ulcer
$('#divselangorasthama')[0].innerHTML=data.asthama
$('#divselangorothers')[0].innerHTML=data.others
}
})
}
function closeselangoricon(){
$("#divtotal_malaysialist").show();
$('#div_selangor_states').hide()
clearvalues();
}
</script>