<div id="div_melaka_states" class="pahan svg-content" style="display: none;">
<div class="map-title" style="z-index: 100;"> MELAKA </div>
<div class="text-info1"><a onclick="closemelakaicon()">
  <i class="fa fa-close close-btn" id="divtotal_malaysiabtn_johor"></i></a>
  <div class="statediv" id="sabah_district14">
    <div id="myRadioGroup" class="submap-title">
      <h1><div id="divmelakaheader"></div> </h1>
      <div class="box div_Pekan div_statesvg">
        <ul>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Doctors
            </div>
            <div id="divnoofmelakadoctors"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i>Number of X-ray
            </div>
            <div id="divnoofmelakaxray"></div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Lab
            </div>
            <div id="divnoofmelakalab"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Employer
            </div>
            <div id="divnoofmelakaemployer">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of FW
            </div>
            <div id="divnoofmelakafw">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
            </div>
            <div id="divdetectablediseasemelaka"> </div>
          </li>
          <li class="p-0">
            <div id="accordion3" style="width: 100%!important;float:left">
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseOne16"> Communicable Diseases <span><div id="commdiseasesmelaka"></div>  </span>
                  </a>
                </div>
                <div id="collapseOne16" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i>Tuberculosis
                          </div>
                          <div id="divmelakatuberculosis">  </div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Hepatitis B
                          </div>
                          <div id="divmelakahepatisis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Syphilis
                          </div>
                          <div id="divmelakasyphilis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> HIV/AIDS
                          </div>
                          <div id="divmelakahiv"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Malaria
                          </div>
                          <div id="divmelakamalaria"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Leprosy
                          </div>
                          <div id="divmelakaleprosy"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="collapsed card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseTwo17"> Non-Communicable Diseases <span><div id="noncommdiseasesmelaka"></div> </span>
                  </a>
                </div>
                <div id="collapseTwo17" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i>Pregnancy
                          </div>
                          <div id="divmelakapreg"> </div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Opiates
                          </div>
                          <div id="divmelakaurine"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Cannabis
                          </div>
                          <div id="divmelakacannabis"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Psychiatric Illness
                          </div>
                          <div id="divmelakaillness"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Epilepsy
                          </div>
                          <div id="divmelakaepilepsy"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Cancer
                          </div>
                           <div id="divmelakacancer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Hypertension
                          </div>
                           <div id="divmelakahyper"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Diabetes
                          </div>
                          <div id="divmelakadiabetes"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Kidney Disease
                          </div>
                           <div id="divmelakakidney"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Heart Disease
                          </div>
                           <div id="divmelakaheart"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Peptic Ulcer
                          </div>
                           <div id="divmelakaulcer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Bronchial Asthma
                          </div>
                           <div id="divmelakaasthama"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Others
                          </div>
                           <div id="divmelakaothers"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="svg-map">
  <div class="sub-map">
  <svg version="1.1"
  id="svg5757" sodipodi:docname="melaka parlimen.svg" inkscape:version="0.91 r13725" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="559.459px"
  height="383.637px" viewBox="0 0 559.459 383.637" enable-background="new 0 0 559.459 383.637" xml:space="preserve">
<sodipodi:namedview  id="base" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:document-units="px" inkscape:current-layer="layer1" inkscape:window-width="1280" inkscape:window-height="740" inkscape:window-x="-4" inkscape:window-y="-4" fit-margin-right="0" fit-margin-bottom="0" pagecolor="#ffffff" bordercolor="#666666" showgrid="false" fit-margin-top="0" borderopacity="1.0" fit-margin-left="0" inkscape:zoom="0.71913181" inkscape:cx="349.41739" inkscape:cy="296.62382" inkscape:window-maximized="1">
 </sodipodi:namedview>
<g id="layer1" transform="translate(-4.9923498,-567.09495)" inkscape:groupmode="layer" inkscape:label="Layer 1"><a onclick="district_melaka('KLEBANG')">
 <path fill="#FAE273" stroke="#000000" d="M392.623,837.379c0,0-0.24-2.05-3.604-5.893c0,0,6.124-12.935,3.003-17.16l-4.321,2.306
   l-0.121-3.074l1.319-0.769l-0.479-1.151l-2.641,1.408l-0.12-2.563l-4.686,3.459c0,0-1.921,4.865-3.723,6.659l-6.484,0.512v-1.408
   h-2.279v-0.77h-2.401l-1.442-1.28l-6.004,3.714l-4.321-0.256l-1.803,2.05h-1.681l-3.123,3.329l-2.282,0.129l-1.199,1.922v-3.716
   l-3.242-1.921l-1.199-2.305l-12.729,5.891c0,0-4.104,3.103-7.782,0.398c-0.203-0.148-0.436,0.017-0.688,0.416
   c-0.552,2.524-2.426,7.412-4.24,15.805c1.427-0.496,3.483-1.146,5.386-1.507c0,0,0,3.073-1.561,4.098l0.12,1.922
   c0,0,2.281,1.665,1.802,3.586c0,0-2.644,3.841-3.124,9.859l-5.163,0.384c0,0-0.601-2.688-3.241-6.274c0,0-2.521-0.896-4.924,1.41
   c0,0-0.361,6.274-3.844,6.274c0,0,6.366,6.659,8.167,4.227h6.245l0.119,1.794h5.885l2.641-2.435l0.721,2.563h1.562l1.563-3.202
   l2.521,2.305v-2.944l3.123-0.641l0.479-1.665l1.922-0.512l0.119,3.072l2.521,0.385l1.683,3.458l1.08-1.794h2.763
   c0,0,3.723,5.508,6.005,1.666c0,0,2.882,0.384,9.605,4.098l0.119-5.123l1.683,0.515l0.479,4.226l1.441,1.664l-0.842,2.306v2.179
   c0,0,2.402-2.946,3.241-4.483l6.244,3.714h1.563l-0.121-4.354l4.804-4.099c0,0,1.321-1.665,2.522-5.378v-3.587h2.521l1.921-2.049
   l0.12-4.354h4.083v-2.178l1.081-1.409h1.8l0.842-3.2l4.442-4.227C396.466,843.399,396.466,840.964,392.623,837.379z"/></a><a onclick="district_melaka('DURIAN TUNGGAL')">
 
   <path id="path3351-2-30_3_" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccscccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FAE273" stroke="#000000" d="
   M325.339,595.461l-23.561,23.629l49.132,93.926l22.72-6.269c-1.58-2.173-2.962-9.479-2.962-9.479l11.649-2.764
   c0.396-0.987,0.987-4.542,0.987-4.542c3.159,1.975,7.328,13.784,7.328,13.784c4.739-3.159,14.366,4.667,14.366,4.667l20.158-3.493
   l6.424-88.592c-16.517-6.286-61.54-20.868-61.54-20.868S370.042,595.461,325.339,595.461"/></a>
 <path fill="#FAE273" stroke="#000000" d="M168.291,771.944l-0.454-0.862c0.007,0.587-0.017,1.163-0.066,1.73L168.291,771.944z"/><a onclick="district_melaka('SELANDAR')">
 <path fill="#FAE273" stroke="#000000" d="M206.222,670.414c-9-1-19,4-17,14c-6-2-7-7-7-12c-8,2-9,9-15,13s-11-3-11-9
   c-4.108,8.217-12.268,11.034-20.594,14.551c2.79,4.914,3.922,10.728,4.594,17.449c1,4,11,7,11,10
   c1.848,15.704,9.662,28.853,14.785,44.166l10.563-1.837l-0.974-3.408h2.192l1.948,2.922l15.828-4.627l6.087,0.974v-3.166
   l5.114-0.243c-0.243-5.356-3.896-3.896-3.896-3.896h-5.114l-0.244-6.818c0.244-1.948,4.627-1.948,4.627-1.948l-0.487-6.574
   l-3.166-4.626v-1.705c0-5.845-5.844-16.072-5.844-16.072l3.896-2.679l-4.14-12.176l2.436-1.461l-0.487-4.871h8.767h3.652
   l-2.435-2.435v-2.679l2.435-2.679l1.948,0.243l0.73-1.217l-2.435-1.461v-2.192h1.948v-4.318c-0.583-0.062-1.167-0.123-1.734-0.217
   C207.222,673.414,205.222,671.414,206.222,670.414z"/></a><a onclick="district_melaka('BUKIT BERUANG')">
 <path fill="#FAE273" stroke="#000000" d="M206.521,669.67l5.113-4.384l-0.73-3.651l4.627-2.922c-2.435-1.948-6.088,0-6.088,0
   l1.461-2.191l-0.73-4.383l-2.191-1.218l-2.922-0.487c3.653-2.922,3.653-12.906,3.653-12.906l10.471-1.947
   c2.436-2.437,7.306-3.653,7.306-3.653v-5.602l-3.166-3.408l-0.244-1.461h-0.974l-0.73-3.166l-2.435,0.729l2.435-6.575l-3.409,0.244
   l1.461-1.948v-6.088l4.908-4.873l-26.265-14.82l-32.819,31.506h-49.884l-1.313,10.502H93.051l-1.445,3.758
   c2.222,16.971,7.272,33.832,18.616,46.688c4,4,15,2,20,7c2.295,1.967,4.044,4.153,5.406,6.551
   c8.327-3.517,16.486-6.334,20.594-14.551c0,6,5,13,11,9s7-11,15-13c0,5,1,10,7,12c-2-10,8-15,17-14c-1,1,1,3,1,3
   c0.567,0.095,1.151,0.156,1.734,0.217v-1.77L206.521,669.67z"/></a>
 <path fill="#FAE273" stroke="#000000" d="M87.222,718.414c0.063,0,0.129,0.002,0.193,0.003c-0.017-0.632-0.075-1.295-0.193-2.003
   C87.222,717.414,87.222,717.414,87.222,718.414z"/><a onclick="district_melaka('MERLIMAU')">
 <path fill="#FAE273" stroke="#000000" d="M124.778,777.586l3.057-4.676l6.121,0.009v1.705h5.114
   c2.922,5.356,5.357,2.922,5.357,2.922c2.435-4.871,9.01-3.166,9.01-3.166c1.461-1.218,2.922-5.602,2.922-5.602l10.471,5.602
   l0.941-1.568c0.049-0.567,0.073-1.144,0.066-1.73l-1.981-3.764l-0.487-4.627l0.638-0.111
   c-5.123-15.313-12.938-28.462-14.785-44.166c0-3-10-6-11-10c-0.152-1.523-0.333-2.994-0.545-4.424
   c-6.899,1.667-12.679,6.424-18.455,6.424c-7,1-15-1-23-1c1,3,2,6,1,8c-2.953,1.968-7.84,1.033-11.807,1.003
   c0.124,4.729-2.311,7.587-3.193,11.997c-0.057,0.229-0.114,0.462-0.171,0.693c21.374,21.622,24.036,33.84,24.036,33.84
   C113.969,769.533,119.251,773.52,124.778,777.586z"/></a><a onclick="district_melaka('AYER KEROH')">
 <path fill="#FAE273" stroke="#000000" d="M87.415,718.417c-0.064,0-0.129-0.003-0.193-0.003c0-1,0-1,0-2
   C87.34,717.121,87.398,717.784,87.415,718.417c3.967,0.03,8.854,0.965,11.807-1.003c1-2,0-5-1-8c8,0,16,2,23,1
   c5.776,0,11.555-4.757,18.455-6.424c-1.184-7.961-3.521-14.49-9.455-19.576c-5-5-16-3-20-7
   c-11.344-12.857-16.395-29.717-18.616-46.688l-11.682,30.374l-10.502-11.815l-2.625-5.251L8.986,685.78l6.172,4.825l15.797,10.222
   l0.93,6.506h25.09c11.336,8.842,20.178,16.796,27.076,23.774c0.057-0.231,0.114-0.464,0.171-0.693
   C85.104,726.003,87.538,723.146,87.415,718.417z"/></a><a onclick="district_melaka('KLEBANG BESAR')">
 <path fill="#FAE273" stroke="#000000" d="M324.222,699.414c-11-10-25-15-40-12c-5,1-10,9-15,6c-2-1-3-8-4-8
   c-21.303,11.077-47.682,15.608-67.395,4.954h-3.483l0.487,4.871l-2.436,1.461l4.14,12.176l-3.896,2.679
   c0,0,5.844,10.228,5.844,16.072v1.705l3.166,4.626l0.487,6.574c0,0-4.383,0-4.627,1.948l0.244,6.818h5.114
   c0,0,3.653-1.461,3.896,3.896l16.052-4.705l8.824,8.562l3.16-2.172l3.357,1.975c1.58,1.185-0.988,3.554-0.988,3.554h2.962
   l2.962,5.134l5.134,1.976c2.172,0,0.592-3.555,0.592-3.555l1.975-5.134c0-1.776-2.172-4.937-2.172-4.937l3.357-1.382
   c4.739-4.938-5.134-7.308-5.134-7.308l2.962-5.727l-1.975-1.777l3.554-2.764h1.185l-0.593-4.147l7.702,4.938
   c1.975-3.357,3.258-0.494,3.258-0.494c9.38,1.086,2.271,11.947,2.271,11.947c-1.382,3.356,1.185,3.555,1.185,3.555v7.109
   c16.982,0.395-5.529,23.894-5.529,23.894l-1.58-0.791l-5.529,3.752l13.033,6.122l2.567,1.186l4.937-2.766v-2.172l2.962-0.198
   l2.37-5.924l5.924,1.777v-2.566l17.377-5.528l9.479-0.79l5.924,4.738c5.727,1.186,16.191,1.58,16.191,1.58
   c6.518-0.593,9.677-27.251,9.677-27.251l1.975-0.592l0.79-14.218l0.987-0.987v-1.382l-1.383-0.592l0.593-4.542l1.186-0.197
   c1.785-4.521,3.779-8.602,5.087-11.14c-9.845-6.187-21.717-8.718-34.209-11.841C317.222,706.414,327.222,702.414,324.222,699.414z"
   /></a><a onclick="district_melaka('BANDAR MELAKA')">
 <path fill="#FAE273" stroke="#000000" d="M352.294,713.017h-1.383l-49.133-93.927l-43.642-0.072l-33.801-19.238l-4.909,4.874v6.087
   l-1.461,1.948l3.409-0.244l-2.435,6.575l2.435-0.729l0.73,3.166h0.974l0.244,1.461l3.166,3.408v5.602c0,0-4.87,1.217-7.306,3.653
   l-10.471,1.947c0,0,0,9.984-3.653,12.906l2.922,0.487l2.191,1.218l0.73,4.383l-1.461,2.191c0,0,3.653-1.948,6.088,0l-4.627,2.922
   l0.73,3.651l-5.113,4.384l2.435,2.19v6.088h-1.948v2.192l2.435,1.461l-0.73,1.217l-1.948-0.243l-2.435,2.679v2.679l2.435,2.435
   h-3.652h-5.284c19.713,10.654,46.092,6.123,67.395-4.954c1,0,2,7,4,8c5,3,10-5,15-6c15-3,29,2,40,12c3,3-7,7-5,8
   c12.492,3.123,24.364,5.654,34.209,11.841c0.863-1.674,1.43-2.684,1.43-2.684L352.294,713.017z"/></a><a onclick="district_melaka('MASJID TANAH')">
 
   <path id="path3351-2-30_2_" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccscccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FAE273" stroke="#000000" d="
   M431.582,616.328l-6.424,88.593l2.368,1.185l48.184,3.949c-1.58-2.172-2.962-9.479-2.962-9.479l11.649-2.764
   c0.396-0.987,0.987-4.542,0.987-4.542c3.159,1.975,7.108,1.382,7.108,1.382c4.738-3.159,9.28,7.504,9.28,7.504l8.34,6.327
   l35.702-52.138C524.214,648.122,473.14,630.506,431.582,616.328"/></a>
 
   <path id="path3351-2-30" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccscccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FFFFCD" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
   M350.91,713.016l9.676-8.886l-3.159-9.479l0.197-3.554l2.765,0.197v-2.37l3.555,0.197v1.58l4.146,2.173h1.58v-1.383h4.542
   l7.503,4.345c5.135-8.097,8.491-8.097,8.491-8.097l1.975,8.491c11.651-0.197,27.646,9.281,27.646,9.281"/><a onclick="district_melaka('BATU BERENDAM')">
 <g>
   <path fill="#FAE273" stroke="#000000" d="M165.765,806.076c37.97,25.939,64.63,42.936,64.63,42.936l3.086-9.943
     c-1.88-0.33-3.225-0.629-3.225-0.629c-5.082-2.69-6.875-2.84-6.875-2.84l-0.149-2.989l-1.345-1.046
     c0.598-4.932,4.334-8.369,4.334-8.369c4.633-0.449,7.622-3.736,7.622-3.736c3.437,0.747,4.483,2.242,4.483,2.242l2.092-1.047
     l0.747-4.334l-0.896-0.598l2.839-2.69c0.952-1.045,6.207-9.979,5.28-13.087c-1.108-3.718-8.946-1.215-15.108-1.084
     c-4.846,0.103,14.76-1.372,14.76-1.372h2.391l0.149-4.783l1.495-0.447l-0.149-1.645l-0.897-0.598l0.149-3.588l2.559-1.986
     l5.548-3.498l1.58,0.791c0,0,22.511-23.499,5.529-23.894v-7.109c0,0-2.567-0.198-1.185-3.555c0,0,7.109-10.86-2.271-11.947
     c0,0-1.283-2.863-3.258,0.494l-7.701-4.938l0.592,4.147h-1.185l-3.554,2.765l1.975,1.777l-2.962,5.727c0,0,9.873,2.37,5.134,7.308
     l-3.357,1.382c0,0,2.172,3.16,2.172,4.937l-1.975,5.135c0,0,1.58,3.554-0.592,3.554l-5.134-1.975l-2.962-5.135h-2.962
     c0,0,2.567-2.37,0.987-3.554l-3.357-1.975l-3.16,2.172l-8.824-8.562l-16.052,4.705l-5.114,0.243v3.166l-6.087-0.974l-15.828,4.627
     l-1.948-2.922h-2.191l0.974,3.408l-11.201,1.948l0.487,4.627l2.436,6.428l-11.932-4.968l-1.908,5.447
     c0,0-24.266-4.909-26.616-1.315c-0.956,1.462-2.357,5.188-2.357,5.188L165.765,806.076"/>
 </g></a><a onclick="district_melaka('MELAKA TENGAH')">
 <path fill="#FAE273" stroke="#000000" d="M380.222,762.414c13-7,18-10,32-3c13,8,33-5,50-10c0,3,0,7,0,10
   c11.736-1.235,24.615-2.857,35.342-8.156l1.235-39.546l11.318-3.233l-8.34-6.327c0,0-4.542-10.663-9.28-7.504
   c0,0-3.949,0.593-7.108-1.382c0,0-0.592,3.555-0.987,4.542l-11.649,2.765c0,0,1.382,7.308,2.962,9.479l-48.183-3.95l-2.369-1.185
   l-5.332,0.592c0,0-15.995-9.479-27.646-9.281l-1.975-8.491c0,0-3.356,0-8.49,8.096l-7.504-4.344h-4.542v1.382h-1.58l-4.146-2.172
   v-1.58l-3.556-0.196v2.369l-2.765-0.197l-0.197,3.555l3.159,9.479l-7.503,2.369l-2.173,6.518h1.383l2.566,3.554
   c0,0-3.555,6.32-6.517,13.823l-1.186,0.198l-0.593,4.542l1.383,0.592v1.382l-0.987,0.987l-0.769,13.838
   c9.3,2.017,18.467,5.037,27.027,10.484C375.222,763.414,378.222,763.414,380.222,762.414z"/></a><a onclick="district_melaka('PERINGGIT')">
 <path fill="#FAE273" stroke="#000000" d="M344.198,752.901c0,0-3.159,26.658-9.677,27.251c-3.219,2.789-0.674,5.699-0.674,5.699
   l-1.697,1.817c1.334,3.758,0.606,8.849,0.606,8.849c-4.243,5.334-4.849,8.484-4.849,8.484c-3.151,2.061-2.666,6.061-2.666,6.061
   l-4.971,4.243c-2.667,2.302,1.939,4.362,1.939,4.362l-3.273,0.729c-0.849,1.94-1.091,6.545-1.091,6.545
   c2.909,3.031,8.606,1.092,8.606,1.092v-1.334c3.151-4.726,12.849-4.242,12.849-4.242l1.212,2.183l3.272,1.817v3.517l1.212-1.818
   l2.304-0.121l3.151-3.151h1.695l1.818-1.939l4.364,0.243l6.061-3.516l1.454,1.212h2.425v0.728h2.304v1.333l6.545-0.484
   c1.818-1.697,3.758-6.303,3.758-6.303l4.728-3.272l0.121,2.425l2.667-1.333l0.484,1.09l-1.03,18.973l97.108-41.631l-0.137-2.533
   l-0.569-10.257h11.316l1.617-16.168l0.381-12.191c-10.727,5.299-23.605,6.921-35.342,8.156c0-3,0-7,0-10c-17,5-37,18-50,10
   c-14-7-19-4-32,3c-2,1-5,1-7,0c-8.561-5.448-17.728-8.468-27.027-10.484l-0.021,0.38L344.198,752.901z"/></a><a onclick="district_melaka('TANJUNG MINYAK')">
 
   <path id="path3351-2-7_4_" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FAE273" stroke="#000000" d="
   M466.058,850.119c4.224,6.855,4.628,16.614,10.104,28.13c0.691,1.455,3.188-1.394,8.894,0.652
   c22.335,8.013,33.229,6.229,33.401,7.1c1.418,7.093,3.274,19.244,3.418,24.637c0.063,2.442-2.349,11.33-8.638,13.729
   c-8.762,3.341-22.275-0.073-22.523,0.771c-1.365,4.638-7.066,13.125-10.658,19.795c-1.104,2.05-3.696-5.839-5.831-6.207
   c-3.792-0.654-34.518-5.848-34.167-6.942C449.889,901.071,449.053,903.079,466.058,850.119"/></a><a onclick="district_melaka('TAMPIN')">
 
   <path id="path3351-2-7_1_" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FAE273" stroke="#000000" d="
   M440.057,931.783c0,0-52.149-12.961-51.979-15.739c0.92-15.023,2.247-63.983,3.949-68.007c0.841-1.988,3.337-8.267,1.702-9.697
   c0,0-0.242-1.939-3.637-5.576c0,0,48.233-20.025,85.693-35.972c0.918-0.392,9.359-3.998,10.264-4.385
   c0.892-0.38,0.233,4.223,2.522,45.42c0.038,0.692-12.83,6.209-21.019,11.318c-0.768,0.479-27.679,88.248-26.404,82.636
   c1.333-5.868,27.072-83.95,26.404-82.636c-0.063,0.124-25.668,81.595-26.404,82.636"/></a><a onclick="district_melaka('TANJUNG KELING')">
 
   <path id="path3351-2-7_2_" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FAE273" stroke="#000000" d="
   M388.077,916.043c-11.894-4.27-25.137-9.381-39.309-15.422c-8.157-4.151-11.136-5.391-11.136-5.391
   c1.648-2.443,3.403-4.356,3.403-4.356c-1.437-4.945-0.319-10.688-0.319-10.688c2.233-5.582,7.796-11.788,7.796-11.788
   s2.909,0.363,9.696,3.879l0.122-4.849l1.696,0.484l0.484,4l1.454,1.575l-0.849,2.184v2.061c0,0,2.425-2.789,3.272-4.243
   l6.304,3.516h1.574l-0.121-4.121l4.85-3.879c0,0,1.334-1.575,2.546-5.091v-3.395h2.545l1.939-1.939l0.12-4.12h4.122V852.4
   l1.092-1.334h1.816l0.85-3.029L388.077,916.043"/></a><a onclick="district_melaka('JASIN')">
 <path fill="#FAE273" stroke="#000000" d="M248.454,802.937c-0.023-0.021-0.046-0.046-0.069-0.068c0,1.703-0.242,3.378-1.074,4.123
   c0,0-1.793,1.645-4.334,6.575l-2.839,2.69l0.896,0.598l-0.747,4.334l-2.092,1.046c0,0-1.046-1.494-4.483-2.241
   c0,0-2.989,3.287-7.622,3.736c0,0,2.778,2.175,4.111,2.417v4c0,0,6.424,1.575,12.243,1.575l2.182,1.697l2.061-2.666
   c0,0,5.091,4.483,7.879,2.424l0.364,5.697l12.363,4l1.576,1.575h2.788l1.212,1.091l0.363,4.12c0,0,12.364,5.697,12.364-3.878
   l2.062,0.85c0,0,1.817-2.546,2.182-5.939h7.031l2.303,2.183h5.575l1.454,2.182l1.939-0.121l1.213-1.213l2.303,1.213
   c0,0,0.729-0.272,1.829-0.632c0.186-0.987,2.646-12.536,4.286-14.961c0.222-0.95,0.236-1.559-0.056-1.862
   c0,0,0.242-4.604,1.091-6.545l3.272-0.728c0,0,0.363-6.304,3.03-8.606c0,0-0.019-0.151-0.024-0.406
   c-25.543-2.452-51.086-3.607-76.63-7.258"/></a><a onclick="district_melaka('ALOR GAJAH')">
 <path fill="#FAE273" stroke="#000000" d="M248.454,803.937c25.543,3.649,51.087,4.806,76.63,7.258
   c-0.026-1.066,0.146-3.991,2.69-5.653c0,0,0.606-3.151,4.85-8.484c0,0,0.728-5.091-0.606-8.849l1.697-1.818
   c0,0-2.545-2.909,0.674-5.698c0,0-10.466-0.396-16.191-1.58l-5.925-4.739l-9.479,0.79l-17.377,5.529v2.566l-5.924-1.777
   l-2.37,5.924l-2.962,0.198v2.172l-4.937,2.765l-2.567-1.185l-13.042-6.249l-2.568,1.859l-0.149,3.588l0.897,0.598l0.149,1.645
   l-1.495,0.447l-0.149,4.782h-2.391c0,0,0.369,1.884,0.459,3.963c0.013,0.292,0.018,0.587,0.017,0.882
   c0.023,0.022,0.046,0.047,0.069,0.068"/></a>
 <path fill="#FFCC9A" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M311.49,843.301L311.49,843.301
   c-0.003,0.001-0.006,0.001-0.008,0.002C311.466,843.395,311.466,843.406,311.49,843.301z"/><a onclick="district_melaka('SUNGAI UDANG')">
 
   <path id="path3351-2-3-1-6-3_1_" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccscsccc" inkscape:connector-curvature="0" fill="#FAE273" stroke="#000000" d="
   M285.432,847.509c19.968,33.734,18.142,32.904,27.444,36.852c9.583,4.065,18.557,8.131,25.135,11.18
   c1.271-2.753,3.026-4.667,3.026-4.667c-1.437-4.943-0.319-10.687-0.319-10.687c2.233-5.582,7.796-11.787,7.796-11.787l0,0
   c-2.303,3.637-6.061-1.576-6.061-1.576h-2.788l-1.091,1.697l-1.697-3.271l-2.545-0.364l-0.122-2.908l-1.938,0.484l-0.484,1.575
   l-3.151,0.605v2.788l-2.546-2.183l-1.575,3.03h-1.576l-0.728-2.424l-2.666,2.303h-5.939l-0.12-1.696h-6.304
   c-1.817,2.303-8.243-4-8.243-4c3.516,0,3.879-5.939,3.879-5.939c2.426-2.182,4.971-1.333,4.971-1.333
   c2.666,3.394,3.271,5.938,3.271,5.938l5.213-0.362c0.484-5.697,3.151-9.333,3.151-9.333c0.484-1.818-1.818-3.395-1.818-3.395
   l-0.12-1.817c1.574-0.971,1.574-3.879,1.574-3.879c-3.394,0.604-7.271,2.061-7.271,2.061l-2.303-1.212l-1.213,1.212l-1.939,0.121
   l-1.454-2.182h-5.575l-2.303-2.183h-7.031c-0.173,1.615-0.676,3.039-1.154,4.087c-0.527,1.153-1.026,1.854-1.026,1.854"/></a><a onclick="district_melaka('CHENG')">
 
   <path id="path3351-2-3-1-6-3" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccscsccc" inkscape:connector-curvature="0" fill="#FAE273" stroke="#000000" d="
   M305.027,881.093l-19.302-35.845c0,9.574-12.364,3.878-12.364,3.878l-0.363-4.121l-1.212-1.09h-2.788l-1.576-1.576l-12.363-4
   l-0.364-5.697c-2.788,2.061-7.879-2.424-7.879-2.424l-2.061,2.666l-2.182-1.697c-5.818,0-12.243-1.575-12.243-1.575v-4
   c-1.333-0.242-4.111-2.417-4.111-2.417s-3.736,3.438-4.334,8.369l1.345,1.046l0.149,2.989c0,0,1.793,0.149,6.875,2.84
   c0,0,1.345,0.299,3.225,0.629l-3.127,9.646c6.711,3.953,10.678,6.281,15.73,9.41c10.106,6.258,16.263,9.976,16.263,9.976
   C267.366,868.099,295.677,877.893,305.027,881.093"/></a>
 <path fill="#FFFFCD" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M301.778,619.09"/>
 <path fill="#FFFFCD" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M437.888,617.649"/>
 <path fill="#CAFECA" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M249.118,797.185"/>
 <path d="M464.976,876.376"/>
 <path fill="#CDFFFE" stroke="#000000" d="M480.053,813.556"/>
 <path fill="#CDFFFE" stroke="#000000" d="M396.513,844.036"/>
 <text transform="matrix(1 0 0 1 267.0719 803.8687)" font-family="'MyriadPro-Regular'" font-size="12">Alor Gajah</text>
 <text transform="matrix(1 0 0 1 42.5163 695.8916)" font-family="'MyriadPro-Regular'" font-size="12">Ayer Keroh</text>
 <text transform="matrix(1 0 0 1 234.8371 658.4019)" font-family="'MyriadPro-Regular'" font-size="12">Bandar Melaka</text>
 <text transform="matrix(1 0 0 1 173.2912 785.0972)"><tspan x="0" y="0" font-family="'MyriadPro-Regular'" font-size="12">Batu </tspan><tspan x="0" y="14.4" font-family="'MyriadPro-Regular'" font-size="12">Berendam</tspan></text>
 <text transform="matrix(0.9928 0.1202 -0.1202 0.9928 247.6051 856.4048)" font-family="'MyriadPro-Regular'" font-size="12">Cheng</text>
 <text transform="matrix(1 0 0 1 119.5041 649.9263)" font-family="'MyriadPro-Regular'" font-size="12">Bukit Beruang</text>
 <text transform="matrix(1 0 0 1 263.4557 827.106)" font-family="'MyriadPro-Regular'" font-size="12">Jasin</text>
 <text transform="matrix(1 0 0 1 329.8371 849.0112)" font-family="'MyriadPro-Regular'" font-size="12">Klebang</text>
 <text transform="matrix(1 0 0 1 221.8849 721.0161)" font-family="'MyriadPro-Regular'" font-size="12">Klebang Besar</text>
 <text transform="matrix(1 0 0 1 333.8371 636.7471)" font-family="'MyriadPro-Regular'" font-size="12">Durian Tunggal</text>
 <text transform="matrix(1 0 0 1 437.7775 673.7695)" font-family="'MyriadPro-Regular'" font-size="12">Masjid Tanah</text>
 <text transform="matrix(1 0 0 1 379.838 739.5322)" font-family="'MyriadPro-Regular'" font-size="12">Melaka Tengah</text>
 <text transform="matrix(1 0 0 1 97.1711 742.5322)" font-family="'MyriadPro-Regular'" font-size="12">Merlimau</text>
 <text transform="matrix(1 0 0 1 375.505 785.0972)" font-family="'MyriadPro-Regular'" font-size="12">Peringgit</text>
 <text transform="matrix(1 0 0 1 146.5046 706.3779)" font-family="'MyriadPro-Regular'" font-size="12">Selandar</text>
 <text transform="matrix(1 0 0 1 408.8371 862.2124)" font-family="'MyriadPro-Regular'" font-size="12">Tampin</text>
 <text transform="matrix(1 0 0 1 461.1711 903.1987)"><tspan x="0" y="0" font-family="'MyriadPro-Regular'" font-size="12">Tanjung </tspan><tspan x="0" y="14.4" font-family="'MyriadPro-Regular'" font-size="12">Minyak</tspan></text>
 <text transform="matrix(1 0 0 1 321.0421 936.3589)" font-family="'MyriadPro-Regular'" font-size="12">Tanjung Keling</text>
 
   <line fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" x1="364.829" y1="897.695" x2="359.22" y2="922.748"/>
 
   <line fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" x1="325.111" y1="882.041" x2="316.973" y2="910.221"/>
 <text transform="matrix(1 0 0 1 245.1833 919.0435)" font-family="'MyriadPro-Regular'" font-size="12">Sungai Udang</text>
</g>
</svg>
    <div class="icon_Temerloh map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Raub map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Lipis map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Jerantut map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Kuantan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Rompin map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bera map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bentong map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Pekan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Maran map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
  </div>
</div>
</div>

<script>
function districtmelaka_map(dist){
$('#state-select').val(dist)
$('#divmelakaheader')[0].innerHTML=dist;
$("#divtotal_malaysialist").hide();
$('#div_melaka_states').show()
$.ajax({
url: "/dashboards/districts/" + dist,
dataType: "json",
success:function(data){

$('#divnoofmelakadoctors')[0].innerHTML=data.noofdoctors
$('#divnoofmelakaxray')[0].innerHTML=data.noofxray
$('#divnoofmelakalab')[0].innerHTML=data.nooflab
$('#divnoofmelakaemployer')[0].innerHTML=data.empcount
$('#divnoofmelakafw')[0].innerHTML=data.fwcount
$('#divdetectablediseasemelaka')[0].innerHTML=data.detectdisease
$('#commdiseasesmelaka')[0].innerHTML=data.commcount
$('#noncommdiseasesmelaka')[0].innerHTML=data.noncommcount
$('#divmelakatuberculosis')[0].innerHTML=data.tuberculosis
$('#divmelakahepatisis')[0].innerHTML=data.hepatisis
$('#divmelakasyphilis')[0].innerHTML=data.syphilis
$('#divmelakahiv')[0].innerHTML=data.hiv
$('#divmelakamalaria')[0].innerHTML=data.malaria
$('#divmelakaleprosy')[0].innerHTML=data.leporacy

$('#divmelakapreg')[0].innerHTML=data.pregnancy
$('#divmelakaurine')[0].innerHTML=data.urine
$('#divmelakacannabis')[0].innerHTML=data.cannabis
$('#divmelakaillness')[0].innerHTML=data.illness
$('#divmelakaepilepsy')[0].innerHTML=data.epilsey
$('#divmelakacancer')[0].innerHTML=data.cancer
$('#divmelakahyper')[0].innerHTML=data.hypertension
$('#divmelakadiabetes')[0].innerHTML=data.diabetes
$('#divmelakakidney')[0].innerHTML=data.kidney
$('#divmelakaheart')[0].innerHTML=data.heart
$('#divmelakaulcer')[0].innerHTML=data.ulcer
$('#divmelakaasthama')[0].innerHTML=data.asthama
$('#divmelakaothers')[0].innerHTML=data.others
}
})

}
function district_melaka(dist){   
$('#district-select option:selected').text(dist)  
$('#divmelakaheader')[0].innerHTML=dist;
$.ajax({
url: "/dashboards/districtname/" + dist,
dataType: "json",
success:function(data){

$('#divnoofmelakadoctors')[0].innerHTML=data.noofdoctors
$('#divnoofmelakaxray')[0].innerHTML=data.noofxray
$('#divnoofmelakalab')[0].innerHTML=data.nooflab
$('#divnoofmelakaemployer')[0].innerHTML=data.empcount
$('#divnoofmelakafw')[0].innerHTML=data.fwcount
$('#divdetectablediseasemelaka')[0].innerHTML=data.detectdisease
$('#commdiseasesmelaka')[0].innerHTML=data.commcount
$('#noncommdiseasesmelaka')[0].innerHTML=data.noncommcount
$('#divmelakatuberculosis')[0].innerHTML=data.tuberculosis
$('#divmelakahepatisis')[0].innerHTML=data.hepatisis
$('#divmelakasyphilis')[0].innerHTML=data.syphilis
$('#divmelakahiv')[0].innerHTML=data.hiv
$('#divmelakamalaria')[0].innerHTML=data.malaria
$('#divmelakaleprosy')[0].innerHTML=data.leporacy

$('#divmelakapreg')[0].innerHTML=data.pregnancy
$('#divmelakaurine')[0].innerHTML=data.urine
$('#divmelakacannabis')[0].innerHTML=data.cannabis
$('#divmelakaillness')[0].innerHTML=data.illness
$('#divmelakaepilepsy')[0].innerHTML=data.epilsey
$('#divmelakacancer')[0].innerHTML=data.cancer
$('#divmelakahyper')[0].innerHTML=data.hypertension
$('#divmelakadiabetes')[0].innerHTML=data.diabetes
$('#divmelakakidney')[0].innerHTML=data.kidney
$('#divmelakaheart')[0].innerHTML=data.heart
$('#divmelakaulcer')[0].innerHTML=data.ulcer
$('#divmelakaasthama')[0].innerHTML=data.asthama
$('#divmelakaothers')[0].innerHTML=data.others
}
})
}
function closemelakaicon(){
$("#divtotal_malaysialist").show();
$('#div_melaka_states').hide()
clearvalues();
}
</script>