<div id="div_johor_states" class="pahan svg-content" style="display: none;">
<div class="map-title" style="z-index: 100;"> JOHOR </div>
<div class="text-info1"><a onclick="closejohoricon()">
  <i class="fa fa-close close-btn" id="divtotal_malaysiabtn_johor"></i></a>
  <div class="statediv" id="sabah_district14">
    <div id="myRadioGroup" class="submap-title">
      <h1><div id="divjohorheader"></div> </h1>
      <div class="box div_Pekan div_statesvg">
        <ul>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Doctors
            </div>
            <div id="divnoofjohordoctors"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i>Number of X-ray
            </div>
            <div id="divnoofjohorxray"></div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Lab
            </div>
            <div id="divnoofjohorlab"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Employer
            </div>
            <div id="divnoofjohoremployer">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of FW
            </div>
            <div id="divnoofjohorfw">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
            </div>
            <div id="divdetectablediseasejohor"> </div>
          </li>
          <li class="p-0">
            <div id="accordion3" style="width: 100%!important;float:left">
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseOne16"> Communicable Diseases <span><div id="commdiseasesjohor"></div>  </span>
                  </a>
                </div>
                <div id="collapseOne16" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i>Tuberculosis
                          </div>
                          <div id="divjohortuberculosis">  </div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Hepatitis B
                          </div>
                          <div id="divjohorhepatisis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Syphilis
                          </div>
                          <div id="divjohorsyphilis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> HIV/AIDS
                          </div>
                          <div id="divjohorhiv"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Malaria
                          </div>
                          <div id="divjohormalaria"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Leprosy
                          </div>
                          <div id="divjohorleprosy"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="collapsed card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseTwo17"> Non-Communicable Diseases <span><div id="noncommdiseasesjohor"></div> </span>
                  </a>
                </div>
                <div id="collapseTwo17" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i>Pregnancy
                          </div>
                          <div id="divjohorpreg"> </div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Opiates
                          </div>
                          <div id="divjohorurine"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Cannabis
                          </div>
                          <div id="divjohorcannabis"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Psychiatric Illness
                          </div>
                          <div id="divjohorillness"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Epilepsy
                          </div>
                          <div id="divjohorepilepsy"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Cancer
                          </div>
                           <div id="divjohorcancer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Hypertension
                          </div>
                           <div id="divjohorhyper"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Diabetes
                          </div>
                          <div id="divjohordiabetes"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Kidney Disease
                          </div>
                           <div id="divjohorkidney"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Heart Disease
                          </div>
                           <div id="divjohorheart"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Peptic Ulcer
                          </div>
                           <div id="divjohorulcer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Bronchial Asthma
                          </div>
                           <div id="divjohorasthama"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Others
                          </div>
                           <div id="divjohorothers"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="svg-map">
  <div class="sub-map">
  <svg version="1.1" id="svg20467" inkscape:version="0.91 r13725" sodipodi:docname="johor parlimen.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="" viewBox="-128 -20 844 394.708" enable-background="new -128 -20 844  394.708" xml:space="preserve">
  <sodipodi:namedview  id="base" fit-margin-bottom="0" fit-margin-right="0" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-height="740" inkscape:window-width="1280" inkscape:current-layer="layer1" inkscape:document-units="px" inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:zoom="1.3419474" fit-margin-left="0" borderopacity="1.0" pagecolor="#ffffff" fit-margin-top="0" showguides="false" showgrid="false" bordercolor="#666666" inkscape:cx="396.16755" inkscape:cy="205.71043" inkscape:window-maximized="1" inkscape:snap-nodes="false">
    <inkscape:grid  type="xygrid" id="grid21358" originy="7.7652372e-006" originx="60.314745"></inkscape:grid>
  </sodipodi:namedview>
  <g id="layer1" transform="translate(60.314747,-598.97695)" inkscape:groupmode="layer" inkscape:label="Layer 1">

    <a onclick="district_johor('SEGAMAT')">
    <path id="path20955-8" sodipodi:nodetypes="cccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M14.25,821.038l-3.768,0.298L1.6,815.67l-6.459,0.298c-8.193-17.463-9.742,16.435-15.341-3.281h-1.614l-0.269,2.685
    c-13.458-1.79-7.952-18.008-7.952-18.008l-2.265-5.355l-0.156-4.646l2.331-3.098l-1.087-4.474v-10.497l6.833-7.744l-4.712-6.043
    l19.795-57.59l21.512,10.358l21.416,28.08L18.058,760.45l-1.883,15.445l-5.65,0.417v2.296l2.072,3.548v3.548l4.332,4.173
    l-1.13,2.086h-2.448c-2.449,3.966-5.275,5.636-5.275,5.636l-2.26-3.757c-3.956,1.67,1.695,7.723,1.695,7.723h2.637v2.713
    l2.071,2.712l-1.507,1.669l0.565,5.008l3.203,2.921L14.25,821.038z"/></a>

    <a onclick="district_johor('BANDAR PENAWAR')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M103.29,848.825
    c-7.611,3.615-13.047-6.024-20.658-4.819c1.088-2.409,3.262-4.819,2.175-7.229c-1.087,0-4.35-1.205-4.35-4.819
    c0,2.41-1.087,4.819-3.261,3.614c0-1.205,0-3.614,0-4.819c-12.816-7.102-21.771-20.182-28.827-33.489
    c-7.92,9.907-7.743,22.281-7.743,22.281s7.267,17.895,18.033,17l7.267,8.948L54.083,873.53l15.881,9.246l16.149-0.597l0.27-12.825
    c0,0,1.585-3.823,21.24-12.867c0.002-0.144,0.017-0.291,0.017-0.433C107.639,853.644,102.203,853.644,103.29,848.825z"/></a>


    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M84.807,836.777
    C91.33,839.186,91.33,836.777,84.807,836.777L84.807,836.777z"/>

    <a onclick="district_johor('LABIS')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M154.748,823.125
    l-20.11-49.374l-32.785,12.899l-36.019-18.979l6.698,17.681c-12.009,1.081-19.493,6.069-24.164,11.912
    c7.055,13.306,16.01,26.388,28.827,33.489c0,1.205,0,3.614,0,4.819c2.174,1.205,3.262-1.205,3.262-3.614
    c0,3.614,3.262,4.819,4.349,4.819c6.523,0,6.523,2.41,0,0c1.087,2.41-1.087,4.819-2.174,7.229
    c7.61-1.205,13.047,8.435,20.658,4.819c-1.087,4.82,4.349,4.82,4.349,7.229c0,0.145-0.016,0.291-0.018,0.433
    c7.242-3.332,16.93-7.37,29.9-12.187L154.748,823.125z"/></a>

    <a onclick="district_johor('SEKIJANG')">
    <path id="path20955-89" sodipodi:nodetypes="cccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M72.532,785.353l-6.738-17.664l-14.521-7.012l-17.695-24.13l-15.524,23.902l-1.883,15.444l-5.65,0.417v2.296l2.072,3.548v3.549
    l4.332,4.173l-1.13,2.087h-2.448c-2.449,3.965-5.274,5.634-5.274,5.634l-2.26-3.756c-3.956,1.67,1.695,7.723,1.695,7.723h2.637
    v2.714l2.071,2.711l-1.507,1.67l0.565,5.009l3.203,2.922l-0.228,4.447v5.668h8.344l3.23-11.037h7.268l1.076,3.877h6.459
    C40.626,819.547,40.16,788.267,72.532,785.353L72.532,785.353z"/></a>

    <a onclick="district_johor('AYER HITAM')">
    <path id="path20955-1-7" sodipodi:nodetypes="ccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M86.113,882.181l-16.149,0.597l-15.93-9.236l-10.868,18.091l8.208,11.285l2.137,0.183l12.657,12.022
    c3.453,0.546-3.287,3.642-3.287,3.642l-2.138,5.462c5.425,3.644,6.904,12.752,6.904,12.752l2.629,1.457
    c0.355,1.387,0.355,2.749,0.355,2.749l-2.104,13.408l4.735,1.363c3.682-2.333,10.522-1.751,10.522-1.751
    c-0.352,2.723,1.228,3.11,1.228,3.11l1.928,0.39l-0.35,4.662l1.579-0.972l1.579,1.942l1.227-1.36
    c7.366,5.246,4.033,13.018,4.033,13.018l-0.526,1.944l7.015-0.584l2.104,0.779l5.788-3.11v-6.606l2.806-3.888l-2.455-2.914
    l3.682-6.218l-0.702-2.138l-2.979-0.777c-1.403-0.583-1.403-4.858-1.403-4.858l5.26-1.943l1.052-6.802l2.806-0.971
    c2.282-3.888,6.488-5.246,6.488-5.246c2.455-1.75-3.508-4.082-3.508-4.082l-15.256-27.4v-6.802l-2.981-3.887l1.579-4.082
    L86.113,882.181z"/></a>

    <a onclick="district_johor('SRI GADING')">
    <path id="path3347-1-1-3-8-39-0-2" sodipodi:nodetypes="cccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M103.601,977.139l-2.104-0.777l-7.015,0.582L95.008,975c0,0,3.331-7.772-4.033-13.018l-1.227,1.361l-1.579-1.944l-1.579,0.973
    l0.35-4.662l-1.928-0.39c0,0-1.58-0.388-1.228-3.108c0,0-6.84-0.583-10.522,1.747l-4.734-1.361l2.104-13.407
    c0,0,0-1.361-0.355-2.748l-6.739,4.372l-10.192,0.181l-8.712-6.555l-1.48,2.184l0.33,2.914h-2.63v3.828l-6.083,7.467l1.81,3.094
    l-1.48,1.637l1.151,2.371l4.602-0.182l1.314,6.74l1.146,1.389l1.049-1.164l2.973-0.191l1.049-3.878l2.973,1.356v5.233l3.847,2.52
    c4.021,2.134,4.896,9.111,4.896,9.111h14.34c0.525,4.068,3.672,5.619,3.672,5.619h3.672c2.273,0.193,1.398,4.068,1.398,4.068h6.121
    c1.399-7.169,6.12-6.976,6.12-6.976l0.7-4.069L103.601,977.139z"/></a>

    <a onclick="district_johor('PARIT SULONG')">
    <path id="path3347-1-1-3-8-39-0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M26.058,917.125h1.314l4.275-5.648l-2.575-3.651v-4.183l6.343,0.778l4.643-7.718l2.979-4.952l8.336,11.166l2.137,0.182
    l12.658,12.024c3.452,0.545-3.288,3.642-3.288,3.642l-2.137,5.463c5.425,3.643,6.904,12.752,6.904,12.752l2.63,1.457l-6.74,4.373
    l-10.192,0.182l-8.712-6.557l-1.479,2.185l0.329,2.916h-2.63v3.828l-6.082,7.467l1.809,3.098l-1.479,1.635l1.15,2.371l4.602-0.183
    l1.315,6.742l1.973,2.734c-0.822,5.648-3.452,7.285-3.452,7.285l-3.618,0.365l-2.355,1.545
    c-21.458-14.976-27.445-13.697-27.445-13.697c3.334-9.163,3.827-12.439,3.827-12.439c0.986-7.104,1.644-12.206,1.644-12.206
    L26.058,917.125z"/></a>

    <a onclick="district_johor('BATU PAHAT')">
    <path id="path3347-1-1-9" sodipodi:nodetypes="scccccccccccccccccccccccccccccs" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M96.847,1022.677c-18.76-11.359-34.135-21.357-34.135-21.357l-15.583-2.271l-12.3-11.816l-0.056-8.95l2.299-1.412l3.617-0.365
    c0,0,2.63-1.637,3.452-7.286l-0.907-1.355l1.129-1.15l2.974-0.193l1.049-3.876l2.973,1.357v5.232l3.847,2.52
    c4.022,2.134,4.896,9.111,4.896,9.111h14.34c0.525,4.068,3.673,5.62,3.673,5.62h3.671c2.273,0.191,1.399,4.067,1.399,4.067h6.121
    c1.399-7.168,6.12-6.974,6.12-6.974l0.7-4.071l7.475-2.371l5.788-3.11l0.728,13.622l9.094,4.068
    c-6.819,17.247-6.819,18.022-6.819,18.022c-1.925,11.435,1.397,18.023,1.397,18.023l-2.174,3.521
    C106.439,1028.443,101.537,1025.517,96.847,1022.677L96.847,1022.677z"/></a>

    <a onclick="district_johor('SKUDAI')">
    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M-13.31,913.823
    c0.091,0,0.183,0.013,0.273,0.036c0.52-0.638,0.957-1.103,0.957-1.103c-0.821-1.823-1.644-1.823-1.644-1.823
    c-4.274-0.91-6.246-3.46-6.246-3.46c-1.151-1.639-2.138-3.462-2.138-3.462c-0.329-1.821-1.808-2.003-1.808-2.003
    c-0.822-0.365-1.314,2.914-1.314,2.914l-5.59,3.826l-0.986,2.733c-1.479,0.364-6.246-3.279-6.246-3.279
    c-2.794-2.732-6.278-2.029-6.278-2.029l-4.182,0.257l4.646,6.694c-0.464,2.832-1.394,2.575-1.394,2.575
    c-0.355,4.526,2.769,5.798,2.769,5.798l1.809-1.275c2.959-0.181,2.959,0.365,2.959,0.365l0.986,2.185l3.125-0.91l2.137-2.186
    l3.945,1.091c1.263,0.2,4.255,1.113,6.702,1.896C-19.509,919.101-17.481,915.804-13.31,913.823z"/></a>

    <a onclick="district_johor('BAKRI')">
    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M29.073,907.828L4.36,907.654
    l-1.315,4.555l-10.686,5.647c-2.63,1.639-6.904-0.364-6.904-0.364c-0.751-0.595,0.529-2.43,1.508-3.634
    c-0.09-0.022-0.182-0.036-0.273-0.036c-4.171,1.981-6.199,5.278-7.519,8.841c2.011,0.644,3.654,1.201,3.654,1.201v-2.55
    l2.301,2.004v2.732c3.617,1.095,4.11,5.284,4.11,5.284l3.452,2.551l1.808-3.095l8.877-2.915l-0.494,6.193l2.466,2.733
    c0.329,3.644,3.946,4.373,3.946,4.373v-1.822l3.452,0.728l13.316-22.955h1.314l4.274-5.646L29.073,907.828z"/></a>

    <a onclick="district_johor('TANGKAK')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M-25.42,879.938
    l-0.092-0.026l-1.394,0.516l0.93,4.376l-2.324,3.604l3.717,3.862l-2.787,2.06l-3.021-1.803l-2.323,4.12
    c-2.557,3.346-3.486-2.576-3.486-2.576c-0.697-2.06,4.647-4.119,4.647-4.119c3.252-3.089-5.344-2.317-5.344-2.317
    c-1.161,0-0.465,4.12-0.465,4.12l-3.95,1.802l2.556,2.317l-1.858,2.059v2.317c4.183-0.258,4.183,1.287,4.183,1.287
    c-1.394,2.833-2.091,2.574-2.091,2.574c-1.626-1.03-3.253-3.089-3.253-3.089c-2.332-0.956-2.623,2.21-2.556,5.148
    c0,0,3.482-0.704,6.279,2.027c0,0,4.768,3.644,6.246,3.28l0.986-2.733l5.59-3.825c0,0,0.492-3.278,1.314-2.915
    c0,0,1.479,0.183,1.808,2.004c0,0,0.361,0.665,0.896,1.547c0.151-0.57,0.291-1.138,0.404-1.704
    C-19.468,894.951-21.721,887.374-25.42,879.938z"/></a>

    <a onclick="district_johor('TLU TRIAM')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M7.682,882.253
    c-1.5,0-4.498,0-5.998,0c4.298-4.763,6.289-10.382,8.727-16.241c-6.968-3.11-13.7-6.204-20.174-7.997
    c-0.074,1.484-0.181,2.33-0.181,2.33c-2.557,5.149-2.324,9.784-2.324,9.784c-3.021,2.317-3.717,3.089-3.717,3.089l0.231,4.634
    l-5.344,3.347l-4.322-1.261c3.699,7.436,5.952,15.013,4.613,23.916c-0.113,0.566-0.252,1.134-0.404,1.704
    c0.354,0.584,0.783,1.261,1.242,1.914c0,0,1.972,2.551,6.246,3.461c0,0,0.822,0,1.644,1.821c0,0-3.616,3.826-2.465,4.737
    c0,0,4.274,2.004,6.904,0.365l10.686-5.648l0.732-2.536c0.405-6.919,0.4-14.035,0.907-20.772
    C4.683,887.237,7.682,885.576,7.682,882.253z"/></a>

    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M10.411,866.012
    c-2.438,5.858-4.429,11.478-8.727,16.241c1.5,0,4.498,0,5.998,0c0,3.323-2.999,4.984-2.999,6.646
    c-0.506,6.737-0.501,13.853-0.907,20.772l0.583-2.018l24.713,0.175v-4.184l6.343,0.779l17.715-29.454
    C38.128,878.052,23.833,872.003,10.411,866.012z"/>

    <a onclick="district_johor('PAGOH')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M53.131,874.969
    l0.852-1.417l11.943-28.056l-7.267-8.947c-10.766,0.896-18.033-17.001-18.033-17.001h-6.46l-1.076-3.877h-7.268l-3.23,11.036
    h-8.344v-5.668l-3.769,0.298l-8.882-5.666l-6.458,0.299c-8.193-17.463-9.743,16.435-15.341-3.281h-1.615l-0.269,2.685
    c-1.014,0.072-2.285-0.475-2.285-0.475l-6.949,11.464c-0.232,2.832,2.556,2.059,2.556,2.059l8.829,0.256
    c3.95,0.258,3.486,8.755,3.486,8.755c0,10.297,6.272,9.783,6.272,9.783c0.563,4.686,0.528,8.51,0.414,10.8
    C9.181,863.262,30.341,879.652,53.131,874.969z"/></a>

    <a onclick="district_johor('LEDANG')">
    <path id="path3347-1-1-3" sodipodi:nodetypes="ccccccccccccccccssscccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M-68.314,895.721l5.465,0.837l1.405,2.237l3.076-6.331c10.441,1.693,8.868-4.375,7.472-12.174
    c-5.195,0.616-6.594-2.052-11.426-1.948l-2.636-8.767l5.713-3.408l-0.88-17.532h3.077l0.44-4.869l0.439-15.584l3.077-0.974
    l9.723-14.791l10.134-10.599l2.99-4.053c0,0-1.168,3.654-0.863,7.933c0.154,2.138,0.726,4.333,2.103,6.106
    c0.688,0.887,1.577,1.666,2.715,2.281c0.569,0.308,1.199,0.574,1.898,0.791l-6.927,11.487c-0.231,2.833,2.556,2.059,2.556,2.059
    l8.829,0.257c3.95,0.258,3.486,8.754,3.486,8.754c0,10.298,6.273,9.784,6.273,9.784c0.929,7.723,0.231,13.128,0.231,13.128
    c-2.556,5.149-2.323,9.784-2.323,9.784c-3.021,2.317-3.717,3.089-3.717,3.089l0.231,4.634l-5.344,3.347l-4.414-1.288l-1.395,0.516
    l0.93,4.376l-2.323,3.604l3.717,3.862l-2.788,2.059l-3.021-1.803l-2.324,4.12c-2.556,3.347-3.486-2.575-3.486-2.575
    c-0.697-2.059,4.647-4.12,4.647-4.12c3.253-3.089-5.344-2.316-5.344-2.316c-1.161,0-0.464,4.119-0.464,4.119l-3.95,1.803
    l2.556,2.316l-1.858,2.059v2.317c4.183-0.258,4.183,1.287,4.183,1.287c-1.394,2.832-2.09,2.575-2.09,2.575
    c-1.627-1.029-3.254-3.089-3.254-3.089c-3.02-1.545-2.556,5.147-2.556,5.147l-4.182,0.258l4.646,6.694
    c-0.464,2.832-1.394,2.575-1.394,2.575l-4.835-0.301C-53.098,905.674-68.314,895.721-68.314,895.721z"/></a>

    <a onclick="district_johor('MUAR')">
    <path id="path3347-1-1-3-8-39-5" sodipodi:nodetypes="ccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M12.741,940.079l-3.451-0.729v1.824c0,0-3.617-0.727-3.946-4.372l-2.466-2.735l0.494-6.193l-8.877,2.916l-1.808,3.097l-3.452-2.551
    c0,0-0.494-4.19-4.11-5.284v-2.733l-2.302-2.004v2.549c0,0-8.056-2.733-10.356-3.096l-3.945-1.09l-2.137,2.184l-3.124,0.911
    l-0.986-2.185c0,0,0-0.545-2.958-0.365l-1.809,1.276c0,0-3.124-1.276-2.769-5.8l-4.777-0.301c0.306,1.379,0.408,3.286-0.051,4.591
    c0-3.577,39.2,56.285,43.874,44.983l13.515-0.2c3.306-9.208,3.8-12.486,3.8-12.486C12.085,945.181,12.741,940.079,12.741,940.079
    L12.741,940.079z"/></a>

    <a onclick="district_johor('LAYANG LAYANG')">
    <path id="path3347-1-1-8-1" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M175.029,1029.11l-1.069,2.135l-2.997,0.711v3.557l-1.926,2.372l5.778,3.085l2.354-1.661l2.783,8.063l-4.281,2.845l-1.071-0.711
    l-1.925-0.713l-0.856,1.898v4.031l-3.639,6.402l0.214,6.167l-3.424-0.947l-0.213-2.611l-1.285,0.476c0,0-0.642,0.95-1.07,5.693
    l-3.278,5.653l2.613,7.782l10.456,31.125h1.23l15.992,15.447l0.41-11.814l9.431-6.362l-0.41-6.812
    c-1.988-8.221-0.063-16.995-0.063-16.995c2.784-4.506,2.997-11.147,2.997-11.147l-0.213-2.607l3.21-4.032
    c2.137,2.592,4.352,1.104,2.141-3.085l-0.212-8.538l-8.563,0.476c-6.634-2.373-8.131-8.301-8.131-8.301l0.213-7.826
    L175.029,1029.11z"/></a>

    <a onclick="district_johor('PONTIAN')">
    <path id="path20955-1-7-4-8-6" sodipodi:nodetypes="cccccscccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M152.903,1007.581c-7.113-5.255-33.691-15.864-33.691-15.864c-6.821,17.249-6.821,18.023-6.821,18.023
    c-1.923,11.435,1.399,18.021,1.399,18.021l-2.299,3.541c4.801,2.892,9.75,5.719,14.536,8.359
    c9.574,5.283,18.49,9.826,25.256,12.552l5.229,15.564l2.614,7.779l3.278-5.653c0.43-4.744,1.069-5.691,1.069-5.691l1.286-0.476
    l0.213,2.609l3.423,0.947l-0.213-6.165l3.639-6.404v-4.031l0.855-1.896l1.926,0.712l1.069,0.71l4.282-2.844l-2.783-8.063
    l-2.354,1.661l-5.777-3.085l1.925-2.372v-3.557l2.998-0.712l1.069-2.134L152.903,1007.581z"/></a>

    <a onclick="district_johor('TEBRAU')">
    <path id="path3347-1-1-8-6-3-6-0" sodipodi:nodetypes="ccccccccccccccccccccccccccccsccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M310.788,1079.929v-28.626c0,0-2.052-5.451-12.709-20.448l6.132,0.559l2.339-5.961l-6.764-2.858l-3.864-0.236l-4.4-5.115h-3.331
    l-1.503,5.594l-4.507,5.113l3.542,4.045l-2.255,3.925l-2.468-1.547l-1.074,2.618l-4.829-1.429l-1.181,2.024l-5.583-7.02
    l-10.948-4.044l-1.072-3.331l1.072-1.31h-2.898l-0.11-3.805h-6.548l-3.756,2.381l3.081,4.146l-0.43,2.135h-2.782
    c0,0-6.422,1.896-6.422,4.504v4.981l3.561,3.182v3.778l1.622,1.621l-1.947,3.779l-3.572-4.319
    c-3.249-1.079-2.438,1.261-2.438,1.261v2.338c3.085,3.238,3.085,6.658,3.085,6.658l4.182,0.448l4.819,2.542l5.96-1.652l2.981,1.271
    l5.171-0.341l1.703-5.546l10.808,1.11l0.9,0.997l3.202-0.111c2.604-2.108,4.806-3.329,4.806-3.329l5.906,1.11l2.7,5.879
    l0.302,8.651l-3.504,7.765c0.099,5.102,2,10.647,2,10.647C300.644,1086.832,310.788,1079.929,310.788,1079.929L310.788,1079.929z"
      /></a>

    <a onclick="district_johor('GELANG PATAH')">
    <path id="path3347-1-1-8-1-7" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccssscc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M231.176,1073.777v1.8c0,0-5.035-1.258-10.07-4.498v-1.979l3.736-4.5h3.738l9.257-10.077c0,0,0-3.42-3.086-6.658v-2.338
    c0,0-0.811-2.34,2.438-1.263l3.572,4.323l1.947-3.781l-1.622-1.621v-3.783l-3.561-3.177l-4.066-3.795l-1.498,4.506l-6.849-0.234
    c0,0-3.641-0.949-1.713,1.659l5.14,6.403c0,0-2.143,4.981-7.919,3.795c0,0-0.214,0-2.354-3.558c0,0-1.07-0.715-8.774-0.715v-8.062
    l-5.138-7.354h-4.281c0,0-4.962,1.898-11.699,12.271l1.854,1.725l-0.213,7.826c0,0,1.5,5.931,8.133,8.302l8.56-0.475l0.213,8.537
    c2.211,4.189-0.003,5.676-2.142,3.083l-3.208,4.034l0.212,2.608c0,0-0.212,6.642-2.996,11.147c0,0-1.926,8.773,0.063,16.992
    c10.466,2.347,15.726,0.457,20.917-5.278c2.596-2.869,5.174-6.696,8.376-11.438c1.601-2.371,3.36-4.969,5.351-7.787
    c0.998-1.412,1.241-1.979,2.461-3.357C234.729,1074.988,235.165,1074.007,231.176,1073.777L231.176,1073.777z"/></a>

    <a onclick="district_johor('KANGKAR PULAI')">
    <path id="path3347-1-1-8-1-7-3" sodipodi:nodetypes="ccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M237.836,1054.52l-9.257,10.079h-3.738l-3.736,4.496v1.981c5.036,3.239,10.071,4.498,10.071,4.498v-1.8
    c3.988,0.229,3.55,1.21,4.776,3.285l4.307-5.764c2.903,5.084,8.762,10.233,13.569,4.511l-4.473-6.478l-6.077,0.124l-2.638-1.78
    v-2.415l6.19-3.431v-4.321l-4.816-2.541L237.836,1054.52z"/></a>

    <a onclick="district_johor('PASIR GUDANG')">
    <path id="path3347-1-1-8-6-3" sodipodi:nodetypes="ccsccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M286.083,1082.884c-5.945-2.499-9.328-6.589-9.328-6.589c-3.484-7.27-8.304-8.407-12.251-7.724
    c-0.985,0.172-1.92,0.454-2.533,0.897l-0.231-4.332l-1.146-1.78c-2.75,2.286-4.817-6.227-4.817-6.227l5.171-0.341l1.703-5.548
    l10.808,1.11l0.9,0.997l3.201-0.111c2.604-2.106,4.806-3.327,4.806-3.327l5.907,1.109l2.7,5.878l0.302,8.652
    c-2.403,5.325-3.505,7.764-3.505,7.764c0.101,5.101,2,10.648,2,10.648S287.872,1083.633,286.083,1082.884L286.083,1082.884z"/></a>

    <a onclick="district_johor('JOHOR BAHRU')">
    <path id="path3347-1-1-8-1-7-3-7" sodipodi:nodetypes="cccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M246.831,1057.512v4.321l-6.189,3.43v2.416l2.637,1.78l6.079-0.125l4.473,6.477c2.751-1.651,3.652-4.056,3.652-4.056
    c1.489-1.779,4.715-2.168,4.715-2.168l-0.458-4.445l-1.146-1.781c-2.754,2.287-4.817-6.226-4.817-6.226l-2.981-1.271
    L246.831,1057.512z"/></a>

    <a onclick="district_johor('PENGERANG')">
    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M150.784,767.056l-15.935,6.63
    l19.896,49.439l21.758-4.618l6.285,4.611c2.529-11.184,4.706-23.266,5.558-35.121L150.784,767.056z"/></a>

    <a onclick="district_johor('ENDAU')">
    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M264.452,790.487l6.56-1.817
    l-5.737-6.362c0,0,6.97-9.542-16.814-22.718v-8.635l-2.869-4.089l-1.232,9.087l-17.222-9.542l-7.809,1.217
    c-6.454,35.831-7.685,36.743-7.685,36.743l8.223,0.911c3.701,18.227-2.877,18.682-2.877,18.682l-28.643-15.969
    c-0.852,11.854-3.029,23.937-5.558,35.121l11.898,8.73l72.637-23.639v-9.541h-2.872V790.487L264.452,790.487z"/></a>

    <a onclick="district_johor('TEBRAU')">
    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M201.567,914.624l57.197-0.057
    c-6.222-8.556-6.939-21.045-18.671-22.345c4.882,0,11.75,0,14.945-1.793c-15.599-0.785-31.049-3.902-45.713-9.378L201.567,914.624z
    "/></a>

    <a onclick="district_johor('PERMAS JAYA')">
    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M258.763,914.567l66.548-0.066
    l-12.076-22.641c-8.137-2.869-16.386-4.658-25.11-3.276c-10.954,1.798-22.058,2.4-33.087,1.844
    c-3.195,1.793-10.063,1.793-14.945,1.793C251.824,893.522,252.542,906.011,258.763,914.567z"/></a>

    <a onclick="district_johor('KAHANG')">
    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M214.609,858.078
    c-0.01,0.13-0.02,0.185-0.02,0.185l-5.265,22.788c17.674,6.601,36.492,9.784,55.336,9.566c-3.898-11.973-6.538-24.61-11.333-35.126
    C240.516,858.767,225.796,865.258,214.609,858.078z"/></a>

    <a onclick="district_johor('MASAI')">
    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M310.789,887.273
    c-0.001,0-11.892-3.634-13.122-25.445l8.201-3.635l-9.843-11.815l3.282-4.089l-5.74-6.815h-2.05l-3.746-3.439
    c-5.397,7.037-10.794,14.283-16.191,21.973c-2.998,3.323-7.497,0-10.496,0c-2.467,0.249-5.069,0.797-7.756,1.484
    c4.795,10.516,7.435,23.153,11.333,35.126c7.843-0.091,15.69-0.757,23.463-2.032c8.726-1.381,16.975,0.408,25.113,3.276
    L310.789,887.273z"/></a>

    <a onclick="district_johor('MERSING')">
    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M273.885,810.027h-2.462l-4.1-1.818
    c-50.768,15.202-50.634,17.018-50.634,17.018l2.077,22.688l-2.21,0.545l-2.457,2.451c0.592,4.814,0.55,6.636,0.51,7.167
    c13.532,8.686,32.236-2.637,46.475-4.071c2.999,0,7.498,3.323,10.496,0c5.397-7.689,10.794-14.936,16.191-21.973l-10.606-9.738
    L273.885,810.027z"/></a>

    <a onclick="district_johor('KOTA TINGGI')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M336.212,959.973
    l0.41-14.995l4.51-1.814l-15.819-28.662l-61.871,0.062l-15.184,0.039l11.754,37.371c0,0,7.645-2.888,14.249-3.466l11.296-0.962
    h1.913c0,0,3.128,1.155,1.389,3.466l-1.564,3.082l14.427,15.984v8.473c0,0-3.026,5.021-7.256,7.935
    c10.69,5.27,22.205,4.319,32.595-2.877c0,3.323,0,4.984-1.499,6.646c10.016,1.387,18.99-3.003,28.661-3.526
    c-2.022-5.094-4.185-10.365-6.527-15.851C347.694,970.877,339.083,972.243,336.212,959.973z"/></a>

    <a onclick="district_johor('PLENTONG')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M325.56,990.254
    c1.499-1.662,1.499-3.323,1.499-6.646c-10.39,7.196-21.904,8.147-32.595,2.877c-0.073,0.05-0.144,0.105-0.217,0.154l0.171,4.236
    l-2.085,1.926v4.043l-3.823,3.467l1.912,3.467v3.851l1.911,1.539l2.608-0.577l0.867,1.539l-0.867,2.12l1.91,0.963l-1.739,1.925
    v3.467l-1.391,1.2l2.2,2.558l3.862,0.237l6.766,2.857l-2.333,5.911l12.313,14.03l0.101,4.316c3.497,0.089,5.348-1.96,5.348-1.96
    c1.321-4.104,0.794-8.497,0.794-8.497c0-0.879-3.965-3.516-3.965-3.516l-3.172-6.443v-3.515l5.55,1.171v-1.756
    c3.173-0.293,4.494-3.514,4.494-3.514c8.985,3.221,21.411,0.291,21.411,0.291l-2.646-5.564
    c10.312-6.443,16.143-12.945,16.143-12.945c-1.925-5.324-4.051-10.915-6.365-16.739C344.55,987.251,335.576,991.641,325.56,990.254
    z"/></a>

    <a onclick="district_johor('SKUDAI')">
    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M328.558,1065.024
    c0.799,0,1.166,0.009,1.34,0.261c-0.249-6.515,7.933-3.686,12.156-5.244c0,0,0-4.985,1.499-4.985
    c11.983,1.207,20.802-4.6,29.903-9.779c-1.111-4.51-2.381-9.285-3.878-14.41c-2.423-8.298-5.382-17.415-8.992-27.398
    c0,0-5.831,6.5-16.142,12.944l2.645,5.565c0,0-12.423,2.93-21.409-0.292c0,0-1.32,3.222-4.494,3.515v1.756l-5.551-1.171v3.515
    l3.173,6.447c0,0,3.964,2.634,3.964,3.512c0,0,0.527,4.393-0.794,8.495c0,0-1.848,2.049-5.348,1.962l0.102,4.313l0.207,8.633h1.638
    l1.639,6.815c0,0-3.068,5.321,0.179,8.664C321.656,1073.397,324.228,1068.864,328.558,1065.024z"/></a>

    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M329.898,1065.285
    c0.018,0.427,0.066,0.891,0.161,1.401C330.059,1065.909,330.053,1065.504,329.898,1065.285z"/>

    <a onclick="district_johor('PENGERANG')">
    <path fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="M328.418,1081.292l8.613,8.181
    l0.41,2.725l-5.739,7.271c0,0,18.862,19.084,47.562,1.361c0,0,2.153-8.973-0.714-29.703c-0.993-7.163-2.606-15.768-5.093-25.852
    c-9.102,5.18-17.92,10.986-29.903,9.779c-1.499,0-1.499,4.985-1.499,4.985c-4.224,1.559-12.405-1.271-12.156,5.244
    c0.155,0.22,0.161,0.624,0.161,1.401c-0.095-0.511-0.144-0.975-0.161-1.401c-0.174-0.252-0.541-0.261-1.34-0.261
    c-4.33,3.84-6.902,8.373-8.164,13.117c0.302,0.309,0.638,0.609,1.055,0.878L328.418,1081.292z"/></a>

    <a onclick="district_johor('YONG PENG')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M285.949,964.489
    h1.089c-5.438,0-11.961,0-16.31,4.819c3.262,1.205,3.262,7.229,7.61,7.229c-15.229,7.383-31.29,14.766-48.186,16.492l2.02,7.386
    l-1.714,1.658l8.348,11.267l4.173,5.643l1.094,1.477l3.757-2.381h6.545l0.11,3.807h2.898l-1.072,1.311l1.072,3.332l10.948,4.042
    l5.583,7.018l1.181-2.021l4.829,1.428l1.074-2.618l2.468,1.545l2.255-3.924l-3.542-4.044l4.507-5.113l1.503-5.593h3.331
    l2.196,2.558l1.393-1.202v-3.467l1.74-1.926l-1.911-0.962l0.868-2.121l-0.868-1.54l-2.604,0.577l-1.915-1.535v-3.853l-1.911-3.466
    l3.826-3.468v-4.043l2.084-1.926l-0.173-4.237c4.344-2.888,7.473-8.088,7.473-8.088v-8.472l-5.333-5.909
    C293.43,965.445,289.464,963.708,285.949,964.489z"/></a>

    <a onclick="district_johor('JEMENTAH')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M288.854,951.006
    c1.74-2.311-1.388-3.466-1.388-3.466h-1.915l-11.295,0.962c-6.604,0.578-14.248,3.466-14.248,3.466L248.54,914.62h-46.971
    l2.701,28.589h-4.178l-0.246,10.891l3.319,4.862l2.903,0.878c2.695,4.382,3.355,5.987,3.355,5.987
    c3.425,3.795,3.161,4.089,3.161,4.089l0.395,2.335l4.083,1.604l5.403,9.927l0.93,3.586l4.066,5.219h2.569l0.121,0.439
    c16.895-1.725,32.957-9.109,48.186-16.493c-4.35,0-4.35-6.022-7.611-7.229c4.35-4.819,10.872-4.819,16.31-4.819h-1.088
    c3.515-0.779,7.481,0.956,10.436-0.323l-9.093-10.077L288.854,951.006z"/></a>

    <a onclick="district_johor('ISKANDAR PUTERI')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M205.492,878.946
    c-3.261,4.819-15.221-3.615-16.308,0c-10.317,17.149-26.506,19.117-38.353,30.598c0.353,0.4,0.718,0.817,1.107,1.267l4.667,0.817
    c0,0,2.21,6.806,10.564,13.342l-19.41,14.703l5.405,7.354c0,0,5.407,2.448,4.916,5.989c0,0,11.793-8.711,12.529-7.621l2.213,1.631
    l-1.721,2.724l7.861,10.347l6.878-6.262l4.915,7.622l9.091-7.354l0.247-10.889h4.178l-2.702-28.59l11.621-50.289
    c-0.731-1.177-1.478-2.334-2.261-3.46C209.842,868.102,208.754,875.331,205.492,878.946z"/></a>

    <a onclick="district_johor('PEKAN NANAS')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M138.132,873.945
    c-1.5-4.984,2.999-11.631,1.499-16.615c-2.999,1.661-7.497-1.662-8.997-3.323c-0.809-1.793-1.285-4.074-1.617-6.477
    c-40.031,15.534-42.634,21.826-42.634,21.826l-0.27,12.825l17.663,3.235l-1.579,4.081l2.981,3.887v6.801l7.628,13.7l3.814,6.852
    l1.908,3.424l5.276-5.854l6.015-6.677L134,890.391l7.618,9.53v2.178l0.737,1.089h2.21c0,0,1.7,1.18,6.267,6.358
    c5.617-5.444,12.209-8.755,18.691-12.555C159.068,886.696,154.202,868.465,138.132,873.945z"/></a>

    <a onclick="district_johor('CHAAH')">
    <path fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="M218.769,847.914
    l-2.703-20.42c0,0,0.983,0,0.493-4.085l-21.867,8.44l-18.184-13.341l-21.758,4.618l-17.226,21.177
    c-3.009,1.117-5.84,2.193-8.506,3.227c0.332,2.403,0.808,4.684,1.617,6.477c1.5,1.662,5.998,4.984,8.997,3.323
    c1.5,4.984-2.999,11.631-1.499,16.615c16.07-5.479,20.936,12.751,31.39,23.047c7.188-4.213,14.237-9.027,19.663-18.045
    c1.087-3.614,13.047,4.819,16.309,0c3.262-3.614,4.35-10.843,5.436-18.072c0.783,1.126,1.53,2.285,2.261,3.459l1.402-6.071
    c0-0.001,0.245-1.363-0.491-7.353l2.457-2.451L218.769,847.914z"/></a>

    <a onclick="district_johor('KULAI')">
    <path id="path20955-1-7-4-8-8" sodipodi:nodetypes="ccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M222.466,983.785h-2.898l-3.162-2.189h-2.107l-1.451,0.73h-4.478c-1.187,0.291-4.085,2.625-4.085,2.625l-9.221-4.087h-10.804
    l-9.75,9.053l-4.347-3.065l-3.821,2.774l-13.439,17.956l22.125,21.528l7.599,6.878l3.798,3.438l1.898,1.72
    c6.609-10.375,11.745-12.275,11.745-12.275h4.283l5.137,7.354v8.065c7.704,0,8.774,0.711,8.774,0.711
    c2.141,3.558,2.354,3.558,2.354,3.558c5.777,1.185,7.919-3.795,7.919-3.795l-5.14-6.403c-1.925-2.608,1.713-1.659,1.713-1.659
    l6.849,0.234l1.497-4.506l4.066,3.795v-4.979c0-2.609,6.421-4.506,6.421-4.506h2.782l0.43-2.133l-16.694-22.532l1.711-1.662
    l-2.141-7.825h-2.567l-4.066-5.217L222.466,983.785z"/></a>

    <a onclick="district_johor('SIMPANG RENGGAM')">
    <path id="path20955-1-7-4-8" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M119.21,991.718l-9.094-4.069l-0.728-13.62v-6.604l2.806-3.889l-2.455-2.914l3.682-6.218l-0.701-2.138l-2.981-0.777
    c-1.403-0.583-1.403-4.856-1.403-4.856l5.26-1.944l1.053-6.802l2.805-0.971c2.281-3.888,6.489-5.245,6.489-5.245
    c4.676,0.713,5.548,1.29,5.548,1.29l1.479,2.315l2.353,0.482c4.092,5.5,4.354,7.238,4.354,7.238
    c3.221,2.989,2.874,9.264,2.874,9.264l5.572,10.229l2.438-2.028l3.048,1.931c0.174-3.571,2.526-4.73,2.526-4.73
    c2.698-2.028,3.943-4.647,3.943-4.647s11.793-8.71,12.529-7.621l2.212,1.63l-1.72,2.725l7.861,10.348l6.878-6.263l4.916,7.623
    l9.091-7.351l3.318,4.86l2.903,0.876c2.695,4.383,3.355,5.99,3.355,5.99c3.423,3.795,3.16,4.088,3.16,4.088l0.395,2.335
    l4.083,1.606l5.405,9.929h-2.899l-3.162-2.191h-2.108l-1.448,0.729h-4.479c-1.187,0.292-4.085,2.628-4.085,2.628l-9.222-4.087
    h-10.803l-9.749,9.051l-4.349-3.063l-3.821,2.771l-13.437,17.957C145.789,1002.325,119.21,991.718,119.21,991.718L119.21,991.718z"
      /></a>

    <a onclick="district_johor('KLUANG')">
    <path id="path20955-1-7-4-4" sodipodi:nodetypes="ccccccccccccccc" inkscape:connector-curvature="0" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M158.078,953.014c0.489-3.539-4.916-5.993-4.916-5.993l-5.406-7.351l19.412-14.702c-8.356-6.535-10.564-13.342-10.564-13.342
    l-4.67-0.817c-5.406-6.263-7.371-7.624-7.371-7.624h-2.213l-0.736-1.09v-2.178l-7.619-9.529l-4.177,21.237l-11.297,12.495
    l1.913,3.465c0,0,5.961,2.332,3.507,4.081c4.678,0.713,5.549,1.292,5.549,1.292l1.48,2.315l2.35,0.482
    c4.093,5.501,4.354,7.239,4.354,7.239c3.221,2.989,2.875,9.262,2.875,9.262l5.572,10.229l2.439-2.026l3.047,1.931
    c0.174-3.571,2.525-4.73,2.525-4.73C156.833,955.632,158.078,953.014,158.078,953.014z"/></a>

    <path id="path13001" sodipodi:nodetypes="cc" inkscape:connector-curvature="0" fill="none" stroke="#000000" d="M226.38,1110.846
    l5.236-42.031"/>
    <path id="path13001-6" sodipodi:nodetypes="cc" inkscape:connector-curvature="0" fill="none" stroke="#000000" d="
    M251.419,1104.247v-36.858"/>

    <circle id="path13018-5-9-6-0-8" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" cx="39.748" cy="986.865" r="0"/>
    <path id="path13686" inkscape:connector-curvature="0" fill="none" stroke="#000000" d="M282.387,1062.462v36.031"/>
    <text transform="matrix(0.9024 0 0 1 228.552 793.4022)" font-family="'ArialMT'" font-size="8.4338">Endau</text>
    <text transform="matrix(0.9024 0 0 1 231.6159 844.2719)" font-family="'ArialMT'" font-size="9.6386">Mersing</text>
    <text transform="matrix(0.9024 0 0 1 128.362 926.4374)" font-family="'ArialMT'" font-size="8.4338">Kluang</text>
    <text transform="matrix(0.9024 0 0 1 223.3762 963.495)" font-family="'ArialMT'" font-size="9.6386">Jementah </text>
    <text transform="matrix(0.9024 0 0 1 301.7175 952.2391)" font-family="'ArialMT'" font-size="9.6386">Kota </text>
    <text transform="matrix(0.9024 0 0 1 301.7175 965.2499)" font-family="'ArialMT'" font-size="9.6386">Tinggi</text>
    <text transform="matrix(0.9024 0 0 1 69.1857 923.66)" font-family="'ArialMT'" font-size="8.4338">Ayer Hitam</text>
    <text transform="matrix(0.9024 0 0 1 122.2795 976.1049)" font-family="'ArialMT'" font-size="8.4338">Simpang Renggam</text>
    <text transform="matrix(0.9024 0 0 1 188.717 1010.392)" font-family="'ArialMT'" font-size="8.4338">Kulai</text>
    <text transform="matrix(0.9024 0 0 1 127.7321 1028.8744)" font-family="'ArialMT'" font-size="8.4338">Pontian</text>
    <text transform="matrix(0.9024 0 0 1 171.9777 1067.8148)" font-family="'ArialMT'" font-size="8.4338">Layang   </text>
    <text transform="matrix(0.9024 0 0 1 203.2907 1067.8148)" font-family="'ArialMT'" font-size="8.4338">  </text>
    <text transform="matrix(0.9024 0 0 1 171.9777 1079.8617)" font-family="'ArialMT'" font-size="8.4338">Layang</text>
    <text transform="matrix(0.9024 0 0 1 333.9714 1075.557)" font-family="'ArialMT'" font-size="8.4338">Pengerang</text>
    <text transform="matrix(0.9024 0 0 1 70.0529 999.4496)" font-family="'ArialMT'" font-size="8.4338">Batu Pahat</text>
    <text transform="matrix(0.9024 0 0 1 206.9563 1054.4857)" font-family="'ArialMT'" font-size="8.4338">Gelang </text>
    <text transform="matrix(0.9024 0 0 1 206.9563 1064.6058)" font-family="'ArialMT'" font-size="8.4338">Patah</text>
    <text transform="matrix(0.9024 0 0 1 262.197 1044.847)" font-family="'ArialMT'" font-size="8.4338">Tebrau</text>
    <text transform="matrix(0.9024 0 0 1 276.5866 1105.9047)" font-family="'ArialMT'" font-size="8.4338">Pasir </text>
    <text transform="matrix(0.9024 0 0 1 276.5866 1116.0267)" font-family="'ArialMT'" font-size="8.4338">Gudang</text>
    <text transform="matrix(0.9024 0 0 1 198.7609 1118.4359)" font-family="'ArialMT'" font-size="7.229">KANGKAR</text>
    <text transform="matrix(0.9024 0 0 1 198.7609 1127.1107)" font-family="'ArialMT'" font-size="7.229">Pulai</text>
    <text transform="matrix(0.9024 0 0 1 237.466 1110.847)" font-family="'ArialMT'" font-size="8.4338">Johor </text>
    <text transform="matrix(0.9024 0 0 1 237.466 1120.9672)" font-family="'ArialMT'" font-size="8.4338">Bahru</text>
    <text transform="matrix(0.9024 0 0 1 48.676 963.495)" font-family="'ArialMT'" font-size="8.4338">Sri Gading</text>
    <text transform="matrix(0.9024 0 0 1 31.6472 921.7177)" font-family="'ArialMT'" font-size="8.4338">Parit </text>
    <text transform="matrix(0.9024 0 0 1 31.6472 931.8358)" font-family="'ArialMT'" font-size="8.4338">Sulong</text>
    <text transform="matrix(0.9024 0 0 1 -23.2518 757.4271)" font-family="'ArialMT'" font-size="10.8434">Segamat</text>
    <text transform="matrix(0.9024 0 0 1 18.7883 781.6254)" font-family="'ArialMT'" font-size="10.8434">Sekijang</text>
    <text transform="matrix(0.9024 0 0 1 0.5837 925.3407)" font-family="'ArialMT'" font-size="8.4338">Bakri</text>
    <text transform="matrix(0.9024 0 0 1 -18.6727 948.2328)" font-family="'ArialMT'" font-size="8.4338">Muar</text>
    <text transform="matrix(0.9024 0 0 1 -47.4729 861.3212)" font-family="'ArialMT'" font-size="8.4338">Ledang</text>
    <text transform="matrix(0.9024 0 0 1 4.4064 853.0419)" font-family="'ArialMT'" font-size="8.4338">Pagoh</text>
    <text transform="matrix(0.9024 0 0 1 86.4851 820.7137)" font-family="'ArialMT'" font-size="10.8434">Labis</text>
    <text transform="matrix(0.9024 0 0 1 154.7478 860.8729)" font-family="'MyriadPro-Regular'" font-size="10.8434">Chaah</text>
    <text transform="matrix(0.9024 0 0 1 148.8459 797.2631)" font-family="'MyriadPro-Regular'" font-size="8.4338">Pengerang</text>
    <text transform="matrix(0.9024 0 0 1 65.9279 853.0404)" font-family="'MyriadPro-Regular'" font-size="8.4338">Bandar</text>
    <text transform="matrix(0.9024 0 0 1 65.9279 863.162)" font-family="'MyriadPro-Regular'" font-size="8.4338">Penawar</text>
    <text transform="matrix(0.9024 0 0 1 169.343 914.4872)" font-family="'MyriadPro-Regular'" font-size="9.6386">Iskandar</text>
    <text transform="matrix(0.9024 0 0 1 169.343 926.0531)" font-family="'MyriadPro-Regular'" font-size="9.6386">Puteri</text>
    <text transform="matrix(0.9024 0 0 1 216.4665 904.2469)" font-family="'MyriadPro-Regular'" font-size="9.6386">Tebrau</text>
    <text transform="matrix(0.9024 0 0 1 259.3122 1000.0306)" font-family="'MyriadPro-Regular'" font-size="8.4338">Yong </text>
    <text transform="matrix(0.9024 0 0 1 259.3122 1010.1508)" font-family="'MyriadPro-Regular'" font-size="8.4338">Peng</text>
    <text transform="matrix(0.9024 0 0 1 220.6003 875.6063)" font-family="'MyriadPro-Regular'" font-size="9.9694">Kahang</text>
    <text transform="matrix(0.9024 0 0 1 264.6618 873.059)" font-family="'MyriadPro-Regular'" font-size="9.9694">Masai</text>
    <text transform="matrix(0.9024 0 0 1 105.5197 886.0345)" font-family="'MyriadPro-Regular'" font-size="9.9694">Pekan Nanas</text>
    <text transform="matrix(0.9024 0 0 1 264.6618 906.2865)" font-family="'MyriadPro-Regular'" font-size="9.9694">Permas Jaya</text>
    <text transform="matrix(0.9024 0 0 1 307.5661 1007.7006)" font-family="'MyriadPro-Regular'" font-size="9.9694">Plentong</text>
    <text transform="matrix(0.9024 0 0 1 332.3063 1044.8461)" font-family="'MyriadPro-Regular'" font-size="9.9694">Skudai</text>

    <line fill="none" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" x1="-40.675" y1="915.396" x2="-58.292" y2="943.315"/>
    <text transform="matrix(0.9024 0 0 1 -88.6556 948.2328)" font-family="'MyriadPro-Regular'" font-size="9.9694">Skudai</text>

    <line fill="none" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" x1="-32.378" y1="901.338" x2="-80.784" y2="901.979"/>
    <text transform="matrix(0.9024 0 0 1 -114.8953 904.9808)" font-family="'MyriadPro-Regular'" font-size="9.9694">Tangkak</text>

    <line fill="none" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" x1="-17.033" y1="884.023" x2="-65.44" y2="884.664"/>
    <text transform="matrix(0.9024 0 0 1 -102.5496 887.6664)" font-family="'MyriadPro-Regular'" font-size="9.9694">Tlu Triam</text>
  </g>
</svg>
       
    <div class="icon_Temerloh map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Raub map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Lipis map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Jerantut map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Kuantan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Rompin map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bera map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bentong map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Pekan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Maran map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
  </div>
</div>
</div>

<script>
function districtjohor_map(dist){
$('#divjohorheader')[0].innerHTML=dist;
$("#divtotal_malaysialist").hide();
$('#div_johor_states').show()

$('#state-select').val(dist)
$.ajax({
url: "/dashboards/districts/" + dist,
dataType: "json",
success:function(data){

$('#divnoofjohordoctors')[0].innerHTML=data.noofdoctors
$('#divnoofjohorxray')[0].innerHTML=data.noofxray
$('#divnoofjohorlab')[0].innerHTML=data.nooflab
$('#divnoofjohoremployer')[0].innerHTML=data.empcount
$('#divnoofjohorfw')[0].innerHTML=data.fwcount
$('#divdetectablediseasejohor')[0].innerHTML=data.detectdisease
$('#commdiseasesjohor')[0].innerHTML=data.commcount
$('#noncommdiseasesjohor')[0].innerHTML=data.noncommcount
$('#divjohortuberculosis')[0].innerHTML=data.tuberculosis
$('#divjohorhepatisis')[0].innerHTML=data.hepatisis
$('#divjohorsyphilis')[0].innerHTML=data.syphilis
$('#divjohorhiv')[0].innerHTML=data.hiv
$('#divjohormalaria')[0].innerHTML=data.malaria
$('#divjohorleprosy')[0].innerHTML=data.leporacy

$('#divjohorpreg')[0].innerHTML=data.pregnancy
$('#divjohorurine')[0].innerHTML=data.urine
$('#divjohorcannabis')[0].innerHTML=data.cannabis
$('#divjohorillness')[0].innerHTML=data.illness
$('#divjohorepilepsy')[0].innerHTML=data.epilsey
$('#divjohorcancer')[0].innerHTML=data.cancer
$('#divjohorhyper')[0].innerHTML=data.hypertension
$('#divjohordiabetes')[0].innerHTML=data.diabetes
$('#divjohorkidney')[0].innerHTML=data.kidney
$('#divjohorheart')[0].innerHTML=data.heart
$('#divjohorulcer')[0].innerHTML=data.ulcer
$('#divjohorasthama')[0].innerHTML=data.asthama
$('#divjohorothers')[0].innerHTML=data.others
}
})

}
function district_johor(dist){  
debugger;

$('#district-select option:selected').text(dist)  
$('#divjohorheader')[0].innerHTML=dist;

$.ajax({
url: "/dashboards/districtname/" + dist,
dataType: "json",
success:function(data){

$('#divnoofjohordoctors')[0].innerHTML=data.noofdoctors
$('#divnoofjohorxray')[0].innerHTML=data.noofxray
$('#divnoofjohorlab')[0].innerHTML=data.nooflab
$('#divnoofjohoremployer')[0].innerHTML=data.empcount
$('#divnoofjohorfw')[0].innerHTML=data.fwcount
$('#divdetectablediseasejohor')[0].innerHTML=data.detectdisease
$('#commdiseasesjohor')[0].innerHTML=data.commcount
$('#noncommdiseasesjohor')[0].innerHTML=data.noncommcount
$('#divjohortuberculosis')[0].innerHTML=data.tuberculosis
$('#divjohorhepatisis')[0].innerHTML=data.hepatisis
$('#divjohorsyphilis')[0].innerHTML=data.syphilis
$('#divjohorhiv')[0].innerHTML=data.hiv
$('#divjohormalaria')[0].innerHTML=data.malaria
$('#divjohorleprosy')[0].innerHTML=data.leporacy

$('#divjohorpreg')[0].innerHTML=data.pregnancy
$('#divjohorurine')[0].innerHTML=data.urine
$('#divjohorcannabis')[0].innerHTML=data.cannabis
$('#divjohorillness')[0].innerHTML=data.illness
$('#divjohorepilepsy')[0].innerHTML=data.epilsey
$('#divjohorcancer')[0].innerHTML=data.cancer
$('#divjohorhyper')[0].innerHTML=data.hypertension
$('#divjohordiabetes')[0].innerHTML=data.diabetes
$('#divjohorkidney')[0].innerHTML=data.kidney
$('#divjohorheart')[0].innerHTML=data.heart
$('#divjohorulcer')[0].innerHTML=data.ulcer
$('#divjohorasthama')[0].innerHTML=data.asthama
$('#divjohorothers')[0].innerHTML=data.others
}
})
}
function closejohoricon(){
$("#divtotal_malaysialist").show();
$('#div_johor_states').hide()
clearvalues();
}
</script>


