<div id="div_kl_states" class="pahan svg-content" style="display: none;">
<div class="map-title" style="z-index: 100;"> KUALA LUMPUR </div>
<div class="text-info1"><a onclick="closeklicon()">
  <i class="fa fa-close close-btn" id="divtotal_malaysiabtn_johor"></i></a>
  <div class="statediv" id="sabah_district14">
    <div id="myRadioGroup" class="submap-title">
      <h1><div id="divklheader"></div> </h1>
      <div class="box div_Pekan div_statesvg">
        <ul>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Doctors
            </div>
            <div id="divnoofkldoctors"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i>Number of X-ray
            </div>
            <div id="divnoofklxray"></div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Lab
            </div>
            <div id="divnoofkllab"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Employer
            </div>
            <div id="divnoofklemployer">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of FW
            </div>
            <div id="divnoofklfw">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
            </div>
            <div id="divdetectablediseasekl"> </div>
          </li>
          <li class="p-0">
            <div id="accordion3" style="width: 100%!important;float:left">
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseOne16"> Communicable Diseases <span><div id="commdiseaseskl"></div>  </span>
                  </a>
                </div>
                <div id="collapseOne16" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i>Tuberculosis
                          </div>
                          <div id="divkltuberculosis">  </div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Hepatitis B
                          </div>
                          <div id="divklhepatisis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Syphilis
                          </div>
                          <div id="divklsyphilis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> HIV/AIDS
                          </div>
                          <div id="divklhiv"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Malaria
                          </div>
                          <div id="divklmalaria"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Leprosy
                          </div>
                          <div id="divklleprosy"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="collapsed card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseTwo17"> Non-Communicable Diseases <span><div id="noncommdiseaseskl"></div> </span>
                  </a>
                </div>
                <div id="collapseTwo17" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i>Pregnancy
                          </div>
                          <div id="divklpreg"> </div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Opiates
                          </div>
                          <div id="divklurine"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Cannabis
                          </div>
                          <div id="divklcannabis"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Psychiatric Illness
                          </div>
                          <div id="divklillness"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Epilepsy
                          </div>
                          <div id="divklepilepsy"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Cancer
                          </div>
                           <div id="divklcancer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Hypertension
                          </div>
                           <div id="divklhyper"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Diabetes
                          </div>
                          <div id="divkldiabetes"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Kidney Disease
                          </div>
                           <div id="divklkidney"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Heart Disease
                          </div>
                           <div id="divklheart"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Peptic Ulcer
                          </div>
                           <div id="divklulcer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Bronchial Asthma
                          </div>
                           <div id="divklasthama"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Others
                          </div>
                           <div id="divklothers"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="svg-map">
  <div class="sub-map">
  <div class="container-fluid">
  <div class="row">
      <div class="col-12">

          
      <div class="svg-div">
          
        <svg class="kuala_lumpur" version="1.1" id="svg14939" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" sodipodi:docname="wpkl parlimen.svg" inkscape:version="0.91 r13725" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" enable-background="new 0 0 551.406 524.307" xml:space="preserve"  style="width: 100%;" viewBox="0 -50 960 584.307">

<sodipodi:namedview  id="base" fit-margin-bottom="0" fit-margin-right="0" inkscape:snap-nodes="false" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-height="740" inkscape:window-width="1280" inkscape:current-layer="layer1" inkscape:document-units="px" inkscape:pageshadow="2" inkscape:pageopacity="0.0" fit-margin-top="0" borderopacity="1.0" showguides="false" bordercolor="#666666" inkscape:zoom="0.79500352" fit-margin-left="0" showgrid="false" inkscape:cy="321.53599" pagecolor="#ffffff" inkscape:cx="481.88837" inkscape:window-maximized="1" inkscape:guide-bbox="true">
  <inkscape:grid  originx="124.33552" id="grid17545" type="xygrid" originy="29.754397"></inkscape:grid>
</sodipodi:namedview>
<g id="layer1" transform="translate(124.33552,-426.73329)" inkscape:groupmode="layer" inkscape:label="Layer 1">

  <a onclick="district_kl('JLN KIA PENG')">
  <path fill="#FACC4D"  data-toggle="tooltip" title="JLN KIA PENG" stroke="#333333" stroke-miterlimit="10" d="M321.231,528.103c-14.614,0-24.585,11.534-38.182,10.894
  l2.3,2.704l-0.658,18.224l7.896,3.771v-2.514l10.526,3.77l-0.657-5.027l3.29,1.885c6.184-5.777,7.49-15.099,7.49-15.099
  l-0.01-9.625l1.784-1.695l1.947,2.891h4.373C320.909,534.869,320.762,531.464,321.231,528.103z"/></a>

  <a onclick="district_kl('SUNGAI BESI')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="SUNGAI BESI"  stroke-miterlimit="10" d="M332.952,492.282c-11.135,9.383-14.213,22.263-13.743,35.903
  c0.665-0.048,1.338-0.081,2.022-0.081c-0.469,3.36-0.322,6.765,0.1,10.179h9.687l7.138,17.974l12.329-6.61l-3.895-11.777
  l-1.298-0.62c-2.596-0.62-3.028-5.164-3.028-5.164l6.271-5.784l-1.73-2.479v-2.066l4.759,1.239l3.026-3.719l-0.215-6.611
  l-5.697-0.753l-0.403-7.324l-2.422-1.927l-0.403-9.638l-0.807-2.313l-0.021-0.895C340.558,489.046,336.491,489.652,332.952,492.282
  z"/></a>

  <a onclick="district_kl('SULTAN ISMAIL')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="SULTAN ISMAIL" stroke-miterlimit="10" d="M326.884,474.135l-5.507-4.972
  c-3.737-0.158-8.41-1.049-11.866-0.389v3.358c-5.86,1.119-9.376,2.239-9.376,8.955c-7.263,0-13.969,4.245-21.268,5.793v0.208
  c0,0-7.493,5.263-14.988,12.736c-3.747,3.736-7.494,8.026-10.304,12.486c9.402,3.625,14.667,9.281,14.667,9.281l14.807,17.405
  c12.961,0.61,22.628-9.832,36.159-10.813c-0.47-13.64,2.608-26.52,13.743-35.903c3.539-2.629,7.606-3.235,11.671-2.465
  l-0.384-16.837L326.884,474.135z"/></a>

  <path fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="M309.511,472.132v-3.358c3.456-0.66,8.129,0.231,11.866,0.389
  l-21.089-19.042c-8.089,3.031-16.968,5.17-26.259,5.487l-1.332,24.744l6.17-2.525v9.053c7.299-1.548,14.005-5.793,21.268-5.793
  C300.135,474.371,303.651,473.251,309.511,472.132z"/>

  <a onclick="district_kl('T.T.D.I.')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="T.T.D.I." stroke-miterlimit="10" d="M391.553,494.52c15.262-9.023,16.098-21.49,12.858-34.463h-25.17
  c0-25.717-22.91-36.142-22.91-36.142H341.73c0,0-18.52,18.145-41.441,26.209l26.596,24.015l17.354-1.156l0.404,17.733l0.807,2.313
  l0.403,9.637l2.422,1.928l0.403,7.324l5.697,0.753l0.218,6.611l-3.029,3.719l-4.759-1.239v2.067l1.73,2.478l-6.271,5.784
  c0,0,0.433,4.545,3.028,5.164l4.194-2.591l3.229,2.313h3.634l1.211,1.928l8.071-0.385l30.859,1.247
  c0.771-14.503,0.247-29.782,5.61-44.125C402.101,493.401,395.069,495.64,391.553,494.52z"/></a>

  <a onclick="district_kl('TAMAN MELAWATI')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="TAMAN MELAWATI" stroke-miterlimit="10" d="M437.343,460.057h-32.932c3.239,12.973,2.403,25.44-12.858,34.463
  c3.516,1.12,10.548-1.119,10.548,1.12c-5.363,14.344-4.84,29.623-5.61,44.125l40.249,1.626l5.339-3.547v-5.099l3.017-4.213
  l-1.392-0.665l-0.233-2.66c7.197-5.099,7.428-18.623,7.428-18.623l4.644-0.443l11.697-13.784
  C454.347,462.763,437.343,460.057,437.343,460.057z"/></a>

  <a onclick="district_kl('SELAYANG')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="SELAYANG" stroke-miterlimit="10" d="M447.144,570.945c0.931-6.028,2.827-13.812,2.827-13.812
  l-8.357,1.108c-1.624-0.221-1.624-0.443-1.624-0.443c0.463-6.874-3.25-16.407-3.25-16.407l-71.108-2.877l14.934,8.481l7.266,3.855
  h3.23c-1.616,6.168,3.228,10.408,3.228,10.408l2.019,8.096l0.404,4.626c-2.723,4.554-2.448,7.587-1.42,9.516
  c9.749-2.566,19.916-4.614,27.906-6.14C431.868,576.084,439.776,574.081,447.144,570.945z"/></a>

  <a onclick="district_kl('SENTUL')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="SENTUL" stroke-miterlimit="10" d="M423.198,577.358c-7.99,1.526-18.157,3.574-27.906,6.14
  c1.123,2.11,3.149,2.899,3.149,2.899l12.07,6.43l-3.946,9.311l0.231,11.973c15.784,9.089,19.5,18.401,19.5,18.401l3.713-5.987
  l-0.231-3.103l-1.159-0.443l-0.233-4.877l6.268-6.207v-6.43l-2.553-4.656v-3.104l1.16-0.443l7.891-0.887
  c4.411-5.101,7.661-12.416,7.661-12.416v-4.212l-2.09-2.66c-0.213-1.155,0.01-3.478,0.422-6.142
  C439.776,574.081,431.868,576.084,423.198,577.358z"/></a>

  <a onclick="district_kl('SRI DAMANSARA')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="SRI DAMANSARA"  stroke-miterlimit="10" d="M268.243,521.593c0,0-5.263-5.655-14.666-9.281
  c-2.809,4.46-4.684,9.092-4.684,13.513l2.646,7.578l-9.451,3.423c1.414,4.037,3.098,7.672,5.306,10.307
  c4.327,4.133,7.768,12.083,11.413,19.934c4.736-5.323,8.78-11.578,12.027-18.814c1.103-3.162,6.881-6.077,11.956-9.56
  L268.243,521.593z"/></a>

  <a onclick="district_kl('Bangsar')">
  <path class="one" data-toggle="tooltip" title="Bangsar"  fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="M242.088,536.826l-16.116,5.839l-1.607,44.491
  c13.756-3.206,25.387-9.913,34.442-20.089c-3.646-7.851-7.086-15.801-11.413-19.934
  C245.186,544.498,243.502,540.863,242.088,536.826z"/> 
</a> 
  <a onclick="district_kl('BATU CAVES')">
  <path class="two"  data-toggle="tooltip" title="Batu Caves" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="M234.501,643.404c2.344-2.239,8.204-1.12,10.548-5.597
  c1.172-3.358-3.516-8.956-1.172-12.313c4.688-4.478,12.893-7.836,14.064-11.194c1.172-10.075-7.032-21.269-19.925-21.269
  c-2.344,0-2.344-3.358-4.688-5.597c-0.868-0.829-1.876-1.466-2.962-1.967c-1.957,0.634-3.949,1.212-6.002,1.691l-0.156,4.347
  l-5.29,11.788c0,0-7.806,30.704-4.195,54.756c7.866-2.72,15.907-4.946,24.464-5.688
  C236.845,650.12,230.985,646.762,234.501,643.404z"/></a>

  <a onclick="district_kl('BRICKFIELDS')">
  <path class="three" fill="#FACC4D" data-toggle="tooltip" title="BRICKFIELDS" stroke="#333333" stroke-miterlimit="10" d="M249.738,672.509c3.516-1.12,4.688-3.358,8.204-4.478
  c-4.688-2.239-12.893,0-16.408-5.597c-2.345-2.239-7.032-1.12-10.549-1.12c0-1.119,0-3.358,0-4.478
  c-3.482,0-7.348-0.365-11.048-0.493c-1.748,0.54-3.485,1.107-5.212,1.704c1.392,9.272,4.479,17.558,10.366,22.713
  c8.416,6.672,15.448,11.993,21.363,16.271c10.753-5.547,20.197-13.082,31.413-18.925
  C269.662,673.628,254.425,682.583,249.738,672.509z"/></a>

  <a onclick="district_kl('JLN STONOR')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="JLN STONOR" stroke-miterlimit="10" d="M300.135,607.582c12.892-10.075,11.72-33.583,10.548-51.493
  c0-0.358-0.078-0.642-0.188-0.895c-1.116,2.279-2.645,4.652-4.747,6.617l-3.29-1.885l0.658,5.027l-10.528-3.77v2.514l-7.895-3.771
  l0.656-18.224l-2.559-3.01c-5.075,3.483-10.854,6.398-11.956,9.56c-8.529,19.007-22.448,31.383-40.467,37.213
  c1.086,0.5,2.094,1.138,2.962,1.967c2.344,2.239,2.344,5.597,4.688,5.597c12.109,0,20.083,9.877,20.034,19.425
  C273.549,613.531,290.446,615.911,300.135,607.582z"/></a>

  <a onclick="district_kl('BUKIT JALIL')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="BUKIT JALIL" stroke-miterlimit="10" d="M391.553,581.835c-5.86-3.358-1.172-8.955-2.345-13.433
  c2.048,0,4.523,0.272,6.979,0.484l-1.899-7.628c0,0-4.845-4.24-3.23-10.408h-3.229l-1.613-3.855h-5.651l-14.934-8.481l-8.071,0.385
  l-1.211-1.928h-3.634l-3.229-2.313l-4.194,2.591l1.298,0.621l3.894,11.776l-12.329,6.61l-7.138-17.973h-14.059l-1.946-2.892
  l-1.783,1.694l0.009,9.624c0,0-0.58,4.062-2.743,8.483c0.11,0.253,0.188,0.537,0.188,0.895c0.494,7.556,0.984,16.107,0.424,24.226
  c15.95,7.169,32.961,8.237,49.974,8.237C372.8,588.552,379.832,579.597,391.553,581.835z"/></a>

  <a onclick="district_kl('JLN CHAN SOW LIN')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN CHAN SOW LIN" stroke-miterlimit="10" d="M354.048,626.612c1.172,0,4.688-1.119,5.859-2.239
  c8.205-5.597,21.097-1.119,23.441-11.194c1.675-10.402,3.946-21.375,0.397-31.286c-7.585,1.512-13.777,6.659-22.666,6.659
  c-17.013,0-34.023-1.068-49.974-8.237c-0.771,11.127-3.519,21.443-10.972,27.267c-9.689,8.329-26.586,5.949-42.084,4.873
  c-0.003,0.617-0.038,1.232-0.109,1.844c-0.07,0.2-0.167,0.399-0.285,0.599C289.011,626.876,320.459,629.82,354.048,626.612z"/></a>

  <a onclick="district_kl('JLN SULTAN SULAIMAN')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN SULTAN SULAIMAN" stroke-miterlimit="10" d="M310.763,627.023c-17.972-1.549-35.555-5.419-53.106-12.125
  c-1.853,3.163-9.37,6.384-13.779,10.595c-2.344,3.358,2.344,8.955,1.172,12.313c-2.344,4.478-8.204,3.358-10.548,5.597
  c-3.517,3.358,2.344,6.716,4.688,8.956c-6.68,0.58-13.041,2.069-19.252,3.985c3.7,0.128,7.565,0.493,11.048,0.493
  c0,1.119,0,3.358,0,4.478c3.517,0,8.204-1.119,10.549,1.12c3.516,5.597,11.72,3.358,16.408,5.597
  c-3.517,1.119-4.688,3.358-8.204,4.478c4.041,8.686,15.918,3.234,24.376,4.432c6.769-2.454,13.817-4.01,20.992-4.408
  C308.316,662.927,309.125,644.147,310.763,627.023z"/></a>

  <path fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="M358.395,676.431h0.014c-0.005-0.018-0.009-0.036-0.014-0.053
  V676.431z"/>

  <a onclick="district_kl('SERI PETALING')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="SERI PETALING" stroke-miterlimit="10" d="M430.344,646.692c-2.196-3.841-3.247-7.021-3.734-9.39
  c-0.635-3.081-0.315-4.791-0.315-4.791s-3.715-9.312-19.498-18.401l-0.232-11.973l3.945-9.311l-12.07-6.43
  c0,0-7.426-2.882-1.729-12.416l-0.405-4.626l-0.117-0.468c-2.456-0.212-4.932-0.484-6.979-0.484
  c1.173,4.478-3.516,10.075,2.345,13.433c-2.832-0.541-5.389-0.425-7.807,0.058c3.549,9.911,1.277,20.884-0.397,31.286
  c-2.345,10.075-15.236,5.597-23.441,11.194c-0.293,0.28-0.734,0.561-1.249,0.824c0.023,0.099,0.055,0.196,0.077,0.295
  c2.003,7.654,0.591,10.411,1.6,15.942c0.171,0.939,0.403,1.95,0.745,3.088c2.344,6.716-7.032,12.313-4.688,23.508
  c0.333,1.431,0.668,2.862,1.009,4.29l0.994-0.713v4.77c0.005,0.018,0.009,0.036,0.014,0.053h5.878l0.841,3.215l3.366-1.607
  l3.787,3.617h0.842v-4.019l4.207-0.402l0.841,4.42c0.843,3.215,6.312,2.009,6.312,2.009c9.679,9.646,19.775,12.858,19.775,12.858
  c6.732,7.636,21.88,1.608,21.88,1.608l2.945-5.626v-1.606l-2.524-3.616l2.104-8.44l-4.207-6.832l2.524-2.813l-0.421-4.42
  l3.366-10.851L430.344,646.692z"/></a>

  <a onclick="district_kl('JLN MELAKA')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN MELAKA" stroke-miterlimit="10" d="M361.081,644.523c-2.345-7.836,0-10.075-2.345-19.03
  c-0.022-0.099-0.054-0.197-0.077-0.295c-1.539,0.786-3.731,1.415-4.61,1.415c-14.786,1.413-29.155,1.628-43.285,0.411
  c-1.638,17.124-2.447,35.904-15.657,45.51c0.114-0.006,0.227-0.019,0.341-0.024c-1.172,4.478,1.172,6.716,4.688,8.956
  c4.688,3.358,11.72-1.12,12.892,0c2.704,8.392,10.469,15.667,15.214,22.254l5.75-1.569l-3.365-3.214
  c3.786-3.616,4.208-7.635,4.208-7.635c0-4.823,8.836-4.823,8.836-4.823c1.683-3.215,1.683-5.225,1.683-5.225
  c0.421-7.232,9.678-4.019,9.678-4.019v-3.215l2.371-1.698c-0.341-1.428-0.676-2.859-1.009-4.29
  C354.048,656.837,363.424,651.24,361.081,644.523z"/></a>

  <a onclick="district_kl('BUKIT BINTANG')">
  <path class="4" fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="BUKIT BINTANG" stroke-miterlimit="10" d="M300.135,681.464c-3.517-2.239-5.86-4.478-4.688-8.956
  c-7.292,0.367-14.457,1.94-21.333,4.432c1.353,0.192,2.622,0.547,3.753,1.165c-11.216,5.843-20.66,13.378-31.413,18.925
  c27.603,19.958,30.368,16.708,30.368,16.708l18.188,12.546c0.693-0.425,5.322-6.05,5.322-6.05c0.42-6.028,3.786-6.028,3.786-6.028
  h2.525c2.524,0.803,9.677-7.234,9.677-7.234l11.921-3.254c-4.745-6.588-12.51-13.862-15.214-22.254
  C311.855,680.345,304.823,684.822,300.135,681.464z"/></a>

  <a onclick="district_kl('TITIWANGSA')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="TITIWANGSA" stroke-miterlimit="10" d="M576.22,520.96v-12.182l-19.84-20.301l-1.417-10.829l12.753-1.354
  l-2.834-28.423h-43.932l-34.009,23.01v9.865c1.48,1.181,2.896,2.422,4.232,3.699c3.516,4.478,1.172,15.672,3.516,24.627
  c7.032-3.358,3.518-10.075,5.86-15.672c11.721,6.716,22.269,19.03,18.753,31.344c-1.619,4.637-2.393,9.409-2.864,14.267l1.63,2.27
  l7.568-4.819c13.874,2.811,18.919-6.023,18.919-6.023l8.411,10.04c6.307,0.402,12.613-6.425,12.613-6.425
  c-0.42-2.41,3.364-4.819,3.364-4.819h9.25l7.05-8.153L576.22,520.96z"/></a>

  <a onclick="district_kl('WANGSA MAJU')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="WANGSA MAJU"  stroke-miterlimit="10" d="M500.551,493.401c-2.344,5.597,1.172,12.313-5.86,15.672
  c-2.344-8.956,0-20.15-3.516-24.627c-1.338-1.277-2.752-2.519-4.232-3.699v13.146l-19.771-1.445l-11.631,13.694l-4.644,0.443
  c0,0-0.23,13.524-7.428,18.622l0.232,2.66l1.393,0.665l-3.017,4.212v5.099l-5.339,3.547c0,0,3.713,9.533,3.249,16.407
  c0,0,0,0.221,1.625,0.443l8.357-1.108l12.176-5.81c2.943,0,0.421,5.622,0.421,5.622l1.684,6.426l43.727-36.143l8.463,11.786
  c0.473-4.857,1.245-9.63,2.864-14.267C522.82,512.431,512.272,500.118,500.551,493.401z"/></a>

  <a onclick="district_kl('PUTRAJAYA')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="PUTRAJAYA"  stroke-miterlimit="10" d="M501.723,576.238c-1.172-4.478,1.173-8.955,0-13.433
  c-1.172-1.119-3.516-2.239-4.688-3.358c-1.172-2.239,0-5.597,0-7.836c-1.172-3.358-7.031-3.358-7.031-4.478
  c-0.194-1.55-0.498-2.981-0.872-4.332l-24.882,20.566l-1.684-6.426c0,0,2.521-5.622-0.421-5.622l-12.177,5.81
  c0,0-3.945,16.185-3.25,19.954l2.09,2.66v4.213c0,0-0.812,1.829-2.176,4.295l3.739,1.621c-2.942,6.828-2.942,8.032-2.942,8.032
  v6.023l2.942,2.007c15.979-1.606,25.65,8.031,25.65,8.031l12.612,9.639l15.688-20.746c1.104-8.593,2.089-17.204,2.089-25.501
  C504.068,577.358,502.896,577.358,501.723,576.238z"/></a>

  <a onclick="district_kl('SALAK SELATAN')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="SALAK SELATAN"  stroke-miterlimit="10" d="M535.712,568.402c0-4.479-1.172-13.433,0-21.269
  c0-4.478-4.688-1.119-5.86-2.239c0-3.015,3.711-6.026,5.425-8.357c-2.58,0.585-5.765,0.709-9.641-0.076l-7.567,4.819
  l-10.093-14.055l-18.845,15.577c0.374,1.351,0.678,2.782,0.872,4.332c0,1.12,5.859,1.12,7.031,4.478c0,2.239-1.172,5.597,0,7.836
  c1.173,1.119,3.517,2.239,4.688,3.358c1.173,4.478-1.172,8.956,0,13.433c1.173,1.12,2.345,1.12,4.688,1.12
  c0,8.297-0.985,16.908-2.089,25.501l0.712-0.941c1.683-4.417,10.092,2.008,10.092,2.008c2.818,2.052,5.595,4.103,8.067,5.946
  C533.87,598.489,539.353,584.05,535.712,568.402z"/></a>

  <a onclick="district_kl('SEGAMBUT')">
  <path fill="#FACC4D" stroke="#333333"   data-toggle="tooltip" title="SEGAMBUT"  stroke-miterlimit="10" d="M608.813,545.324l-23.83-24.303l-6.787,8.212h-9.25
  c0,0-3.785,2.411-3.364,4.819c0,0-0.872,0.942-2.288,2.105c2.776,10.344-0.373,22.41,8.753,31.125
  c3.665,3.938,5.53,9.59,5.895,15.947c10.093-1.876,19.448-6.171,28.73-9.389C609.672,558.143,608.813,545.324,608.813,545.324z"/></a>

  <a onclick="district_kl('SETAPAK')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="SETAPAK" stroke-miterlimit="10" d="M572.705,608.567l18.896,1.014
  c8.469-10.784,12.836-24.057,15.069-35.739c-9.282,3.217-18.639,7.513-28.73,9.389C578.395,591.223,576.469,600.33,572.705,608.567
  z"/></a>

  <a onclick="district_kl('S. HISHAMUDDIN')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="S.HISHAMUDDIN" stroke-miterlimit="10" d="M577.005,576.984c-0.941-3.777-2.555-7.115-4.96-9.701
  c-9.126-8.716-5.977-20.781-8.753-31.125c-2.397,1.969-6.36,4.573-10.325,4.32l-8.41-10.04c0,0-2.622,4.588-9.28,6.1
  c-1.714,2.331-5.425,5.343-5.425,8.357c1.172,1.12,5.86-2.239,5.86,2.239c-1.172,7.836,0,16.792,0,21.269
  c1.571,6.76,1.436,13.292-0.08,19.452C549.877,591.538,564.011,585.135,577.005,576.984z"/></a>

  <a onclick="district_kl('SRI HARTAMAS')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="SRI HARTAMAS" stroke-miterlimit="10" d="M532.365,616.777l14.973-9.572l25.367,1.362
  c4.792-10.485,6.596-22.375,4.302-31.583c-12.994,8.151-27.128,14.554-41.373,10.871c-1.993,8.099-6.374,15.552-12.438,22.018
  C528.466,613.799,532.365,616.777,532.365,616.777z"/></a>

  <a onclick="district_kl('KAMPUNG BARU')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="KAMPUNG BARU" stroke-miterlimit="10" d="M534.55,731.234h-0.922l-5.048,3.214l-1.26-2.813v-4.819
  l-1.684-2.813c-1.684-0.4-4.627,4.418-4.627,4.418c-2.521,2.812-5.045-4.418-5.045-4.418c-3.784-7.629-12.191-10.039-12.191-10.039
  c-2.944,7.229-5.048,6.828-5.048,6.828c-2.941-3.615-2.522-6.025-2.522-6.025l7.112-22.082l-4.576-3.496l-15.189,10.14l3.844,5.244
  l-3.111,4.545l-4.393-7.342h-4.757l-2.381-2.098h-1.646l-2.198,1.398h-3.477l-5.306-4.72c-5.677,9.613,0,12.76,0,12.76
  c-5.857,9.964-5.492,12.76-5.492,12.76c-0.366,2.271,2.928,4.547,2.928,4.547v6.815l2.197,3.321l-2.929,3.671v2.972l7.139,5.245
  l-0.55,10.485l2.928,2.623c8.17,4.98,11.563,2.063,11.563,2.063c4.414-3.567,12.902-4.864,12.902-4.864l2.376-4.539
  c0.676-3.242-0.68-13.943-0.68-13.943c6.11,3.568,7.808,3.568,7.808,3.568l4.755,1.619h3.053l14.938-8.431
  c1.639,0.313,2.642,1.608,3.244,2.867C528.435,736.776,531.848,734.12,534.55,731.234z"/></a>

  <a onclick="district_kl('JLN SEMARAK')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="JLN SEMARAK" stroke-miterlimit="10" d="M555.636,791.168c-1.172,0-2.344,2.238-2.344,4.478
  c-8.299,0.99-14.764-2.403-21.825-6.301c-2.642,1.564-4.326,1.842-4.326,1.842c-2.377,2.593,2.037,8.105,2.037,8.105
  c2.714,4.539-0.68,6.485-0.68,6.485h-9.509c-4.072,0.973-4.072,7.134-4.072,7.134l-2.378,5.835l-9.506,11.026l22.747-0.649
  l1.357,10.701l33.95-0.647c1.695,5.188,3.733,5.188,3.733,5.188l8.021-0.13l-0.162-12.418l18.294-9.533v-29.035
  C580.297,794.845,566.736,791.83,555.636,791.168z"/></a>

  <a onclick="district_kl('JLN SILANG')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="JLN SILANG" stroke-miterlimit="10" d="M541.573,767.66c-4.554-1.45-9.11-2.89-13.981-3.729
  c3.408,9.84,4.302,16.229,4.302,16.229c3.736,4.217,4.752,5.189,4.752,5.189c-1.942,1.855-3.706,3.123-5.177,3.996
  c7.063,3.896,13.526,7.291,21.825,6.301c0-2.238,1.172-4.478,2.344-4.478c11.1,0.662,24.661,3.677,35.341,2.081v-23.121
  l-0.782-1.681C573.957,769.491,557.467,770.856,541.573,767.66z"/></a>

  <a onclick="district_kl('JLN TRAVERS')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN TRAVERS" stroke-miterlimit="10" d="M565.672,758.679l-5.993-5.086l1.367-33.291l-24.896,10.934h-1.6
  c-2.702,2.886-6.115,5.542-8.242,8.664c0.645,1.346,0.831,2.646,0.831,2.646c-3.056,2.917-2.376,13.943-2.376,13.943
  c1.096,2.646,2.029,5.137,2.827,7.44c4.871,0.842,9.429,2.28,13.981,3.73c15.896,3.195,32.386,1.831,48.622,0.787l-4.547-9.77
  h-19.975V758.679z"/></a>

  <path fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="M507.528,600.388c-1.116-0.035-2.047,0.358-2.494,1.535
  l-2.635,3.484C504.8,603.777,506.738,602.057,507.528,600.388z"/>

  <a onclick="district_kl('LEBUH AMPANG')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="LEBUH AMPANG" stroke-miterlimit="10" d="M533.888,694.499c0.607,0.136,1.217,0.27,1.824,0.398
  c-1.172,0-1.172,0-2.345,0C533.538,694.754,533.715,694.632,533.888,694.499c-9.903-2.206-19.808-5.11-29.71-4.088l-0.861,2.276
  l-7.114,22.082c0,0-0.42,2.408,2.522,6.023c0,0,2.104,0.399,5.047-6.828c0,0,8.408,2.41,12.192,10.039c0,0,2.522,7.229,5.045,4.418
  c0,0,2.942-4.816,4.626-4.418l1.684,2.813v4.817l1.262,2.813l5.046-3.214h2.521l25.229-11.244l0.3-9.014h-11.322v-14.628
  l2.277-3.363C545.526,691.498,538.862,690.704,533.888,694.499z"/></a>

  <path fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="M535.712,694.897c-0.607-0.129-1.217-0.263-1.824-0.398
  c-0.173,0.133-0.352,0.255-0.521,0.398C534.54,694.897,534.54,694.897,535.712,694.897z"/>

  <a onclick="district_kl('PUCHONG')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="PUCHONG"  stroke-miterlimit="10" d="M555.636,653.478c1.173,0,2.345-3.358,3.517-3.358
  c5.398-2.209,9.782,1.882,14.487,4.62v-19.882c-12.287-1.806-17.96-5.417-17.96-5.417l-8.506-6.319l0.082-16.082l-14.895,9.741
  c0,0-8.41-6.425-17.238-12.851c0,0-4.521-3.444-7.597-3.542c-0.79,1.668-2.728,3.389-5.129,5.019l-6.638,8.776
  c5.665,2.949,12.863-2.448,17.683,1.234c-4.688,3.358-5.859,8.956-5.859,12.314c0.627,7.19-0.439,12.771-2.989,17.783
  c0.892,2.371,1.673,4.261,2.355,5.779c6.33-0.566,12.49-1.363,18.213-3.413C536.884,643.404,543.916,661.314,555.636,653.478z"/></a>

  <a onclick="district_kl('MAHARAJALELA')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="MAHARAJALELA" stroke-miterlimit="10" d="M510.821,657.378l0.366,14.509l-7.009,18.524
  c9.902-1.022,19.807,1.882,29.71,4.088c4.974-3.795,11.638-3.001,18.742-1.514l21.01-31.044v-7.201
  c-4.705-2.737-9.089-6.829-14.487-4.62c-1.172,0-2.344,3.358-3.517,3.358c-11.72,7.836-18.752-10.075-30.474-5.597
  c-5.723,2.05-11.883,2.847-18.213,3.413C509.686,657.366,510.821,657.378,510.821,657.378z"/></a>

  <a onclick="district_kl('MASJID INDIA')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="MASJID INDIA" stroke-miterlimit="10" d="M507.583,627.732c0-3.358,1.172-8.956,5.859-12.314
  c-4.818-3.683-12.018,1.714-17.683-1.234l-7.127,9.425l-12.613-9.638c0,0-9.671-9.638-25.649-8.032l-2.943-2.008v-6.023
  c0,0,0-1.205,2.943-8.031l-3.74-1.622c-1.364,2.466-3.278,5.571-5.483,8.119l-7.892,0.887l-1.161,0.443v3.104l2.554,4.656v6.43
  l-1.565,1.551c9.879,7.532,9.879,8.737,9.879,8.737v4.823h2.104v4.019h3.366l0.841,5.626l4.21,2.412l-5.051,13.664l3.64,2.207
  l2.563-3.845h5.675c8.234-3.846,11.346-5.244,11.346-5.244c4.576-5.943,13.545-1.224,13.545-1.224
  c4.025,0.176,8.967-5.068,8.967-5.068c2.38,1.572,8.785,1.398,8.785,1.398c0.585,1.694,1.132,3.205,1.645,4.568
  C507.144,640.502,508.21,634.922,507.583,627.732z"/></a>

  <path fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="M331.201,908.731c0,0,0.034-0.125,0.102-0.361
  c-0.067,0.014-0.134,0.033-0.202,0.045C331.168,908.613,331.201,908.731,331.201,908.731z"/>

  <a onclick="district_kl('JLN IMBI')">
  <path fill="#FACC4D" class="two1"  data-toggle="tooltip" title="JLN IMBI" stroke="#333333" stroke-miterlimit="10" d="M323.576,867.288c14.064-3.357,11.72,4.479,15.236,14.553
  c0.318,0.912,1.165,1.485,2.332,1.85c3.492-6.581,7.799-12.776,12.769-16.135v-5.195c0,0,1.64-1.344,4.084-3.625
  c-5.309-4.192-9.622-10.043-14.497-11.596c-0.723-0.347-1.499-0.672-2.298-0.986v1.727l-15.974,14.149
  c1.049,0.255,2.067,0.518,3.035,0.782C330.608,863.93,323.576,863.93,323.576,867.288z"/></a>

  <a onclick="district_kl('JLN INAI')">
  <path fill="#FACC4D" class="three1"  data-toggle="tooltip" title="JLN INAI" stroke="#333333" stroke-miterlimit="10" d="M338.812,881.841c-3.517-10.074-1.172-17.911-15.236-14.553
  c0-3.357,7.032-3.357,4.688-4.478c-0.968-0.266-1.986-0.527-3.035-0.782l-7.993,7.081l-1.681,33.895
  c11.77-3.381,14.983,3.802,15.546,5.411c0.068-0.012,0.135-0.031,0.202-0.045c0.631-2.188,4.147-13.949,9.842-24.681
  C339.977,883.326,339.13,882.753,338.812,881.841z"/></a>

  <path fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="M381.462,774.652l-0.146-0.279
  c-0.286,0.41-0.548,0.836-0.792,1.274L381.462,774.652z"/>

  <a onclick="district_kl('JLN HANG LEKIU')">
  <path fill="#FACC4D" class="one1" stroke="#333333" data-toggle="tooltip" title="JLN HANG LEKIU" stroke-miterlimit="10" d="M343.499,847.139c4.875,1.554,9.188,7.403,14.497,11.597
  c1.733-1.615,3.864-3.697,6.121-6.121c0,0-6.462-6.498-2.381-9.096c0,0,11.903,0.324,13.943-14.941c0,0-0.339-1.95,1.361-7.798
  c0,0,0.064-1.749-0.521-3.493c-12.311,4.551-21.636,15.668-31.849,2.987c3.517,6.717,8.205,15.672,4.688,20.148
  c-2.028,2.325-5.039,1.698-8.158,0.164v5.566C342,846.468,342.777,846.793,343.499,847.139z"/></a>

  <a onclick="district_kl('JLN BUKIT NENAS')">
  <path fill="#FACC4D" class="ten" data-toggle="tooltip" title="JLN BUKIT NENAS" stroke="#333333" stroke-miterlimit="10" d="M349.36,840.422c3.517-4.478-1.172-13.433-4.688-20.149
  c10.213,12.682,19.538,1.563,31.849-2.986c-0.751-2.234-2.568-4.463-6.961-3.003l2.381-9.746c0,0,9.863-7.796,6.462-11.043v-2.925
  l2.381-1.622l0.34-4.875l-2.721-2.922v-0.233c-1.896,6.085-3.09,12.792-10.289,15.85c-7.032,2.238-7.032-6.717-11.721-10.075
  c-1.172,0-3.516,0-4.688,0c0.689,12.493-8.733,16.874-19.237,19.95c0.322,4.313,1.896,19.193,8.735,30.625v3.32
  C344.321,842.12,347.331,842.747,349.36,840.422z"/></a>

  <a onclick="district_kl('BUKIT DAMANSARA')">
  <path class="5" fill="#FACC4D" data-toggle="tooltip" title="BUKIT DAMANSARA" stroke="#333333" stroke-miterlimit="10" d="M396.227,692.712c-3.456-2.022-7.636-4.949-11.747-9.047
  c0,0-5.469,1.206-6.312-2.009l-0.841-4.42l-4.208,0.402v4.019h-0.841l-3.787-3.617l-3.366,1.607l-0.842-3.215h-5.891v-4.823
  l-3.365,2.412v3.215c0,0-9.257-3.215-9.679,4.019c0,0,0,2.009-1.683,5.224c0,0-8.836,0-8.836,4.822c0,0-0.421,4.021-4.207,7.636
  l3.365,3.214l-10.406,2.842c3.126,0.729,6.248,1.473,9.369,2.219c-1.172,0-2.344,2.238-3.517,2.238
  c4.688-1.119,8.205-1.119,12.893-1.119c0,3.357-5.86,2.239-4.688,3.357c4.688,2.239,10.548,1.119,16.408,1.119
  c-3.293,7.549,2.667,11.563,10.184,14.227c5.98-5.35,10.913-11.516,10.913-19.822c3.516,1.119,5.859-2.239,9.376-2.239
  c-1.172-1.119-3.517,1.12-4.688-1.119C386.845,702.736,395.021,699.391,396.227,692.712z"/></a>

  <a onclick="district_kl('CHOW KIT')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="CHOW KIT" stroke-miterlimit="10" d="M334.123,755.347c-3.516-5.598,1.172-13.434-1.172-16.791
  c-7.636-8.205-16.823-16.412-21.238-27.033c-1.916,1.654-3.951,3.043-5.073,2.686h-2.524c0,0-3.366,0-3.786,6.028
  c0,0-4.629,5.626-5.322,6.052l-1.012,27.02l27.279,16.408l3.479,1.477c4.604-2.521,9.461-4.577,13.774-6.932
  c-0.87-3.854-2.048-7.757-3.232-11.151C334.123,754.225,335.295,756.466,334.123,755.347z"/></a>

  <a onclick="district_kl('CHERAS')">
  <path class="six" fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="CHERAS" stroke-miterlimit="10" d="M352.876,736.315c3.577-2.989,7.666-5.98,11.355-9.282
  c-7.517-2.662-13.477-6.677-10.184-14.226c-5.86,0-11.721,1.119-16.408-1.119c-1.173-1.119,4.688,0,4.688-3.358
  c-4.688,0-8.204,0-12.893,1.119c1.173,0,2.345-2.238,3.517-2.238c-3.121-0.746-6.243-1.489-9.369-2.219l-7.265,1.982
  c0,0-2.209,2.479-4.604,4.546c4.415,10.623,13.603,18.83,21.238,27.033c2.344,3.358-2.344,11.194,1.172,16.791
  c1.172,1.121,0-1.119,1.172-2.237c1.185,3.396,2.362,7.297,3.232,11.151c8.303-4.531,14.593-10.168,13.176-22.347
  c3.517,1.119,4.688-3.358,7.032-4.478C356.392,738.556,355.22,736.315,352.876,736.315z"/></a>

  <a onclick="district_kl('GOMBAK')">
  <path fill="#FACC4D" class="seven" stroke="#333333" data-toggle="tooltip" title="GOMBAK" stroke-miterlimit="10" d="M404.255,696.523c0,0-3.347-1.073-8.028-3.812
  c-1.206,6.68-9.382,10.024-16.395,11.141c1.172,2.239,3.517,0,4.688,1.119c-3.517,0-5.86,3.358-9.376,2.239
  c0,13.434-12.893,21.27-22.269,29.104c2.344,0,3.516,2.24,5.859,1.121c-2.344,1.119-3.516,5.597-7.032,4.478
  c2.153,18.507-13.488,21.907-26.95,29.276l5.616,2.383l2.02,31.848c0,0,0.018,0.438,0.077,1.221
  c10.504-3.076,19.927-7.457,19.237-19.95c1.173,0,3.517,0,4.688,0c4.688,3.358,4.688,12.313,11.721,10.075
  c7.199-3.058,8.394-9.765,10.289-15.85V777.9l2.122-2.253c0.244-0.438,0.506-0.864,0.792-1.274l-1.555-2.968v-6.498
  c0,0-3.401-3.898-2.04-6.496l5.442-0.65l4.08,2.926c0,0,2.042-0.65,2.24-3.5v-2.971l-3.111-13.109
  c5.123-2.448,8.967-6.118,8.967-6.118l8.053-14.857l4.026-3.495c7.87-7.342,12.996-13.285,12.996-13.285l4.624-2.771l1.053-2.23
  C426.091,698.348,410.988,704.158,404.255,696.523z"/></a>

  <a onclick="district_kl('JLN AMPANG')">
  <path fill="#FACC4D" class="nine" stroke="#333333" data-toggle="tooltip" title="JLN AMPANG" stroke-miterlimit="10" d="M404.445,815.795c7.034-11.196,19.268-23.39,24.909-36.907
  l-16.082-12.26c-2.013-1.396-4.393-1.396-4.393-1.396h-7.869c-3.295-0.524-11.529-6.252-11.529-6.252
  c-0.197,2.851-2.239,1.709-2.239,1.709l-4.081-2.926l-5.442,0.65c-1.36,2.598,2.041,6.496,2.041,6.496v6.498l1.701,3.249
  l-3.061,3.246v3.249l2.719,2.923l-0.338,4.874l-2.381,1.622v2.925c3.401,3.248-6.463,11.043-6.463,11.043l-2.38,9.746
  c7.821-2.6,7.481,6.497,7.481,6.497c-1.699,5.847-1.36,7.797-1.36,7.797c-0.146,1.094-0.349,2.1-0.586,3.038
  C386.956,831.198,398.567,827.023,404.445,815.795z"/></a>

  <a onclick="district_kl('JLN PANTAI BARU')">
  <path fill="#FACC4D" class="" stroke="#333333"  data-toggle="tooltip" title="JLN PANTAI BARU"  stroke-miterlimit="10" d="M429.058,829.227c-2.345,2.238-4.688,3.357-7.032,4.479
  c5.804,1.278,11.946,2.229,17.847,2.18c1.248-3.042,8.219-7.732,9.109-11.136c1.172-4.478-7.032-1.119-10.548-2.237
  c2.344-4.479,9.376-5.599,8.204-11.194c-2.344-3.358-8.204-1.12-10.548-3.358c-4.882-7.771-3.55-16.08-0.318-24.181l-6.418-4.892
  c-5.642,13.519-17.875,25.711-24.909,36.907c-1.49,2.849-3.354,5.238-5.492,7.232C408.151,827.726,417.198,832.059,429.058,829.227
  z"/></a>

  <a onclick="district_kl('JLN KENANGA')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN KENANGA" stroke-miterlimit="10" d="M425.541,844.899c3.38-2.151,12.165,0.854,18.047-0.897
  c-0.232-1.338,0.251-2.693,0.995-3.896c-1.27-0.591-2.537-1.216-3.806-1.921c-1.126-0.538-1.299-1.336-0.905-2.299
  c-5.9,0.051-12.043-0.9-17.847-2.18c2.344-1.12,4.688-2.239,7.032-4.479c-11.86,2.832-20.907-1.501-30.105-6.2
  c-6.294,5.868-15.005,8.275-23.86,8.589c-1.452,5.692-4.462,8.669-7.263,10.217c4.749,9.188,16.657,14.261,27.239,14.261
  c-4.688,4.479-10.548,11.194-7.032,14.554c2.825,2.022,7.776,2.021,12.804,2.672C408.699,863.559,415.963,853.345,425.541,844.899z
  "/></a>

  <a onclick="district_kl('JLN RAJA CHULAN')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN RAJA CHULAN" stroke-miterlimit="10" d="M454.57,868.218l3.629-4.453v-4.947
  c-6.218-1.98-8.809-8.905-8.809-8.905l-3.106-2.474c-1.708-1.051-2.488-2.236-2.695-3.437c-5.882,1.751-14.667-1.254-18.047,0.897
  c-9.578,8.444-16.843,18.66-24.701,28.419c3.318,0.431,6.669,1.145,9.465,2.926c-5.86,0-5.86,6.716-3.516,7.836
  c1.601,1.146,3.096,2.492,4.451,3.947l8.623-0.516l3.107,3.464l16.577-1.484v-7.915l5.181,3.463l-0.518,2.97
  c0.518,1.979,8.288,2.475,8.288,2.475l9.843-7.917C463.378,875.143,454.57,868.218,454.57,868.218z"/></a>

  <a onclick="district_kl('JLN PEKELILING')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN PEKELILING" stroke-miterlimit="10" d="M448.355,836.057l6.734-6.433
  c5.268,6.697,10.791,7.167,10.791,7.167c3.237-1.025,11.875,3.661,11.875,3.661l0.394-2.813l2.747-2.438l-3.729-4.126l-0.395-9.187
  c-0.785-8.438-8.636-14.063-8.636-14.063c-10.797-8.436-2.748-19.311-2.748-19.311c16.686-17.623,25.426-29.76,25.426-29.76
  s-8.488,1.297-12.902,4.864c0,0-3.395,2.917-11.563-2.063l-3.294,4.895l-0.184,5.245l4.574,3.319l-2.014,6.469l-6.038,0.35
  l-0.367,7.342l-7.687,6.469l-15.567-11.867c-3.231,8.102-4.563,16.41,0.318,24.181c2.344,2.238,8.204,0,10.548,3.358
  c1.172,5.597-5.86,6.717-8.204,11.193c3.516,1.119,11.72-2.238,10.548,2.238c-1.172,4.478-12.892,11.194-8.204,13.435
  c1.269,0.706,2.536,1.33,3.806,1.921C446.006,837.802,448.355,836.057,448.355,836.057z"/></a>

  <a onclick="district_kl('JLN IPOH')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN IPOH" stroke-miterlimit="10" d="M406.789,884.08c-2.345-1.12-2.345-7.836,3.516-7.836
  c-7.032-4.479-17.58-2.239-22.269-5.598c-3.516-3.358,2.345-10.075,7.032-14.554c-10.582,0-22.49-5.071-27.239-14.261
  c-3.188,1.764-6.095,1.688-6.095,1.688c-4.081,2.599,2.381,9.095,2.381,9.095c-5.442,5.848-10.205,9.746-10.205,9.746v5.196
  c-13.943,9.421-22.71,41.174-22.71,41.174c17.693-0.441,25.464-10.335,25.464-10.335c6.734-0.494,11.397,0,11.397,0l2.589,3.958
  h3.108l-0.517-4.948l4.661,1.484c0,2.969-2.59,6.432-2.59,6.432c5.697,3.465,9.324,1.979,9.324,1.979
  c0.519-4.946,2.072-4.946,2.072-4.946c5.182,2.474,13.469,3.463,13.469,3.463v-5.441l-5.18-11.379l16.241-0.97
  C409.885,886.572,408.39,885.226,406.789,884.08z"/></a>

  <a onclick="district_kl('JLN KLANG LAMA')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN KLANG LAMA" stroke-miterlimit="10" d="M363.424,927.737c-1.172-1.119-5.86,2.238-9.376,4.478
  c4.688-6.717,10.548-14.553,9.376-23.508h-3.517c-1.551-3.333-2.451-6.79-2.975-10.327c-0.09,0.006-0.177,0.012-0.269,0.019
  c0,0-7.771,9.896-25.464,10.126l0.824,29.086c11.158,3.366,22.313,5.618,32.843,7.1
  C366.551,940.373,366.343,934.832,363.424,927.737z"/></a>

  <a onclick="district_kl('JLN KUCHAI LAMA')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="JLN KUCHAI LAMA" stroke-miterlimit="10" d="M391.868,904.182c-1.794-0.487-3.613-1.091-5.157-1.827
  c0,0-1.554,0-2.072,4.947c0,0-3.627,1.483-9.324-1.979c0,0,2.59-3.463,2.59-6.432l-4.661-1.483l0.517,4.947h-3.108l-2.589-3.958
  c0,0-4.542-0.479-11.129-0.019c0.523,3.537,1.424,6.994,2.975,10.327h3.517c1.172,8.955-4.688,16.791-9.376,23.508
  c3.516-2.238,8.204-5.597,9.376-4.478c2.919,7.095,3.127,12.636,1.443,16.972c13.706,1.928,26.344,2.548,36.52,2.602
  C402.888,934.329,395.24,918.885,391.868,904.182z"/></a>

  <a onclick="district_kl('JLN KUCHING')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN KUCHING" stroke-miterlimit="10" d="M436.09,926.618c-12.893-1.12-8.204-7.837-5.86-16.792
  c-2.344,0-4.688,0-4.688,0c-1.996-6.673-1.443-12.536-1.234-18.969l-1.336,0.119l-3.107-3.464l-24.864,1.484l5.18,11.379v5.441
  c0,0-4.085-0.49-8.312-1.637c3.372,14.702,11.021,30.146,9.52,43.129c14.886,0.078,24.507-1.051,24.507-1.051l2.645-0.175
  C428.842,938.867,429.56,931.294,436.09,926.618z"/></a>

  <a onclick="district_kl('JLN P . RAMLEE')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="JLN P . RAMLEE" stroke-miterlimit="10" d="M466.563,924.379c-10.549-7.836-7.032-16.791-1.173-24.627
  c-5.034-3.436-8.736-6.875-10.31-11.347l-2.582,2.077c0,0-7.771-0.494-8.288-2.475l0.518-2.968l-5.181-3.464v7.915l-15.241,1.365
  c-0.209,6.433-0.762,12.296,1.234,18.969c0,0,2.345,0,4.688,0c-2.344,8.955-7.032,15.672,5.86,16.792
  c-6.53,4.676-7.248,12.249-7.552,19.468l25.782-1.706c3.92-7.905,8.815-12.702,13.411-15.612
  C467.716,926.643,467.588,924.868,466.563,924.379z"/></a>

  <a onclick="district_kl('JLN PAHANG')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN PAHANG" stroke-miterlimit="10" d="M540.4,898.632c-3.119-4.966-15.466,0.641-25.579,1.186
  c-2.952,3.281-6.594,6.116-10.753,7.771c2.344,0,3.517,0,5.859,0c-1.172,1.119-1.172,2.238-1.172,4.479
  c-10.229-1.086-17.149,9.405-26.109,13.104c8.21,22.566,21.862,23.669,21.862,23.669h24.51v-34.558h21.737
  C547.468,908.866,544.01,903.611,540.4,898.632z"/></a>

  <a onclick="district_kl('JLN P .RAMLEE')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN P .RAMLEE" stroke-miterlimit="10" d="M508.755,912.065c0-2.239,0-3.358,1.172-4.479
  c-2.344,0-3.517,0-5.859,0c4.159-1.655,7.801-4.49,10.753-7.771c-1.283,0.068-2.533,0.061-3.721-0.064
  c1.172-5.598,5.859-12.313,2.344-14.553c-7.032-3.358-19.925,2.238-25.784-2.239c-6.857-6.55-18.622-9.182-28.461-9.871
  c1.932,2.604,3.633,5.98,3.144,9.479l-7.261,5.839c1.572,4.472,5.274,7.911,10.31,11.347c-5.859,7.836-9.376,16.791,1.173,24.627
  c1.025,0.489,1.153,2.266,1.169,4.389c7.721-4.89,14.601-4.453,14.601-4.453c0.09,0.259,0.186,0.5,0.275,0.754
  c0.145-0.589,0.271-1.188,0.363-1.809c-0.093,0.62-0.22,1.22-0.363,1.809c0.014,0.035,0.025,0.068,0.038,0.103
  C491.606,921.471,498.528,910.979,508.755,912.065z"/></a>

  <a onclick="district_kl('JLN PINANG')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN PINANG" stroke-miterlimit="10" d="M492.347,853.855c-3.517,1.118-5.86-2.239-5.86-2.239
  c-0.852-8.944-4.187-17.881-9.535-25.539l0.215,5.002l3.729,4.124l-2.747,2.438l-0.394,2.813c0,0-8.638-4.688-11.875-3.661
  c0,0-5.523-0.471-10.791-7.167l-6.734,6.434c0,0-9.323,6.925-2.071,11.38l3.106,2.474c0,0,2.591,6.926,8.809,8.905v4.946
  l-3.629,4.454c0,0,2.46,1.947,4.629,4.87c9.839,0.689,21.604,3.321,28.461,9.871c3.03,2.315,7.941,1.938,12.951,1.496
  C500.939,875.97,496.646,863.709,492.347,853.855z"/></a>

  <a onclick="district_kl('JLN RAJA LAUT')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN RAJA LAUT" stroke-miterlimit="10" d="M514.334,829.453l-11.301,0.322l9.506-11.025l2.378-5.837
  c0,0,0-6.161,4.072-7.134h9.509c0,0,3.394-1.945,0.68-6.485c0,0-4.414-5.512-2.037-8.104c0,0,4.073-0.649,9.503-5.837
  c0,0-1.016-0.973-4.752-5.188c0,0-0.185-1.304-0.692-3.618c-1.67,0.519-3.311,0.92-4.862,1.189
  c-9.377,1.119-16.409,3.357-24.613,6.717c-9.337,4.864-21.749,3.855-33.671,1.229c-0.866,0.933-1.751,1.877-2.664,2.841
  c0,0-8.049,10.874,2.748,19.311c0,0,7.851,5.625,8.636,14.063l0.18,4.185c2.938,4.205,5.241,8.802,6.887,13.566
  c9.842-1.767,19.554-5.527,28.435-9.296C512.959,830.049,513.648,829.752,514.334,829.453z"/></a>

  <a onclick="district_kl('JLN PUDU')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="JLN PUDU" stroke-miterlimit="10" d="M561.089,839.181l-33.95,0.647l-1.357-10.702l-11.446,0.327
  c-0.688,0.299-1.375,0.596-2.063,0.896c-8.881,3.769-18.593,7.529-28.435,9.296c1.352,3.914,2.266,7.939,2.648,11.973
  c0,0,2.345,3.358,5.86,2.239c4.299,9.854,8.592,22.113,8.264,30.601c4.677-0.412,9.438-0.878,12.833,0.743
  c3.517,2.238-1.172,8.955-2.344,14.553c10.313,1.094,25.104-6.366,29.042-1.465c4.411-11.175,6.718-23.617,10.807-34.357
  c1.172-5.597,10.548-10.073,12.894-16.791c0.309-0.886,0.536-1.85,0.769-2.81C564.044,844.173,562.457,843.363,561.089,839.181z"/></a>

  <a onclick="district_kl('JLN TUN RAZAK')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="JLN TUN RAZAK" stroke-miterlimit="10" d="M501.723,784.451c8.204-3.358,15.236-5.599,24.613-6.717
  c1.553-0.271,3.192-0.673,4.862-1.19c-0.887-4.041-2.768-11.188-6.437-20.052c0,0-0.68-11.026,2.376-13.944
  c0,0-0.681-4.863-4.075-5.513l-14.938,8.431h-3.053l-4.755-1.619c0,0-1.696,0-7.808-3.568c0,0,1.354,10.701,0.68,13.941
  l-2.376,4.541c0,0-7.813,10.846-22.762,26.92C479.974,788.307,492.386,789.315,501.723,784.451z"/></a>

  <a onclick="district_kl('JLN PUTRA')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="JLN PUTRA" stroke-miterlimit="10" d="M550.755,914.281h27.284l7.006-6.69l-3.755-30.558v-15.072
  l-8.607-12.331l0.162-5.392l-8.021,0.13c0,0-0.077-0.001-0.214-0.039c-0.231,0.96-0.46,1.924-0.769,2.81
  c-2.346,6.718-11.722,11.194-12.894,16.791c-4.089,10.74-6.396,23.184-10.807,34.357c0.089,0.111,0.181,0.221,0.258,0.345
  C544.01,903.611,547.468,908.866,550.755,914.281z"/></a>

  <a onclick="district_kl('JLN TAR')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="JLN TAR" stroke-miterlimit="10" d="M450.154,747.511c-3.516,1.119-7.031,4.478-11.72,4.478
  c5.331,12.223-2.92,18.884-11.513,25.045l24.419,18.614l7.687-6.467l0.367-7.344l6.038-0.35l2.015-6.467l-4.575-3.321l0.183-5.244
  l3.296-4.896l-2.929-2.621l0.55-10.488l-7.138-5.245v-2.972l2.049-2.567c-1.294-0.474-2.628-0.93-4.039-1.351
  c-0.795,0-1.593-2.063-2.756-3.739c-2.796,1.749-5.436,3.728-7.792,5.979C440.778,740.794,441.95,749.749,450.154,747.511z"/></a>

  <a onclick="district_kl('KEPONG')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="KEPONG" stroke-miterlimit="10" d="M450.154,730.72c-4.688,0-7.031-4.479-11.72-2.24
  c-1.172-2.237-3.517-4.478-2.344-6.715c-8.54,7.34-20.191,2.2-31.78-2.43l-0.92,0.801l-8.054,14.855c0,0-3.843,3.668-8.967,6.117
  l3.111,13.109v2.973c0,0,8.234,7.517,11.529,8.041h7.87c0,0,2.38,0,4.393,1.396l13.648,10.403
  c8.593-6.161,16.844-12.822,11.513-25.045c4.688,0,8.204-3.357,11.72-4.479c-8.204,2.239-9.376-6.716-5.859-8.954
  c2.357-2.253,4.996-4.229,7.792-5.979C451.537,731.784,450.906,731.078,450.154,730.72z"/></a>

  <a onclick="district_kl('KERAMAT')">
  <path fill="#FACC4D" stroke="#333333"  data-toggle="tooltip" title="KERAMAT" stroke-miterlimit="10" d="M477.111,694.897c-4.688-5.598-16.408-8.956-17.58-17.911
  c-3.517,1.12-7.031-2.239-9.377,2.239c2.346-11.194-10.548-12.313-16.408-19.03c2.345,0,3.517,2.239,5.86,1.119
  c-3.093-2.953-6.43-5.121-9.926-6.618l-3.128,10.082l0.42,4.421l-2.523,2.813l4.207,6.831l-2.104,8.439l2.525,3.617v1.607
  l-4.043,8.073l-4.625,2.771c0,0-5.123,5.944-12.994,13.288l-3.105,2.695c11.589,4.63,23.24,9.77,31.78,2.43
  c-1.173,2.237,1.172,4.478,2.344,6.715c4.688-2.237,7.032,2.24,11.72,2.24c2.346,1.118,3.518,5.596,4.688,5.596
  c1.411,0.422,2.745,0.877,4.039,1.352l0.879-1.104l-2.197-3.32v-6.817c0,0-3.294-2.274-2.928-4.546c0,0-0.365-2.796,5.493-12.76
  c0,0-5.678-3.145,0-12.759l5.305,4.719h3.477l2.198-1.398h1.646l2.381,2.099h4.757l0.228,0.381
  C480.115,699.256,479.48,696.708,477.111,694.897z"/></a>

  <a onclick="district_kl('KL')">
  <path fill="#FACC4D" stroke="#333333" data-toggle="tooltip" title="KL" stroke-miterlimit="10" d="M510.822,657.378c0,0-2.196,0-7.871-16.431
  c0,0-6.404,0.174-8.784-1.398c0,0-4.939,5.243-8.967,5.068c0,0-8.97-4.721-13.545,1.223c0,0-3.111,1.398-11.346,5.245h-5.675
  l-2.563,3.845l-3.64-2.208l5.051-13.663l-4.209-2.412l-0.842-5.626h-3.366v-4.019h-2.104v-4.823c0,0,0-1.205-9.879-8.737
  l-1.568,1.553l-3.134,3.103l0.233,4.877l1.16,0.443l0.23,3.103l-3.713,5.987c0,0-1.004,5.344,4.044,14.184l-0.419,7.233
  l-0.238,0.769c3.496,1.498,6.833,3.665,9.926,6.618c-2.344,1.12-3.516-1.119-5.86-1.119c5.86,6.716,18.752,7.836,16.408,19.03
  c2.345-4.478,5.86-1.119,9.377-2.239c1.172,8.955,12.893,12.313,17.58,17.911c2.369,1.811,3.004,4.358,3.008,7.263l4.165,6.962
  l3.111-4.547l-3.844-5.244l15.189-10.14l4.576,3.496l7.87-20.801L510.822,657.378z"/></a>

  <text transform="matrix(1.047 0 0 1 233.3246 568.3993)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="BANGSAR" onclick="district_kl('BANGSAR')">BANGSAR</text>
  <text transform="matrix(1.047 0 0 1 220 623.6053)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="Batu Caves" onclick="district_kl('Batu Caves')" ><tspan>Batu</tspan><tspan>Caves</tspan></text>
  <text transform="matrix(1.047 0 0 1 233.3246 681.1659)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="Brickfields" onclick="district_kl('Brickfields')">Brickfields</text>
  <text transform="matrix(1.047 0 0 1 277 703.7186)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="Bukit Bintang" onclick="district_kl('Bukit Bintang')">Bukit Bintang</text>
  <text transform="matrix(1.047 0 0 1 338 700)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="Bukit Damansara" onclick="district_kl('Bukit Damansara')">Bukit Damansara</text>
  <text transform="matrix(1.047 0 0 1 255.7084 544.0145)" font-family="'MyriadPro-Regular'" font-size="5">Cheras</text>
  <text transform="matrix(1.047 0 0 1 267 511)" font-family="'MyriadPro-Regular'" font-size="5">SULTAN ISMAIL</text>
  <text transform="matrix(1.047 0 0 1 257 596.951)" font-family="'MyriadPro-Regular'" font-size="5"  data-toggle="tooltip" title="JLN STONOR" onclick="district_kl('JLN STONOR')">JLN STONOR
  </text>
  <text transform="matrix(1.047 0 0 1 325.1401 613.4442)" font-family="'MyriadPro-Regular'" font-size="5"> Jln Ampang</text>
  <text transform="matrix(1.047 0 0 1 328.2416 521.0214)" font-family="'MyriadPro-Regular'" font-size="5"> Jln Bukit Nenas</text>
  <text transform="matrix(1.047 0 0 1 365 496.3934)" font-family="'MyriadPro-Regular'" font-size="5"data-toggle="tooltip" title="T.T.D.I." onclick="district_kl('T.T.D.I.')">T.T.D.I.</text>
  <text transform="matrix(1.047 0 0 1 405 505.621)" font-family="'MyriadPro-Regular'" font-size="5"data-toggle="tooltip" title="TAMAN MELAWATI" onclick="district_kl('TAMAN MELAWATI')">TAMAN MELAWATI
  </text>
  <text transform="matrix(1.047 0 0 1 461.8442 522.8817)" font-family="'MyriadPro-Regular'" font-size="5"data-toggle="tooltip" title="WANGSA MAJU" onclick="district_kl('WANGSA MAJU')">WANGSA MAJU
  </text>
  <text transform="matrix(1.047 0 0 1 516.7006 496.3934)" font-family="'MyriadPro-Regular'" font-size="5"data-toggle="tooltip" title="TITIWANGSA" onclick="district_kl('TITIWANGSA')">TITIWANGSA
  </text>
  <text transform="matrix(1.047 0 0 1 290.7407 552.1259)" font-family="'MyriadPro-Regular'" font-size="5"data-toggle="tooltip" title="JLN KIA PENG" onclick="district_kl('JLN KIA PENG')">JLN KIA PENG</text>
  <text transform="matrix(1.047 0 0 1 321.1137 664.4589)" font-family="'MyriadPro-Regular'" font-size="5"data-toggle="tooltip" title="JLN MELAKA" onclick="district_kl('JLN MELAKA')">JLN MELAKA
  </text>
  <text transform="matrix(1.047 0 0 1 341.9633 573.1522)" font-family="'MyriadPro-Regular'" font-size="5"data-toggle="tooltip" title="BUKIT JALIL" onclick="district_kl('BUKIT JALIL')">BUKIT JALIL
  </text>
  <text transform="matrix(1.1332 0 0 1 239 651.1317)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN SULTAN SULAIMAN" onclick="district_kl('JLN SULTAN SULAIMAN')">JLN SULTAN SULAIMAN</text>
  <text transform="matrix(1.047 0 0 1 330 734.4481)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="CHERAS" onclick="district_kl('CHERAS')">CHERAS</text>
  <text transform="matrix(1.047 0 0 1 300 750)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="CHOW KIT" onclick="district_kl('CHOW KIT')">CHOW KIT
  </text>
  <text transform="matrix(1.047 0 0 1 346 774.3739)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="GOMBAK" onclick="district_kl('GOMBAK')">GOMBAK</text>
  <text transform="matrix(1.047 0 0 1 337 811)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN BUKIT NENAS" onclick="district_kl('JLN BUKIT NENAS')"><tspan x="0" y="0">JLN</tspan><tspan x="0" y="7.0"> BUKIT NENAS</tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 351.7036 835)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN HANG LEKIU" onclick="district_kl('JLN HANG LEKIU')"><tspan x="0" y="0">JLN</tspan><tspan x="0" y="7.0">HANG</tspan><tspan x="0" y="15">LEKIU</tspan> </text>
  <text transform="matrix(1.047 0 0 1 337 862)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN IMBI" onclick="district_kl('JLN IMBI')"><tspan x="0" y="0">JLN</tspan><tspan x="0" y="7.0">IMBI</tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 321.1137 884.7889)" font-family="'MyriadPro-Regular'" font-size="5"  data-toggle="tooltip" title="JLN INAI" onclick="district_kl('JLN INAI')"><tspan x="0" y="0">JLN</tspan><tspan x="0" y="7.0"> INAI</tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 409 819)" font-family="'MyriadPro-Regular'" font-size="5"  data-toggle="tooltip" title="JLN PANTAI BARU" onclick="district_kl('JLN PANTAI BARU')"><tspan x="0" y="0">JLN </tspan><tspan x="0" y="7.0">PANTAI BARU</tspan></text>
  <text transform="matrix(1.047 0 0 1 410 873.0887)" font-family="'MyriadPro-Regular'" font-size="5"  data-toggle="tooltip" title="JLN RAJA CHULAN" onclick="district_kl('JLN RAJA CHULAN')">JLN RAJA CHULAN
  </text>
  <text transform="matrix(1.047 0 0 1 375.4223 924)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN KUCHAI LAMA" onclick="district_kl('JLN KUCHAI LAMA')"> <tspan x="0" y="0"> JLN </tspan><tspan x="0" y="7.0">KUCHAI</tspan><tspan x="0" y="15.0"> LAMA</tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 401.5805 922.7167)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN KUCHING" onclick="district_kl('JLN KUCHING')"><tspan x="0" y="0">JLN</tspan><tspan  x="0" y="7.0"> KUCHING</tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 436.4897 921.5438)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN P.RAMLEE" onclick="district_kl('JLN P.RAMLEE')"><tspan x="0" y="0">JLN </tspan><tspan x="0" y="7.0"> P.RAMLEE</tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 470 904.9706)" font-family="'MyriadPro-Regular'"  font-size="5" data-toggle="tooltip" title="JLN P.RAMLEE" onclick="district_kl('JLN P.RAMLEE')"><tspan x="0" y="0">JLN </tspan><tspan x="0" y="7.0">  P .RAMLEE </tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 504.1782 928.7675)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN PAHANG" onclick="district_kl('JLN PAHANG')"><tspan x="0" y="0">JLN </tspan><tspan x="0" y="7.0">  PAHANG</tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 381 799.6063)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN AMPANG" onclick="district_kl('JLN AMPANG')">JLN AMPANG
  </text>
  <text transform="matrix(1.047 0 0 1 367.8295 879.2596)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN IPOH" onclick="district_kl('JLN IPOH')">JLN IPOH
  </text>
  <text transform="matrix(1.047 0 0 1 336.8002 919)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN KLANG LAMA" onclick="district_kl('JLN KLANG LAMA')"><tspan>JLN</tspan> 
    <tspan x="0" y="7.0">KLANG</tspan>
    <tspan x="0" y="15">LAMA</tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 449.9711 817.035)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="LN PEKELILING" onclick="district_kl('LN PEKELILING')"><tspan  x="0" y="0.0">JLN </tspan> <tspan x="0" y="7.0">PEKELILING</tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 460.7319 862.0282)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN PINANG" onclick="district_kl('JLN PINANG')">JLN PINANG
  </text>
  <text transform="matrix(1.047 0 0 1 516.7006 864.9218)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN PUDU" onclick="district_kl('JLN PUDU')">JLN PUDU
  </text>
  <text transform="matrix(1.047 0 0 1 550 890.9755)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN PUTRA" onclick="district_kl('JLN PUTRA')">JLN PUTRA
  </text>
  <text transform="matrix(1.047 0 0 1 478 813.9247)" font-family="'MyriadPro-Regular'"  font-size="5" data-toggle="tooltip" title="JLN RAJA LAUT" onclick="district_kl('JLN RAJA LAUT')">JLN RAJA LAUT
  </text>
  <text transform="matrix(0.962 0 0 1 547.0043 820.6434)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN SEMARAK" onclick="district_kl('JLN SEMARAK')">JLN SEMARAK
  </text>
  <text transform="matrix(1.047 0 0 1 554.4614 787.8749)" font-family="'MyriadPro-Regular'"  font-size="5" data-toggle="tooltip" title="JLN SILANG" onclick="district_kl('JLN SILANG')">JLN SILANG
  </text>
  <text transform="matrix(1.047 0 0 1 540.142 756.3934)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="KAMPUNG BARU  " onclick="district_kl('KAMPUNG BARU')">KAMPUNG BARU
  </text>
  <text transform="matrix(1.047 0 0 1 487 769.6503)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN TUN RAZAK" onclick="district_kl('JLN TUN RAZAK')">JLN TUN RAZAK
  </text>
  <text transform="matrix(1.047 0 0 1 474.767 734.6259)" font-family="'MyriadPro-Regular'"  font-size="5" data-toggle="tooltip" title="JLN TRAVERS" onclick="district_kl('JLN TRAVERS')">JLN TRAVERS

  </text>
  <text transform="matrix(1.047 0 0 1 411.2407 749.6757)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="KEPONG" onclick="district_kl('KEPONG')">KEPONG</text>
  <text transform="matrix(1.047 0 0 1 432.8774 709.1219)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="KERAMAT" onclick="district_kl('KERAMAT')">KERAMAT</text>
  <text transform="matrix(1.047 0 0 1 472.0746 676.6884)" font-family="'MyriadPro-Regular'" font-size="6" data-toggle="tooltip" title="kl" onclick="district_kl('KL')">kl</text>
  <text transform="matrix(1.047 0 0 1 522.7914 715.495)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="LEBUH AMPANG" onclick="district_kl('LEBUH AMPANG')">LEBUH AMPANG
  </text>
  <text transform="matrix(1.047 0 0 1 462.5053 632.5126)" font-family="'MyriadPro-Regular'" font-size="6" data-toggle="tooltip" title="MASJID INDIA" onclick="district_kl('MASJID INDIA')">MASJID INDIA
  </text>
  <text transform="matrix(1.047 0 0 1 410 600.3856)" font-family="'MyriadPro-Regular'" font-size="6" data-toggle="tooltip" title="SENTUL" onclick="district_kl('SENTUL')">SENTUL</text>
  <text transform="matrix(1.047 0 0 1 465 585.4657)" font-family="'MyriadPro-Regular'" font-size="6" data-toggle="tooltip" title="PUTRAJAYA" onclick="district_kl('PUTRAJAYA')">PUTRAJAYA
  </text>
  <text transform="matrix(1.047 0 0 1 510.9926 578.7499)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="PUTRAJAYA" onclick="district_kl('PUTRAJAYA')"><tspan x="0" y="0">SALAK</tspan><tspan x="0" y="7.0"> SELATAN</tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 535  560)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="S.HISHAMUDDIN" onclick="district_kl('S.HISHAMUDDIN')"><tspan x="0" y="0">S</tspan><tspan x="0" y="7.0">HISHAMUDDIN</tspan>
  </text>
  <text transform="matrix(1.047 0 0 1 572.0453 563.369)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="SEGAMBUT" onclick="district_kl('SEGAMBUT')">SEGAMBUT
  </text>
  <text transform="matrix(1.047 0 0 1 582.7016 596.952)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="SETAPAK" onclick="district_kl('SETAPAK')">SETAPAK</text>
  <text transform="matrix(1.047 0 0 1 538 601.7294)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="SRI HARTAMAS" onclick="district_kl('SRI HARTAMAS')">SRI HARTAMAS
  </text>
  <text transform="matrix(1.047 0 0 1 522.7914 672.5096)" font-family="'MyriadPro-Regular'"  font-size="5" data-toggle="tooltip" title="MAHARAJALELA" onclick="district_kl('MAHARAJALELA')">MAHARAJALELA</text>
  <text transform="matrix(1.047 0 0 1 522.7914 639.6727)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="PUCHONG" onclick="district_kl('PUCHONG')">PUCHONG</text>
  <text transform="matrix(1.047 0 0 1 407.8022 564.952)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="SELAYANG" onclick="district_kl('SELAYANG')">SELAYANG
  </text>
  <text transform="matrix(1.047 0 0 1 375 640.87)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="SERI PETALING" onclick="district_kl('SERI PETALING')">SERI PETALING
  </text>
  <text transform="matrix(1.047 0 0 1 443.6684 771.1913)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN TAR" onclick="district_kl('JLN TAR')">JLN TAR
  </text>
  <text transform="matrix(1.047 0 0 1 380 851.0721)" font-family="'MyriadPro-Regular'" font-size="5" data-toggle="tooltip" title="JLN KENANGA" onclick="district_kl('JLN KENANGA')">JLN KENANGA
  </text>
  <rect x="-102.132" y="483.529" fill="none" width="172" height="348.696"/>
       </g>
</svg> 
</div>
</div>
  </div></div>

  
</div>
</div>
</div>
<script>
function districtkl_map(dist){
$('#divklheader')[0].innerHTML=dist;
$("#divtotal_malaysialist").hide();
$('#div_kl_states').show()

$('#state-select').val(dist)
$.ajax({
url: "/dashboards/districts/" + dist,
dataType: "json",
success:function(data){

$('#divnoofkldoctors')[0].innerHTML=data.noofdoctors
$('#divnoofklxray')[0].innerHTML=data.noofxray
$('#divnoofkllab')[0].innerHTML=data.nooflab
$('#divnoofklemployer')[0].innerHTML=data.empcount
$('#divnoofklfw')[0].innerHTML=data.fwcount
$('#divdetectablediseasekl')[0].innerHTML=data.detectdisease
$('#commdiseaseskl')[0].innerHTML=data.commcount
$('#noncommdiseaseskl')[0].innerHTML=data.noncommcount
$('#divkltuberculosis')[0].innerHTML=data.tuberculosis
$('#divklhepatisis')[0].innerHTML=data.hepatisis
$('#divklsyphilis')[0].innerHTML=data.syphilis
$('#divklhiv')[0].innerHTML=data.hiv
$('#divklmalaria')[0].innerHTML=data.malaria
$('#divklleprosy')[0].innerHTML=data.leporacy

$('#divklpreg')[0].innerHTML=data.pregnancy
$('#divklurine')[0].innerHTML=data.urine
$('#divklcannabis')[0].innerHTML=data.cannabis
$('#divklillness')[0].innerHTML=data.illness
$('#divklepilepsy')[0].innerHTML=data.epilsey
$('#divklcancer')[0].innerHTML=data.cancer
$('#divklhyper')[0].innerHTML=data.hypertension
$('#divkldiabetes')[0].innerHTML=data.diabetes
$('#divklkidney')[0].innerHTML=data.kidney
$('#divklheart')[0].innerHTML=data.heart
$('#divklulcer')[0].innerHTML=data.ulcer
$('#divklasthama')[0].innerHTML=data.asthama
$('#divklothers')[0].innerHTML=data.others
}
})

}
function district_kl(dist){  
$('#district-select option:selected').text(dist)  
$('#district-select option:selected').text(dist)  
$('#divklheader')[0].innerHTML=dist;
$.ajax({
url: "/dashboards/districtname/" + dist,
dataType: "json",
success:function(data){

$('#divnoofkldoctors')[0].innerHTML=data.noofdoctors
$('#divnoofklxray')[0].innerHTML=data.noofxray
$('#divnoofkllab')[0].innerHTML=data.nooflab
$('#divnoofklemployer')[0].innerHTML=data.empcount
$('#divnoofklfw')[0].innerHTML=data.fwcount
$('#divdetectablediseasekl')[0].innerHTML=data.detectdisease
$('#commdiseaseskl')[0].innerHTML=data.commcount
$('#noncommdiseaseskl')[0].innerHTML=data.noncommcount
$('#divkltuberculosis')[0].innerHTML=data.tuberculosis
$('#divklhepatisis')[0].innerHTML=data.hepatisis
$('#divklsyphilis')[0].innerHTML=data.syphilis
$('#divklhiv')[0].innerHTML=data.hiv
$('#divklmalaria')[0].innerHTML=data.malaria
$('#divklleprosy')[0].innerHTML=data.leporacy

$('#divklpreg')[0].innerHTML=data.pregnancy
$('#divklurine')[0].innerHTML=data.urine
$('#divklcannabis')[0].innerHTML=data.cannabis
$('#divklillness')[0].innerHTML=data.illness
$('#divklepilepsy')[0].innerHTML=data.epilsey
$('#divklcancer')[0].innerHTML=data.cancer
$('#divklhyper')[0].innerHTML=data.hypertension
$('#divkldiabetes')[0].innerHTML=data.diabetes
$('#divklkidney')[0].innerHTML=data.kidney
$('#divklheart')[0].innerHTML=data.heart
$('#divklulcer')[0].innerHTML=data.ulcer
$('#divklasthama')[0].innerHTML=data.asthama
$('#divklothers')[0].innerHTML=data.others
}
})
}
function closeklicon(){
$("#divtotal_malaysialist").show();
$('#div_kl_states').hide()
clearvalues();
}
</script>


