<div id="div_kedah_states" class="pahan svg-content" style="display: none;">
<div class="map-title" style="z-index: 100;"> KEDAH </div>
<div class="text-info1"><a onclick="closekedahicon()">
  <i class="fa fa-close close-btn" id="divtotal_malaysiabtn_johor"></i></a>
  <div class="statediv" id="sabah_district14">
    <div id="myRadioGroup" class="submap-title">
      <h1><div id="divkedahheader"></div> </h1>
      <div class="box div_Pekan div_statesvg">
        <ul>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Doctors
            </div>
            <div id="divnoofkedahdoctors"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i>Number of X-ray
            </div>
            <div id="divnoofkedahxray"></div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Lab
            </div>
            <div id="divnoofkedahlab"> </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Employer
            </div>
            <div id="divnoofkedahemployer">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of FW
            </div>
            <div id="divnoofkedahfw">  </div>
          </li>
          <li>
            <div>
              <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
            </div>
            <div id="divdetectablediseasekedah"> </div>
          </li>
          <li class="p-0">
            <div id="accordion3" style="width: 100%!important;float:left">
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseOne16"> Communicable Diseases <span><div id="commdiseaseskedah"></div>  </span>
                  </a>
                </div>
                <div id="collapseOne16" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i>Tuberculosis
                          </div>
                          <div id="divkedahtuberculosis">  </div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Hepatitis B
                          </div>
                          <div id="divkedahhepatisis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Syphilis
                          </div>
                          <div id="divkedahsyphilis"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> HIV/AIDS
                          </div>
                          <div id="divkedahhiv"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Malaria
                          </div>
                          <div id="divkedahmalaria"></div>
                        </li>
                        <li>
                          <div style="font-weight: 400;">
                            <i class="fa fa-angle-right"></i> Leprosy
                          </div>
                          <div id="divkedahleprosy"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" style="background: #be0022;
                                    color: #fff;">
                  <a class="collapsed card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseTwo17"> Non-Communicable Diseases <span><div id="noncommdiseaseskedah"></div> </span>
                  </a>
                </div>
                <div id="collapseTwo17" class="collapse" data-parent="#accordion3">
                  <div class="card-body" style="float: left; padding: 0px;">
                    <div class="box div_Pekan div_statesvg">
                      <ul>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i>Pregnancy
                          </div>
                          <div id="divkedahpreg"> </div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Opiates
                          </div>
                          <div id="divkedahurine"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Urine Cannabis
                          </div>
                          <div id="divkedahcannabis"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Psychiatric Illness
                          </div>
                          <div id="divkedahillness"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Epilepsy
                          </div>
                          <div id="divkedahepilepsy"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Cancer
                          </div>
                           <div id="divkedahcancer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Hypertension
                          </div>
                           <div id="divkedahhyper"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Diabetes
                          </div>
                          <div id="divkedahdiabetes"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Kidney Disease
                          </div>
                           <div id="divkedahkidney"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Heart Disease
                          </div>
                           <div id="divkedahheart"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Peptic Ulcer
                          </div>
                           <div id="divkedahulcer"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Bronchial Asthma
                          </div>
                           <div id="divkedahasthama"></div>
                        </li>
                        <li>
                          <div>
                            <i class="fa fa-angle-right"></i> Others
                          </div>
                           <div id="divkedahothers"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="svg-map">
  <div class="sub-map">
  <svg version="1.1"
   id="svg7160" sodipodi:docname="dun kedah.svg" inkscape:version="0.91 r13725" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="328px" height="452px"
   viewBox="0 0 328 452" enable-background="new 0 0 328 452" xml:space="preserve">
<sodipodi:namedview  id="base" fit-margin-bottom="0" fit-margin-right="0" inkscape:window-y="-8" inkscape:window-x="-8" inkscape:window-height="705" inkscape:window-width="1366" inkscape:current-layer="layer1" inkscape:document-units="px" inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:snap-global="false" inkscape:zoom="0.98994949" fit-margin-left="0" borderopacity="1.0" pagecolor="#ffffff" fit-margin-top="0" showguides="false" showgrid="false" bordercolor="#666666" inkscape:cx="63.82865" inkscape:cy="234.20107" inkscape:window-maximized="1">
  </sodipodi:namedview>
<g id="layer1" transform="translate(-167.99994,457.23001)" inkscape:groupmode="layer" inkscape:label="Layer 1">
  <g id="g7004"><a onclick="district_kedah('KUALA KETIL')">
    <path id="path12269" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M346.816-83.542l-9.082,1.004l-0.596,0.428
      l-1.094,4.488l1.488,1.769l0.445,0.668l-1.391,3.483l-3.025-1.098h-0.496l-0.895,2.814l-3.623,1.195l0.694,1.672l0.15,0.477
      l-3.426,1.861l-0.744-0.144l-2.73-3.151l-3.575,7.213l-0.049,4.869l-13.849-3.867l-1.787-2.389l-9.679,0.192l-0.494,2.815
      c0,0-3.126,1.002-6.085,0.486c0.04,0.567,0.083,1.135,0.125,1.7c0.178,2.261,0.394,4.497,0.642,6.667
      c0.493,4.339,1.089,8.419,1.673,11.93c1.165,7.021,2.253,11.764,2.253,11.764c-9.275-1.313-14.326,0.959-23.707,3.024l9.877,6.605
      l0.285,3.837l3.702,0.547c0,0,0.003,1.92,2.853,3.016c0,0,1.422-0.271,3.989-3.836c0,0-0.285,4.387,1.423,5.758h4.275
      c0,0,3.135-5.483,6.27-5.483c0,0,3.705-3.839,3.705-8.5c0,0,10.545-2.468,11.116-4.658c0,0,0-5.483,3.361-8.883
      c0,0,8.867-4.736,16.83-16.629c0,0,0.21,0.202,3.353-9.675c0,0,5.87-0.201,8.595-2.422c0,0,1.885-2.015,2.404-12.967l-2.789-5.822
      L346.816-83.542z"/></a><a onclick="district_kedah('SANGLANG')">
    
      <path id="path5742" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccscccsc" inkscape:connector-curvature="0" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="
      M350.004-76.96l1.801,0.037v-2.645l21.629,0.33c20.6-14.861,14.764-25.776,14.764-25.776l0.896-5.142
      c-7.756,1.008-10.48,6.25-10.48,6.25l-3.561,0.604l-3.146-1.611v-3.225l-2.301-1.413c-1.678-0.401-3.982,1.813-3.982,1.813
      c-5.867-1.209-8.594,1.813-8.594,1.813c-2.516-2.821-6.287-3.628-6.287-3.628l-2.934-0.809v-6.854l-1.467-1.813h-2.935v6.652
      l0.629,0.404l-3.146,7.256l-5.447-6.652h-5.029c-2.097,3.023-2.097,5.242-2.097,5.242l0.421,3.428l-11.527-0.606v5.646h-3.353
      l-2.305,2.822c-3.563-0.404-9.85,1.612-9.85,1.612v-2.218c-1.886-4.637-7.545-5.04-7.545-5.04h-2.723
      c-1.886,0-7.044,5.241-7.044,5.241l0.603,10.06c0.889,13.376,1.727,21.296,1.727,21.296c0.036,1.141,0.089,2.282,0.153,3.42
      c0.031,0.57,0.066,1.143,0.104,1.708c2.958,0.517,6.084-0.487,6.084-0.487l0.496-2.814l9.68-0.191l1.786,2.389l13.849,3.867
      l0.049-4.871l3.573-7.209l2.731,3.148l0.743,0.145l3.426-1.862l-0.147-0.478l-0.695-1.672l3.623-1.193l0.894-2.815h0.495
      l3.028,1.097l1.39-3.484l-0.447-0.67l-1.487-1.766l1.092-4.484l0.597-0.432l9.082-1.003l0.396,0.765L350.004-76.96z"/></a><a onclick="district_kedah('CHANGLUN')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M283.616-136.014c0,10.804-0.304,20.684,0.06,29.5
      c0.182,4.408,0.394,7.384,0.668,11.242c0,0,5.203-5.204,7.089-5.204h2.723c0,0,0.798,0.056,1.892,0.371
      c0.364,0.106,0.763,0.239,1.176,0.409c1.651,0.682,3.537,1.942,4.48,4.259v2.218c0,0,6.288-2.018,9.851-1.611l2.304-2.822h3.351
      v-5.646l11.528,0.606l-0.421-3.426c0,0,0-2.22,2.095-5.244h5.03l5.45,6.654l3.145-7.257l-0.629-0.403v-6.653
      c0,0-4.381-3.136-4.538-6.939l2.688-1.825v-6.39c0,0-6.327-5.476-8.065-13.845l-3.479-1.217c0,0-0.947-1.37-5.535-0.911
      l-6.484-4.868l-7.274,5.322h-1.422l-3.211-0.176c-1.544,3.465-7.205,2.723-7.205,2.723l-1.287,2.724l-2.315-2.478l-0.26-2.478
      h-2.315c-1.029-1.237-3.344-4.948-3.344-4.948h-1.287l-4.343,2.979L283.616-136.014"/></a><a onclick="district_kedah('SUNGAI PETANI')">
    <path id="path12401-2-4-7" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M328.731-208.088l-4.471,0.538l-0.279,11.56
      c6.708,6.719,2.234,26.34,2.234,26.34l-7.823-0.535l-1.983,2.691l2.057,3.043h-5.377l-0.158,4.412l-1.107,2.127l1.424,1.979
      l-3.955,3.347v2.891h1.42l7.277-5.324l6.483,4.872c4.587-0.459,5.537,0.911,5.537,0.911l3.477,1.216
      c1.739,8.366,8.065,13.846,8.065,13.846v3.192l4.564-0.016l2.184,1.814l1.984-2.867l-1.289-1.431l-0.303-1.435l5.861-2.768
      l1.289-2.77l-3.275-3.724l0.992-7.64l3.205-1.312l-0.211-2.835l4.982-0.068l0.492,1.149l3.998,0.065l5.475-6.346l-2.875-6.212
      l-1.896,0.136l-3.789-6.278l-1.756-0.201c0,0-5.475-16.88-5.547-17.69c0,0-0.211-1.89,1.754-1.89c0,0,1.898-0.34,3.02,1.754
      l-0.484-9.724c-6.229-1.467-21.42,6.355-21.42,6.355c-1.679,3.762-9.779-5.646-9.779-5.646v-7.532h0.003V-208.088z"/></a><a onclick="district_kedah('KODIANG')">
    
      <path id="path5608" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="
      M391.287-136.727l1.688-10.504l-1.189-2.579l2.084-3.247l-2.383-2.577l-0.098-3.63l5.459-2.675l0.299-3.149
      c-2.385-3.438-4.965-6.303-4.965-6.303l8.834-7.83l-0.098-2.48c-0.992-1.051-1.986-2.197-1.986-2.197l-0.793-6.396l-2.383-0.956
      l-1.492-9.308l-3.215,0.27v-3.228h-5.588v3.496h-5.029l-2.236-3.496h-9.5v3.228l-6.707,0.27c-0.453-0.641-1.162-1.038-2.053-1.248
      l0.484,9.724c-1.123-2.092-3.02-1.755-3.02-1.755c-1.965,0-1.756,1.891-1.756,1.891c0.07,0.811,5.547,17.69,5.547,17.69
      l1.756,0.203l3.791,6.278l1.895-0.137l2.877,6.213l-5.475,6.347l-4.002-0.067l-0.492-1.148l-4.982,0.068l0.211,2.836l-3.203,1.309
      l-0.994,7.641l3.275,3.723l-1.291,2.771l-5.855,2.768l0.299,1.434l1.289,1.433l-1.984,2.864l-2.185-1.813l-4.563,0.016v3.193
      l-2.689,1.825c0.158,3.804,4.539,6.939,4.539,6.939h2.934l1.467,1.813v6.854l2.934,0.807c0,0,3.773,0.808,6.285,3.63
      c0,0,2.727-3.022,8.594-1.814c0,0,2.305-2.217,3.982-1.813l2.305,1.412v3.225l3.145,1.611l3.563-0.604
      c0,0,2.725-5.242,10.971-6.738c1.563-5.13,3.424-12.592,6.564-23.868L391.287-136.727z"/></a><a onclick="district_kedah('SERDANG')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M403.5-205.73c0,0,0,2,0,3c1,0,2,0,3,0c1-1-1-4,0-5c1,0,2,0,3,0
      c1,2-1,5,1,5c3.992,0.665,7.543-0.884,11.239-2.584c-2.453-1.556-5.357-4.742-7.173-11.265l15.836-5.906
      c0,0,1.219-4.117,8.08-15.545c0,0-0.219-0.998-0.348-2.591c-3.324,1.419-6.443,4.069-9.027,1.582
      c-2.779-1.337-1.389-6.684,0-10.695c-5.559,1.337-11.117,4.011-16.676,2.674c0,0,0-2.674,0-4.011
      c-3.789-4.859-9.869-3.1-15.119-2.737c-1.127,1.951-2.072,3.251-2.072,3.251l3.074,1.88c-5.867,27.956-5.867,29.032-5.867,29.032
      l-4.473,0.808v5.376l9.502,5.914v1.559C399.34-206.047,401.344-205.964,403.5-205.73z"/></a><a onclick="district_kedah('PENDANG')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M394.262-200.56l1.49,9.31l2.383,0.955l0.793,6.397
      c0,0,0.994,1.146,1.984,2.198l0.102,2.479l-8.836,7.831c0,0,2.582,2.864,4.965,6.303l-0.299,3.149l-5.459,2.674l0.096,3.629
      l2.385,2.579l-2.084,3.247l1.191,2.579l-1.689,10.503l4.859,2.219h5.17l1.293,2.799c0,0,4.422,1.412,9.373-6.839l0.645-7.151
      l0.971-0.311v-17.099l-4.199-3.73l0.322-6.528c0,0,16.805-11.813,16.805-18.652l-0.32-11.813c0,0-2.004,0.078-4.462-1.481
      c-3.696,1.7-7.247,3.249-11.239,2.584c-2,0,0-3-1-5c-1,0-2,0-3,0c-1,1,1,4,0,5c-1,0-2,0-3,0c0-1,0-3,0-3
      c-2.156-0.234-4.16-0.317-6.023-0.259v5.16L394.262-200.56z"/></a><a onclick="district_kedah('K SARANG SEMUT')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M444.621-259.481c0,0,0.971-0.313,17.129-0.313
      c0,0,2.943-7.656,10.664-20.518c0,0-1.451-3.626-2.059-10.296c-0.303-3.337-0.393-8.74,0.174-13.619
      c-13.814,2.864-41.479,3.133-41.479,3.133l-3.633,2.149h-8.385l-23.191,11.559c-3.074,5.646-0.279,9.14-0.279,9.14
      c0,8.869,7.266,11.29,7.266,11.29c1.074,4.129-1.512,9.679-3.516,13.147c5.25-0.362,11.33-2.122,15.119,2.737
      c0,1.337,0,4.011,0,4.011c5.559,1.336,11.117-1.337,16.676-2.674c-1.389,4.011-2.779,9.358,0,10.695
      c2.584,2.487,5.703-0.164,9.027-1.583C437.791-244.793,438.074-253.182,444.621-259.481z"/></a><a onclick="district_kedah('PAKOK SENA')">
    <path id="path12401-2-4-9-3-8" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M313.62-226
      c-1.012-0.041-1.512,0.489-0.514,2.301c0,0,0.59,1.419,4.424,5.674c0,0-1.476,1.702-5.897,1.987c0,0-6.786,1.701-7.08-0.285
      c0,0-6.786-1.702-12.687,0c0,0,3.247,4.259,0.592,4.824l-7.082,1.701l-2.654,7.947h-1.769l-0.446,2.193v3.436l-1.788,3.727
      l-3.374,0.858l2.382,2.388l-1.193,4.297l-0.877,0.492v4.297l-0.782,1.181v2.256c0,0,8.487-1.823,13.401-0.104l6.251,0.534
      l-0.111,3.976c0,0,4.468,2.47,5.361,3.328l-0.112,4.942l13.388,0.7l0.038-1.104h5.377l-2.055-3.041l1.983-2.692l7.823,0.536
      c0,0,4.473-19.622-2.234-26.342l0.012-11.688c0,0,2.388-1.832,2.978-5.806c0,0,0.002-2.553-8.551-10.781
      C318.416-224.265,315.306-225.931,313.62-226z"/></a><a onclick="district_kedah('KULIM')">
    
      <path id="path5300" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="
      M280.95-201.849l-2.951-5.677h-2.063l-7.375,4.258l-5.605-0.283l0.295-4.257l1.182-2.271c0,0-0.886-6.811-7.237-14.137
      l-14.254,12.364l-0.278,6.989h-10.453c-1.849,7.837-2.38,15.837-2.38,15.837s3.998,0.546,6.186,1.561l2.904,0.644
      c0,0,4.69,3.867,7.592,5.265l2.234,6.015l1.785-3.545l4.69,2.473h4.802c0,0,0.783-1.075,1.897-3.008c0,0,6.032,2.039,9.158,3.975
      l-0.112-4.189l-1.339-2.254v-3.332l4.021,3.223l2.007-2.256l0.878-0.492l1.19-4.297l-2.382-2.387l3.375-0.861l1.786-3.724v-3.437
      L280.95-201.849z"/></a><a onclick="district_kedah('SIK')">
    <path id="path5177" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M266.643-245.668l-2.022,0.464l-0.993,2.198
      l-2.183,2.101l-1.885-2.005l-4.667,2.864l-2.78-0.19l-3.77-1.244l-3.474,2.866l0.099,2.292l-3.973,2.101l-8.702,0.01
      l-0.246,29.522l10.62-0.173l0.276-6.989l14.252-12.364l1.585-3.521l1.403-1.756l-0.841-3.105l8.002-4.052l-0.421-3.241l1.824-0.81
      L266.643-245.668z"/></a>
    <path id="path5172" fill="none" stroke="#000000" stroke-width="0.3" stroke-linecap="square" stroke-linejoin="round" d="
      M266.643-245.668l-2.022,0.464l-0.993,2.198l-2.183,2.101l-1.885-2.005l-4.667,2.864l-2.78-0.19l-3.77-1.244l-3.474,2.866
      l0.099,2.292l-3.973,2.101l-8.702,0.01l-0.246,29.522l10.62-0.173l0.276-6.989l14.252-12.364l1.585-3.521l1.403-1.756
      l-0.841-3.105l8.002-4.052l-0.421-3.241l1.824-0.81L266.643-245.668z"/><a onclick="district_kedah('LUNAS')">
    
      <path id="path5170" sodipodi:nodetypes="ccccccccccccc" inkscape:connector-curvature="0" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="
      M266.646-245.668l-5.018-8.504l1.671-0.69v-7.125c-3.104-5.746-9.558-13.561-9.558-13.561c-1.192-0.689-3.821-0.689-3.821-0.689
      h-5.257l-1.911-1.838c-4.778,0-9.079,3.216-9.079,3.216l-6.451-3.216c3.466,13.725,5.152,34.022,5.152,34.022l0,0l-0.083,9.84
      l8.704-0.012l3.971-2.101l-0.1-2.292l3.474-2.865l3.773,1.242l2.78,0.191l4.666-2.865l1.886,2.005l2.183-2.101l0.993-2.196
      L266.646-245.668z"/></a>
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M420.769-313.903c0.096,0.019,0.193,0.026,0.291,0.043
      c0.367-0.019,0.727-0.016,1.1-0.043H420.769z"/><a onclick="district_kedah('BANDAR BHARU')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M439.09-313.784c-0.549,0.31-1.096,0.409-1.645-0.118
      C438.035-313.903,438.58-313.859,439.09-313.784c0.842-0.477,1.686-1.455,2.525-1.455c-6.854-1.318-13.705,2.553-20.555,1.379
      c-17.531,0.884-31.211-8.173-47.543-13.411c-0.699-0.104-1.377-0.167-2.045-0.211l0.039,1.406
      c-6.982,11.63-6.732,13.962-6.732,13.962l2.797-0.27v7.259c-21.798,3.763-17.885,25-17.885,25l2.188,4.651l6.852,0.574
      l0.893,2.481l4.367,1.529l-6.535,3.593c7.254,3.792,12.467,1.962,18.844,6.869c5.787,4.64,16.26-4.24,23.52-6.981
      c-1.992-1.034-6.254-4.037-6.254-10.835c0,0-2.793-3.494,0.281-9.14l23.191-11.558h8.381l3.635-2.15c0,0,6.689-0.065,15.129-0.471
      C445.81-306.009,445.656-312.824,439.09-313.784z"/></a>
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M439.09-313.784c-0.51-0.075-1.055-0.118-1.645-0.118
      C437.994-313.375,438.543-313.475,439.09-313.784z"/><a onclick="district_kedah('GUAR CHEMPEDAK')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M473.389-319.171l-22.303-8.704l0.322-5.285l6.789-8.083h10.338
      l4.201-2.174l-6.785-22.074l-24.887,5.597l-14.219-13.06l-5.494,4.975h-4.201v7.15h-11.957l0.324,3.73l-4.848,1.244v-6.528
      l-8.082-4.973v8.082l-4.262,2.207l-0.402,21.566c0,10.037-8.869,0.501-8.869,0.501l-7.789-0.271l0.207,7.788
      c0.668,0.044,1.346,0.107,2.045,0.211c16.332,5.238,30.012,14.295,47.543,13.411c-0.1-0.017-0.195-0.024-0.291-0.043h1.389
      c-0.371,0.027-0.73,0.024-1.098,0.043c6.85,1.174,13.701-2.698,20.555-1.379c-0.842,0-1.684,0.978-2.525,1.455
      c6.566,0.96,6.721,7.776,5.09,12.222c8.729-0.42,19.328-1.204,26.354-2.659C470.531-304.221,471.143-313.53,473.389-319.171z"/></a><a onclick="district_kedah('KUBANG PASU')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M376.297-260.428c-6.375-4.907-11.588-3.077-18.844-6.869
      l-3.887,2.136l1.988,8.116l-4.072,4.584l-3.971-0.764l-5.16,2.482l0.297,1.624l5.262,14.898l-2.285,6.589l1.292,3.533l1.688-2.005
      l2.381,3.055l3.078-1.812l4.268,5.152v3.63l10.361,12.563h9.502l2.236,3.494h5.029v-3.494h5.588v3.223l6.428-0.536v-6.72
      l-9.502-5.914v-5.376l4.471-0.808c0,0,0.002-1.075,5.871-29.03l-3.076-1.882c0,0,7.268-9.945,5.588-16.398
      c0,0-0.404-0.139-1.012-0.454C392.557-264.668,382.086-255.788,376.297-260.428z"/></a><a onclick="district_kedah('YAN')">
    <path id="path12401-2-8-2-8" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M277.143-360.736
      c-2.626,2.969-7.664,6.055-7.664,6.055c-0.573,4.031,2.188,5.266,2.188,5.266l-2.736,2.104l2.142,6.14l-9.628-1.434l-4.766,7.353
      l0.395,2.102l7.249,1.43v5.156l3.869,1.72l8.042-0.861l-0.099,2.101l-3.475,2.674l6.55,7.831l-8.588,1.453l-0.124,2.438
      l9.194-0.522c0.722-0.173,3.607,2.256,3.607,2.256c6.673-4.337,6.49-4.857,6.49-4.857l2.526-4.685h12.258l1.626-1.039l3.606,0.346
      l2.163-4.509l5.951,4.509l5.048-0.866l-0.666-5.041l-7.39-6.582l-6.57-2.634c-2.187-1.053,2.19-4.476,2.19-4.476l-4.927-15.008
      l-6.294,2.898c-2.188,0.262-1.094,3.421-1.094,3.421l-6.293,4.213l-10.4-18.693l-1.917,1.58L277.143-360.736z"/></a><a onclick="district_kedah('BALING')">
    <path id="path12401-2-76" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M378.207-393.085l-6.139,0.595l-0.563,3.242
      l-1.684-0.541l-2.385,8.375l-1.688,0.135l-0.842,0.405l-0.283,2.836l-2.668-2.567l-1.402-6.481l-8.354-0.336l-0.91,4.657
      l-4.492,5.604l-0.844,3.309l-4.281,5.335l-0.068,5.2l-9.269-0.405l-7.438,2.159l-0.143,7.429l-6.458,6.211l-5.613,2.159
      l-4.923,0.017l2.771,8.442c0,0-4.376,3.422-2.19,4.476l6.57,2.633l7.391,6.583l0.666,5.042l0.9,4.336l-2.882,7.803
      c0.541,3.643,3.244,5.899,3.244,5.899h1.265l2.162,7.803l7.937,3.817l5.051,6.765l-4.647,4.977c0,0,13.136,2.421,13.694-2.956
      c0,0-3.912-21.236,17.885-25v-7.258l-2.797,0.27c0,0-0.25-2.333,6.732-13.962l-0.246-9.194l7.789,0.27
      c0,0,8.869,9.536,8.869-0.501l0.354-21.737l-1.504,0.451l-7.109-16.476l5.818-9.327L378.207-393.085z"/></a><a onclick="district_kedah('BEDONG')">
    
      <path id="path4461" sodipodi:nodetypes="cccccccccccccccccccccssccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="
      M378.207-393.085l-2.424-3.498v-18.342l-2.26-0.622l0.322-5.906l-7.436,0.31l0.32-2.177l-10.664-0.31l-4.201-3.73v-11.503
      l-3.555-0.622l0.322,1.245c0,0-3.887,7.848-12.414,12.084c-4.266,2.117-9.69,3.331-16.368,2.208
      c-3.34-0.56-3.944-0.605-7.924-2.513c0,0-5.61,7.442-4.848,12.208l-6.478-0.366l-2.287,5.132c0,0,0,4.765-0.38,7.698
      l-14.099,3.665l-1.143,5.498l-3.431,4.399l1.525,4.765v3.299l7.241,5.864l-3.048,4.764v5.865l-3.459,3.197l10.4,18.69l6.296-4.211
      c0,0-1.095-3.16,1.094-3.424l6.294-2.896l1.232,3.751l0.616,1.875l0.307,0.938l4.924-0.017l5.616-2.16l6.457-6.213l0.14-7.427
      l7.441-2.161l9.266,0.406l0.07-5.199l4.28-5.335l0.841-3.308l4.492-5.604l0.912-4.659l8.354,0.339l1.404,6.482l2.668,2.566
      l0.279-2.837l0.844-0.405l1.684-0.135l2.389-8.374l1.684,0.54l0.561-3.242L378.207-393.085z"/></a><a onclick="district_kedah('ALOR SETAR')">
    
      <path id="path4377" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="
      M234.361-359.033l-0.315-1.73l-0.63-3.459l-2.52-13.836l3.617-2.015l6.474,2.564v-2.564l2.093-0.184l-0.57-13.185l1.903-3.296
      v-7.691h-2.855l-6.662-5.861l1.714-6.043l-8.072-3.23c7.006-22.757,5.372-32.666,5.372-32.666l39.752,7.771v5.596h5.494
      l-0.646,3.109h17.451c5.67,5.396,15.974,9.292,15.974,9.292s-5.611,7.444-4.846,12.21l-6.48-0.366l-2.287,5.131
      c0,0,0,4.764-0.38,7.697l-14.098,3.665l-1.143,5.499l-3.431,4.398l-3.329-0.592l-4.369-0.382l-4.367,0.958l-9.368,8.12
      l-2.999-2.647l0.091,13.648l-11.244,4.111l1.878,3.314h-3.105L234.361-359.033z"/></a><a onclick="district_kedah('GURUN')">
    
      <path id="path4269" sodipodi:nodetypes="csccccccccccc" inkscape:connector-curvature="0" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="
      M186.813-356.518c-0.356-0.365-0.72-0.734-1.088-1.104c-1.476-1.482-3.05-3.01-4.725-4.562l0.489-11.296l4.894-5.177l-0.489-3.765
      l23.485-21.179c2.73-9.81,19.12-15.746,19.12-15.746l8.11,3.015l-1.714,6.044l6.662,5.861h2.855v1.706l-2.622,0.242v2.835
      l-6.035-2.431l-2.808,2.568l-0.142,1.62l-5.896,4.187l-0.843,3.376l2.951,6.346v0.945l-8.845,9.049l-4.211,1.62l-1.403-2.43
      l-2.667,2.026l-2.388-2.431l-13.897,9.453l-1.122,2.836L186.813-356.518z"/></a><a onclick="district_kedah('JITRA')">
    <path id="path12401-2-45-2-4" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M271.569-389.201l-4.367,0.953l-9.368,8.121
      l-2.999-2.648l0.089,13.647l-11.243,4.111l1.878,3.314h-3.105l-8.094,2.668l1.575,8.647l4.961,3.058l6.614-0.977l-0.508,1.469
      l6.332,2.159l4.104-2.894v-2.634l11.494,2.896l2.736-2.104c0,0-2.759-1.237-2.187-5.266c0,0,5.036-3.087,7.663-6.055l2.465,1.842
      l1.917-1.581l3.459-3.196v-5.866l3.044-4.764l-7.239-5.865v-3.298l-1.523-4.765l-3.329-0.592L271.569-389.201z"/></a><a onclick="district_kedah('KOTA KUALA MUDA')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M240.894-347.326l-4.958-3.057l-5.038-27.673l3.617-2.015
      l6.474,2.565v-2.565l2.092-0.183l-0.569-13.186l1.905-3.295v-5.986h-0.003l-2.625,0.24v2.835l-6.035-2.43l-2.808,2.567
      l-0.14,1.619l-5.898,4.187l-0.843,3.376l2.951,6.347v0.947l-8.845,9.046l-4.21,1.622l-1.404-2.432l-2.666,2.027l-2.386-2.431
      l-13.9,9.455l-1.121,2.835l-7.668,6.394c-0.356-0.365-0.72-0.732-1.088-1.103c10.328,10.38,15.735,18.616,15.735,18.616
      l4.958-3.056l1.218,2.8l1.886-1.241l4.169,2.482l4.766,7.544l2.978,0.191l3.176,2.292l6.106,4.16l1.78-1.468
      c2.035-2.447-3.308-5.384-3.308-5.384v-6.117h4.58v-2.692l3.562,3.426v4.651h5.597v-3.182l3.561-5.14v-5.629l1.019-2.936
      L240.894-347.326z"/></a><a onclick="district_kedah('MERBOK')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M272.66-320.925l3.475-2.674l0.101-2.1l-8.043,0.86l-3.871-1.718
      v-5.157l-7.247-1.431l-0.396-2.101l4.766-7.353l9.629,1.433l-2.142-6.14l-11.497-2.902v2.634l-4.104,2.894l-6.33-2.159
      l-0.51,1.469v5.63l-3.561,5.139v3.181h-5.596v-4.651l-3.562-3.426v2.693h-4.581v6.117c0,0,5.344,2.937,3.31,5.383l-1.782,1.469
      l-6.106-4.16v0.001l-3.171-2.292l-2.979-0.19l-4.765-7.546l-4.169-2.48l-1.888,1.24l-1.219-2.803l-4.96,3.058
      c4.96,7.588,9.064,15.188,12.43,22.323c0.842,1.784,1.637,3.539,2.389,5.258c8.263,18.897,11.164,33.354,11.164,33.354
      l6.227,3.211c0,0,4.3-3.216,9.08-3.216l1.912,1.838h5.254l1.108-1.923l-2.525-1.386l-5.588-17.865l17.13-0.174l1.441,0.521
      l4.87-3.988c0.724-2.6,0.361-6.072,0.361-6.072h3.788v-2.08l0.123-2.438l8.588-1.453L272.66-320.925z"/></a><a onclick="district_kedah('KUALA KEDAH')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M285.269-283.83l-0.796,1.099l-3.523,2.48l3.029,8.308l-19.607-0.334
      l0.249,2.052l-4.515,3.116c1.185,1.724,2.322,3.503,3.196,5.121v7.124l-1.672,0.69l5.017,8.503l2.868,0.919v-8.045l2.388-0.46
      v9.194l1.911,1.378l1.436-2.528c0,0,6.925-1.838,8.6-1.608v2.758l10.034,2.068l3.582,3.907c0,0,7.649,2.528,10.369,1.166
      c0,0,0.264-15.714,10.344-28.089c-10.31-5.223-22.124-10.2-30.926-18.199L285.269-283.83z"/></a>
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M258.912-268.804c0.364,0.506,0.73,1.028,1.091,1.552
      c-0.098-0.144-0.196-0.286-0.296-0.428C259.443-268.059,259.178-268.433,258.912-268.804z"/>
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M260.104-267.107L260.104-267.107
      c-0.033-0.048-0.067-0.095-0.101-0.145C260.037-267.203,260.071-267.156,260.104-267.107z"/><a onclick="district_kedah('KARANGAN')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M335.997-277.171l4.646-4.977l-5.049-6.765l-7.936-3.817
      l-2.163-7.803h-1.264c0,0-2.703-2.256-3.244-5.899l2.882-7.803l-0.9-4.337l-5.049,0.866l-5.951-4.507l-2.164,4.509l-3.604-0.346
      l-1.626,1.039h-12.259l-2.526,4.685c0,0,0.13,0.429-4.678,3.659c0.125-0.084,0.265-0.177,0.384-0.257l1.659,4.422l0.493,1.624
      l-2.479,4.106v1.051l2.979,3.532l4.07,9.931l-4.666,1.146l-0.3-0.094c8.802,7.999,20.616,12.977,30.926,18.199
      C322.28-270.043,327.996-274.528,335.997-277.171z"/></a>
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M285.113-308.668c-0.544,0.365-1.135,0.756-1.812,1.197
      C283.978-307.911,284.568-308.303,285.113-308.668z"/><a onclick="district_kedah('KUALA NERANG')">
    
      <path id="path5016" sodipodi:nodetypes="cssscccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="
      M260.104-267.106c-0.133-0.192-0.265-0.382-0.396-0.572c-0.264-0.38-0.532-0.756-0.796-1.125c-0.531-0.739-1.055-1.452-1.554-2.12
      c-2-2.671-3.616-4.625-3.616-4.625c-1.192-0.689-3.821-0.689-3.821-0.689l1.105-1.922l-2.523-1.387l-5.587-17.865l17.13-0.174
      l1.441,0.521l4.87-3.988c0.721-2.602,0.358-6.071,0.358-6.071h3.788v-2.082l9.196-0.521c0.721-0.173,3.606,2.255,3.606,2.255
      c0.833-0.542,1.561-1.026,2.195-1.455l1.657,4.422l0.497,1.624l-2.481,4.105v1.051l2.978,3.533l4.072,9.932l-4.667,1.145
      l-2.285-0.716l-0.796,1.098l-3.523,2.481l3.028,8.309l-19.604-0.334l0.25,2.051L260.104-267.106z"/></a><a onclick="district_kedah('PADANG SERAI')">
    
      <path id="path5093" sodipodi:nodetypes="ccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="
      M368.693-203.518v3.229l-6.707,0.269c-3.633-5.107-23.475,5.104-23.475,5.104c-1.676,3.766-9.781-5.645-9.781-5.645v-7.526
      l-4.604,0.474c0,0,2.255-1.898,2.845-5.873c0,0,0-2.553-8.556-10.779c0,0-1.99-1.063-3.651-1.526l4.808-2.167l-2.401-3.51v-1.606
      l-2.502-0.902l-2.399,2.007c-1.357,1.003-2.293-1.806-2.293-1.806l-2.145-3.142c0,0,0.5-31.113,28.166-40.252
      c0,0,13.134,2.42,13.692-2.957l2.189,4.652l6.848,0.573l0.895,2.482l4.367,1.529l-10.422,5.729l1.984,8.116l-4.068,4.584
      l-3.971-0.763l-5.162,2.481l0.297,1.625l5.262,14.896l-2.284,6.588l1.292,3.534l1.688-2.005l2.383,3.056l3.078-1.814l4.268,5.157
      v3.629L368.693-203.518z"/></a><a onclick="district_kedah('LANGKAWI')">
    
      <path id="path12401-2-45" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="
      M271.901-253.253l-2.389,0.459v8.045l-2.869-0.919l2.104,4.969l-1.825,0.81l0.422,3.241l-8.002,4.052l0.84,3.106l-1.402,1.754
      l-1.585,3.521c6.351,7.326,7.236,14.138,7.236,14.138l-1.179,2.27l-0.295,4.258l5.603,0.283l7.375-4.257H278l2.951,5.675h1.769
      l2.654-7.946l7.082-1.702c2.654-0.565-0.591-4.824-0.591-4.824c5.901-1.699,12.687,0,12.687,0
      c0.294,1.986,7.081,0.285,7.081,0.285c4.424-0.285,5.896-1.984,5.896-1.984c-3.834-4.258-4.424-5.677-4.424-5.677
      c-1.327-2.412,0.003-2.555,1.66-2.092l4.805-2.166l-2.4-3.509v-1.607l-2.502-0.902l-2.397,2.005
      c-1.359,1.002-2.296-1.805-2.296-1.805l-2.145-3.144c-2.718,1.362-10.366-1.165-10.366-1.165l-3.583-3.908l-10.034-2.068v-2.758
      c-1.673-0.229-8.6,1.608-8.6,1.608l-1.436,2.527l-1.911-1.378v-9.194h0.001V-253.253z"/></a><a onclick="district_kedah('KEPALA BATAS')">
    <path fill="#55B6D7" stroke="#000000" stroke-width="0.3" d="M311.823-157.909l1.109-2.127l0.079-2.207l0.04-1.103l-13.388-0.702
      l0.111-4.939c-0.893-0.862-5.359-3.332-5.359-3.332l0.111-3.973l-6.251-0.535c-1.538-0.543-3.42-0.732-5.286-0.744
      c-1.865-0.006-3.71,0.168-5.17,0.36l-0.245,1.569l0.245-1.572c-0.583,0.079-1.105,0.157-1.542,0.229
      c-0.871,0.146-1.403,0.259-1.403,0.259v-2.254l0.782-1.183v-4.297l-2.009,2.254l-4.02-3.222v3.332l1.339,2.255l0.111,4.189
      c-3.125-1.937-9.157-3.975-9.157-3.975c-1.115,1.932-1.897,3.008-1.897,3.008h-4.802l2.055,2.649l-2.053-2.647l-4.69-2.473
      l-1.785,3.545l-2.234-6.015c-2.902-1.397-7.592-5.265-7.592-5.265l-2.904-0.644c-1.094-0.509-2.751-0.897-4.136-1.161
      c-1.384-0.261-2.495-0.398-2.495-0.398c-0.524,4.763-0.877,10.363-0.793,15.625c0.04,2.632,0.19,5.177,0.503,7.646
      c26.521,2.734,40.166,4.902,47.184,6.39c0.878,0.187,1.652,0.36,2.333,0.525v-0.002c4.771,1.148,5.065,1.764,5.065,1.764
      l0.065,5.778l4.327-3.028h1.286c0,0,2.316,3.713,3.344,4.95h2.318l0.257,2.476l2.315,2.477l1.287-2.725
      c0,0,5.662,0.744,7.205-2.721l3.211,0.176v-2.892l3.955-3.347L311.823-157.909z"/></a>
    <text transform="matrix(1.0396 0 0 1 249.5048 -415.0591)" font-family="'MyriadPro-Regular'" font-size="8.0211">Alor Setar</text>
    <text transform="matrix(1.0396 0 0 1 331.0156 -330.1392)" font-family="'MyriadPro-Regular'" font-size="8.0211">Baling</text>
    <text transform="matrix(1.0396 0 0 1 306.1181 -389.2017)" font-family="'MyriadPro-Regular'" font-size="8.0211">Bedong</text>
    <text transform="matrix(1.0396 0 0 1 392.3984 -342.065)" font-family="'MyriadPro-Regular'" font-size="8.0211">Guar Chempedak</text>
    <text transform="matrix(1.0396 0 0 1 196.0927 -382.9947)" font-family="'MyriadPro-Regular'" font-size="8.0211">Gurun</text>
    <text transform="matrix(1.0396 0 0 1 256.6777 -360.7368)" font-family="'MyriadPro-Regular'" font-size="8.0211">Jitra</text>
    <text transform="matrix(1.0396 0 0 1 398.5341 -274.8599)" font-family="'MyriadPro-Regular'" font-size="8.0211">K. Sarang Semut</text>
    <text transform="matrix(1.0396 0 0 1 292.2197 -290.4673)" font-family="'MyriadPro-Regular'" font-size="8.0211">Karangan</text>
    <text transform="matrix(1.0396 0 0 1 268.0341 -257.9478)" font-family="'MyriadPro-Regular'" font-size="8.0211">Kuala Kedah</text>
    <text transform="matrix(1.0396 0 0 1 349.4296 -241.2681)" font-family="'MyriadPro-Regular'" font-size="8.0211">Kubang Pasu</text>
    <text transform="matrix(1.0396 0 0 1 266.6445 -226.0025)" font-family="'MyriadPro-Regular'" font-size="8.0211">Langkawi</text>
    <text transform="matrix(1.0396 0 0 1 233.6513 -256.1451)" font-family="'MyriadPro-Regular'" font-size="8.0211">Lunas</text>
    <text transform="matrix(1.0396 0 0 1 247.5078 -191.3286)" font-family="'MyriadPro-Regular'" font-size="8.0211">Kulim</text>
    <text transform="matrix(1.0396 0 0 1 314.288 -247.0044)" font-family="'MyriadPro-Regular'" font-size="8.0211">Padang </text>
    <text transform="matrix(1.0396 0 0 1 314.288 -237.3794)" font-family="'MyriadPro-Regular'" font-size="8.0211">Serai</text>
    <text transform="matrix(1.0396 0 0 1 282.3388 -189.024)" font-family="'MyriadPro-Regular'" font-size="8.0211">Pokok Sena</text>
    <text transform="matrix(1.0396 0 0 1 238.2119 -224.2144)" font-family="'MyriadPro-Regular'" font-size="8.0211">Sik</text>
    <text transform="matrix(1.0396 0 0 1 331.0156 -170.8013)" font-family="'MyriadPro-Regular'" font-size="8.0211">Sungai</text>
    <text transform="matrix(1.0396 0 0 1 331.0156 -161.1763)" font-family="'MyriadPro-Regular'" font-size="8.0211"> Petani</text>
    <text transform="matrix(1.0396 0 0 1 282.3388 -329.7115)" font-family="'MyriadPro-Regular'" font-size="8.0211">Yan</text>
    <text transform="matrix(1.0396 0 0 1 292.2197 -122.5894)" font-family="'MyriadPro-Regular'" font-size="8.0211">Changlun</text>
    <text transform="matrix(1.0396 0 0 1 359.1562 -139.2144)" font-family="'MyriadPro-Regular'" font-size="8.0211">Kodiang</text>
    <text transform="matrix(1.0396 0 0 1 299.3974 -83.5415)" font-family="'MyriadPro-Regular'" font-size="8.0211">Sanglang</text>
    <text transform="matrix(1.0396 0 0 1 290.5966 -45.6402)" font-family="'MyriadPro-Regular'" font-size="8.0211">Kuala Ketil</text>
    <text transform="matrix(1.0396 0 0 1 252.414 -288.6568)" font-family="'MyriadPro-Regular'" font-size="8.0211">Kuala </text>
    <text transform="matrix(1.0396 0 0 1 252.414 -279.0318)" font-family="'MyriadPro-Regular'" font-size="8.0211">Nerang</text>
    <text transform="matrix(1.0396 0 0 1 398.5341 -227.5513)" font-family="'MyriadPro-Regular'" font-size="8.0211">Serdang</text>
    <text transform="matrix(1.0396 0 0 1 249.6347 -166.7251)" font-family="'MyriadPro-Regular'" font-size="8.0211">Kepala Batas</text>
    <text transform="matrix(1.0396 0 0 1 199.914 -353.1763)" font-family="'MyriadPro-Regular'" font-size="6.6843">Kota </text>
    <text transform="matrix(1.0396 0 0 1 199.914 -345.1558)" font-family="'MyriadPro-Regular'" font-size="6.6843">Kuala Muda</text>
    <text transform="matrix(1.0396 0 0 1 227.2216 -311.0298)" font-family="'MyriadPro-Regular'" font-size="8.0211">Merbok</text>
    <text transform="matrix(1.0396 0 0 1 365.912 -293.6118)" font-family="'MyriadPro-Regular'" font-size="8.0211">Bandar </text>
    <text transform="matrix(1.0396 0 0 1 365.912 -283.9868)" font-family="'MyriadPro-Regular'" font-size="8.0211">Bharu</text>
    <text transform="matrix(0.0053 -1.0396 1 0.0051 406.3115 -157.397)" font-family="'MyriadPro-Regular'" font-size="8.0211">Pendang</text>
  </g>
</g>
</svg>
    <div class="icon_Temerloh map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Raub map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Lipis map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_CameronHighlands map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Jerantut map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Kuantan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Rompin map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bera map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Bentong map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Pekan map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
    <div class="icon_Maran map-icon" style="display: none;">
      <img src="/assets/Malaysia.png">
    </div>
  </div>
</div>
</div>

<script>
function districtkedah_map(dist){
$('#state-select').val(dist)
$('#divkedahheader')[0].innerHTML=dist;
$("#divtotal_malaysialist").hide();
$('#div_kedah_states').show()
$.ajax({
url: "/dashboards/districts/" + dist,
dataType: "json",
success:function(data){

$('#divnoofkedahdoctors')[0].innerHTML=data.noofdoctors
$('#divnoofkedahxray')[0].innerHTML=data.noofxray
$('#divnoofkedahlab')[0].innerHTML=data.nooflab
$('#divnoofkedahemployer')[0].innerHTML=data.empcount
$('#divnoofkedahfw')[0].innerHTML=data.fwcount
$('#divdetectablediseasekedah')[0].innerHTML=data.detectdisease
$('#commdiseaseskedah')[0].innerHTML=data.commcount
$('#noncommdiseaseskedah')[0].innerHTML=data.noncommcount
$('#divkedahtuberculosis')[0].innerHTML=data.tuberculosis
$('#divkedahhepatisis')[0].innerHTML=data.hepatisis
$('#divkedahsyphilis')[0].innerHTML=data.syphilis
$('#divkedahhiv')[0].innerHTML=data.hiv
$('#divkedahmalaria')[0].innerHTML=data.malaria
$('#divkedahleprosy')[0].innerHTML=data.leporacy

$('#divkedahpreg')[0].innerHTML=data.pregnancy
$('#divkedahurine')[0].innerHTML=data.urine
$('#divkedahcannabis')[0].innerHTML=data.cannabis
$('#divkedahillness')[0].innerHTML=data.illness
$('#divkedahepilepsy')[0].innerHTML=data.epilsey
$('#divkedahcancer')[0].innerHTML=data.cancer
$('#divkedahhyper')[0].innerHTML=data.hypertension
$('#divkedahdiabetes')[0].innerHTML=data.diabetes
$('#divkedahkidney')[0].innerHTML=data.kidney
$('#divkedahheart')[0].innerHTML=data.heart
$('#divkedahulcer')[0].innerHTML=data.ulcer
$('#divkedahasthama')[0].innerHTML=data.asthama
$('#divkedahothers')[0].innerHTML=data.others
}
})

}
function district_kedah(dist){   
$('#district-select option:selected').text(dist)   
$('#divkedahheader')[0].innerHTML=dist;
$.ajax({
url: "/dashboards/districtname/" + dist,
dataType: "json",
success:function(data){

$('#divnoofkedahdoctors')[0].innerHTML=data.noofdoctors
$('#divnoofkedahxray')[0].innerHTML=data.noofxray
$('#divnoofkedahlab')[0].innerHTML=data.nooflab
$('#divnoofkedahemployer')[0].innerHTML=data.empcount
$('#divnoofkedahfw')[0].innerHTML=data.fwcount
$('#divdetectablediseasekedah')[0].innerHTML=data.detectdisease
$('#commdiseaseskedah')[0].innerHTML=data.commcount
$('#noncommdiseaseskedah')[0].innerHTML=data.noncommcount
$('#divkedahtuberculosis')[0].innerHTML=data.tuberculosis
$('#divkedahhepatisis')[0].innerHTML=data.hepatisis
$('#divkedahsyphilis')[0].innerHTML=data.syphilis
$('#divkedahhiv')[0].innerHTML=data.hiv
$('#divkedahmalaria')[0].innerHTML=data.malaria
$('#divkedahleprosy')[0].innerHTML=data.leporacy

$('#divkedahpreg')[0].innerHTML=data.pregnancy
$('#divkedahurine')[0].innerHTML=data.urine
$('#divkedahcannabis')[0].innerHTML=data.cannabis
$('#divkedahillness')[0].innerHTML=data.illness
$('#divkedahepilepsy')[0].innerHTML=data.epilsey
$('#divkedahcancer')[0].innerHTML=data.cancer
$('#divkedahhyper')[0].innerHTML=data.hypertension
$('#divkedahdiabetes')[0].innerHTML=data.diabetes
$('#divkedahkidney')[0].innerHTML=data.kidney
$('#divkedahheart')[0].innerHTML=data.heart
$('#divkedahulcer')[0].innerHTML=data.ulcer
$('#divkedahasthama')[0].innerHTML=data.asthama
$('#divkedahothers')[0].innerHTML=data.others
}
})
}
function closekedahicon(){
$("#divtotal_malaysialist").show();
$('#div_kedah_states').hide()
clearvalues();
}
</script>


