<p>
    Majikan Yang Dihargai,
</p>

<p>
    <b>PERINGATAN MESRA UNTUK MENGHANTAR PULANG PEKERJA ASING SELEPAS PELEPASAN UNTUK TEMPOH SATU (1) TAHUN BERAKHIR</b>
</p>

<p>
    NAMA: <%= @transaction.fw_name %> / <%= @transaction.fw_gender == "F" ? "PEREMPUAN" : "LELAKI" %> / <%= @transaction.fw_country&.name %> / PPT NO: <%= @transaction.fw_passport_number %>
</p>

<p>
    Dengan hormatnya kami merujuk kepada perkara di atas dan surat Bahagian Kawalan Penyakit, Kementerian Kesihatan Malaysia berkaitan.<br>
</p>

<p>
    2.	Sebagaimana pihak majikan sedia maklum, pekerja asing di atas telah menjalani pemeriksaan kesihatan FOMEMA dan didapati “TIdak Sesuai” untuk bekerja di Malaysia. Namun selepas majikan mengemukakan rayuan kepada Bahagian Kawalan Penyakit di Kementerian Kesihatan Malaysia, pertimbangan telah diberikan di mana pekerja asing tersebut telah diberikan pelepasan untuk tempoh satu (1) tahun sahaja.<br>
</p>

<p>
    3. 	Apabila pelepasan untuk tempoh satu (1) tahun ini berakhir, pihak majikan dinasihatkan untuk membuat persiapan bagi tujuan penghantaran pulang pekerja asing tersebut dengan mengemukakan tiket kapal terbang/feri di mana-mana Pejabat Imigresen terdekat untuk tindakan pengeluaran Memo Periksa Keluar (COM).<br>
</p>

<p>
    4.	Semoga pematuhan kepada saranan ini dapat memastikan kesihatan seluruh penduduk Malaysia terus terjamin dan terpelihara demi memastikan Malaysia Sihat.
</p>

<p>
    Kerjasama dan keprihatinan pihak majikan dalam perkara ini amat dihargai.<br>
</p>

<p>
    Sekian, terima kasih. <br>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email.*** <br>
    <i>***Email dibuat secara auto. Tidak perlu untuk membalas e-mel.***</i>
</p>