<form method="POST" action="<%= @url %>" id="submit-paid-premium">
    <div class="card">
        <div class="card-header">
            Insurance Submit Paid Premium
        </div>
        <div class="card-body">
            <div class="hidden">
                <textarea name="param" class="no-uppercase" style="width: 100%; height: 100px"><%= InsuranceService.encrypt(@submit_data.to_json, @provider_code) %></textarea>
                <textarea class="no-uppercase" style="width: 100%; height: 500px"><%= JSON.pretty_generate(@submit_data) %></textarea>
            </div>
            <p>Please wait for insurance page</p>
        </div>
        <div class="card-footer text-right">
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<% content_for :page_end_scripts do %>
<script>
$('#submit').click();
</script>
<% end %>
