.card
  .card-header
    %strong Finance - Summary MISC Income
  .card-body
    = render '/shared/all_flash'
    .row-fluid
      = render '/internal/reports/finance/filter_daterange_branch', filter_link: summary_misc_income_internal_finance_reports_path
      = render '/internal/reports/finance/summary_misc_income/pdf_template'
