<div class="card">
    <div class="card-header">
        <strong>District Health Offices</strong> - Edit District Health Offices
    </div>
    <%= form_for @district_health_office, url: internal_district_health_office_path(@district_health_office), html: {class: "#{params[:action]}_town town-form with-parsley"} do |form| %>
        <%= render 'form', { form: form } %>
    <% end %>
</div>