<div id="notice"><%= alert %></div>
<div class="container">
    <div class="employer-registration-title-container">
        <h3>REGISTRATION FORM TO BE A PANEL FOMEMA OF FOMEMA SDN. BHD. (FOMEMA)</h3>
        <div class="employer-registration-title-left-bar">&nbsp;</div>
        <div class="employer-registration-title-right-bar">&nbsp;</div><br>
    </div>

    <%= render 'shared/all_validation_flash', { model_obj: @agency } %>
    
    <%= form_for @agency, url: external_agencies_path, html: { multipart: true, id: 'agency-registration-form' } do |f| %>
        <%= render 'form', f: f %>
    <% end %>
</div>