<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <%= link_to external_root_path, :method => :get, class: 'nav-link' do %>
                    <i class="nav-icon fa fa-home"></i> Home
                <% end %>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>