<div class="card">
    <div class="card-header">
        <strong>Users</strong> - Edit User
    </div>
    <%= form_for @user, url: internal_user_setup_path(@user), html: {class: "#{params[:action]}_user_setup user_setup-form with-parsley"} do |form| %>
        <%= render 'form', { form: form } %>
    <% end %>
</div>