<div class="card">
    <div class="card-header">
        <strong>Finance - Employer Account</strong>
    </div>
    <div class="card-body">
        <%= render "internal/reports/finance/employer_account/filter" %>
        <%= render "/shared/all_flash" %>
    </div>
</div>

<% content_for :page_end_scripts do %>
<script>
</script>s
<% end %>