<div class="error-banner">
    <div class="error-banner-box">
        <h2>Client Timeout Error</h2>
        <p>Could not contact the client server. Please try again later or contact Fomema.</p>
    </div>
</div>

<style>
    .error-banner {
        text-align: center;
    }

    .error-banner-box {
        display: inline-block;
        border: 1px solid red;
        padding: 1em;
    }

    .error-banner-box h2 {
        margin: 0 0 1em 0;
    }

    .error-banner-box p {
        margin: 0;
    }
</style>