<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


<script type="text/javascript">
    var dataReloading = false;
    $(document).ready(function(){
        loadFwData();
        dataReloading = true;
    });

    loadFwData = () => {
        filters = selectedFilters || {};
        fnGetFwRegistrationCounts(filters);
        fnGetFwRegistrationsByStates(filters);
        fnGetFwRegistrationsBySectors(filters);
        fnGetFwRegistrationsByCountries(filters);
        fnGetFwRegistrationTrends(filters);
    }

    fnGetFwRegistrationCounts = (filterValues) => {
        $.ajax({
            url: '/dashboards/fw_information/registration_counts',
            type: 'GET',
            data: {data: filterValues},
            // contentType: 'application/json',
            success: (data) => { $('#fw-registration-counts').html(data); },
            error: (error) => { },
            async: dataReloading
        });
    };

    fnGetFwRegistrationsByStates = (filterValues) => {
        $.ajax({
            url: '/dashboards/fw_information/registration_by_states',
            type: 'GET',
            data: {data: filterValues},
            success: (data) => { $('#fw-registration-by-states').html(data); },
            error: (error) => { },
            async: dataReloading
        });
    }

    fnGetFwRegistrationsBySectors = (filterValues) => {
        $.ajax({
            url: '/dashboards/fw_information/registration_by_sectors',
            type: 'GET',
            data: {data: filterValues},
            success: (data) => {
                $('#fw-registration-by-sectors').html(data);
            },
            error: (error) => { },
            async: dataReloading
        });
    }

    fnGetFwRegistrationsByCountries = (filterValues) => {
        $.ajax({
            url: '/dashboards/fw_information/registration_by_countries',
            type: 'GET',
            data: {data: filterValues},
            success: (data) => { $('#fw-registration-by-countries').html(data); },
            error: (error) => { },
            async: dataReloading
        });
    }

    fnGetFwRegistrationTrends = (filterValues) => {
        $.ajax({
            url: '/dashboards/fw_information/registration_trends',
            type: 'GET',
            data: {data: filterValues},
            success: (data) => { $('#fw-registration-trends').html(data); },
            error: (error) => { },
            async: dataReloading
        });
    }
</script>
<div id="content">
  <div class="dashboard-body my-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 mb-3">
          <div class="chard-card">
            <div class="card">
              <div class="card-header"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
              <% if has_permission?('DASHBOARD_FW_REGISTRATION') %>
              <div id="fw-registration-counts" class="card-body p-0">
                <div class="card-scroll">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="list-group-icon circle1"></div>
                      <div class="list-body"><h6>FW Registration</h6></div>
                      <div class="list-visit">...</div>
                    </li>
                    <li class="list-group-item">
                      <div class="list-group-icon circle2"></div>
                      <div class="list-body"><h6>FW Went to Medical Examination</h6></div>
                      <div class="list-visit">...</div>
                    </li>
                    <li class="list-group-item">
                      <div class="list-group-icon circle3"></div>
                      <div class="list-body"><h6>Certification</h6></div>
                      <div class="list-visit">...</div>
                    </li>
                    <li class="list-group-item">
                      <div class="list-group-icon circle4"></div>
                      <div class="list-body"><h6>FOMEMA Pending to View</h6></div>
                      <div class="list-visit">...</div>
                    </li>
                    <li class="list-group-item">
                      <div class="list-group-icon circle5"></div>
                      <div class="list-body"><h6>Final Result Released</h6></div>
                      <div class="list-visit">...</div>
                    </li>
                    <li class="list-group-item">
                      <div class="list-group-icon circle6"></div>
                      <div class="list-body"><h6>Result Transmitted to Immigration</h6></div>
                      <div class="list-visit">...</div>
                    </li>
                    <li class="list-group-item">
                      <div class="list-group-icon circle7"></div>
                      <div class="list-body"><h6>Blocked FW</h6></div>
                      <div class="list-visit">...</div>
                    </li>
                    <li class="list-group-item">
                      <div class="list-group-icon circle8"></div>
                      <div class="list-body"><h6>Appeal</h6></div>
                      <div class="list-visit">...</div>
                    </li>
                    <li class="list-group-item">
                      <div class="list-group-icon circle9"></div>
                      <div class="list-body"><h6>FW Insured</h6></div>
                      <div class="list-visit">...</div>
                    </li>
                  </ul>
                </div>
              </div>
              <%end%>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-9">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 mb-2">
              <div class="chard-card">
                <div class="card">
                  <div class="card-header">
                    FW Registration by States <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </div>
                  <div id="fw-registration-by-states" class="card-body p-1">
                    <div style="width: 100%; height:100%;"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-2">
              <div class="chard-card">
                <div class="card">
                  <div class="card-header">
                    FW Registration by Sectors <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </div>
                  <div id="fw-registration-by-sectors" class="card-body p-1">
                    <div style="width: 100%; height:100%;"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-2">
              <div class="chard-card">
                <div class="card">
                  <div class="card-header">
                    FW Registration by Countries <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </div>
                  <div id="fw-registration-by-countries" class="card-body p-1">
                    <div style="width: 100%; height:100%;"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="chard-card">
                <div class="card">
                  <div class="card-header">
                    Trend of Foreign Worker Registration <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </div>
                  <div id="fw-registration-trends" class="card-body p-0">
                    <div style="width: 100%; height:100%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>