<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawStacked);

    function drawStacked() {
        var chartData = <%= @fw_reg_by_states.nil? ? [] : @fw_reg_by_states.to_json.html_safe %>;
        console.log("Chart Data:", chartData);
        if (!chartData.length) {
            var placeholderDiv = document.getElementById('columnchart_values');
            placeholderDiv.innerHTML = '<div class="center-message">No Data to Display</div>';
        } else {
            // Create a data table
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'State Code');
            data.addColumn('number', 'Total');
            data.addColumn({type: 'string', role: 'tooltip'});

            chartData.forEach(function (entry) {
                var stateName = entry[0];
                var stateCode = entry[1];
                var total = entry[2];
                var tooltip = stateName + ' (' + stateCode + ') \nTotal: ' + total;

                data.addRow([stateCode, total, tooltip]);
            });

            var options = {
                hAxis: {
                    title: 'State Codes',
                    titleTextStyle: {
                        color: '#000000',
                    },
                    slantedText: true,
                    slantedTextAngle: 45,
                    textStyle: {
                        fontSize: 6,
                    },
                },
                vAxis: {},
                'chartArea': {'width': '90%'},
            };


            var chart = new google.visualization.ColumnChart(document.getElementById('columnchart_values'));
            chart.draw(data, options);
        }
    }
</script>
<% if has_permission?('DASHBOARD_FW_REGISTRATION_STATE') %>
<div id="columnchart_values" class="animated-div" style="width: 100%; height:100%;"></div>
<%end%>