<div class="card">

    <div class="card-header">
        MLE Finding
    </div>

    <table id="pending_decision_mle_finding" class="table table-bordered table-card">
        <thead>
            <tr>
                <th>Findings</th>
                <th colspan="2" class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>

            <% xray_pending_decision.mle_finding_fields.each do |cond_key, label| %>
                <tr>
                    <td><%= label %></td>

                    <% if cond_key.to_s == "certification_comment" %>
                        <td colspan="2">
                            <pre class="form-control text-break"><%= xray_pending_decision[cond_key] %></pre>
                        </td>
                    <% else %>
                        <td width="150" class="text-center">
                            <div class="form-check">
                                <label class="form-check-label form-check-inline">
                                    <input class="form-check-input" type="radio" value="YES"<% if xray_pending_decision[cond_key] === 'YES' %> checked <% else %> disabled <% end %>>
                                    Yes
                                </label>
                            </div>
                        </td>
                        <td width="150" class="text-center">
                            <div class="form-check">
                                <label class="form-check-label form-check-inline">
                                    <input class="form-check-input" type="radio" value="NO"<% if xray_pending_decision[cond_key] === 'NO' %> checked <% else %> disabled <% end %>>
                                    No
                                </label>
                            </div>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>