<div class="medical-results-content">
    <p class="text-center big-line-height">END OF REPORT</p>

    <p class="text-center bold">This is a computer-generated document. No signature is required.</p>
</div>