<div class="card">
    <div class="card-body">
        <%=render '/internal/service_provider_groups/shared/service_provider_group' %>

        <%=render '/internal/service_provider_groups/shared/tabs' %>
    </div>
</div>


<% content_for :page_end_scripts do %>
<script>
</script>
<% end %>