%table.table.w-100.mt-3.text-center
  %thead
    %tr
      - @headers.each do |name|
        %th= name
  %tbody
    - if @data.present?
      - grand_total = Array.new(8) { 0 }
      - @data.each.with_index(1) do |row_data, index|
        %tr
        %td= index
        - row_data.each.with_index do |value, count_index|
          - if count_index > 2
            - grand_total[count_index - 3] += value
          %td= value
      %tr
        %td
        %td
        %td
        %td
          %strong Grand Total
        - grand_total.each do |value|
          %td{width: '5%'}
            %strong= value
:css
  .w-100 {
      width: 100%;
  }

  table {
      border-collapse: collapse;
      border: 1px solid #aaa;
  }

  thead {
      background-color: #d0d0d0;
  }

  thead th {
      padding: 10px 3px;
      border: 1px solid #aaa;
  }

  tbody td {
      padding: 10px 5px;
      vertical-align: center;
      border: 1px solid #aaa;
  }

  .bold {
      font-weight: bold;
  }
