<div class="card">
    <div class="card-header">
        <strong>MSPD - New Registration Lab</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render '/shared/all_flash' %>

        <div class="row-fluid">
            <div class="tab-pane active fade in active show" id="insurance_purchased">
                <%= render "/internal/reports/mspd/list_lab_register/filter", filter_link: list_lab_register_internal_mspd_reports_path %>
            </div>
        </div>
    </div>
    <!-- /card-body -->
</div>
