<p>
    <b>Dear <%= @agency.name %></b>, <br>
    <b><i>Tuan / Puan <%= @agency.name %></i></b>,
</p>

<p>
    Thank you for the payment you have made. <br>
    Please find attached your Certificate of Appointment as FOMEMA Registered Agency.<br>
</p>
<p>
    <i>Terima kasih atas pembayaran yang telah anda buat.</i><br>
    <i>Dilampirkan bersama ini Sijil Pelantikan anda sebagai Agensi Berdaftar FOMEMA.</i>
</p>

<p>
    Thank you.<br>
    <i>Terima kasih.</i>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email.*** <br>
    <i>***E-mel dibuat secara auto. Tidak perlu untuk membalas e-mel.***</i>
</p>