<h1>Welcome to FOMEMA</h1>
<h1><i>Selamat datang ke FOMEMA</i></h1>

<p>
    Thank you for signing up with FOMEMA. To continue your registration, please click on the link below or copy and paste the link into your browser.<br>
    <i>Terima kasih untuk pendaftaran FOMEMA. Untuk meneruskan pendaftaran, sila klik pautan di bawah atau salin dan tampal semula paparan:</i>
</p>

<p>
     <%= @url %><br>
</p>

<p>
    Thank you.<br>
    <i>Terima kasih.</i>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email.*** <br>
    <i>***Email dibuat secara auto. Tidak perlu untuk membalas e-mel.***</i>
</p>