<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <p><b>Dear <%= @name %></b>,</p>
    <p>Thank you for registering with FOMEMA. Your reset email request has been approved. To activate your account, please click on the link below or copy and paste the link into your browser.<br></p>
    <p><%= @activation_link %></p>
    <p>Thank you.<br></p>
    <p>***This is an auto generated email. Please do not reply to this email.***</p>
</body>

</html>