<p>
    Dear Valued Customer,
</p>

<p>
    Please be informed that the attached list of Foreign Worker's Medical Examination has been <%= @months_overdue %> months overdue from the last registration dated <b><u><%= @transaction_date %></u></b>. In order to ensure a smooth process of medical examination, your immediate action to proceed with the registration of FOMEMA Medical Examination <b><u>3 MONTHS</u></b> before the expiry of the working permit (PLKS) is highly appreciated.
</p>

<p>
    FOMEMA Medical Examination Renewal registration can be made at any of FOMEMA branches or renew online at FOMEMA Online Web Portal <%= link_to 'https://portal.fomema.my', 'https://portal.fomema.my', target: "_blank" %>
</p>

<p>
    Kindly disregard this email if the foreign worker falls under any one of the following categories. <br>
    i. FOMEMA Medical Examination is not mandatory this year; <br>
    ii. The foreign worker has already registered and undergone FOMEMA Medical Examination this year.
</p>

<br>

<p>
    Thanks.
</p>

<p>
    ***This is an auto generated email. Do not reply to this email.***
</p>