<p>
    <b>Dear <%= @name %></b>, <br>
    <b><i>Tuan / Puan <%= @name %></i></b>,
</p>

<p>
    Your application has been rejected due to the following reason(s):<br>
    <i>Permohonan anda telah ditolak kerana:</i>
</p>

<p>
    <%= @reason %><br>
</p>

<p>
    To re-submit your application, please click on the link below or copy and paste the link into your browser.<br>
    <i>Untuk menghantar semula permohonan, sila klik pautan di bawah atau salin dan tampal semula paparan.</i>
</p>

<p>
    <%= @url %><br>
</p>

<p>
    Thank you.<br>
    <i>Terima kasih.</i>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email.*** <br>
    <i>***E-mel dibuat secara auto. Tidak perlu untuk membalas e-mel.***</i>
</p>