<p>
    <b>Dear <%= @name %></b>, <br>
    <b><i>Tuan / Puan <%= @name %></i></b>,
</p>

<p>
    Your application has been rejected due to the following reason(s):<br>
    <i>Permohonan anda telah ditolak kerana:</i>
</p>

<p>
    <%= @reason %><br>
</p>

<p>
    Thank you.<br>
    <i>Terima kasih.</i>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email.*** <br>
    <i>***E-mel dibuat secara auto. Tidak perlu untuk membalas e-mel.***</i>
</p>