<p>
    <b>Dear <%= @name %></b>, <br>
    <b><i>Tuan / Puan <%= @name %></i></b>,
</p>

<p>
    Please be informed that your request to update <Company Registration Number/ NRIC Number> was not approved due to <br>
    <i>Dimaklumkan permohonan mengemaskini <Nombor Pendaftaran Syarikat/ Nombor Kad Pengenalan> anda tidak berjaya kerana</i>
</p>

<p>
    <%= @reason %><br>
</p>

<p>
    Thank you.<br>
    <i>Terima kasih.</i>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email.*** <br>
    <i>***E-mel dibuat secara auto. Tidak perlu untuk membalas e-mel.***</i>
</p>