<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label for="code" class="col-sm-3 col-form-label">Transaction ID</label>

            <div class="col-sm-9">
                <%= text_field_tag :transaction_code, params[:transaction_code], class: "form-control" %>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group row">
            <label for="code" class="col-sm-3 col-form-label">Worker Code</label>

            <div class="col-sm-9">
                    <%= text_field_tag :worker_code, params[:worker_code], class: "form-control" %>
            </div>
        </div>
    </div>
</div>