<div class="card">
    <div class="card-header">
        <strong>Branch - Statistic Male VS Female</strong>
    </div>
    <div class="card-body">
        <%= render "internal/reports/branch/statistic_male_female/filter" %>
        <%= render "/shared/all_flash" %>

        <%= render "internal/reports/branch/statistic_male_female/preview" %>
    </div>
</div>

<% content_for :page_end_scripts do %>
<script>
</script>
<% end %>