<div class="card">
    <div class="card-header border-0 bg-transparent text-dark">
        <strong>Register Worker</strong> - Amendment
    </div>
    <%= render '/shared/all_flash' %>
    <%= form_for @foreign_worker, url: external_worker_list_path(@foreign_worker), html: { multipart: true, class: "with-parsley" } do |form| %>
        <%= render 'form', { form: form, is_change_employer: false } %>
    <% end %>
</div>