<div class="p-4 border-bottom">
    <h3><u>Appeal Approval</u></h3>
</div>

<div class="px-4 py-2">
    <div>
        <label class="row-index">1</label>
        <label>Appeal Remarks</label>
    </div>

    <%= text_area_tag :medical_mle2_comment, @appeal_approval&.medical_mle1_comment, rows: 5, class: "p-2", style: "width: calc(100% - 5em); margin-left: 5em;" %>
</div>