<%
active_tab = local_assigns[:active_tab]
%>
<ul class="nav nav-tabs" role="tablist"> 
    <%# <li class="nav-item"> %>
        <%# <a class="nav-link<= ' active show' if active_tab.eql?('users')" href="<= internal_agency_agency_users_path agency_id: @agency.id >">Users</a> %> 
    <%# </li> %>
    <%# <li class="nav-item"> %>
        <%# <a class="nav-link<= ' active show' if active_tab.eql?('documents') >" href="<= internal_agency_agency_documents_path agency_id: @agency.id">Documents</a> > %>
    <%# </li> %>
</ul>