<p>
    <b>To Whom It May Concern,</b><br>
</p>

<p>
    Please be informed that the following employer has updated their bank details.
</p>

<p>
    Employer Code: <%= @employer.code %><br>
    Employer Name: <%= @employer.name %><br>
    Bank Name: <%= @bank_name %><br>
    Bank Account Number: <%= @employer.bank_account_number %>
</p>

<p>
    Thank you.<br>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email. *** <br>
</p>