
<% @statistics.each do |key, array| %>
    <table class="table-borders w-100 text-center my-4">
        <tr>
            <th rowspan="3">Payment</th>
            <th colspan="7"><%= @sp_title[key] %></th>
        </tr>
        <tr>
            <th colspan="3">Group</th>
            <th colspan="3">Non Group</th>
            <th rowspan="2">Grand Total</th>
        </tr>
        <tr>
            <th>Active</th>
            <th>Inactive</th>
            <th>Total</th>
            <th>Active</th>
            <th>Inactive</th>
            <th>Total</th>
        </tr>
        <% array.each.with_index do |row, index| %>
        <tr class="<%= 'font-weight-bold' if  array.count == index+1 %>">
            <% row.each do |value| %>
            <td><%= value %></td>
            <% end %>
        </tr>
        <% end %>
    </table>
<% end %>