<div class="card">
    <div class="card-header">
        <strong>Finance - Service Provider Payment Mode Statistic</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render '/shared/all_flash' %>

        <div class="row-fluid">
            <% if has_permission?("FINANCE_REPORTS") %>
                <%= link_to '<i class="fa fa-file-excel" aria-hidden="true"></i> Export To Excel'.html_safe, sp_payment_mode_statistic_internal_finance_reports_path(format: :xlsx, params: params.permit!), class: "btn btn-sm btn-warning" %>
            <% end %>

            <div>
                <div class="my-2">
                    <span class="badge badge-danger">**'Online' denotes bank account is not null and payment mode is online. 'Cashier Order' denotes bank account is null or payment mode is cashier order.</span>
                </div>
                <div class="alert alert-primary" role="alert">
                    Service Provider Payment Mode Statistics as at <%= @current_datetime %>
                </div>

                <%=render "/internal/reports/finance/sp_payment_mode_statistic/report_table" %>
            </div>
        </div>
    </div>
    <!-- /card-body -->
</div>


<% content_for :page_end_scripts do %>
<script>
</script>
<% end %>