.wall-list{
    .w-100 {
        width: 100%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-6 {
        flex : 0 0 50%;
        max-width: 50%;
        width: 100%;
        position: relative;
        flex-wrap: wrap;
        padding: 0;
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .details-box{
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        min-height: 260px;
        height: 100%;
        padding: 3px;

        .numbering {
            width: 6%;
        }
        .details {
            width: 94%;
        }
        .allocation {
            padding-top: 0.5rem;
        }
    }
    .float-right {
        float: right;
    }
    .bold {
        font-weight: bold;
    }
    .line {
        text-decoration: underline;
    }
    .nowrap {
        white-space: nowrap;
    }
}