<tr class="finding-row method-field">
    <td class="table-index"><%= row_no %>.</td>
    <td class="row-name">
        <div class="d-inline">Level of hCG detection :</div>
        <div class="d-inline">
            <% if finding.hcg_level.blank? %>
                -
            <% else %>
            <%= finding.hcg_level %> mlU/ml
            <% end %>
        </div>
    </td>
    <td colspan="3"></td>
</tr>