<tr class="finding-row method-field">
    <td class="table-index"><%= row_no %>.</td>
    <td class="row-name">
        <div class="d-inline">Level of Urine Albumin detected as 'Present' :</div>
        <div class="d-inline">
            <% if finding.urine_sugar_level.blank? %>
                -
            <% else %>
            <%= finding.urine_albumin_level %> (g/L), <%= finding.urine_albumin_qualitative %> (qualitative)
            <% end %>
        </div>
    </td>
    <td colspan="3"></td>
</tr>