<div class="card">
    <div class="card-header">
        <strong><%= plural_table_name.titleize %></strong> - Edit <%= singular_table_name.titleize %>
    </div>
    <%%= form_for @<%= singular_table_name %>, url: internal_<%= singular_route_name %>_path(@<%= singular_table_name %>) do |form| %>
        <%%= render 'form', { form: form } %>
    <%% end %>
</div>
