<label class="col-md-4 col-form-label" for="<%= "COMPANY_FAX" %>"><%= @system_configurations["COMPANY_FAX"].name %></label>
<div class="col-md-8">
    <%= text_field_tag "COMPANY_FAX", @system_configurations["COMPANY_FAX"].new_value, class: "form-control", required: true, readonly: true %>
    <p class="form-control-plaintext approval-previous-value"><%= @system_configurations["COMPANY_FAX"].value %></p>
</div>