<label class="col-md-4 col-form-label" for="<%= "EMPLOYER_REGISTER_APPROVAL_REPLY_DAYS" %>"><%= @system_configurations["EMPLOYER_REGISTER_APPROVAL_REPLY_DAYS"].name %></label>
<div class="col-md-8">
    <%= number_field_tag "EMPLOYER_REGISTER_APPROVAL_REPLY_DAYS", @system_configurations["EMPLOYER_REGISTER_APPROVAL_REPLY_DAYS"].new_value, class: "form-control", required: true, readonly: true %>
    <p class="form-control-plaintext approval-previous-value"><%= @system_configurations["EMPLOYER_REGISTER_APPROVAL_REPLY_DAYS"].value %></p>
</div>