<label class="col-md-4 col-form-label" for="<%= "JIM_BIODATA_TIMEOUT" %>"><%= @system_configurations["JIM_BIODATA_TIMEOUT"].name %></label>
<div class="col-md-8">
    <%= number_field_tag "JIM_BIODATA_TIMEOUT", @system_configurations["JIM_BIODATA_TIMEOUT"].new_value, class: "form-control", required: true, readonly: true %>
    <p class="form-control-plaintext approval-previous-value"><%= @system_configurations["JIM_BIODATA_TIMEOUT"].value %></p>
</div>