<div class="modal fade" id="search-worker-modal" tabindex="-1" role="dialog" aria-labelledby="search-worker" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Search worker</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="search-worker-form">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Worker Code</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="code" id="code">
                                </div>
                                <label class="col-md-2 col-form-label">Name</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="name" id="name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Passport</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="passport" id="passport">
                                </div>
                                <label class="col-md-2 col-form-label">Employer</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="employer_code" id="employer_code" value="<%= @order.customerable.code %>" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" id="search-worker-search-button" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>

                <table id="search-worker-table" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Passport</th>
                            <th>Country</th>
                            <th>Worker Code</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">Search worker</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
</div>

<form action="<%= add_fw_internal_order_path(@order) %>" id="add_fw_form" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <input type="hidden" name="foreign_worker_id" id="foreign_worker_id" value="">
</form>

<% content_for :page_end_scripts do %>
<script>
$('#search-worker-search-button').click(function () {
    var data = {
        code: $('#code').val(),
        name: $('#name').val(),
        passport: $('#passport').val(),
        employer_code: $('#employer_code').val(),
    };
    if ($('#code').val().length < 1 && $('#name').val().length < 1 && $('#passport').val().length < 1) {
        alert('Please key in foreign worker code, name, or passport');
        return;
    }
    $.ajax({
        url: '<%= internal_foreign_workers_path %>.json',
        method: 'GET',
        data: data,
        success: function (response) {
            $('#search-worker-table tbody').html('');
            for (var i=0, j = response.length; i < j; i ++){
                $('#search-worker-table tbody').append('<tr>'+
                '<td>' + response[i].name + '</td>'+
                '<td>' + response[i].gender_display + '</td>'+
                '<td>' + response[i].passport_number + '</td>'+
                '<td>' + response[i].country_name + '</td>'+
                '<td>' + (response[i].code ? response[i].code : "") + '</td>'+
                '<td class="text-right"><button type="button" class="btn btn-primary" data-worker="' + encodeURIComponent(JSON.stringify(response[i])) + '" onclick="select_worker(this)">Select</button></td>'+
                '</tr>');
            }
        },
    });
});

function select_worker(btn)
{
    var worker = JSON.parse(decodeURIComponent($(btn).attr('data-worker')));

    $("#add_fw_form #foreign_worker_id").val(worker.id);
    $('#add_fw_form').submit();
}
</script>
<% end %>