body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #010101;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.page-container {
  position: relative;
  min-height: 1px; /* we set height to make it next page absolute position works */
}

// page header
.fomema-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.fomema-logo img {
  width: 199px;
}

.borang-title {
  position: absolute;
  top: 20px;
  left: 335px;
}

.form-title {
  position: absolute;
  font-size: 16.5px;
  font-weight: bold;
  width: 320px;
  text-align: center;
}

.form-subtitle {
  position: absolute;
  top: 25px;
  left: 57px;
  font-size: 16px;
  font-style: italic;
  width: 220px;
}

.header-page-number {
  position: absolute;
  top: 55px;
  left: 128px;
  width: 100px;
}

.header-cancellation-refund-date {
  position: absolute;
  top: 110px;
  left: 345px;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  width: 300px;
}

.valid-until-date {
  position: absolute;
  left: 350px;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  width: 300px;
}

.footer {
  position: absolute;
  top: 1350px;
}

.footer-revision {
  position: absolute;
  left: 80px;
  width: 200px;
  font-size: 10px;
}

.footer-page-number {
  position: absolute;
  left: 450px;
  width: 100px;
}

.form-signature {
  position: absolute;
  top: 17px;
  left: 680px;
  border: 1px solid black;
  width: 280px;
  min-height: 132px;
}

.form-signature .form-label-eng {
  font-size: 10px;
}

// right top box
.examination-date {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 133px;
}

.doctor-signature {
  position: absolute;
  top: 35px;
  left: 5px;
  width: 133px;
}

.clinic-stamp {
  position: absolute;
  top: 65px;
  left: 5px;
  width: 133px;
  white-space: pre-line;
}
.float-right {
  float: right;
}
// end of right top box
// end of page header


// section header
.section-header {
  position: absolute;
  left: 22px;
}

.section-header img {
  width: 245px;
}

.employer-section-header {
  top: 83px;
}

.doctor-section-header {
  top: 375px;
}
.doctor-section-header img {
  width: 230px;
}

.laboratory-section-header {
  top: 690px;
}
.laboratory-section-header img {
  width: 230px;
}

.xray-section-header {
  top: 1029px;
}
.xray-section-header img {
  width: 230px;
}
// end of section header


// section divider
.section-divider {
  position: absolute;
  left: 20px;
}

.section-divider img {
  width: 940px;
}

.employer-section-divider {
  top: 340px; //355
}

.doctor-section-divider {
  top: 655px;
}

.laboratory-section-divider {
  top: 995px;
}

.xray-section-divider {
  top: 900px;
}
// end of section divider


// barcode
.section-barcode {
  position: absolute;
  right: 50px;
}

.laboratory-section-barcode {
  top: 720px;
}

.xray-section-barcode {
  top: 1059px;
}
// end of barcode


// left logo style
.fomema-logo-left {
  position: absolute;
  left: 16px;
}

.fomema-logo-left img, .fomema-logo-right img {
  width: 23px;
}

.doctor-fomema-logo-left {
  top: 500px;
}

.laboratory-fomema-logo-left {
  top: 810px;
}

.xray-fomema-logo-left {
  top: 1150px;
}
// end of left logo style


// general style
.form-label-eng {
  font-style: italic;
}

.form-value {
  color: #646464;
  font-size: 13px;
}

.maid-online {
  border: 1px solid black;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
}

.employer-maid-online {
  right: 10px;
  top: 170px;
}

.doctor-maid-online {
  right: 10px;
  top: 375px;
}

.laboratory-maid-online {
  right: 10px;
  top: 690px;
}

.xray-maid-online {
  right: 10px;
  top: 1030px;
}
// end of general style

/////////////////////////////////////////////////////////////
/// Employer
/////////////////////////////////////////////////////////////
// employer form label and data section
.employer_left_form_label {
  position: absolute;
  left: 47px;
}
.employer_right_form_label {
  position: absolute;
  left: 495px;
}

.employer_left_form_data {
  position: absolute;
  left: 164px;
}
.employer_right_form_data {
  position: absolute;
  left: 637px;
}
// end of employer label and data data section

.employer-valid-until-date {
  top: 94px;
}

// employer fields section
// left
.employer_worker_code_label {
  top: 135px;
}
.employer_worker_code_data {
  top: 135px;
}

.employer_worker_name_label {
  top: 171px;
  width: 100px;
}
.employer_worker_name_data {
  top: 171px;
  width: 300px;
}

.employer_passport_no_label {
  top: 207px;
  width: 100px;
}
.employer_passport_no_data {
  top: 207px;
}

.employer_country_label {
  top: 243px;
  width: 150px;
}
.employer_country_data {
  top: 243px;
}

.employer_gender_label {
  top: 279px;
}
.employer_gender_data {
  top: 279px;
}

.employer_date_of_birth_label {
  top: 315px;
  width: 100px;
}
.employer_date_of_birth_data {
  top: 315px;
}

// right
.employer_date_of_registration_label {
  top: 171px;
}
.employer_date_of_registration_data {
  top: 171px;
}

.employer_employer_name_label {
  top: 207px;
  width: 200px;
}
.employer_employer_name_data {
  top: 207px;
  width: 220px;
}

.employer_employer_code_label {
  top: 243px;
}
.employer_employer_code_data {
  top: 243px;
}

.employer_doctor_phone_label {
  top: 279px;
  width: 200px;
}
.employer_doctor_phone_data {
  top: 279px;
}

.employer_xray_phone_label {
  top: 315px;
  width: 200px;
}
.employer_xray_phone_data {
  top: 315px;
}
// end of employer fields section


/////////////////////////////////////////////////////////////
/// Doctor
/////////////////////////////////////////////////////////////
// doctor form label and data section
.doctor_left_form_label {
  position: absolute;
  left: 47px;
}
.doctor_right_form_label {
  position: absolute;
  left: 495px;
}
.doctor_extra_right_form_label {
  position: absolute;
  left: 718px;
}

.doctor_left_form_data {
  position: absolute;
  left: 164px;
  width: 280px;
}
.doctor_right_form_data {
  position: absolute;
  left: 600px;
}
.doctor_extra_right_form_data {
  position: absolute;
  left: 860px;
}
// end of doctor form label and data section

.doctor-valid-until-date {
  top: 380px;
}

// doctor fields section
// left
.doctor_doctor_code_label {
  top: 412px;
}
.doctor_doctor_code_data {
  top: 412px;
}

.doctor_doctor_name_label {
  top: 448px;
  width: 100px;
}
.doctor_doctor_name_data {
  top: 448px;
}

.doctor_clinic_name_label {
  top: 484px;
  width: 100px;
}
.doctor_clinic_name_data {
  top: 484px;
}

.doctor_doctor_signature_label {
  top: 594px;
}
.doctor_doctor_signature_data {
  top: 594px;
}

.doctor_clinic_stamp_label {
  top: 630px;
}
.doctor_clinic_stamp_data {
  top: 630px;
}

// right
.doctor_worker_trans_code_label {
  top: 412px;
}
.doctor_worker_trans_code_data, .doctor_valid_until_label, .doctor_valid_until_data {
  @extend .doctor_worker_trans_code_label;
}

.doctor_worker_code_label {
  top: 448px;
}
.doctor_worker_code_data {
  top: 448px;
  width: 100px;
}

.doctor_worker_name_label {
  top: 484px;
  width: 150px;
}
.doctor_worker_name_data {
  top: 484px;
  width: 300px;
}

.doctor_passport_no_label {
  top: 520px;
  width: 100px;
}
.doctor_passport_no_data {
  top: 520px;
}

.doctor_worker_gender_label {
  top: 556px;
}
.doctor_worker_gender_data {
  top: 556px;
}

// special
.doctor_examination_date_label {
  position: absolute;
  top: 630px;
  left: 385px !important;
}
.doctor_examination_date_data {
  position: absolute;
  top: 630px;
  left: 495px !important;
}

.doctor_employer_phone_label {
  position: absolute;
  top: 630px;
  left: 690px !important;
  width: 150px;
}
.doctor_employer_phone_data {
  position: absolute;
  top: 630px;
  left: 850px !important;
}
// end of doctor fields section


/////////////////////////////////////////////////////////////
/// Laboratory
/////////////////////////////////////////////////////////////
// laboratory form label and data section
.laboratory_left_form_label {
  position: absolute;
  left: 47px;
}
.laboratory_right_form_label {
  position: absolute;
  left: 385px;
}
.laboratory_extra_right_form_label {
  position: absolute;
  left: 690px;
}

.laboratory_left_form_data {
  position: absolute;
  left: 164px;
  width: 195px;
}
.laboratory_right_form_data {
  position: absolute;
  left: 495px;
  width: 195px;
}
.laboratory_extra_right_form_data {
  position: absolute;
  left: 807px;
}
// end of laboratory form label and data section

.laboratory-valid-until-date {
  top: 695px;
}

// laboratory fields section
// left
.laboratory_laboratory_code_label {
  top: 732px;
}
.laboratory_laboratory_code_data, .laboratory_doctor_code_label, .laboratory_doctor_code_data {
  @extend .laboratory_laboratory_code_label;
}

.laboratory_laboratory_name_label {
  top: 804px;
  width: 107px;
}
.laboratory_laboratory_name_data {
  top: 804px;
}

.laboratory_laboratory_phone_label {
  top: 768px;
  width: 100px;
}
.laboratory_laboratory_phone_data {
  top: 768px;
}

.laboratory_doctor_signature_label {
  top: 934px;
}
.laboratory_doctor_signature_data {
  top: 934px;
}

.laboratory_clinic_stamp_label {
  top: 970px;
}
.laboratory_clinic_stamp_data {
  top: 970px;
}

// right
.laboratory_clinic_name_label {
  top: 804px;
  width: 107px;
}
.laboratory_clinic_name_data {
  top: 804px;
}

.laboratory_doctor_phone_label {
  top: 768px;
  width: 100px;
}
.laboratory_doctor_phone_data {
  top: 768px;
}

.laboratory_examination_date_label {
  top: 970px;
}
.laboratory_examination_date_data {
  top: 970px;
}

// extra right
.laboratory_worker_trans_code_label {
  top: 784px;
}
.laboratory_worker_trans_code_data {
  top: 784px;
}

.laboratory_worker_code_label {
  top: 820px;
}
.laboratory_worker_code_data {
  top: 820px;
}

.laboratory_worker_name_label {
  top: 856px;
  width: 150px;
}
.laboratory_worker_name_data {
  top: 856px;
  width: 150px;
}

.laboratory_passport_no_label {
  top: 902px;
}
.laboratory_passport_no_data {
  top: 902px;
}

.laboratory_worker_gender_label {
  top: 938px;
}
.laboratory_worker_gender_data {
  top: 938px;
}
// end of laboratory fields section


/////////////////////////////////////////////////////////////
/// X-ray
/////////////////////////////////////////////////////////////
// xray form label and data section
.xray_left_form_label {
  position: absolute;
  left: 47px;
}
.xray_right_form_label {
  position: absolute;
  left: 385px;
}
.xray_extra_right_form_label {
  position: absolute;
  left: 690px;
}

.xray_left_form_data {
  position: absolute;
  left: 164px;
  width: 195px;
}
.xray_right_form_data {
  position: absolute;
  left: 495px;
  width: 195px;
}
.xray_extra_right_form_data {
  position: absolute;
  left: 807px;
}
// end of xray form label and data section

.xray-valid-until-date {
  top: 1035px;
}

// xray fields section
// left
.xray_xray_code_label {
  top: 1070px;
}
.xray_xray_code_data, .xray_doctor_code_label, .xray_doctor_code_data {
  @extend .xray_xray_code_label;
}

.xray_xray_name_label {
  top: 1142px;
  width: 105px;
}
.xray_xray_name_data {
  top: 1142px;
}

.xray_xray_phone_no_label {
  top: 1106px;
  width: 100px;
}
.xray_xray_phone_no_data {
  top: 1106px;
}

.xray_doctor_signature_label {
  top: 1272px;
}
.xray_doctor_signature_data {
  top: 1272px;
}

.xray_clinic_stamp_label {
  top: 1308px;
}
.xray_clinic_stamp_data {
  top: 1308px;
}

// right
.xray_clinic_name_label {
  top: 1142px;
  width: 85px;
}
.xray_clinic_name_data {
  top: 1142px;
}

.xray_doctor_phone_label {
  top: 1106px;
  width: 100px;
}
.xray_doctor_phone_data {
  top: 1106px;
}

.xray_examination_date_label {
  top: 1308px;
}
.xray_examination_date_data {
  top: 1308px;
}

// extra right
.xray_worker_trans_code_label {
  top: 1124px;
}
.xray_worker_trans_code_data {
  top: 1124px;
}

.xray_worker_code_label {
  top: 1160px;
}
.xray_worker_code_data {
  top: 1160px;
}

.xray_worker_name_label {
  top: 1196px;
  width: 100px;
}
.xray_worker_name_data {
  top: 1196px;
  width: 150px;
}

.xray_passport_no_label {
  top: 1242px;
  width: 100px;
}
.xray_passport_no_data {
  top: 1242px;
}

.xray_worker_gender_label {
  top: 1278px;
}
.xray_worker_gender_data {
  top: 1278px;
}

.xray_employer_phone_no_label {
  top: 1314px;
  width: 150px;
}
.xray_employer_phone_no_data {
  top: 1314px;
  left: 850px;
}
// end of xray fields section


.second-page {
  position: relative;
}


//page 2 field styles
.procedure {
  position: absolute;
  top: 53px;
  left: 45px;
  font-size: 15.5px;
  width: 880px;
}

p.important-header {
  font-size: 20px;
  font-weight: bold;
}

ul.important-note li {
  margin-bottom: 3px;
  line-height: 17px;
}

div.procedure-header-section {
  width: 400px;
  margin: 0 auto;
}

p.procedure-header {
  font-size: 24px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

ol.procedure-list li {
  margin-bottom: 10px;
}

ol.procedure-list.english-list {
  font-style: italic;
}

ul.procedure-nested-list {
  list-style-type: disc;
}

ul.procedure-nested-list li {
  margin-bottom: 0px;
}