<p>
Hello, 
</p>
<div>
    <p> 
        Your accreditation scheme with SAMM is nearly to be expire. Please do the renewal with the relevant authorities as soon as possible, so that your information keep update. 
    </p>
</div>

<p>
    Thank You. <br>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email. ***
</p> 