<a href="<%= internal_user_setup_path(activity.owner_id) %>"><%= activity.owner.name %></a>  request XQCC Retake on

<% if activity.trackable %>
    <a href="<%= xray_retake_request_internal_transaction_path(activity.trackable.transactionz, activity.trackable.id) %>"><%= activity.trackable.transactionz&.code %></a>
<% else %>
    which has since been removed
<% end %>