<div class="card" data-behaviour="vue" v-cloak>
  <div class="card-header">
    <strong>Clinic Visit Plans</strong> - New Clinic Visit Plan
  </div>

  <div class="card-body">
        <%= render 'internal/visit_plans/clinics/form', { form_method: 'POST', form_action: internal_visit_plans_clinics_create_path, index_path: internal_visit_plans_clinics_path } %>
  </div>

</div>
