<% if has_permission?('DASHBOARD_SP_DOCTOR') %>
  <div id="cert-by-doct" style="width: 100%; height: 218px;">
    Loading...
  </div>

  <script type="text/javascript">
      // Declare a global variable for the container
      var chartContainer;

      function updateChartCert(data) {
          google.charts.load("current", {packages: ["corechart"]});
          google.charts.setOnLoadCallback(function () {
              createChartCert(data);
          });
      }


      function createChartCert(data) {
          var doctorCertificationData = data.certification_by_doc;
          console.log('doctordata',doctorCertificationData)


          if (doctorCertificationData > 0) {

              var data = google.visualization.arrayToDataTable([
                  ['Task', 'Hours per Day'],
                  [' ', doctorCertificationData],
                  ['', 0]
              ]);

              var options = {
                  title: 'Doctor Transmit certification within TAT',
                  legend: 'none',
                  colors: ['#0e7dc1', '#99bed6'],
                  pieHole: 0.4,
              };

              var chart = new google.visualization.PieChart(document.getElementById('cert-by-doct'));
              chart.draw(data, options);
          } else {
              document.getElementById('cert-by-doct').innerHTML = '<div style="display: flex; justify-content: center; align-items: center; height: 100%;">No data to display</div>';
          }
      }



      // Call the function on initial page load
      document.addEventListener("DOMContentLoaded", function () {
          // Set the global variable with the container
          chartContainer = $('#cert-by-doct');

          $.ajax({
              url: '/dashboards/service_provider/certification_by_doctor',
              method: 'GET',
              dataType: 'json',
              success: function (data) {
                  // Once data is loaded, update the chart
                  updateChartCert(data);
              },
              error: function () {
                  // Handle errors here
                  console.error('Failed to fetch certification data.');
              }
          });
      });
  </script>

<% end %>

