<% if has_permission?('DASHBOARD_SP_QUOTA_USAGE') %>
  <div id="chart_div" style="width: 100%; height: 218px;">
    Loading...
  </div>

  <script type="text/javascript">
      // Define the function to update the chart
      function updateChart(data) {
          if (dataIsEmpty(data)) {
              // Display a message when there is no data
              document.getElementById('chart_div').innerHTML = '<div style="display: flex; justify-content: center; align-items: center; height: 100%;">No data to display</div>';
          } else {
              google.charts.load('current', {'packages': ['corechart']});
              google.charts.setOnLoadCallback(function () {
                  createChart(data);
              });
          }
      }

      function dataIsEmpty(data) {
          // Check if all data values are zero
          return Object.values(data).every(value => value === 0);
      }

      function createChart(data) {
          var dataTable = new google.visualization.DataTable();
          dataTable.addColumn('string', 'Quota Range');
          dataTable.addColumn('number', 'Count');

          // Add data to the chart
          dataTable.addRows([
              ['<1', data.zero],
              ['1-100', data.oneToHundred],
              ['101-200', data.oneTwoHundred],
              ['201-300', data.ThreeHundred],
              ['301-400', data.fourHundred],
              ['401-500', data.fiveHundred],
              ['501-600', data.sixHundred],
              ['601-700', data.sevenHundred],
              ['701-800', data.eightHundred]
          ]);

          var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

          var options = {
              height: 218,
              is3D: true,
              legend: 'none',
              title: '',
              chartArea: {
                  top: 18,
                  height: '70%'
              },
              hAxis: {
                  title: 'Quota Used',
                  titleTextStyle: {color: 'black'},
                  textPosition: 'out',
                  slantedText: true,
                  slantedTextAngle: 30,
              },
              vAxis: {
                  title: '# of Doctor',
                  minValue: 0,
                  maxValue: 10
              }
          };

          chart.draw(dataTable, options);
      }

      function displayNoDataMessage() {
          document.getElementById('chart_div').innerHTML = '<div style="display: flex; justify-content: center; align-items: center; height: 100%;">No data to display</div>';
      }

      // Call the function on initial page load
      document.addEventListener("DOMContentLoaded", function () {
          google.charts.load('current', {'packages': ['corechart']});
          google.charts.setOnLoadCallback(function () {
              $.ajax({
                  url: '/dashboards/service_provider/quota_usage_by_doctor',
                  method: 'GET',
                  dataType: 'json',
                  success: function (data) {
                      // Once data is loaded, update the chart
                      updateChart(data);
                  },
                  error: function () {
                      // Handle errors here
                      console.error('Failed to fetch quota data.');
                      displayNoDataMessage();
                  }
              });
          });
      });
  </script>
<% end %>
