<div class="card">
    <div class="card-header">
        <strong>Customer Service - Bypass Biometric Detail</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render '/shared/all_flash' %>

        <div class="row-fluid">
            <%=render "/internal/reports/customer_service/bypass_biometric_detail/filter", filter_link: bypass_biometric_detail_internal_customer_service_reports_path %>
            <%=render "/internal/reports/customer_service/bypass_biometric_detail/preview_table" %>
        </div>
    </div>
    <!-- /card-body -->
</div>


<% content_for :page_end_scripts do %>
    <script>
    </script>
<% end %>