<p>
    Dear Person-In-Charge,
</p>

<p>
   Kindly find attached, a list of doctors whose quota balance is less or equal to 30.
</p>
    Thanks.
</p>

<p>
    ***This is an auto generated email. Do not reply to this email.***
</p>