<div class="card">
    <div class="card-header">
        Details Worker Insurance
    </div>

    <div class="card-body">
        <%=render 'internal/reports/branch/details_worker_insurance/filter' %>

        <%=render '/shared/all_flash' %>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
