<div class="card" id="compares-container" style="<%= " display: none; " unless xray_pending_review.is_audit_comparison == "YES" %>">
    <div class="card-header">Audit & Comparison Transactions</div>
    <table class="table table-bordered table-card" id="compares-table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>X-Ray Code</th>
                <th>Worker Code</th>
                <th>Worker Name</th>
            </tr>
        </thead>
        <tbody>
            <% xray_pending_review.xray_pending_review_compares.each.with_index do |xray_pending_review_compare, index| %>
                <%=render 'internal/xray_pending_reviews/shared/compare_row', {transaction: xray_pending_review_compare.transactionz, show_checkbox: false, show_remove: false} %>
            <% end %>
        </tbody>
    </table>
</div>