<div class="card">
    <div class="card-body">
        <%=render '/internal/agencies/shared/agency' %>

        <%=render '/internal/agencies/shared/tabs' %> 
    </div>
</div>

<% content_for :page_end_scripts do %>
<script>
</script>
<% end %>