<div id="daily-biometric-report" class="my-4">
    <h3>Biometric Report from <%= @start_date_of_system.try(:strftime,"%B %Y") %> until <%= @report_end_date.try(:strftime,"%d-%b-%Y") %></h3>
    <table class="table-borders w-100 text-center">
        <thead class="text-center">
            <tr>
                <th rowspan="2">TOTAL</th>
                <th colspan="2">HAVE ID</th>
                <th rowspan="2">TOTAL HAVE ID</th>
                <th rowspan="2">%</th>
                <th colspan="2">NO ID</th>
                <th rowspan="2">Total NO ID</th>
                <th rowspan="2">%</th>
                <th colspan="2">NO BIODATA</th>
                <th rowspan="2">TOTAL NO BIODATA</th>
                <th rowspan="2">%</th>
                <th rowspan="2">GRAND TOTAL</th>
            </tr>
            <tr>
                <th>NORMAL</th>
                <th>REKAB</th>
                <th>NORMAL</th>
                <th>REKAB</th>
                <th>NORMAL</th>
                <th>REKAB</th>
            </tr>
        </thead>
        <tbody>
            <% @biometric_start_to_current.each do |row| %>
            <tr>
                <% row.each do |value| %>
                <td><%= value %></td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>