<div class="card">
    <div class="card-header">
        <strong>Laboratory</strong> - Operation Hours
    </div>

    <div class="card-body">
        <%= render "internal/shared/operation_hours" %>
    </div>

    <div class="card-footer">
        <div class="text-right">
        <%=raw show_back_button(internal_laboratory_path(@laboratory)) %>
        </div>
    </div>
</div>
