
<%
    email_form_path = @visit_report&.code.blank? ? nil : (@visit_report&.visitable_type == 'Doctor' ? internal_visit_report_clinic_submit_to_clinic_path(@visit_report) : internal_visit_report_xray_facility_submit_to_clinic_path(@visit_report))
%>
<%= form_with url: email_form_path, method: :get, html: {class: "with-parsley", id: 'submitToClinicForm'} do |email_form| %>
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="email" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Send Visit Report To <%= @visit_report&.visitable_type == 'Doctor' ? 'Clinic' : 'Xray Facility' %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="text-center font-weight-bold">Email</div>
            <div class="email-wrapper">
                <input type="email" class="form-control email-field" placeholder="Email Address" name="email" value="<%= @visit_report&.visitable&.email %>" required/>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="submitToClinicBtn">Send</button>
      </div>
    </div>
  </div>
</div>
<% end %>