table.table-borders th,
table.table-borders td {
	border-right: 1px solid #d3d3d3 !important;
	border-bottom: 1px solid #d3d3d3 !important;
	background-color: #fff !important;
}

table.table-borders {
	border-left: 1px solid #d3d3d3 !important;
	border-top: 1px solid #d3d3d3 !important;
}