p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.7em;
    /* color: var(--main-gray); */
}

dl, ol, ul, ul li, ol li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

html, body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.header > nav {
    background-color: #fff;
    border-bottom: solid 1px #c2c2c2;
}

.header > nav > .admin-logo {
    width: 150px;
    float: left;
}

.header > nav > .admin-logo > img {
    width: 100%;

}

.admin-name {
    border: solid 1px #c2c2c2;
    border-radius: 30px;
    padding: 0.5rem 1rem;
}

.admin-name > span {
    font-size: 14px;
    color: #333333;
    padding-left: 15px;
}

.img-profile {
    height: 2rem;
    width: 2rem;
    float: right;
    margin-top: -7px;
}

.nav-title {
    font-size: 15px;
    margin: 0px 30px;
}

.nav-title > span {
    font-size: 12px;
    margin: 0px 2px;
    color: #bf1f3e;
    font-weight: bold;
}

.nav-title > h1 {
    font-size: 22px;
    color: #0e7dc1;
    margin: 0;

}

.custom-card > .card, .chard-card > .card {
    margin-bottom: 0px;
}

.chard-card > .card > .card-header {
    font-weight: 500;
    height: 34px;
}

ul.filter > li {
    display: inline-block;
    margin: 0px 0px;
}

.mobile-filter > li, .mobile-filter {
    width: auto !important;
    float: right !important;
}

.mobile-filter {
    display: flex;
}

.mobile-filter > li:nth-child(1) {
    order: 1;
}

.mobile-filter > li:nth-child(2) {
    order: 2;
}

.mobile-filter > li:nth-child(3) {
    order: 3;
}

.mobile-filter > li:nth-child(4) {
    order: 4;
}

.month-filter > .form-group {
    margin: 0px;
}

.dashboard-body {
    float: left;
    width: 100%;
    margin: 0px 0px;
}

.filter-div {
    float: left;
    width: 100%;
    padding: 8px 0px;
    border-bottom: solid 1px #d4d4d4;
    background: #f0f0f0;
}

.form-control {
    font-size: 14px;
}

.filter-title > i {
    float: right;
    margin-top: 8px;
    font-size: 12px;
    color: #0e7dc1;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    background: #F5F9FC;
}

#sidebar {
    transition: all 0.3s;
    padding: 0px 8px 20px 15px;
    margin-left: -590px;
    position: absolute;
    z-index: 1;
    width: 280px;
}

#sidebar.active {
    margin-left: -20px;
}


#content {
    width: 100%;
    /* min-height: 100vh; */
    transition: all 0.3s;
}

.noscrolbar {
    /* height: calc(100vh - 10%); */
    overflow-y: clip;
}

/* filter */
.filter_div {
    width: 100%;
    float: left;
    background: #e9f5fc;
    margin: 10px 2px;
    height: 478PX;
}

.filter {
    margin-bottom: 14px;
    width: 100%;
    float: right;
}

.filter-title {
    font-size: 15px;
    padding: 0px 10px;
    margin-bottom: 10px;
    line-height: 34px;
    background: #b2d4e8;
}

.filter-body {
    float: left;
    width: 100%;
    padding: 5px;
}

.filtereaccordion > .card {
    border-radius: 0px;
    border: none;
    margin: 0px;
}

.filtereaccordion > .card > .card-header {
    padding: 0px;
    border-bottom: dotted 1px #c2c2c2;
    background: #e9f5fc;
    border-radius: 0px;
    padding: 0rem;
}

.filtereaccordion > .card > .card-header:hover {
    background: #c5deee;
    border-radius: 5px;
}

.filtereaccordion > .card > .card-header > a:not(.collapsed) {
    background: #c5deee;
    border-radius: 5px 5px 0px 0px;

}

.filtereaccordion > .card > .show > .card-body {
    padding: 5px;
    border: solid 1px #e0e0e0;
    overflow-y: AUTO;
    background-color: #fff;
}

.subment-li {
    padding: 0px;
    margin: 6px 0px 0px 0px;
    overflow-y: auto;
    height: 95px;
}

.subment-li > li:last-child {
    border-bottom: none;
}

.subment-li > li {
    padding: 5px;
    margin: 0px;
    font-size: 13px;
    border-bottom: dotted 1px #c2c2c2;
}

.subment-li > li > label {
    font-weight: 400;
    font-size: 12px;
}

.form-group {
    padding: 5px;
    margin: 0px;
    MARGIN-BOTTOM: 0 !important;
}

.filtereaccordion > .card > .card-header > a {
    font-size: 13px;
}

.filter-link {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #222;
    padding: 5px 10px;
    width: 100%;
    float: left;
}


.filter-btn {
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px 10px;
    margin-top: 1px;
    background: #e9f5fc;
}


.month-filter > .filter-btn {
    padding: 0px 10px;
    background: none !important;;

}

.filter-btn > .btn-apply {
    background: #0b77bb;
    color: #fff;
}

.filter-btn > .btn-apply:hover {
    background: #096aa5;
}

.filter-btn > .btn-clear:hover {
    background: #e0e0e0;
}

.filter-btn > .btn-refresh {
    background: #c94242;
    color: #fff;
}

.filter-btn > .btn-refresh, .filter-btn > .btn-clear, .filter-btn > .btn-apply {
    border-radius: 6px;
    border: solid 1px #c2c2c2;
    font-size: 14px;
    padding: 5px 10px;
    margin: 0px 5px;
}

.filter-btn > .btn-clear, .filter-btn > .btn-apply {
    border-radius: 6px;
    border: solid 1px #c2c2c2;
    font-size: 14px;
    padding: 0px 10px;
    margin: 0px 0px;
    height: 32px;
    line-height: inherit;
    font-size: 12px;
    font-weight: 500;

}

.filtereaccordion > .card > .card-header > a:hover {
    font-size: 13px;
    text-decoration: none;
}

.filtereaccordion > .card > .card-header > a {
    font-size: 13px;
}

.tags-wraper {
    width: 100%;
    position: relative;
}

.tags {
    width: 100%;
    float: left;
    background: #ddd;
    border: solid 1px #dcdcdc;
    padding: 4px;
    border-radius: 6px;
    margin-top: 8px;
    /* position: absolute; */
    z-index: 11;
}

.tags > span {
    background: #489cd0e6;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
    margin: 0px 2px;
    border-radius: 11px;
    float: left;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

/* dashboard 1 */
.sub-ulcard {

    float: left;
    width: 100%;
}

.filter-content {
    float: right;
    padding: 0px 0px;
    margin: 4px 0px;
    width: 100%;
}

.filter-li > span {
    background: #fff;
    border: solid 1px #0e7dc1;
    border-radius: 20px;
    padding: 5px 10px 5px 4px;
    margin: 0px 4px;
    float: left;
    font-size: 12px;
}

.filter-li {
    /* width: 26%; */
    float: right;
}

.filter-li > span > b {
    background: #0e7dc1;
    width: 20px;
    height: 20px;
    float: left;
    text-align: center;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.filter-li > span > b > i {
    text-align: center;
}

.align-items-baseline {
    background: #ebebeb;
}

.align-items-baseline > .tx-numeric {
    color: #383838;
    text-align: center;
    border-bottom: solid 1px #c2c2c2;
    margin: 0;
    padding: 5px 0px;
    width: 100%;

}

.card-scroll {
    height: 448px;
    overflow-y: auto;
}


.card-filter > .dropleft > .dropdown-menu {
    height: 235px;
    overflow-y: auto;
    padding: 0px;
    width: 12rem;
}

.tx-numeric > span {
    margin-bottom: 0;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 10px
}

.tx-numeric > b > a {
    font-size: 14px;
    float: left;
    width: 100%;
    color: #383838;
    text-align: center;
}


.card-filter > .dropleft {
    display: block;
    width: 20px;
    line-height: 15px;
    text-align: center;
    right: 2px;
    margin-right: 0px;
    background: #279be4;
    position: absolute;
    top: 2px;
    color: #fff;
    height: 18px;
    font-size: 14px;
}

.bg-gray {
    background-color: #ebebeb !important;
}

.card-header > i {
    color: #3366cc;
    float: right;
    line-height: 20px;
    display: none;
}

ul.sub-ulcard > li {
    font-size: 12px;
}

.sub-licard-header > span:last-child {
    float: right;
    font-weight: bold;
    padding: 0px 7px 0px 0px;
    width: 24%;
}

.sub-licard-header {
    float: left;
    width: 100%;
    background: #c5deee;
    line-height: 26px;
    padding: 0px 8px;
    margin-top: 12px;
}

.sub-licard-body {
    float: left;
    width: 100%;
    border-bottom: dotted 1px #c2c2c2;
    padding: 6px 5px;
}

.sub-licard-body > span:first-child {
    width: 72%;
    float: left;
}

.sub-licard-body > span:last-child {
    font-weight: 500;
    width: 25%;
    float: right;
}

.listcard-box {
    float: left;
    width: 100%;
}

.card-analytics-two .card-header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    color: #06072d;
    line-height: 1;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.card-scroll > .list-group > .list-group-item {
    padding: 7px 8px;
    border-color: #e6e7efd9;
    box-shadow: 2px 2px 5px 0 #3c46530a;
}

.list-group-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    font-size: 16px;
    float: left;
    margin-top: 7px;
    border-radius: 100%;
}

.list-body {
    float: left;
    width: 63%;
    font-size: 14px;
}

.list-body > h6 {
    font-weight: 400;
    font-size: 12px;
    margin: 0px 7px;
    line-height: auto;
    padding-top: 11px;
}

.list-visit {
    float: right;
    width: 25%;
    font-size: 13px;
    padding-top: 8px;
    font-weight: bold;
}

.tx-white {
    color: #fff;
}

.circle1 {
    background-color: #0049fe
}

.circle2 {
    background-color: #fcb600
}

.circle3 {
    background-color: #4caf50;
}

.circle4 {
    background-color: #fc8801
}

.circle5 {
    background-color: #be1f3d
}

.circle6 {
    background-color: #385feb
}

.circle7 {
    background-color: #b613c4
}

.circle8 {
    background-color: #d52a5e
}

.circle9 {
    background-color: #10ded2
}

.chard-card > .card > .card-header {
    padding: 0.4rem 1.25rem;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 500;
    background-color: #c5deee;
    /* border-bottom: 1px solid #00000000; */
}

.pending-box {
    float: left;
    font-size: 14px;
    width: 100%;
}

.pending-box > span {
    width: auto;
    float: left;
    padding: 0px 23px;
    font-size: 13px;
}

.sidefilter > ul > li > span {
    width: 100%;
    float: left;
    background: #0e7dc1;
    color: #fff;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 22px;
}

.card-lifilter {
    float: left;
    width: 100%;
    background: #dbdbdb;
}

.card-lifilter > span {
    width: 100%;
    float: left;
    background: #6a6a6a;
    padding: 0px 6px;
    font-size: 13px;
    border-top: dotted 1px #c2c2c2;
    color: #fff;
    line-height: 22px;
}

.card-lifilter > ul, .sidefilter > ul {
    padding: 0;
    list-style: none;

}

.card-lifilter > ul > li {
    float: left;
    width: 100%;
    border-bottom: dotted 1px #ff9090;
}

.card-lifilter > ul > li > a {
    border-bottom: dotted 1px #ff9090;
    padding: 3px 5px;
    line-height: 22px;
    font-size: 13px;
}

.card-lifilter > ul > li > a > input {
    margin: 0px 5px;
}

@keyframes chartjs-render-animation {
    from {
        opacity: .99
    }
    to {
        opacity: 1
    }
}

.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms
}

.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1
}

.chartjs-size-monitor-expand > div {
    position: absolute;
    width: 1000000px;
    height: 1000000px;
    left: 0;
    top: 0
}

.chartjs-size-monitor-shrink > div {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0
}

/* dashboard 2 */

#div_district10:hover, #div_district9:hover, #div_district8:hover, #div_district7:hover, #div_district6:hover, #div_district5:hover, #div_district4:hover, #div_district3:hover, #div_district2:hover, #div_district11:hover, #div_district13:hover, #div_district1:hover {
    fill: #a48059 !important;

}

#div_district11:hover::after, #div_district10:hover::after, #div_district9:hover::after, #div_district8:hover::after, #div_district7:hover::after, #div_district6:hover::after, #div_district5:hover::after, #div_district4:hover::after, #div_district3:hover::after, #div_district2:hover::after, #div_district1:hover::after {
    font-family: "FontAwesome";
    content: "\f041";
    font-size: 15px;
}


.map-icon {
    width: 30px;
}

.icon_Kuantan, .icon_Jerantut, .icon_CameronHighlands, .icon_Lipis, .icon_Raub, .icon_Temerloh, .icon_Bentong, .icon_Maran, .icon_Pekan, .icon_Bera, .icon_Rompin {
    position: absolute;
    top: auto;

    left: 0;
    right: 0;
}

.icon_Temerloh {
    margin-left: 240px;
    bottom: 230px;
}

.icon_Kuantan {
    margin-left: 345px;
    bottom: 260px;
}

.icon_Jerantut {
    margin-left: 295px;
    bottom: 340px;
}

.icon_Lipis {
    margin-left: 285px;
    bottom: 290px;
}

.icon_Lipis {
    margin-left: 215px;
    bottom: 350px;
}

.icon_Raub {
    margin-left: 185px;
    bottom: 260px;
}

.icon_Bentong-Temerloh {
    margin-left: 445px;
    bottom: 100px;
}

.icon_Rompin {
    margin-left: 332px;
    bottom: 100px;
}

.icon_Pekan {
    margin-left: 359px;
    bottom: 188px;
}

.icon_Maran {
    margin-left: 295px;
    bottom: 185px;
}

.icon_Bera {
    margin-left: 275px;
    bottom: 130px;
}

.icon_CameronHighlands {
    margin-left: 145px;
    bottom: 350px;
}

.icon_Bentong {
    margin-left: 205px;
    bottom: 170px;
}

.map-icon > img {
    width: 100%;
}

.svg-content {
    float: left;
    width: 100%;
    margin-top: 0px;
    padding: 0px 25px;
}

.svg-map {
    float: left;
    width: 70%;
}

.svg-map > .sub-map {
    position: relative;
    padding-top: 30px;
}

.svg-map > .svg-map > svg {
    width: 100%;
}

.text-info1 {
    float: right;
    width: 26%;
    margin-top: 45px;
}

.svg-content {
    float: left;
    width: 100%;
    margin-top: 0px;
    padding: 0px 25px;
}

.div_statesvg {
    width: 100%;
}

.close-btn {
    position: absolute;
    margin-top: 10px;
    right: 0;
    margin-right: 45px;
    color: white;
}

.map-title {
    right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #0e7dc1;
    position: absolute;
    width: 100%;
    margin-top: 10px;
}

.map-title > img {
    width: 35px;
}

.map {
    width: 100%;

}

.map > svg {
    margin-top: 30px;
}

.statediv {
    right: 100px;
    width: auto;
    background: #d7d7d7;
    height: 306px;
    top: 50px;

}

.submap-title > h1 {
    padding: 6px;
    font-size: 16px;
    background: #0e7dc1;
    color: #fff;
    margin: 0;
    border-radius: 5px 5px 0px 0px;
}

.div_statesvg {
    width: 100%;
}

.div_statesvg > ul {
    padding: 0px;
    margin: 0px;
}

.div_statesvg > ul > li {
    list-style: none;
    font-size: 13px;
    float: left;
    background: #efefef;
    width: 100%;
    border-bottom: dotted 1px #c2c2c2;
    margin-bottom: 2px;
    padding: 7px 10px;
}

.div_statesvg > ul > li > div:first-child {
    width: 70%;
    float: left;
    margin-right: 5px;
    font-size: 11px;
    font-weight: 400;

}

.div_statesvg > ul > li > div:first-child > i {
    float: left;
    color: #bf1f3e;
    margin: 0px 5px;
    font-weight: 600;
    margin-top: 4px;
}

.div_statesvg > ul > li > div:last-child {
    font-weight: 800;
    float: right;
    width: 27%;
    font-size: 12px;
}

.div_statesvg > ul > li > div > .card {
    margin-bottom: 0;
}

/* dashboard 2 */
.card-body > .box {
    height: 120px;
    overflow-y: auto;
}

.svg-malasyamap > svg {
    width: 74%;
    float: left;
}

/* dashboard-3 */

.svg-cards > ul {
    padding: 0px;
    margin: 0px;
}

.svg-cards > ul > li {
    display: inline-block;
    list-style: none;
    float: left;
    text-align: center;
    padding: 10px;
    width: 20%;
}

.svg-cards > ul > li:first-child {
    background-color: #e6e7e8;
}

.svg-cards > ul > li:first-child {
    background-color: #e6e7e8;
    /* width: 22%; */
}

.svg-cards > ul > li:nth-child(2) {
    background: #c4d0dc;
    /* width: 18%; */
}

.svg-cards > ul > li:nth-child(3) {
    background: #e9e2ce;
    /* width: 18%; */
}

.svg-cards > ul > li:nth-child(4) {
    background: #d5ba96;
    /* width: 20%; */
}

.svg-cards > ul > li:nth-child(5) {
    background: #cfdbe2;
    /* width: 22%; */
}

.svg-cards > ul > li:nth-child(6) {
    background: #6ec0c3;
    /* width: 17%; */
}

.svg-cards > ul > li:nth-child(7) {
    background: #ffb166;
    /* width: 17%; */
}

.svg-cards > ul > li:nth-child(8) {
    background: #ffe3df;
    /* width: 21%; */
}

.svg-cards > ul > li:nth-child(9) {
    background: #d9e3e6;
    /* width: 22%; */
}

.svg-cards > ul > li:nth-child(10) {
    background: #e6f0f1;
    /* width: 23%; */
}

.svg-title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;

}

.svg-cards > ul > li > .svg-title > .div_svgimg, .svg-cards > ul > li > .div_svgimg {
    float: left;
    order: 2;
}

.svg-cardtitle {
    font-size: 0.9rem;
    padding: 2%;
    width: 100%;
    order: 1;
    left: 0;
    right: 0px;
    z-index: 111;
    font-weight: 500;
    color: #bf1f3e;

}

.svg-title > img {
    order: 2
}

.management-img {
    width: 230px;
    margin: 0 auto;
}

.capital-img {
    width: 159.5px;
    margin: 0 auto;
}

.finance-svg {
    width: 121px;
    text-align: center;
    margin: 0 auto;
}

.regiopnal-img {
    width: 125px;
    margin: 0 auto;
}

.support-img {
    width: 264px;
    margin: 0px auto 0 auto;

}

.laboratory-svg {
    width: 221px;
    margin: 0 auto;

}

.supportservice-img {
    width: 150px;
    margin: 0 auto;
}

.inspectorate-img {
    width: 104.5px;
    margin: 0 auto;
}

.xray-img {
    width: 137.8px;
    margin: 0 auto;
}

.medical-img {
    width: 148px;
    margin: 0 auto;
}

.svg-count {
    order: 3;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 0px;
    line-height: 39px;
    margin-left: 0px;
}

.svg-count > span {
    background-color: #ffffff;
    border-radius: 355px;
    float: right;
    width: 45px;
    height: 45px;
    line-height: 34px;
    text-align: center;
    border: solid 5px #ff8080;
    font-size: 13px;
}

.table-data > tbody > tr:nth-child(odd) {
    background-color: #e9f7ff;
}

.thselect {
    background: transparent !important;
    border: none;
    font-size: 14px !important;
    font-weight: 700 !important;
}

.table-data > thead > tr > th {
    font-size: 12px;
    background-color: #ececec;
    padding: 0px 10px;
    line-height: 30px;
}

.tabs-data > .sub-tabs > .nav-item > .active {
    background: #2f84b7;
    color: #fff;
}

.table-data > tbody > tr > td {
    font-size: 13px;
    line-height: 17px;
}

.modal-header {
    background-color: #bf2140;
    padding: 0.5rem 1rem;
}

.modal-header > h4 {
    font-size: 18px;
    color: #fff;
}

.progress {
    width: 40px;
    height: 40px !important;
    line-height: 40px;
    background: none !important;
    float: right;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    bottom: -20px;
    right: 20px;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4x solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #fff;
    font-size: 12px;
    color: 44484b;
    line-height: 38px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress.blue .progress-bar {
    border-color: #049dff;
}

.progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.red .progress-bar {
    border-color: red;
}

.progress.red .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
}

.progress.pink .progress-bar {
    border-color: #ed687c;
}

.progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
}

.progress.green .progress-bar {
    border-color: #1abc9c;
}

.progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
}

.tencard {
    position: absolute;
    left: 0;
    bottom: 18px;

}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

.nav-link {
    display: block;
    font-size: 13px;
}

.svgresult {
    text-align: center;
    color: #676666;
}

.card-link > span {
    float: right;
    width: 20%;
}

.dropdown-item > i {
    margin: 0px 5px 0px 0px;
    padding: 0px !important;
}

.card-socila {
    width: 221px;
}

.tabs-data > .nav-tabs > li {
    width: auto;
    margin: 0px;
}

.tabs-data > .nav-tabs > li > a {
    border: 1px solid #dfdfdf;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.tabs-data > .sub-tabs > .nav-item > .active {
    border-radius: 0.25rem 0.25rem 0rem 0rem;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
@media screen and (min-width: 1000px) {
    .svg-cards > ul > li {
        height: auto;
        padding: 2px;
    }
}

@media screen and (min-width: 1090px) {
    .svg-cards > ul > li {
        height: calc(100vh - 358px);
        padding: 0px;
    }

    .svg-cardtitle {
        font-size: 0.8rem;
    }

    .management-img {
        width: 148px;
    }

    .capital-img {
        width: 104px;
    }

    .inspectorate-img {
        width: 68px;
    }

    .xray-img {
        width: 88px;
    }

    .medical-img {
        width: 95px;
    }

    .support-img {
        width: 90px;
    }

    .laboratory-svg {
        width: 110px;
    }

    .supportservice-img {
        width: 95px;
    }

    .finance-svg {
        width: 72px;
    }

    .regiopnal-img {
        width: 74px;
    }
}

@media screen and (min-width: 1200px) {
    .svg-cards > ul > li {
        height: calc(100vh - 350px);
    }

    @-moz-document url-prefix() {
        .svg-cards > ul > li {
            height: calc(100vh - 346px);
        }
    }

}

/* edge browser */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @media screen and (min-width: 1200px) {

        .svg-cards > ul > li {
            height: calc(100vh - 362px);
        }

        .svg-cardtitle {
            font-size: .8rem;
            padding: 12px;
        }

        .management-img {
            width: 232px;
        }

        .capital-img {
            width: 160px;
        }

        .xray-img {
            width: 140px;
        }

        .medical-img {
            width: 150px;
        }

        .inspectorate-img {
            width: 105px;
        }

        .finance-svg {
            width: 120px;
        }

        .regiopnal-img {
            width: 125px;
        }

        .support-img {
            width: 270px;
        }

        .laboratory-svg {
            width: 216px;
        }

        .supportservice-img {
            width: 152px;
        }
    }
    @media screen and (min-width: 1250px) {

        .svg-cards > ul > li {
            height: calc(100vh - 300px);
        }
    }
}

/* edge browser */
@media screen and (min-width: 1250px) {

    .svg-cards > ul > li {
        height: calc(100vh - 387px);
    }

    @-moz-document url-prefix() {
        .svg-cards > ul > li {
            height: calc(100vh - 389px);
        }
    }
    .svg-cardtitle {
        padding: 6px 0px;
        font-size: 0.9rem;
    }

    .management-img {
        width: 172px;
        /*height: 152px;*/
    }

    .capital-img {
        width: 120px;
    }

    .inspectorate-img {
        width: 79px;
    }

    .xray-img {
        width: 104px;
    }

    .medical-img {
        width: 111px;
    }

    .finance-svg {
        width: 83px;
    }

    .regiopnal-img {
        width: 86px;
    }

    .support-img {
        width: 185px;
    }

    .laboratory-svg {
        width: 152px;
        /* height: 150px; */
    }

    .supportservice-img {
        width: 104px;
    }


}

@media screen and (min-width: 1400px) {
    .progress {
        bottom: -8px;
        right: 0px;
    }

    .svg-cards > ul > li {
        height: calc(100vh - 420px);
        padding: 1%;
    }

    .management-img {
        width: 208px;
        height: auto;
    }

    .capital-img {
        width: 144px;
    }

    .inspectorate-img {
        width: 95px;
    }

    .xray-img {
        width: 125px;
    }

    .medical-img {
        width: 166px;
    }

    .finance-svg {
        width: 106px;
    }

    .regiopnal-img {
        width: 108px;
    }

    .support-img {
        width: 234px;
        margin: unset;
        height: auto;
    }

    .laboratory-svg {
        width: 194px;
        height: auto;
    }

    .supportservice-img {
        width: 130px;
    }

}

@media only screen and (max-width: 1440px) {
    .svg-cards > ul > li {
        height: calc(100vh - 550px);
        padding: 1%;


    }

    .management-img {
        width: 208px;
        height: auto;
    }

    .capital-img {
        width: 144px;
    }

    .inspectorate-img {
        width: 95px;
    }

    .xray-img {
        width: 125px;
    }

    .medical-img {
        width: 132px;
    }

    .finance-svg {
        width: 106px;
    }

    .regiopnal-img {
        width: 108px;
    }

    .support-img {
        width: 234px;
        margin: unset;
        height: auto;
    }

    .laboratory-svg {
        width: 194px;
        height: auto;
    }

    .supportservice-img {
        width: 130px;
    }


}

@media screen and (min-width: 1600px) {
    .svg-cards > ul > li {
        height: calc(100vh - 460px);
        padding: 1%;
    }

    .svg-cardtitle {
        font-size: 1.1rem;
    }

    .management-img {
        width: 260px;
        margin: revert-layer;
    }

    .capital-img {
        width: 182px;
    }

    .inspectorate-img {
        width: 120px;
    }

    .xray-img {
        width: 155px;
    }

    .medical-img {
        width: 166px;
    }

    .finance-svg {
        width: 126px;
    }

    .regiopnal-img {
        width: 130px;
    }

    .support-img {
        width: 278px;
    }

    .laboratory-svg {
        width: 232px;
    }

    .supportservice-img {
        width: 158px;
    }

    .progress {
        width: 50px;
        height: 50px;
    }

    .progress .progress-value {
        font-size: 14px;
        line-height: 46px;
    }
}

@media screen and (min-width: 1800px) {
    .svg-cardtitle {
        font-size: 1.2rem;
    }

    .svg-cards > ul > li {
        height: calc(100vh - 484px);
        padding: 2%;
    }

    .management-img {
        width: 350px;
    }

    .capital-img {
        width: 245px;
    }

    .inspectorate-img {
        width: 161px;
    }

    .xray-img {
        width: 211px;
    }

    .medical-img {
        width: 225px;
    }

    .finance-svg {
        width: 192px;
    }

    .regiopnal-img {
        width: 198px;
    }

    .support-img {
        width: 421px;
        margin: 0;
    }

    .laboratory-svg {
        width: 354px;
        margin: inherit;

    }

    .supportservice-img {
        width: 240px;
    }
}

@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1090px) and (min-width: 1024px) {
    .svg-cards > ul > li {
        height: calc(100vh - 310px);
    }

    .inspectorate-img {
        width: 120px;
    }

    .svg-cardtitle {
        font-size: 0.8rem;
    }

    .management-img {
        width: 262px;
    }

    .medical-img {
        width: 168px;
    }

    .xray-img {
        width: 155px;
    }

    .regiopnal-img {
        width: 140px;
    }

    .support-img {
        width: 298px;
    }

    .supportservice-img {
        width: 168px;
    }
}


@media only screen and (max-width: 1024px) and (min-width: 768px) {

    .noscrolbar {
        overflow-y: auto;

    }

    .xray-img {
        width: 124px;
    }

    .svg-cards > ul > li:nth-child(10), .svg-cards > ul > li:nth-child(9), .svg-cards > ul > li:nth-child(8), .svg-cards > ul > li:nth-child(7), .svg-cards > ul > li:nth-child(6), .svg-cards > ul > li:nth-child(5), .svg-cards > ul > li:nth-child(4), .svg-cards > ul > li:nth-child(3), .svg-cards > ul > li:nth-child(2), .svg-cards > ul > li:first-child {
        width: 25%;
        height: 210px;
    }

    .navbar-nav > .nav-item {
        margin: 0px 5px;
    }

    .navbar-nav > .nav-item > .filter-content > .filter-li > span {
        width: 82px;
    }

    .list-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .list-group-flush > .list-group-item {
        border-width: 0 0 1px;
        width: 100%;
    }

    .list-visit {
        float: right;
        width: 100%;
        text-align: right;
    }

    .finance-svg {
        width: 102px;
        text-align: center;
        margin: 0 auto;
    }

    .capital-img {
        width: 148px;
    }

    .inspectorate-img {
        width: 98px;
        margin: 0 auto;
    }

    .regiopnal-img {
        width: 106px;
        margin: 0 auto;
    }

    .support-img {
        width: 201px;
        margin: inherit;
    }

    .svg-cardtitle {
        /* font-size: 14px; */
        font-size: 0.8rem;
        padding: 10px;
    }

    .laboratory-svg {
        width: 195px;
    }

    .management-img {
        width: 210px;
    }

    .medical-img {
        width: 135px;
    }

    .supportservice-img {
        width: 128px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 550px) {
    .card-socila {
        width: 221px;
    }

    .list-group-flush > .list-group-item {
        border-width: 0 0 1px;
        width: 50%;
    }

    .list-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-scroll {
        height: auto;
        overflow-y: auto;
    }

    .svg-cards > ul > li:nth-child(10), .svg-cards > ul > li:nth-child(9), .svg-cards > ul > li:nth-child(8), .svg-cards > ul > li:nth-child(7), .svg-cards > ul > li:nth-child(6), .svg-cards > ul > li:nth-child(5), .svg-cards > ul > li:nth-child(4), .svg-cards > ul > li:nth-child(3), .svg-cards > ul > li:nth-child(2), .svg-cards > ul > li:first-child {
        width: 50%;
        height: 260px;
    }

    .svg-cards > ul > li > .svg-title > .div_svgimg, .svg-cards > ul > li > .div_svgimg {
        order: 2;
    }

    .svg-cardtitle {
        order: 1;
        width: 100%;
        margin-top: 0px;
        line-height: initial;
    }

    .svg-count {
        order: 3;
        margin-top: 0px;
        line-height: 0px;
        margin-left: 0px;
        width: 100%;
        margin-right: 0px;
    }

    .Management-img {
        width: 214px !important;
        float: left;
        margin: auto;
    }

    .inspectorate-img {
        width: 139px;
        margin: 0 auto;
    }

    .Medical-img {
        width: 192px;
    }

    .capital-img {
        width: 140px !important;
        float: left;
    }

    .regiopnal-img {
        width: 119px;
    }

    .xray-img {
        width: 138px;
    }

    .support-img {
        width: 255px;
        margin: 0px auto 0 auto;
    }
}

@media (max-width: 768px) {

    #sidebar {
        margin-left: -395px;
        min-width: 350px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }

    .noscrolbar {
        overflow-y: auto;

    }

    .nav-title {
        margin: 0px 0px;
        margin-bottom: 16px;
        padding: 6px 0px;
        width: 100%;
        margin-top: 15px;
        border-top: solid 1px #bdbdbd;
        border-bottom: solid 1px #bdbdbd;

    }

    .navbar-nav > .nav-item {
        margin-bottom: 8px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-wrap: wrap;
    }

    .nav-title > span {
        font: 18px;
    }

    .nav-title > h1 {
        font-size: 21px;
        color: #0e7dc1;
        margin: 0;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .text-info1 {
        float: right;
        width: 100%;
        margin-top: 0px;
    }

    .text-info1 {
        float: right;
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    .svg-malasyamap > svg {
        width: 100%;
        float: left;
    }

    .svg-malasyamap > .text-info1 {
        float: right;
        width: 100%;
        height: 520px;
        margin-top: 0px;
    }

    .svg-title {
        display: flex;
        flex-direction: column;
    }

    .svg-cards > ul > li {
        height: auto;
    }


    .mobile-filter > li, .mobile-filter {
        width: auto;
        float: left;
        padding: 0px 6px;
    }

    .tx-numeric {
        border-right: solid 1px #c2c2c2;
        border-bottom: none;
    }

    .navbar-nav > .nav-item {
        margin-bottom: 8px;
    }

    .svg-map {
        width: 100%;
    }

    .svg-map > .sub-map > svg {
        width: 100%;
    }
}

@media (max-width: 550px) {

    .tx-numeric > b {
        font-size: 11px;
        float: left;
        width: 100%;
    }

    .mobile-filter > li, .mobile-filter {
        width: 100% !important;
        float: left !important;
        display: block;
        padding: 0px 6px;
    }

    .tx-numeric > span {
        font-size: 8px;
    }

}

@media only screen and (max-width: 549px) and (min-width: 320px) {
    .svg-cards > ul > li:nth-child(10), .svg-cards > ul > li:nth-child(9), .svg-cards > ul > li:nth-child(8), .svg-cards > ul > li:nth-child(7), .svg-cards > ul > li:nth-child(6), .svg-cards > ul > li:nth-child(5), .svg-cards > ul > li:nth-child(4), .svg-cards > ul > li:nth-child(3), .svg-cards > ul > li:nth-child(2), .svg-cards > ul > li:first-child {
        width: 50%;
        height: 210px;
        padding: 0px;
    }

    .svg-count {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .progress {
        margin-bottom: 0px;
        bottom: 10px;
    }

    .xray-img {
        width: 123px;
        margin: 0 auto;
    }

    .svg-cards > ul > li > .svg-title > .div_svgimg, .svg-cards > ul > li > .div_svgimg {
        order: 2;
    }

    .laboratory-svg {
        width: 140px;
        margin: 0 auto;
    }

    .supportservice-img {
        width: 110px;
        margin: 0 auto;
    }

    .finance-svg {
        width: 113px;
    }

    .regiopnal-img {
        width: 105px;
    }

    .svg-cardtitle {
        order: 1;
        width: 100%;
        margin-top: 0px;
        line-height: initial;
    }

    .support-img {
        width: 160px;
        margin: 0px auto 0 auto;
    }

    .management-img {
        /* width: 184px; */
        width: 154px;

    }

    .capital-img {
        width: 126px;
        margin: 0 auto;
    }

    /* .svg-title {
        flex-direction: row;
    } .svg-cards>ul>li>.svg-title>img, .svg-cards>ul>li>img {
        float: left;
        order: 1;
    }
    .svg-cardtitle{
        order:2
    }
    .svg-count{
        width: auto;
    } .capital-img {
        width: 132px;}

        .inspectorate-img {
            width: 110px;}
            .xray-img {
                width: 126px;}
                img.Medical-img {
                    width: 150px;}
                    .finance-svg {
                        width: 110px;}
    .Management-img {
        width: 144px;} */
}

/* dashboard -4 */
.align-items-baselinecustomer > .tx-numeric {
    border-bottom: none;
    padding: 6px 0px;
    margin: 0px;
}

.div_reg > ul > li {
    display: inline-table;
    width: 49%;
    height: 36px;
    text-align: center;
    line-height: 36px;
}

.div_reg > ul > li > b {
    font-size: 16px;
}

.div_reg > span {
    font-size: 13px;
    text-align: center;
    width: 100%;
    float: left;
    background: #dedddd;
    line-height: 22px;
    font-weight: 500;
}

.div_reg {
    width: 100%;
    float: left;
    border-right: solid 1px #c2c2c2;
    padding: 0px;
}

.div-socialmedia {
    width: 100%;
    float: left;
}

.social-mediaicon {
    width: 30%;
    float: left;
    font-size: 38px;
    margin-top: -10px;
    text-align: center;
}

.social-mediavalue {
    width: 70%;
    float: right;
}

.social-mediavalue > span {
    width: 100%;
    float: left;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.social-mediavalue > span:last-child {
    width: 100%;
    float: left;
    font-weight: normal;
    font-size: 14px;
}

.card-header > .nav-tabs > li > a:hover, .card-header > .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #3c657e;
    border-color: transparent;
    border-radius: 5px;
}

.card-header > .nav-tabs > li {
    margin: 0px 5px 0px 0px;
}

.card-header > .nav-tabs {
    margin: 0px;
}

.nav-tabs > li {
    margin: 0px 3px 0px 0px;
    width: 49%;
    float: left;
}

.nav-tabs > li:last-child {
    margin: 0px 0px 0px 3px;
    text-align: center;
}

.nav-tabs > li > a {
    font-size: 12px;
}

.nav-link {
    display: block;
    padding: 0.5rem 0.5rem;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid #5f5f5f;
    border-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #545454;
}

.card-header > .nav-tabs > .nav-item > .nav-link {
    padding: 9px 7px;
    border: none;
}

.span_customer {
    background-color: #dedddd;
    border-radius: 0px 0px 0px 5px;
    padding: 0px 5px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    float: left;
    text-align: center;
    height: 45px;
    line-height: 45px;
}

.full-title {
    height: 70px !important;
}

.tab-header {
    height: 40px !important;
    padding: 2px !important;
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .nav-tabs > li {
        width: 48%;
    }

    .nav-tabs > li > a {
        font-size: 11px;
    }

    .full-title {
        height: auto !important;
    }
}

@media (max-width: 768px) {
    .nav-tabs > li {
        width: 46%;
    }

    .span_customer {
        line-height: normal;
        padding: 7px 5px 0px 5px;
    }

    .div_reg > ul > li {
        width: 48%;
    }

    .nav-tabs .nav-link {
        height: 46px;
    }

    .social-mediaicon {
        width: 100%;
    }

    .social-mediaicon > svg {
        width: 60%;
        margin: 0 auto 10px auto;
    }

    .social-mediavalue {
        width: 100%;
    }

    .socialmedia-card {
        margin-bottom: 10px;
    }

    .full-title {
        height: auto !important;
    }
}

/* dashboard-5 */
.listcard-ul {
    height: 105px;
    overflow-y: auto;
    font-size: 12px;
    padding: 0px;
}

.listcard-ul > ul > li {
    float: left;
}

.listcard-ul > ul > li > span {
    float: left;
}

.listcard-ul > ul > li > span:first-child {
    width: 75%;
    padding: 0px 0px 0px 6px;
}

.listcard-ul > ul > li > span:last-child {
    width: 20%;
}

.card-li:hover #sidebar1 {
    display: block;
}

.docotrcard {
    border: solid 1px #0032AB;
}

.laboratorycard > .card-header, .docotrcard > .card-header, .x-raycard > .card-header, .radiologistcard > .card-header {
    font-weight: bold;
}

.docotrcard > .card-header {
    background-color: #DDE7FF;
    color: #0032AB;
}

.laboratorycard {
    border: solid 1px #3CD856;
}

.laboratorycard > .card-header {
    background-color: #DCFCE7;
    color: #24a63a;
}

.x-raycard {
    border: solid 1px #9C65D6;

}

.x-raycard > .card-header {
    background-color: #F3E8FF;
    color: #9C65D6;
}

.radiologistcard {
    border: solid 1px #FF947A;
}

.radiologistcard > .card-header {
    background-color: #ECDACC;

    color: #FF947A;
}

ul.card-ul > li {
    padding: 0px 10px;
    line-height: 26px;
    border-bottom: dotted 1px #c2c2c2;
    font-size: 12px;
    float: left;
    width: 100%;

}

ul.card-ul > li > span {
    float: left;
}

ul.card-ul > li > span:first-child {
    width: 70%;

}

ul.card-ul > li > span:last-child,
ul.card-ul > li > span:last-child {
    width: 30%;
    font-weight: bold;
}

.listcard-ul > ul > li {
    float: left;
    width: 100%;
    border-bottom: dotted 1px #E91E63;
}

.custompie-card > .card {
    background: #e0e0e0;
    margin: 6px;
}

.custompie-card > .card > .card-header {
    background: transparent;
    font-size: 11px;
    font-weight: 500;
    padding: 6px;
    background: #e0e0e0;
}

.custompie-card > .card > .card-header > i {
    display: none;
}

.card-height {
    height: 225px;
    overflow-y: auto;
    overflow-x: hidden;
}

.custompie-cardone {
    margin-bottom: 10px;
}

.custompie-cardone > .card > .card-header {

    background-color: #c2c2c2;
    font-size: 12px;
    padding: 6px 13px;
    height: 45px
}

.custompie-cardone > .card > .card-body > .card-title {
    text-align: center;
    line-height: 0;
    font-size: 12px;
    padding-top: 10px;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 0;
}

.custompie-cardone > .card > .card-header > i {
    display: none;
}

@media only screen and (max-width: 1024px) and (min-width: 320px) {
    .card-height {
        height: auto;
        overflow-y: hidden;
    }
}

svg > g > g.google-visualization-tooltip {
    pointer-events: none;
}

.chard-card > .card > .card-body > .tab-content {
    border: none;
    line-height: 17px;

}

.no-gutters > .col-sm > .d-flex > .tx-numeric {
    text-align: center;
    border-bottom: none;
    line-height: 17px;
    border-left: solid 1px #c2c2c2;
}

/* dashboard--5 */
.progressbar_wrap {
    width: 100%;
    bottom: 0;
    margin: 0px;
    padding: 0px 14px 2px 14px;
}

.progressbar_div {
    margin-bottom: 5px;
}

.progressbar_div > label {
    margin: 0px;
    color: #626262;
}

.progressbar_div, .progressbar_div > label {
    font-size: 11px;
    float: left;
    width: 100%;
}

.newprogress {
    background-color: #ececec;
    border-radius: 10px;
}

.newprogress > .progress-bar {
    border-radius: 10px 0px 0px 10px;
}

.svg-font > tspan, .svg-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

a > path {
    cursor: pointer;
}

.dropdown-item.selected {
    background-color: darkgrey;
    color: white;
}

.center-message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-left: 18px; /* Adjust the padding as needed */
}

.kuala_lumpur > g > a > path {
    cursor: pointer;
    fill: #FACC4D
}

.kuala_lumpur > g > a > path:hover {
    cursor: pointer;
    fill: #c39b2d
}

.kuala_lumpur > g > a > .selected {
    fill: #c39b2d;
    stroke-width: 5px;
}

.card-headermenu > ul > li {
    float: left;
    /* width: 100px; */
}

.card-headermenu > ul {
    display: block;
}

.card-headermenu {
    width: auto;
    float: left;
}

.full-screen {
    height: 35px;
    line-height: 35px;
    color: #0e7dc1;
    font-size: 18px;
}

.fullscreen-icon {
    cursor: pointer;
}

body.fullscreen {
    overflow: hidden; /* Prevent scrolling when in fullscreen */
}

.content-container {
    transition: transform 0.5s ease; /* Add a smooth transition effect */
}

.zoomed {
    transform: scale(1.5); /* Adjust the scaling factor as needed */
    transform-origin: top left;
}

/* Start charts */
.divchartwraper {
    position: relative;
    padding-bottom: 80%;
    height: 0;
    overflow: hidden;
}

.divchartbody {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#loadingDiv {
    position: absolute;
    z-index: 111;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #cbc9c97d;
}

.load_img {
    max-height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.collapse > .sub-licard-header > span:first-child {
    width: 75%;
    float: left;
    line-height: normal;
    padding: 7px 0px;
}

.xrayBlock, .laboratoryBlock, .doctorBlock {
    color: #000;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
    margin: 0px 2px;
    border-radius: 11px;
    float: left;
    background-color: #FFF4DE !important;
}

.allcode_tagright {
    width: 80px;
    float: left;
    padding: 2px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
}

.allcode_tagleft {
    float: right;
    width: 20px;
}

/*maximize/minimize*/

#fullscreen_btn {
}

#fullscreen_exit_btn {
    display: none;
}

body.fullscreen #fullscreen_btn {
    display: none;
}

body.fullscreen #fullscreen_exit_btn {
    display: inline-block;
}

#fullscreen_fw_btn {
}

#fullscreen_fw_exit_btn {
    display: none;
}

body.fullscreenfw #fullscreen_fw_btn {
    display: none;
}

body.fullscreenfw #fullscreen_fw_exit_btn {
    display: inline-block;
}


body.fullscreen #result_html_div {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 100px;
    z-index: 1100;
    box-shadow: 0 0 5px 1px #ccc;
    background: #fff;
    height: 100vh;
    overflow-y: auto;
}

body.fullscreenfw #result_html_div_fw {
    position: fixed;
    left: 20px;
    right: 20px;
    top: 50px;
    bottom: 100px;
    z-index: 1100;
    box-shadow: 0 0 5px 1px #ccc;
    background: #fff;
}

body.fullscreenfw .resultfw {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    vertical-align: middle;
    bottom: 20px;
    max-height: none;
}

body.fullscreen .result {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    vertical-align: middle;
    bottom: 20px;
    max-height: none;
}


