<div class="card">
    <div class="card-header">
        <strong>Users</strong> - Edit User
    </div>
    <%= form_for @user, url: internal_user_path(@user) do |form| %>
        <%= render 'form', { form: form } %>
    <% end %>
</div>